[2020-12-14 09:58] shahednasser commented on #1
hello @atenasadat of course you can! You can either check the issues in the repository, or if you have any new button ideas, please create a [new discussion](https://github.com/sButtons/sbuttons/discussions/new) with the category idea and once approved you can work on it.

[2020-12-14 16:21] atenasadat commented on #1
Thanks @shahednasser . I have new animation button idea .

[2020-12-15 04:31] yuwangcs commented on #1022
@shahednasser Hello, I have opened a pull request for hinge, invert and flash. Thanks

[2020-12-15 16:04] Pratiksha1-2020 commented on #1
Hey can I contribute here. Its my first time in contributing to open source. I will love to do some work.

[2020-12-16 09:08] harshitaaaaaa commented on #1
@shahednasser  Hey, I am Harshita. I am new to open-source and learning to contribute. I've edited the button styling and added hover effects. I have created a pull request. Please review it.

[2020-12-17 08:41] harshitaaaaaa commented on #1187
Hey @shahednasser I'm learning to contribute in open-source. I've added documentation for dark button in both documenttion.html and README.md . However, I'm unable to understand it's use, like if we click on dark mode button it doesn't toggle the file to dark-mode.

[2020-12-17 09:09] harshitaaaaaa commented on #1196
Hey, I want to work on this issue but coudn't find out where to make changes. Do we have to do it in toggle.less? Please guide me with that.

[2020-12-17 10:40] harshitaaaaaa commented on #1022
@shahednasser I was trying making a brown-color button for all the types but I'm facing a problem that the button is not getting displayed. I've made necessary changes in almost all the files and I'am unable to figure out which one I'm missing. Can you please help me out?

[2020-12-17 18:45] shahednasser opened #1210 "[BUTTON IDEA]: diagonal patterns"
Hey , I have new animated button idea to add : appearing diagonal patterns while hover on buttons.

_Originally posted by @atenasadat in https://github.com/sButtons/sbuttons/discussions/1206_

[2020-12-17 18:46] shahednasser commented on #1210
@atenasadat you are assigned to this

[2020-12-17 18:54] shahednasser commented on #1187
Hello, @harshitaaaaaa . I'm not really sure I understand what you mean. Please clarify more but do it in a [new discussion](https://github.com/sButtons/sbuttons/discussions/new)

[2020-12-17 18:55] shahednasser commented on #1
Hello @Pratiksha1-2020 if you have any button idea please submit them in a [new discussion](https://github.com/sButtons/sbuttons/discussions/new) under the category ideas. You can also check out available issues to help!

[2020-12-17 19:09] #1196 closed

[2020-12-17 19:09] shahednasser commented on #1196
Hello @harshitaaaaaa unfortunately someone else was assigned to this issue and has resolved it

[2020-12-17 19:10] shahednasser commented on #1022
Hello @harshitaaaaaa . Please submit new discussions with your questions. As for new button colors, we are currently not accepting any new colors as it requires a lot of changes through all buttons.

[2020-12-18 08:52] atenasadat commented on #1210
Sure. working on it

[2020-12-19 13:32] tirlochanarora16 commented on #1022
Hey, can I also contribute to this project?

[2020-12-20 10:34] gankita163 commented on #1
Hello @shahednasser I am new here and learning to contribute. can i contribute here .

[2020-12-21 05:48] HeinKhantZaw opened #1214 "Add dark mode button in mobile view"
**Is your feature request related to a problem? Please describe.**
Although there's a dark mode button in desktop view, there's no such button in mobile view.

**In Mobile**
![132466590_136485754911363_2900910703364895533_n](https://user-images.githubusercontent.com/40730345/102743697-612dc400-4386-11eb-8955-1d92fbb1b1fb.jpg)

**In desktop**
![image](https://user-images.githubusercontent.com/40730

[2020-12-22 07:48] #1187 closed

[2020-12-22 07:49] #1194 closed

[2020-12-22 07:57] shahednasser commented on #1214
Good idea @HeinKhantZaw would you like to work on it?

[2020-12-22 10:18] HeinKhantZaw commented on #1214
ok, I'll give a try.

[2020-12-28 17:43] ahammadunny commented on #1022
Hi Shahed,
Are there any buttons left for modification( like add animation class)? According to your list above, the only unassigned one is SNAKE BORDER. But in the comments, I see that it has been assigned to somebody. Please assign me to some button so that I can start working on it. Thank you.
Ahammadunny Pathiaseril.

[2021-01-02 13:01] ritik307 commented on #1214
@HeinKhantZaw I think its a great idea . I would like to work on this issue .
**Describe the solution you'd like**
I would like to add the dark mode button on the top right corner.

[2021-01-03 16:33] ChristopherMarques commented on #1022
Hello @shahednasser,
warm hugs! 😊

I'd like to work on this project too, what buttons is not assigned to anyone?
Can I take one? Thank you.

[2021-01-04 00:29] #1 closed

[2021-01-05 18:00] bw-space opened #1222 "Paper Curl Button animation ficker"
**1 - Describe the bug**
When hovering near the bottom right of the paper curl button, there is a flickering animation, of random open and close of paper curl
**2 - Expected behavior of what should have happened (if applicable)**
Hovering at any part of the button should show the paper curl animation once.
**3 - Screenshots (if applicable)**

**4 - Additional notes**

[2021-01-05 18:15] bw-space opened #1223 "[BUTTON IDEA]: Striped Button Click Animation"
**1. Name of button**:
Striped Button
**2. Description**:
We can create a new Animated version of the Striped Button, when its clicked upon, a strip animation can play, like the strips moving diagonally towards the bottom left.
**3. Button Type (Animated, Special, etc...)**:
Animated
**4. Will you work on it?**:
Yes

[2021-01-06 00:30] #1210 closed

[2021-01-08 07:22] shahednasser opened #1224 "[BUTTON IDEA]: button shadow of familiar color of the button go into disco mode while hover."
button shadow of familiar color of the button go into disco mode while hover.

_Originally posted by @ritvikmahajan17 in https://github.com/sButtons/sbuttons/discussions/1221_

[2021-01-08 07:28] shahednasser commented on #1022
Hello @ahammadunny and @ChristopherMarques , I have cleared some button assignments due to the fact that some contributors failed to deliver. Please let me know if you'd like to work on any of them and which ones you'd like to work on.

[2021-01-08 07:30] shahednasser commented on #1222
Thank you @bw-space for reporting this bug. Would you like to work on it?

[2021-01-08 07:31] shahednasser commented on #1223
Sounds good @bw-space would you like to work on it?

[2021-01-08 07:38] #1214 closed

[2021-01-08 07:42] shahednasser opened #1226 "Disable horizontal scrolling of website on small devices"
On small devices, the website can be scrolled horizontally. This issue is not seen on resizing the window to a smaller width, but on using mobile devices and trying to scroll horizontally.

[2021-01-08 11:50] ChristopherMarques commented on #1022
Hello again @shahednasser, I would like to work on "Transparent on Hover" button...
Can I work on this?

Thanks 😃

[2021-01-08 11:53] shahednasser commented on #1022
Yes @ChristopherMarques you can!

[2021-01-08 11:54] TomWBush commented on #1022
Hi @shahednasser ,

I did paper curl and previous a while ago, and the PR was merged #1201. But I think you never marked them as completed.

[2021-01-08 11:55] shahednasser commented on #1022
Hi @TomWBush thank you for reminding me! I've been away for a while. I'll mark it as completed

[2021-01-08 13:08] ritvikmahajan17 commented on #1224
can you assign this to me ? :)

[2021-01-09 13:36] harshad71 commented on #1224
when you press button it will squeeze the color
and when you release it will reversed .
kind a funny idea 😄

[2021-01-09 15:48] shahednasser commented on #1224
@ritvikmahajan17 I have assigned it to you

[2021-01-10 11:40] nagasaisriya commented on #1022
Hello @shahednasser , can I work on Rainbow button?

[2021-01-11 13:21] mg143pavankumar commented on #1226
can you assign this to me ?

[2021-01-11 13:29] matoupi-2 commented on #1022
Hi @shahednasser,
I'd like to work on this project, what buttons is not assigned to anyone ?
Can I take one?

[2021-01-13 03:47] dsnehasish74 commented on #1226
@mg143pavankumar  yes you can start working on it .

[2021-01-13 20:42] MattMarquise commented on #1226
Has it been fixed yet? Typically this can be achieved by simply adding the
`<meta name="viewport" content="width=device-width, initial-scale=1.0">`
within your `<head>` section. If that doesn't fix this issue there a couple other tricks that should likely solve this.

[2021-01-15 08:23] satcasm commented on #1022
Hi
I'd like to try on flash button . Can you assign it to me?

[2021-01-16 21:14] nemanjagaric commented on #1226
Hello can you assign me?

[2021-01-16 21:18] MattMarquise commented on #1226
@nemanjagaric I'm not sure if anyone has been properly assigned or has fixed this issue.

[2021-01-17 04:53] mg143pavankumar commented on #1226
I had fixed it @MattMarquise

[2021-01-17 07:56] dumbcoder7 commented on #1223
Is someone solving this issue? There is no assignee @shahednasser @bw-space ? I see the `up-for-grabs` label. But the author has mentioned that they are interested to work. Please clarify if possible.

[2021-01-17 14:32] MattMarquise commented on #1226
Okay @mg143pavankumar. We can close this issue then

[2021-01-17 17:16] mg143pavankumar commented on #1226
Ya you can. @MattMarquise

[2021-01-17 19:21] MattMarquise commented on #1226
@mg143pavankumar You have to have made a pull request for this issue in order to close this.

[2021-01-17 20:16] mg143pavankumar commented on #1226
@MattMarquise  I had already made a pull request. You can check it in pull request section

[2021-01-17 20:41] MattMarquise commented on #1226
@mg143pavankumar It appears you haven't linked it in this issue yet. That is what closes it

[2021-01-17 20:56] mg143pavankumar commented on #1226
@MattMarquise  I had already made pull request. But it is not yet merged.

[2021-01-17 21:00] MattMarquise commented on #1226
Okay. it should be merged once repo admins come to it

[2021-01-21 20:28] bw-space commented on #1223
@shahednasser due to some work commitments, I am unable to work on this issue, please assign someone who is interested. Thanks for understanding.

[2021-01-22 08:15] J-16 commented on #1223
Hey, can I work on this?

[2021-01-22 08:19] dumbcoder7 commented on #1223
I wanna work on it too

[2021-01-22 17:19] J-16 commented on #1223
No prob mate, take it :-)

[2021-01-22 17:50] emily876 commented on #1022
I want to work on rainbow and hinge button . Can you assign me that !!

[2021-01-23 20:33] adityaraute commented on #1223
I have created the button, where the animation plays on hovering.
Here is the animation.
![captured](https://user-images.githubusercontent.com/43912470/105613408-508ac680-5de8-11eb-8334-5ff57b8c381f.gif)

I shall be raising a PR soon.

[2021-01-24 00:46] #1224 closed

[2021-01-26 23:32] nobiaya commented on #851
@I3han can i contribute to this project

[2021-01-28 10:22] shahednasser commented on #1022
Hello @satcasm and @emily876 , sorry for the delay but you may work on the button

[2021-01-28 10:26] #1223 closed

[2021-01-28 10:31] #1226 closed

[2021-01-28 11:03] shahednasser opened #1237 "Improve Footer Design"
I think it would look better if the footer design changed. The logo should be moved to the left, and the notice that's currently at the left would be put below it.

It should also be containered instead of full width. In addition, the icons and links on the right should have the text aligned to the left.

[2021-01-28 11:09] shahednasser opened #1238 "Fix alignment for Image in Documentation Page"
In the [documentation](https://sbuttons.github.io/sbuttons/documentation.html) page, the image should be aligned more center with the text (similar to how the home page is). Either the alignment of the image or the size should be changed.

[2021-01-28 11:12] shahednasser opened #1239 "Fix click on download link scroll"
In documentation page, when clicking on the download link "click here" under [download CSS file](https://sbuttons.github.io/sbuttons/documentation.html#downloadcss) link, it scrolls to the beginning of the page. This is due to the fact that link is set to `#`. It should be changed to the id of its container to prevent the scroll.

[2021-01-28 11:15] shahednasser opened #1240 "Choose a new font"
We are currently using [Syne](https://fonts.google.com/specimen/Syne?query=syne) for the font of the website. Choose a better font for the website in a new pull request

[2021-01-28 11:17] shahednasser opened #1241 "Change link to variables file"
In the documentation page under [Modify Button Colors](https://sbuttons.github.io/sbuttons/documentation.html#modify) the link to the variables file goes to `sbuttons.less` instead. The text should be changed to "_variables.less" and the link as well.

[2021-01-28 11:19] shahednasser opened #1242 "Add padding prior to text that's below buttons in documentation"
In the documentation page when there's a text that's below a button (for example [basic buttons](https://sbuttons.github.io/sbuttons/documentation.html#basic)) padding should be added above the text. This should be done to all same cases throughout the page.

[2021-01-28 11:25] shahednasser opened #1243 "Make content in documentation page containered"
The main content of the documentation page should be containered (placed inside div with class "container"). Furthermore, the classes of the sidebar should be changed to `col-md-3 d-md-block sidebar-div` and the classes for the second column (containing the main content) should be changed to `col-md-9 col-12`.

[2021-01-28 11:26] shahednasser opened #1244 "Change instruction block width"
Make the max width of `.instruction-block` 700px to match the code block.

[2021-01-28 11:29] shahednasser opened #1245 "Fix base icon button class in Documentation Page"
In documentation page under [Icon with no background](https://sbuttons.github.io/sbuttons/documentation.html#iconNoBg) change the class of the example button from `base-icon-btn` to `icon-btn`. This should be changed in the button and the code example

[2021-01-28 11:31] shahednasser opened #1246 "Replace br elements with padding in documentation page"
In documentation page, a lot of `<br>` elements are used instead of padding to create similar outcome. Replace all occurrences of `<br>` elements with padding as necessary.

[2021-01-28 11:31] fleventy-5 commented on #1244
Hi , I'm new to open source  and would like to contribute. I have some experience in HTML, CSS and JS can i do anything to contribute to this  issue

[2021-01-28 11:33] shahednasser commented on #1244
Sure @fleventy-5 I'll assign you. Let me know if you need any help.

[2021-01-28 11:44] fleventy-5 commented on #1244
Can you tell me the location of the css sheet name  containing ' .instruction-block' class I have clone the project to my local machine but i could not find the css sheet containing  the given class issue

[2021-01-28 11:48] fleventy-5 commented on #1244
I got it the required sheet :) and i have set the max width to 700px what do i have to do after this?

[2021-01-28 12:04] shahednasser commented on #1244
You should submit a pull request. Please refer to our [contributing guidelines](https://github.com/sButtons/sbuttons/blob/d7a2cb416701d7f1cb751e3b0aa86f6694598df3/CONTRIBUTING.md) to learn more but if you still are not sure how to do it then let me know.

[2021-01-28 12:09] shahednasser opened #1247 "Update CDN links"
Update CDN links throughout the website to the following link: https://cdn.jsdelivr.net/npm/sbuttons/dist/sbuttons.min.css

[2021-01-28 12:32] fleventy-5 commented on #1244
Hi there @shahednasser  I have made the required changes and   pull request. I hope i have done it to the required specs.

[2021-01-28 12:38] davanu100 commented on #1247
Hey I am new to open source , but have been working on the required skills for a long time. I would like to contribute to your project

[2021-01-28 13:07] fleventy-5 commented on #1243
Hey @shahednasser can I take this issue?

[2021-01-28 13:08] #1244 closed

[2021-01-28 13:08] shahednasser commented on #1247
Hello @davanu100 sure I will assign you

[2021-01-28 13:09] davanu100 commented on #1247
Could you tell me in brief ,what to do??

[2021-01-28 13:14] shahednasser commented on #1243
Sure @fleventy-5 go ahead

[2021-01-28 13:15] shahednasser commented on #1247
In the website (the html pages `index.html`, `documentation.html` and `examples.html`) we use the CDN link, for users to download. for example in the header the download link or in the documentation page in the text. We need to change the CDN link to the one I provided in the issue above.

[2021-01-28 13:18] davanu100 commented on #1247
Ok, I'll get to it right now. Thanks.

[2021-01-28 14:55] fleventy-5 commented on #1243
Can you help me  I got a merge conflict error.

[2021-01-28 14:58] shahednasser commented on #1243
can you submit a PR again?

[2021-01-28 15:34] onwuvic commented on #1246
@shahednasser can I take up this task?

[2021-01-28 16:09] shahednasser commented on #1246
Hello @onwuvic sure go ahead

[2021-01-28 16:20] onwuvic commented on #1246
@shahednasser Is `padding` the right CSS property to use or margin? I was thinking `margin` will be appropriate. What do you think?

[2021-01-28 16:30] shahednasser commented on #1246
@onwuvic if you think margin is better then use it I don't mind

[2021-01-28 17:57] davanu100 commented on #1247
I have made the pull request. Please look into it and if there's an issue , let me know .

[2021-01-28 22:11] jleckron commented on #1242
Hi, I would like to attempt to solve this!

[2021-01-28 22:48] jleckron commented on #1239
I would also like to resolve this issue.

[2021-01-28 23:53] jleckron commented on #1242
I have a fix and a PR ready to go. Please let me know if I need to be officially assigned before I submit PR. (This is my first open-source contribution)

[2021-01-29 01:07] jleckron commented on #1241
I can resolve this as well.

[2021-01-29 08:51] shahednasser commented on #1239
Hello @jleckron I'll assign you

[2021-01-29 08:52] shahednasser commented on #1242
Hello @jleckron you may submit the PR

[2021-01-29 08:52] shahednasser commented on #1241
Hello @jleckron let's give some time for someone else to try it out. If no one does I'll assign you!

[2021-01-29 08:55] shahednasser opened #1255 "Submissions for projects that use sButtons"
We need to add a page for projects that use sButtons and link to them. So, if anyone is using this project or is considering using it, please link it below this issue to be added on the list of projects that are using sButtons. This would be great to provide others an example of what using sButtons will look like in their projects.

[2021-01-29 09:17] shahednasser opened #1256 "Make header section smaller on small devices"
On small devices (width <= 768px) the header part of the section, i.e. the entire part in the navy blue area, should become smaller. There's a lot of empty space on mobile devices. You can change the height or remove the margin, any solution that you find best fitting

[2021-01-29 09:19] shahednasser opened #1257 "Move Loader in Examples Page below heading"
In the examples page, the loader that appears before the buttons are loaded is above the heading "Some Examples Of sButtons
" it should be below it.

[2021-01-29 09:21] shahednasser opened #1258 "Sidebar behavior before scroll"
Before scroll, the sidebar's width is larger than when scrolling. The sidebar's width should always be the same. This is in the documentation and examples pages.

[2021-01-29 09:23] shahednasser opened #1259 "Make shadow of Gradient Button smaller"
The shadow of [gradient button](https://sbuttons.github.io/sbuttons/examples.html#gradient) makes it out of place when used on a website. The box shadow should be smaller, making it look better.

[2021-01-29 09:26] manish193 commented on #1237
Hi @shahednasser, I would like to work on this enhancement.

[2021-01-29 09:27] shahednasser opened #1260 "Add "Copy" link icon to headings in documentation and examples pages"
In the documentation and examples pages, we need to add a "copy" link icon that copies the link of the current section for the user.
I prefer a single function to handle both pages on click event for the copy icon.

You can use [this](https://fontawesome.com/icons/link) link icon. It should take the id of the section and add it to the end of the URL as hash (for example, https://sbuttons.github.io

[2021-01-29 09:28] shahednasser commented on #1237
Sure @manish193 I will assign you

[2021-01-29 09:35] shahednasser opened #1261 "Add transition property to Glossy Button"
Transition property with value `all .2s` should be added to the [glossy button](https://sbuttons.github.io/sbuttons/examples.html#glossy)

[2021-01-29 09:38] shahednasser opened #1262 "Add transition property to Rounded Bottom button"
Transition property with value `all .2s` should be added to the [Rounded Bottom button](https://sbuttons.github.io/sbuttons/examples.html#rounded-bottom)

[2021-01-29 09:39] shahednasser opened #1263 "Add transition property for Rounded Diagonal buttons"
Transition property with value `all .2s` should be added to the [Rounded Diagonal buttons](https://sbuttons.github.io/sbuttons/examples.html#rounded-diagonal-tl) both top left and top right

[2021-01-29 09:41] shahednasser opened #1264 "Add transition property to Rounded Top Buttons"
Transition property with value all .2s should be added to the [Rounded Top buttons](https://sbuttons.github.io/sbuttons/examples.html#rounded-top)

[2021-01-29 10:06] fleventy-5 commented on #1260
Can I take this one?

[2021-01-29 10:07] shahednasser opened #1266 "Create Page for Projects Using sButtons"
We need to create a page for projects using sButtons. Submissions will be sent to issue #1255 . Currently the only project I know of is [this](https://github.com/ChristopherMarques/uuidGenerator) one, so you should create a page that includes this project for now, but make sure that all projects to be added will have the same format and design.

The page should have a header like the current pages

[2021-01-29 10:09] #1243 closed

[2021-01-29 10:11] shahednasser commented on #1260
Sure @fleventy-5 go ahead

[2021-01-29 10:12] #1247 closed

[2021-01-29 10:16] sawantvikram commented on #1259
I want to work on this issue... can you assign it to me???

[2021-01-29 10:17] shahednasser commented on #1259
Sure @sawantvikram go ahead

[2021-01-29 10:23] sawantvikram commented on #1259
where is the issued  file

[2021-01-29 10:31] shahednasser commented on #1259
all changes to buttons should be made in `src` folder. Files in it are separated based on the type of the button. You can find the gradient button [here](https://github.com/sButtons/sbuttons/blob/master/src/components/styles/_gradient.less).

You can find out more by checking out the [contributing guidelines](https://github.com/sButtons/sbuttons/blob/d7a2cb416701d7f1cb751e3b0aa86f6694598df3/CONTRI

[2021-01-29 10:44] sawantvikram commented on #1259
should I create a new button???

[2021-01-29 12:57] shahednasser opened #1268 "Change documentation in website for NPM to match README"
The documentation under NPM in the README has changed, we want those changes reflected in the website as well.

[2021-01-29 17:17] manish193 commented on #1237
I made some changes, but the text item under the logo does not seem right. So instead I interchanged the position of logo and text.
I left aligned links.
Now it seems much cleaner than before

![Footer](https://user-images.githubusercontent.com/47421953/106306287-da70de80-6283-11eb-8db8-6ac3cba75c32.png)

[2021-01-29 17:25] tnahddisttud commented on #1238
Hey! I would like to contribute. Please assign it to me.

[2021-01-29 17:57] fluffyP4nd4 commented on #1260
![img](https://user-images.githubusercontent.com/57084379/106310129-21150780-6289-11eb-9344-894ec41951c0.png)
Hey @shahednasser  I was able to add the link icon to all the example buttons. But I have to click the icon twice for the url to be copied. Do you have any solution for this problem??

[2021-01-29 18:01] fleventy-5 commented on #1260
![img.png](https://user-images.githubusercontent.com/78148524/106310597-cfb94800-6289-11eb-8906-2e0a738c1102.png)
Hey @shahednasser  I was able to add the copy link to all the button examples . But I have to click the copy icon twice most of the time for the section url to be copied. Do you have any suggestions for this problem?

[2021-01-30 11:07] sawantvikram commented on #1259
i have sent pull resquest please check it...

[2021-01-30 13:07] angelascode commented on #1262
I would like to work on this.  Please assign to me.  Thank you

[2021-01-30 13:11] angelascode commented on #1263
I'll resolve this issue also.  Please assign. Thanks

[2021-01-30 13:13] angelascode commented on #1264
I'd like to resolve this issue.  Please assign.  Thanks.

[2021-01-31 12:54] unni2002 commented on #1268
How to fix that ? Can you suggest me any ways? @shahednasser

[2021-01-31 13:09] 3n1k0 commented on #1261
Hi, I would like to work on this issue, please assign. Thanks!

[2021-01-31 23:23] rblaq commented on #1268
Working on this now btw.

[2021-02-01 07:41] #1239 closed

[2021-02-01 07:44] shahednasser commented on #1238
Hello @tnahddisttud sorry for the delay. I'll assign you the issue

[2021-02-01 07:51] shahednasser commented on #1262
Hello @angelascode sorry for the delay. I will assign you

[2021-02-01 07:51] shahednasser commented on #1263
@angelascode I have assigned you the issue

[2021-02-01 07:51] shahednasser commented on #1264
@angelascode I have assigned you the issue

[2021-02-01 07:52] shahednasser commented on #1261
Hello @3n1k0 I have assigned you

[2021-02-01 08:01] #1242 closed

[2021-02-01 11:00] #1246 closed

[2021-02-01 11:05] #1268 closed

[2021-02-03 00:42] ParseSnip commented on #1238
Has the issue been resolved?

[2021-02-03 11:15] #1260 closed

[2021-02-03 11:49] shahednasser commented on #1238
Hello @ParseSnip someone is currently assigned to it. If you would like to contribute please check out other issues we have in the repo!

[2021-02-03 16:23] harshpandey002 commented on #1264
Hi @shahednasser,
I'm learning to contribute to open sources, I'm familiar with the process but want to try those git commands for the first time so that I can gain some confidence before moving to big projects. So can I please work on this issue ?

[2021-02-03 16:24] harshpandey002 commented on #1264
Hi @shahednasser,
I'm learning to contribute to open sources, I'm familiar with the process but want to try those git commands for the first time so that I can gain some confidence before moving on to big projects. So can I please work on this issue ?

[2021-02-03 18:32] pri1311 commented on #1245
Hie, Please assign me this issue.

[2021-02-04 09:39] shahednasser commented on #1264
Hello @harshpandey002 this issue is already assigned, please comment on an unassigned issue and I'd love to assign you!

[2021-02-04 09:40] shahednasser commented on #1245
Sure @pri1311 you can work on it

[2021-02-04 09:41] #1245 closed

[2021-02-04 09:43] #1261 closed

[2021-02-04 09:45] #1241 closed

[2021-02-04 10:24] harshpandey002 commented on #1264
Thank you @shahednasser for the kind reply,

I have resolved this issue and created a pull request,
you can decline the PR, I've no problem 😃

Thanks Again !!

[2021-02-04 10:27] harshpandey002 commented on #1257
Hi @shahednasser,
I would like to resolve this issue, Please assign this to me.
Thanks

[2021-02-04 10:32] shahednasser commented on #1257
I have assigned you @harshpandey002

[2021-02-04 13:28] ADHIKSHA commented on #1266
Hey, Would love to work on this issue. Can you assign it to me?

[2021-02-04 13:42] shahednasser commented on #1266
Sure @ADHIKSHA go ahead

[2021-02-04 21:43] 3n1k0 commented on #1240
Hello, can I pick this up?

[2021-02-06 14:32] shahednasser commented on #1240
Hello @3n1k0 yes you can I will assign you

[2021-02-06 15:40] richieracoon commented on #1147
I'm very sorry that I couldn't work on the issue because I was very busy studying, but as the semester progresses I've got more time again and would really really like to work on the issues again? Is it possible to reopen it?
@shahednasser

[2021-02-06 16:00] harshad71 commented on #1258
i would like to work on this issue  will you suggest me to get started?

[2021-02-07 13:47] harshpandey002 commented on #1257
Hi @shahednasser,

I've fixed the issue and created a pull request.
Kindly review and let me know if any change is required.

Thanks

[2021-02-07 23:54] lekandev commented on #1266
Please if @ADHIKSHA is not working on it can I?

[2021-02-08 12:11] Abir-Tx commented on #1266
I would also love to work on it. Would be great if I get assigned to this
**Thanks**

[2021-02-09 10:22] shahednasser commented on #1147
Hello @richieracoon of course. I'll reopen it and you can work on it.

[2021-02-09 10:22] shahednasser commented on #1258
Hello @harshad71 sure I'll assign you

[2021-02-09 10:25] #1257 closed

[2021-02-09 10:33] shahednasser commented on #1266
@ADHIKSHA let us know if you're still working on this

[2021-02-09 17:20] harshad71 commented on #1258
ok i m working on this issue

[2021-02-09 18:16] BeniB98 opened #1294 "[BUTTON IDEA]: Icon Fill Button"
**1. Name of button**:
Icon Fill Button

**2. Description**:
White Button with colored Icon and Border and black text. On Hover the text fills up with the color of the Icon.

**3. Button Type (Animated, Special, etc...)**:
Icon / Animated

**4. Will you work on it?**:
yes

[2021-02-10 07:15] alok1929 commented on #1294
### should we do this with less itself or css and html, if its with less, i could try to do it, _please assign it to me_

[2021-02-11 20:09] JLambertazzo commented on #1256
I can work on this!

[2021-02-12 12:54] shahednasser commented on #1294
Hello @BeniB98 I'm not sure about what the icon will look like, so either show me a pic or video of it or submit a PR and I'll have to decide then if I can accept it or not.

Either way I'll assign you

[2021-02-12 12:55] #1240 closed

[2021-02-12 12:56] shahednasser commented on #1238
hi @tnahddisttud are you working on this?

[2021-02-12 12:56] shahednasser commented on #1256
Hello @JLambertazzo I will assign you

[2021-02-12 12:57] shahednasser commented on #1264
Unassigning @harshpandey002 due to inactivity

[2021-02-12 12:58] shahednasser commented on #1264
Hello @angelascode are you still working on this issue?

[2021-02-12 12:59] tnahddisttud commented on #1238
I'm really sorry, I have been busy with some tests. I promise to get it done by Sunday. Really sorry for the delay.

[2021-02-12 15:38] mainak-debnath commented on #1262
Is this issue still up for grabs?I would like to give it a try

[2021-02-13 17:13] tnahddisttud commented on #1238
Hello @shahednasser, I have created a pull request.

[2021-02-15 08:04] shahednasser commented on #1022
Unassigning everyone from the remaining buttons as no one submitted PRs

[2021-02-15 08:12] shahednasser commented on #1262
Hello @mainak-debnath since @angelascode isn't responding you can go ahead

[2021-02-15 10:45] BeniB98 commented on #1294
https://user-images.githubusercontent.com/49996504/107936628-29588c80-6f83-11eb-86a1-91ecb550b474.mp4

Hey @shahednasser, thanks for assigning me! I thought of something like this. What do you think about it?

[2021-02-15 15:17] richieracoon commented on #1147
Hello Shahed,
as I looked further into the Idea I realized that it cant be done without JavaScript at all. I'm sorry but I think this Issue should be closed for good.

[2021-02-15 18:51] kshitij-18 commented on #1262
I am working on this

[2021-02-16 12:19] kshitij-18 commented on #1262
I have made a pull request please check

[2021-02-16 13:29] kalimah-apps commented on #1022
@shahednasser I can work on the hinge animation.

[2021-02-16 21:08] karishmapatel27 commented on #1022
Hi @shahednasser
I'd like to contribute to this project, may I know which buttons are still available?

[2021-02-17 14:16] tnahddisttud commented on #1238
I have made the requested changes. Please check

[2021-02-17 14:50] princeo1 commented on #1022
Hi @shahednasser ,I want to contribute here ,can you let me know which one is available?

[2021-02-18 07:55] #1262 closed

[2021-02-18 07:59] shahednasser commented on #1294
I think the button looks good without the icon and maybe with some padding. If you can make the button but with different colors like in the website then that would be great.

[2021-02-18 08:09] shahednasser commented on #1147
Sure @richieracoon we'll reopen it if you find another way

[2021-02-18 08:09] #1147 closed

[2021-02-18 08:22] shahednasser commented on #1237
Unassigning @manish193 due to inactivity

[2021-02-18 08:24] #1256 closed

[2021-02-18 08:26] shahednasser commented on #1266
Unassigning @ADHIKSHA due to inactivity

[2021-02-18 08:28] shahednasser commented on #1263
Unassigning @angelascode due to inactivity

[2021-02-18 08:29] shahednasser commented on #1258
Hello @harshad71 any update on this?

[2021-02-18 08:37] shahednasser commented on #1022
Hi @kalimah-apps I have assigned you to hinge

[2021-02-18 08:38] shahednasser commented on #1022
Hello @karishmapatel27 @princeo1 the ones that are not checked off and do not have next to them "taken by" are available. Please comment which ones you'd like to work on to be assigned to them

[2021-02-18 08:44] karishmapatel27 commented on #1022
Hi @shahednasser, thank you for coming back to me.  I would like to work on Invert please.

[2021-02-18 08:47] mainak-debnath commented on #1263
I can work on this one too

[2021-02-18 08:52] shahednasser commented on #1022
Great I have assigned you the button

[2021-02-18 08:55] shahednasser commented on #1263
Sure @mainak-debnath I'll assign you

[2021-02-18 09:51] princeo1 commented on #1022
Thank you for replying @shahednasser I would like to work on rainbow

[2021-02-18 12:40] shahednasser commented on #1022
Great @princeo1 you're assigned

[2021-02-19 05:12] neelbavarva commented on #1258
Is this issue open? I would like to work on it.
![simplescreenrecorder-2021-02-19_10 33 48](https://user-images.githubusercontent.com/62550592/108460534-df331c00-729e-11eb-950a-ac558cf0a097.gif)
This is what you want right?

[2021-02-19 07:50] Sarthak1306 commented on #1264
Hi, very new to contributing to Open Source and I'd like to resolve this issue!

[2021-02-19 12:15] #1263 closed

[2021-02-19 12:19] shahednasser opened #1311 "Properly center button title"
Button titles are not properly centered, someone used margins instead of properly centering the title.

The title should be properly centered horizontally. You can look below for an example.

![Not centered title](https://user-images.githubusercontent.com/27354907/108503678-773ffe00-72bd-11eb-8e2d-1fb8eeb5fcdc.png)

[2021-02-19 12:23] shahednasser opened #1312 "Navbar Menu on small devices"
@JLambertazzo noticed some weird behaviour on the navbar when viewing on a small screen.

The proposed change is to have a dropdown menu that shows only on smaller screens. The dropdown menu should include the links that are currently in the navbar.

_Originally posted by @JLambertazzo in https://github.com/sButtons/sbuttons/discussions/1299_

[2021-02-19 12:29] shahednasser commented on #1258
As @harshad71 is not responding, I'll assign you @neelbavarva

[2021-02-19 12:30] shahednasser commented on #1264
As @angelascode is not responding I'll assign you @Sarthak1306

[2021-02-19 13:06] Caleb335 commented on #1266
@shahednasser, Is there anyone still working on this?

[2021-02-19 13:26] shahednasser commented on #1266
@Caleb335 no one is working on it, I'll assign you

[2021-02-19 13:27] Caleb335 commented on #1266
Awesome, thanks.

[2021-02-19 15:20] Caleb335 commented on #1266
@shahednasser, should I just go along with any layout that I feel would be okay for this page?

[2021-02-19 15:24] 3n1k0 commented on #1311
Hi @shahednasser, can I pick this up?

[2021-02-19 15:24] shahednasser commented on #1266
@Caleb335 Yes I don't have any layouts or design in mind, but it should be easy to add a new project that uses sbuttons in the future. Maybe we should include in the contribution guidelines how to do that after you have a design set for displaying projects

[2021-02-19 15:25] shahednasser commented on #1311
Hello @3n1k0 yes I'll assign you

[2021-02-19 15:40] Caleb335 commented on #1266
Alright, I'd work on that.

[2021-02-19 16:43] Caleb335 commented on #1266
Hi @shahednasser, I figured out the responsiveness of the navbar on mobile is affected due to the additional nav-item (i.e the projects) Take a look at the screenshot below.

![Screenshot from 2021-02-19 17-41-27](https://user-images.githubusercontent.com/48127194/108533863-c562fa80-72d9-11eb-8500-033b934e4b60.png)

I would go on to hide the navlinks on mobile, such that when the hamburger menu is

[2021-02-19 16:56] BeniB98 commented on #1294
Hey @shahednasser, i'm sorry but currently i don't have the time to work on the Issue. Maybe @alok1929, or anyone else, still want to work on it?

[2021-02-20 06:38] dsnehasish74 commented on #1312
I want to solve this issue

[2021-02-21 06:44] Caleb335 commented on #1266
Hi @shahednasser, I'm waiting for your response on this.

[2021-02-21 15:50] #1258 closed

[2021-02-21 15:55] #1264 closed

[2021-02-21 15:56] shahednasser commented on #1294
Sure I'll leave it open if anyone else wants to work on it

[2021-02-21 16:02] shahednasser commented on #1312
I'll assign you @dsnehasish74

[2021-02-21 16:04] shahednasser commented on #1266
Hi @Caleb335 sorry I was busy. Yes we have an open issue for the navbar and someone is assigned to it now, so don't worry about it

[2021-02-21 17:04] Caleb335 commented on #1266
Alright then, no problem.

On Sun, 21 Feb 2021, 5:04 PM Shahed Nasser, <notifications@github.com>
wrote:

[2021-02-22 20:19] ArnoldGee commented on #1022
Hi @shahednasser I'm new to the project and would like to contribute. Please feel free to assign me a task ✅

[2021-02-23 11:45] Bc-coding commented on #1237
Hi Shahednasser, is anyone working on this footer enhancement? if not, please could I give it a go?

[2021-02-23 17:03] alok1929 commented on #1294
I could try to do it , would like to be assigned for this @shahednasser

[2021-02-25 00:14] #1238 closed

[2021-02-25 09:14] shahednasser commented on #1022
Hi @ArnoldGee please choose a button from the list if you want to work on it!

[2021-02-25 09:19] shahednasser commented on #1237
Hello @Bc-coding no one is working on it, I'll assign you

[2021-02-25 09:20] #1311 closed

[2021-02-25 09:21] shahednasser commented on #1294
Sure @alok1929 I'll assign you

[2021-02-26 00:46] tanzil786 opened #1332 "[BUTTON IDEA]:"
**Dropdown buttons**:

**Example of using a dropdown menu with a button:*:

**The dropdown animation happen downward side**:

**Yes**:

[2021-02-26 21:32] shahednasser commented on #1332
Thank you for submitting this idea. Unfortunately, this idea requires javascript and this is a CSS-only project. Please submit any other idea you have that is related to it!

[2021-02-26 21:32] #1332 closed

[2021-02-26 21:33] shahednasser commented on #1332
Thank you for submitting this idea. Unfortunately, this idea requires javascript and this is a CSS-only project. Please submit any other idea you have that is related to it!

[2021-02-26 21:34] shahednasser commented on #1332
Thank you for submitting this idea. Unfortunately, this idea requires javascript and this is a CSS-only project. Please submit any other idea you have that is related to it!

[2021-02-26 21:42] shahednasser commented on #1259
unassigning due to inactivity

[2021-02-28 16:54] #1312 closed

[2021-03-03 00:15] #1222 closed

[2021-03-03 19:29] navoditbharat commented on #1237
Can you assign this issue to me?

[2021-03-04 04:10] dsnehasish74 opened #1336 "Footer link problem"
**1 - Describe the bug** In the footer of the documentation and examples page the examples link is pointing to the github repo as it should pointing to the examples page of our website

[2021-03-04 09:22] theBeginner86 commented on #1336
@dsnehasish74, May I work on this issue.

[2021-03-05 15:12] dsnehasish74 commented on #1336
@theBeginner86  yes sure. I am assigning you this issue

[2021-03-05 16:00] theBeginner86 commented on #1336
@dsnehasish74
I have made the PR you may please check.

[2021-03-05 20:18] shahednasser commented on #1294
Hello @alok1929 are you still working on this?

[2021-03-05 20:19] shahednasser commented on #1237
Hello @navoditbharat someone else is working on this, please find an unassigned issue to work on

[2021-03-05 20:21] #1336 closed

[2021-03-05 20:54] abid1998 commented on #1259
Hi is this still open ?

[2021-03-06 06:49] TanmayJain17 commented on #1022
Hi @shahednasser  I would also like to contribute here . Can I work on the Flash Button ?

[2021-03-06 09:06] shahednasser commented on #1022
Hello @TanmayJain17 yes you can I'll assign you

[2021-03-06 09:07] shahednasser commented on #1259
Hello @abid1998 yes it is would you like to work on it?

[2021-03-06 09:57] alok1929 commented on #1294
No I am not ,I have my exams going on ,so I might not be able to do it . .
....

On Sat, 6 Mar, 2021, 1:48 am Shahed Nasser, <notifications@github.com>
wrote:

[2021-03-06 13:27] shahednasser commented on #1294
Alright I'll be unassigning you in case someone else can take this up

[2021-03-06 13:27] shahednasser commented on #1294
Alright I'll be closing this for now then

[2021-03-06 13:27] #1294 closed

[2021-03-06 18:31] abid1998 commented on #1259
Hi yes ! Can you explain me what needs to be done ?

[2021-03-06 18:39] abid1998 commented on #1259
I went through the code once from what i understand i have to change
&:hover {
    box-shadow: 0px 6px 4px @...;
  }
property to make it smaller? I am planning on making it 0px 4px 2px and trying.
Should i also reduce also the default box-shadow size or just the hover one?

[2021-03-08 18:04] shahednasser commented on #1259
Hi @abid1998 please reduce its size for both default and hover. Choose what you feel fitting and I'll look over it when you submit a PR.

[2021-03-08 18:06] #1266 closed

[2021-03-09 06:51] abid1998 commented on #1259
@shahednasser great thanks alot !

[2021-03-09 16:24] abid1998 commented on #1259
@shahednasser created a PR please check it.

[2021-03-10 20:15] #1237 closed

[2021-03-11 07:25] TomWBush opened #1344 "Improve project page"
**Is your feature request related to a problem? Please describe.**
I have two suggestions regarding how to change the project panel in the new project page.
1. Remove the Demo button, and make the whole panel clickable and redirects to the demo page. The reason is that the panel has an onhover effect, so I think it's more intuitive to make the panel clickable.
2. Change "View on Github" to the Git

[2021-03-11 07:43] shahednasser commented on #1344
Hi @TomWBush thank you for your suggestions. I'm actually working on redeveloping the entire website using React and TailwindCSS, you can check it out in the second branch. So, as if now let's not make improvements unless necessary. I will however take your comment into account when redeveloping the website!

[2021-03-12 07:42] #1259 closed

[2021-03-13 03:14] dsnehasish74 opened #1346 "Projects Using Sbuttons Page"
**1 - Describe the bug**
When we hover a link of the dropdown menu of this projects page Its background turns into white that is looking bit odd rather I think the design should be like home page dropdown links.

**3 - Screenshots (if applicable)**
![Screenshot (545)](https://user-images.githubusercontent.com/58779604/111017270-5c523c80-83d8-11eb-94f5-b5643bcc5e6d.png)

[2021-03-13 17:00] A3vk commented on #1022
Hello @shahednasser can I work on the Liquid and the Rainbow button?

[2021-03-14 02:01] owen-young commented on #1346
I am currently working on this issue.

[2021-03-14 15:43] abid1998 commented on #1022
Hello @shahednasser  can i take these
Rainbow (continuous)
Ripple (not continuous)
Scale (not continuous)
button ?

[2021-03-16 17:59] shahednasser commented on #1022
@A3vk I have assigned you Liquid and Rainbow
@abid1998 I have assigned you Ripple and Scale.

Thank you

[2021-03-17 18:02] #1346 closed

[2021-03-17 18:02] #1344 closed

[2021-03-17 18:09] shahednasser opened #1352 "Create 404 Page"
We have recreated the website using React and TailwindCSS. We currently have 4 pages: Home, Documentation, Examples, and Projects Using sButtons.

We need to create a 404 page as a fallback for a URL that does not match any of these pages.

[2021-03-17 18:11] shahednasser opened #1353 "Match the documentation in Readme to Website"
There are some differences between the documentation in the website and the documentation in README.md. Just copy the documentation from the Website to the README. You don't have to show examples of the button in the README.

[2021-03-17 18:12] TomWBush opened #1354 "Cannot refresh non-home page"
**1 - Describe the bug**
When refreshing the site on any pages other than the home page, the website gives up with a 404 status.

**2 - Expected behavior of what should have happened (if applicable)**
The website should be able to refresh in any page.

[2021-03-17 18:13] dsnehasish74 commented on #1354
I want to work on this issue. This can be done easily by adding the _redirect file in the public folder

[2021-03-17 18:14] TomWBush commented on #1354
Sure you can work on it.

[2021-03-17 18:17] dsnehasish74 opened #1355 "Header Github button link issue"
**1 - Describe the bug** In the header when we click on the GitHub button, it does not direct to the GitHub repo. In stead it redirects  to this bellow URL this is happening due to Link tag of react-router we can add a tag there

**3 - Screenshots (if applicable)**
![Screenshot (548)](https://user-images.githubusercontent.com/58779604/111517459-1819c000-877b-11eb-87f0-7b609682944d.png)

**4 - Addi

[2021-03-17 18:19] ShrutiKatpara commented on #1352
Hey @shahednasser , I would like to take this up. Thanks :)

[2021-03-17 18:27] shahednasser commented on #1354
Thank you for catching that @TomWBush !

[2021-03-17 18:29] shahednasser commented on #1355
Thank you for catching that! I fixed it, it should be available after the website builds

[2021-03-17 18:29] #1355 closed

[2021-03-17 18:29] shahednasser commented on #1352
Hello @ShrutiJha31 I'll assign you

[2021-03-17 18:37] #1354 closed

[2021-03-17 18:38] Caleb335 commented on #1353
I'd love to take up this issue @shahednasser

[2021-03-17 18:42] shahednasser commented on #1353
Sure I'll assign you @Caleb335

[2021-03-17 19:32] ShrutiKatpara commented on #1352
Hey @shahednasser, I have created below 404 page for now.
![image](https://user-images.githubusercontent.com/45987734/111526934-54eab480-8785-11eb-8a9a-3f51ef6a2731.png)

So, this is actually done using `Router` i.e. on client side. Is it the same way that you wanted it to be done ? Or whether we have to do it on server part using SPA ?

Thanks :)

[2021-03-17 19:39] shahednasser commented on #1352
We just need it client side. But please add something maybe an image in the middle to show it's 404 or something. You can undraw or anything you like.

Also, make sure the page follows the same format as other pages and that the footer sticks to the bottom of the page. Submit a PR once you're ready and I can help you out if needed.

[2021-03-17 19:43] ShrutiKatpara commented on #1352
Yeah, thanks. I will do it.

[2021-03-17 20:48] ShrutiKatpara commented on #1352
hey, @shahednasser.
I was little unsure on which image to keep. Can you help me pick one from below two ? Or shall I go for some other ones ?
![image](https://user-images.githubusercontent.com/45987734/111535368-080bdb80-878f-11eb-9776-2f6267d1d0aa.png)
![image](https://user-images.githubusercontent.com/45987734/111536252-05f64c80-8790-11eb-8926-fa6bc9ec4d74.png)

Sorry for bothering for such smal

[2021-03-20 04:44] dsnehasish74 opened #1359 "Drop Down Menu width in small devices."
**Is your feature request related to a problem? Please describe.** It would look more good if we can make the width a little bigger then these line breaks will not happen in the drop-down menu

![Screenshot (549)](https://user-images.githubusercontent.com/58779604/111859203-1ca1cc80-8965-11eb-98f3-071870c3fb30.png)

[2021-03-20 11:18] #1352 closed

[2021-03-20 11:25] shahednasser commented on #1359
Sounds like a good idea. If you want to work on it assign yourself please

[2021-03-20 11:29] shahednasser opened #1361 "Fix Documentation sidebar links"
In the sidebar of the documentation page, the sections are not ordered correctly in terms of levels. Some sections should be high levels but are places as submenu and vice versa.

This is easy to fix just by changing the `level` attribute passed to `SidebarLink` component in the Documentation page. When the level is the parent element, no `level` attribute should be passed. Then, children should b

[2021-03-20 18:09] dsnehasish74 commented on #1359
I want to open this issue for the beginers who want to contribute

[2021-03-21 19:57] snapecode commented on #1361
Hi @shahednasser,

I'd like to jump on this issue if possible.
I'm having a little trouble loading up the dev server with the new react update though. I'm getting the " cannot Get / " error page.
I've Updated all my node packages, but I haven't worked with tailwind before. I'm pretty sure its just  a routing/server configuration issue. I'll keep working on getting it up but let me know if you're h

[2021-03-22 11:56] #1353 closed

[2021-03-22 12:01] shahednasser commented on #1361
Hello @snapecode I've tried cloning the repository, running `npm install` and `npm start` in the `website` directory and it worked fine. Please let me know if there are more details to your problem.

[2021-03-22 12:10] rad10wave commented on #1359
Hey @shahednasser can you assign me?, I'll love to solve this issue.

[2021-03-22 12:11] shahednasser commented on #1359
I assigned you @rad10wave

[2021-03-22 19:22] snapecode commented on #1361
My mistake, I was installing from the root not website.
I  cloned again and attempted to run  the server but i'm getting some errors.

so on `npm install` I get 2 warnings about the lockFileVersion and fsevents  :

<img width="1252" alt="Screen Shot 2021-03-22 at 3 20 23 PM" src="https://user-images.githubusercontent.com/16259573/112046272-32a8bc00-8b22-11eb-90b0-2d7687ebcace.png">

and on `npm st

[2021-03-22 20:19] snapecode commented on #1361
My mistake, I was installing from the root not the website.
I also had to update my node and some dependencies, but i've got it running.

Ill start working on this, could you assign it to me please.

[2021-03-23 08:11] #1359 closed

[2021-03-23 08:52] AshishRajIITI commented on #1361
Hello @snapecode, I am beginning my open source contribution journey. I have good knowledge of CSS. So if u can assign this issue to me, I would be highly grateful. Also, please let me know this issue in detail. Thank You :)

[2021-03-23 14:52] snapecode commented on #1361
Hi @AshishRajIITI , I too am starting my first open source contributions and trying to get better at  push/pull/commit best practices. I'm almost done this issue, but I think there might still be an animation button still needed in another issue. I also think the site needs a few visual fixes, but @shahednasser is the lead on this project so pitch the ideas to her.

[2021-03-23 17:27] rad10wave commented on #1022
Hey @shahednasser can i take the Snake Border ?

[2021-03-23 20:52] AshishRajIITI commented on #1361
@snapecode , thank you for the updates. Hope we both excel in our fields. Cheers...

[2021-03-24 08:06] shahednasser commented on #1022
Hello @rad10wave yes I'll assign you

[2021-03-24 08:07] shahednasser commented on #1361
Hello @AshishRajIITI if you find other unassigned issues then please comment on them. Also, if you or @snapecode find any issues on the website or in the buttons, please open a new issue with them

[2021-03-24 08:09] shahednasser opened #1366 "Make toggle button compatible with extra-small button"
As the toggle button can be somewhat big for certain uses, we should make it compatible with the extra-small button. Meaning that if someone adds the `xsmall-btn` class to it, the button should become smaller while still maintaining its design and functionality correctly.

[2021-03-24 08:44] #1022 closed

[2021-03-24 08:48] shahednasser opened #1368 "Add Documentation for Animated Buttons"
As we have finally finished adding the `animated` class to the buttons that have animations (refer to issue #1022 ), we need to add in the documentation how it should be used.

The documentation should be added on the website and in the README. It should follow a similar structure as that of dark mode in the documentation.

New contributors are welcome for this issue, however, please take the time

[2021-03-24 12:34] abid1998 commented on #1366
@shahednasser i can take up this issue.

[2021-03-24 16:40] shahednasser commented on #1366
Hello @abid1998 . There aren't any similar issues from before, but what you need to do is in the less file that has the styling for the toggle button you need to add a case where it also has the class for `xsmall-btn` could be done by something like this:

[code]

and then inside it you should add styling to make the toggle button smaller. If you add the class to it now you can see that it gets sm

[2021-03-29 18:04] AshishRajIITI opened #1369 "The Examples Page of the project doesn't include Footer."
**Is your feature request related to a problem? Please describe.**
![Screenshot 2021-03-29 232922](https://user-images.githubusercontent.com/67483270/112879670-16d78400-90e7-11eb-86ce-eb8f0653d14c.jpg)
There is no Footer present on the Examples page of the website.

**Describe the solution you'd like**
I would like to add a responsive footer to the Examples page of the website.

**Additional notes

[2021-03-29 18:05] AshishRajIITI commented on #1369
I would really like to contribute to this enhancement. Please assign me this. Thank you. :)

[2021-03-30 11:30] shahednasser commented on #1369
Hello @AshishRajIITI sure I will assign you

[2021-04-01 10:48] abid1998 commented on #1366
Not stale. Will be working on this on weekend.

[2021-04-01 11:07] #1361 closed

[2021-04-01 11:08] shahednasser commented on #1366
Thank you for letting me know @abid1998

[2021-04-06 14:43] kcbelford commented on #1369
If this hasn't been resolved, I'd like to take a stab at it.

[2021-04-06 15:13] kcbelford opened #1373 "Footer on Docs page of website intersects sidebar on the left"
When you scroll down to the bottom of the Docs page on the sButtons website, the footer intersects the sidebar list on the left.
<img width="1437" alt="Screen Shot 2021-04-06 at 7 58 37 AM" src="https://user-images.githubusercontent.com/55203882/113732411-6b15d180-96ae-11eb-8e07-52179d64675e.png">

One solution could be to change the height of the sidebar which would initiate the scroll feature si

[2021-04-06 19:14] iyerm2000 commented on #1366
Can others work on this issue as well or is it claimed?

[2021-04-07 06:28] shahednasser commented on #1366
Since @abid1998 hasn't been able to work on it, @iyerm2000 I'll assign you.

[2021-04-07 06:29] shahednasser commented on #1373
Thank you @kcbelford . Would you like to work on it?

[2021-04-07 10:21] iyerm2000 commented on #1366
Great! Thanks - I will be working on this with a partner. Would it be possible to assign her too? Her username is ehowden.

[2021-04-07 10:26] shahednasser commented on #1366
I can't assign someone if they don't comment on here (GitHub does not allow it) so I'll need them to comment as well.

[2021-04-07 12:37] ehowden commented on #1366
Hello! I am iyerm2000's partner!

[2021-04-07 13:05] kcbelford commented on #1373
@shahednasser yes I would love to work on this. Thank you!

[2021-04-07 13:07] shahednasser commented on #1366
Great @ehowden I've assigned you

[2021-04-07 13:08] shahednasser commented on #1373
Great @kcbelford I've assigned you

[2021-04-08 01:24] snapecode commented on #1368
HI @shahednasser , I will attempt to add the animated buttons documentation to the docs page and the readme. If I understand correctly, Ill also be adding the animated description as a level to the sidebar links on the docs page. Where do you think I should put it in the sidebar? (Before DarkMode, after basic buttons, before toggle buttons..??)

You have a bit of an explanation on how to use anima

[2021-04-08 06:38] shahednasser commented on #1368
Hello @snapecode, you can add it before Dark Mode I think it'll be fitting there.

I'll assign you to this issue.

[2021-04-12 07:29] WeryZebra-Yue commented on #1373
Hello, I have a question, I am new to open source, to work on an issue do we need to get assigned or something?

[2021-04-12 08:10] Caleb335 commented on #1373
Hi @WeryZebra-Yue,

Yes you need to be assigned to an issue. You can decide to create one, or pick anyone that is available.

[2021-04-12 19:10] WeryZebra-Yue commented on #1373
Thanks, @Caleb335 for information

[2021-04-13 20:25] carolinekistler commented on #1369
Hi can I be assigned this ? Thanks!

[2021-04-13 22:37] iyerm2000 commented on #1366
Hello - I am currently working on the issue and was wondering which less file contains the styling for the toggle button? Any direction is appreciated!

[2021-04-14 16:32] ehowden commented on #1369
Hi @shahednasser my partner and I have been working on this as well. Easy fix but now we have the same problem of intersecting with the content! @iyerm2000

[2021-04-19 06:16] shahednasser commented on #1366
@iyerm2000 you can find it in /src/components/special/_toggle.less

[2021-04-19 06:17] shahednasser commented on #1369
@carolinekistler I've assigned you

@ehowden since you guys are working on another issue and since someone else commented first I've assigned them first

[2021-04-19 06:18] #1368 closed

[2021-04-19 06:18] #1373 closed

[2021-04-19 06:19] #1369 closed

[2021-04-19 14:19] ehowden commented on #1366
Hello! We picked this repo for a school project, but now that the other issues have been resolved, this project does not fit the scope of the project and we need to focus elsewhere. Therefore, we are unable to continue working on this project, we're sorry! @iyerm2000

[2021-04-20 22:34] andypants888 opened #1378 "Toggle button not fully visible on Firefox"
Hi! I'm Andrew and I'm new to contributing and coding in general so please let me know if I have missed some obvious or common detail. Thank you.

1. Bug description below:

**When using the toggle button feature on Mozilla Firefox, the toggle button is partly hidden along the left/right padding at page-load. Once the user clicks on the toggle button, the full button becomes visible.**

- Partly h

[2021-04-23 12:55] shahednasser commented on #1378
Hello Andrew. Sorry for the late delay and thank you for your interest in contributing to sButtons!

That was a nice catch. I'll assign you to this issue. Let me know if you need any help while working on this.

[2021-04-23 12:56] shahednasser commented on #1366
Alright @ehowden thank you for informing me.

[2021-04-25 14:21] HarshKumarChoudary commented on #1366
I would like to work on this issue. We just have to update the iframe tag to include the xsmall class to make button small, right.

[2021-04-29 21:35] andypants888 commented on #1378
Hi shahed!

No worries at all. I've been working on the issue this week and I've been getting some trouble from the lessc compiler (maybe prettier too)

I planned to make 3 changes to 2 files, in toggle.less and variables.less

When I run npm start, my changes to the .less files are not compiling as expected.  I have tried running npm start before making the changes, but then prettier will loop re

[2021-04-30 00:15] ThePotato10 opened #1379 "[BUTTON IDEA]: Rounded Corners Button"
**1. Name of button**: Rounded Corners Button

**2. Description**: The current rounded button is more pill shaped than I'd like, and so I'm proposing a new button type called the rounded corners button. This button isn't pill shaped, but instead has rounded corners. `border-radius: 10px;` would probably work fine.

**3. Button Type (Animated, Special, etc...)**: Basic

**4. Will you work on it?**:

[2021-05-01 20:15] christopherfanning commented on #1366
Can I take a crack at this issue? I think I have a working solution.

[2021-05-10 10:09] shyam640 commented on #1366
Hey I would like to contribute in this . Is it open now also ?

[2021-05-10 12:35] shahednasser commented on #1378
Hi @andypants888 after making changes to any less file, you just need to run `npm run compile` and commit the changes.

[2021-05-10 12:37] shahednasser commented on #1379
Hello @ThePotato10 thank you for your idea! I suggest instead of adding a new button, we can add helper classes that can change the `border-radius` of rounded buttons. Let me know if this approach suits you and if you can work on it.

[2021-05-10 12:41] shahednasser opened #1383 "Change the website to use the CSS in the repository"
At the moment, the website under `/website` uses the NPM package. This means that changes in submitted PRs cannot be previewed and any changes in sButtons can only be shown if deployed on NPM.

We need to make changes in the website so that instead of using the sButtons NPM package, it uses the files in this GitHub repository.

[2021-05-10 14:09] swetharnaik commented on #1383
Hi @shahednasser Am contributing to open source first time. If you are comfortable with it, can I take this up?

[2021-05-10 14:09] ThePotato10 commented on #1379
That sounds great actually. I'd be happy to work on this. Are you thinking of something kind of like Tailwind for the helper classes?

[2021-05-10 14:42] shahednasser commented on #1379
yea something like that but let's make it simple. Maybe adding a few classes like `rounded-5`, `rounded-10`, etc...

We can also make this a mixin in LESS so that anyone that's using the source files can extend them to add their own variations.

I'll assign you to this issue. Let me know if you need any help.

[2021-05-11 08:10] shahednasser opened #1386 "Fix copy button"
In the Examples page, the copy button for the classes works fine, but it's copying the text as is. It should copy the text and replace all `.` with spaces

[2021-05-11 08:12] shahednasser opened #1387 "Website Description in Google Search"
If you search "sButtons" now, you'll see that the website has the description "You need to enable JavaScript to run this app." We need to replace this with good description.

You'll probably need to use something like [react-snap](https://github.com/stereobooster/react-snap)

[2021-05-11 11:01] #1379 closed

[2021-05-11 13:06] shahednasser opened #1389 "Add documentation for rounded button radius"
We've now added helper classes for rounded buttons that allow changing the border radius. for example, `rounded-btn-5`.

We need to add in the documentation page a section about this and about the helper classes with one example. This should also be added to the README.

[2021-05-11 13:06] shahednasser commented on #1389
@ThePotato10 let me know if you want to work on this

[2021-05-11 13:10] #1383 closed

[2021-05-11 14:12] ThePotato10 commented on #1389
@shahednasser I'll work on this. I'll get started as soon as I can

[2021-05-11 14:31] grimxreaper commented on #1386
Hi there! Would this be a fix in JS? I've been looking through the code base and see that most of the code is written in Less so I figured I would ask in case I could help out with this if you could point me to the file in which the change would be needed. Thank you @shahednasser !

[2021-05-11 15:02] grimxreaper commented on #1386
Awesome! To clarify, is the change requested to go from this copied:
`.sbtn.glow-btn.blue-btn`
to this:
`sbtn glow-btn blue-btn` ?

[2021-05-11 15:08] shahednasser commented on #1386
yes that's what we need. But also you need to be aware that this component is used in different parts of the website, not just in the examples page, so it shouldn't affect its usage elsewhere.

I'll assign you. Let me know if you need any help

[2021-05-11 15:25] grimxreaper commented on #1386
Ah okay, I will check for that.
I'm trying to test my changes but npm start opens a browser page with the message "Cannot GET/" and this message in the terminal. Have you encountered this error before?
<img width="625" alt="Screen Shot 2021-05-11 at 11 17 44 AM" src="https://user-images.githubusercontent.com/64915527/117841967-7cbd3c80-b24b-11eb-9aec-2f5c2cba1dfc.png">

[2021-05-11 19:33] shahednasser commented on #1386
You shouldn't be pushing to the upstream. Please refer to [this](https://github.com/sButtons/sbuttons/blob/master/CONTRIBUTING.md#create-pull-request) section in the contributing guidelines

[2021-05-12 02:36] arunes commented on #1387
I think adding longer meta description tag would fix the issue.

[2021-05-12 06:48] shahednasser commented on #1387
Hello @arunes unfortunately, that's not enough. It's not about the page having description (they already do), the pages need to be prerendered so that when Search engines like google can crawl them correctly

[2021-05-12 06:49] #1386 closed

[2021-05-12 12:42] arunes commented on #1387
Hi @shahednasser, if the sole purpose of this issue to fix description on google. It should be fixed by changing the default meta description on the public/index html.

Right now it is "sButtons"
`<meta name="description" content="sButtons">`

Later filled with react to this;
`<meta name="description" content="Simple buttons you can use easily for your next project.">`

As far as I see all the met

[2021-05-12 14:17] shahednasser commented on #1387
@arunes that's not entirly true, as Google would have used the description "sButtons" instead of what it currently shows, which is something regarding Javascript. This is because Google doesn't necessarily abide by "strictly use the description meta tag" it also crawls the website and sometimes uses the description they find fitting.

For this reason, we need to add pre-rendering for the website.

[2021-05-12 14:34] arunes commented on #1387
@shahednasser If google cannot find anything meaningful on meta description it looks for the page content, which is "You need to enable JavaScript to run this app."

I made it work for my personal website before, this is the search result;

This is the google search result, when you search "photogrado"
![image](https://user-images.githubusercontent.com/2902102/117992537-a25a4c80-b304-11eb-8f65-468

[2021-05-12 14:48] shahednasser commented on #1387
@arunes i understand and it definitely won't harm, but what I'm saying this is not suitable as the only solution, because if Google decides to crawl the website instead of using the description, we'll still have the Javascript description

[2021-05-13 23:49] 0xYoan commented on #1387
Hello, it looks like @arunes is right. Google robot bypass all tags he doesn't find pertinent. Maybe the next most pertinent information after "sButtons" is "You need to enable JavaScript to run this app." on the page. You should try to add to current well-known description of the app into description tag to see if it works.

[2021-05-16 15:14] ashu54-aseem opened #1398 "Correction in punctuations and other small errors in ReadMe"
There are some punctuations and other small mistakes which can be improved. I would like to work on it.
Thanks

[2021-05-17 05:57] shahednasser commented on #1387
@0xYoan we need to change that, but I think we also need to add some pre-rendering to make sure that if Google decides to skip the description for whatever reason, there will be other content. This is also better for the SEO of the website.

[2021-05-17 06:36] shahednasser commented on #1398
Hello @ashu54-aseem thank you for your interest! I will assign you to this issue, but please next time provide an example or two in the issue description.

If possible, please make these changes for the website as well under `website` directory.

[2021-05-18 00:32] #1366 closed

[2021-05-18 01:10] christopherfanning commented on #1366
Not closed, Pull request pending.

[2021-05-18 01:11] christopherfanning commented on #1366
#1399

[2021-05-18 07:07] #1378 closed

[2021-05-19 12:03] ThePotato10 commented on #1389
Hi @shahednasser, sorry for kinda being inactive on this issue, I've had finals last week and this week too, so you can assign this issue to @RR-Sahoo or someone else

[2021-05-19 16:51] christopherfanning commented on #1366
@shahednasser I was still working on this issue, can you please re-open it so the pull request closes it?

[2021-05-20 08:24] ashu54-aseem commented on #1398
Yeah sure

[2021-05-20 08:32] RR-Sahoo commented on #1389
@shahednasser I can work on this issue as my first contribution towards this project.

[2021-05-20 16:26] shahednasser commented on #1389
Sure @RR-Sahoo i'll assign you

[2021-05-20 16:28] #1398 closed

[2021-05-27 13:24] ayushi-2002 commented on #1389
Hey, I am new to open source. I want to work on this issue, let me know if it is possible.

[2021-05-28 18:13] medhavisinha commented on #1387
Hi, @shahednasser
I would like to work on this issue. Is the issue still open?

[2021-05-28 22:33] shahednasser commented on #1387
Hi @medhavisinha sure i'll assign you

[2021-05-28 22:33] shahednasser commented on #1389
As i've assigned @medhavisinha for another issue, I'll assign this one to @ayushi-2002

[2021-05-29 12:38] ayushi-2002 commented on #1389
@shahednasser  can you please help me how to get started with the issue. Since, I am new to it, hence, I don't know much about it.

[2021-05-29 19:00] medhavisinha commented on #1387
@shahednasser thank you :)
I'll get to work on it and once I resolve it, I'll send a pull request.

[2021-05-29 19:30] medhavisinha commented on #1387
@shahednasser, as much as I can see from my side, there is no such issue happening as of right now. Please look into it once and let me know.

[2021-05-29 20:29] shahednasser commented on #1387
@medhavisinha that's because with Google, the description changes depending on what they think is best for the search query.

Can you at least change the description in `website/public/index.html`?

[2021-05-29 20:34] medhavisinha commented on #1387
@shahednasser ah, got it. and yes, definitely i can do that. i'll commit changes and send a pull request once i make changes.

[2021-06-01 15:09] shirishti commented on #1389
hello!
I new to open source but I would like to contribute to it :)
Can I?

[2021-06-01 15:34] shahednasser commented on #1389
Hello @shirishti someone is already working on this. If you can find something else to work on then your contribution is appreciated!

[2021-06-01 19:01] Divyanshj commented on #1389
hey !
i am new to open source and eager to learn more that's why i want to contribute to this issue.
please let me know if I can handle any issue

[2021-06-02 09:31] #1389 closed, assigned to ayushi-2002

[2021-06-02 20:44] Divyanshj commented on #1387
Is this issue still open ?
If no one is working on it then please assign it to me.

[2021-06-03 06:06] shahednasser commented on #1387
Hello @Divyanshj, @medhavisinha is working on it

[2021-06-03 06:08] shahednasser opened #1410 "Change content min height"
In the website, we need to change the `min-height` of class `content` from `70vh` to `75vh`

[2021-06-03 07:10] drchibs commented on #1410
Hi, I'm interested in doing this please

[2021-06-03 08:30] shahednasser commented on #1410
Sure @drchibs I'll assign you

[2021-06-03 14:32] #1410 closed

[2021-06-05 15:00] medhavisinha commented on #1387
@shahednasser I have created a pull request. Please see whether it is right or not, and if it is right, then merge it and let me know. Thank you!

[2021-06-17 13:11] avicii029 opened #1415 "suggestion[BUTTON IDEA]:"
**1. Name of button**:

**2. Description**:

**3. Button Type (Animated, Special, etc...)**:

**4. Will you work on it?**:

[2021-06-17 13:59] shahednasser commented on #1415
Not sure what the purpose of this issue here. Closing it.

[2021-06-17 13:59] #1415 closed

[2021-06-22 06:15] shahednasser commented on #1387
Unassigning @medhavisinha due to inactivity

[2021-07-06 05:51] aaroosh-07 commented on #1387
can I take up this issue @shahednasser ?

[2021-07-06 06:06] aaroosh-07 commented on #1387
@shahednasser I improve the content for meta description tag in index.html

[2021-07-07 15:11] inclinedadarsh opened #1418 "No link to download the CSS file."
There's no link on the entire repository to download the file, or even if there is then it's definitely not easily accessible because I have looked for it for quite a while.

[2021-07-07 15:17] #1387 closed

[2021-07-07 15:19] shahednasser commented on #1418
Hi @inclinedadarsh thank you for submitting this issue. I'm guessing you mean in the README, as there is a link on the website. I think you are correct, a link should be added to the README, specifically in the "Download CSS File" section.

Would you like to work on this?

[2021-07-07 16:10] inclinedadarsh commented on #1418
Sure. Actually I was going to ask. I'll definitely like to work on it. Thank You.

[2021-07-07 16:33] shahednasser commented on #1418
Great, I've assigned you.

[2021-07-07 17:25] inclinedadarsh commented on #1418
Where can I find the link to the website? I've tried searching for it but I can't find it.
I can also add the link to your website in the README file.

[2021-07-07 17:28] shahednasser commented on #1418
the website is at [sbuttons.netlify.app](sbuttons.netlify.app). You can find the download link there. Just add it under "Download CSS File" in the README.

[2021-07-11 16:56] Rovetown commented on #1418
Fixxed the issue, but cant push cause of missing access

[2021-07-15 02:02] MorganGodden opened #1423 "The package.json 'start' script no longer launches a light-server"
Heya!
`npm start` no longer launches a light-server as stated in CONTRIBUTING.md.

This was removed from `package.json` in this commit: 656d144d0f6a8710c631106d524e01a8c1a0c8c7

[2021-07-15 02:17] MorganGodden opened #1424 "Improper hatch icon button transform on events."
**Describe the bug**
- The hatch icon button no longer rotates or shifts the icon inside.

**Expected behavior of what should have happened**
- The inner contents should shift and rotate on a hover event.

**Current**

**Intended**

[2021-07-15 20:24] #1418 closed

[2021-07-15 20:25] shahednasser commented on #1423
Hi @MorganGodden thank you for reporting this! Would you like to work on this issue? Let me know so that I assign you

[2021-07-15 20:27] shahednasser commented on #1424
Thank you for reporting this @MorganGodden . Let me know if you want to work on it

[2021-07-16 07:33] MorganGodden commented on #1424
Sadly, I do not have time to work on #1424 or #1423. Good luck to the person/people who do.

[2021-07-18 06:42] atharva20-coder commented on #1423
Hey!
@shahednasser can I give it a try I have worked on this type issues.

May I try?

[2021-07-18 08:59] shahednasser commented on #1423
Hi @atharva20-coder sure I'll assign you

[2021-07-19 06:12] atharva20-coder commented on #1423
Hello @MorganGodden Can I know what do you get when you run the script.

[2021-07-19 07:37] MorganGodden commented on #1423
Hey @atharva20-coder. Everything in the script runs fine.
See 656d144d0f6a8710c631106d524e01a8c1a0c8c7 for the '_lite_' script - this should be reimplemented, but I do not believe it runs the server correctly in the main directory.

[2021-07-27 07:18] sourrain commented on #1424
Hi, I'm new to GitHub. I would like to work on this issue ~

[2021-07-29 21:15] abimael-o-o commented on #1424
Hello, I am new to open source. Can I work on this?

[2021-07-30 06:44] shahednasser commented on #1424
Sure @abimael-o-o I'll assign you

[2021-07-30 19:38] abimael-o-o commented on #1424
@shahednasser Sorry to ask, but I can't seem to get the app to run, is there something that I might be doing wrong? I followed the instructions on the Readme:

1. Start command:
[code]
This will run sbuttons on a lite server as well as update the CSS in `dist/sbuttons.css` as you make changes.

The problem I'm having is that after I do "npm start" the lite server doesn't show up and I even went to

[2021-08-03 05:59] shahednasser commented on #1424
Hello @abimael-o-o I apologize for the misunderstanding but we have removed the lite server. Now, you'll need to run `npm run compile`, then go into the `website` directory and run `npm start` from there.

[2021-08-03 06:02] #1423 closed

[2021-08-16 02:53] pierrelstan commented on #1424
Hello, can I work on this issue?

[2021-08-16 12:09] ar1hant commented on #1424
Can i work on this issue

[2021-08-16 15:50] Mayank-MP05 commented on #1424
It looks like referencing to the parent by using & is getting referred to caller node itself
hence the styles are not really applied at the hover event fire up

[2021-08-16 15:50] Mayank-MP05 commented on #1424
`_hatch.css` modification in referencing

[2021-08-17 15:15] #1424 closed

[2021-08-20 07:26] RajMhatre20 opened #1438 "[BUTTON IDEA]: Slack Login button"
**1. Name of button**: Login with Slack

**2. Description**: Add a button for the slack community with purple `rgb(74,21,75)`  background and slack logo

**3. Button Type (Animated, Special, etc...)**: Social Button

**4. Will you work on it?**: Yes

[2021-08-21 18:29] shahednasser commented on #1438
Sounds like a good idea @RajMhatre20 thank you for submitting it.

Let me know if you want to work on it.

[2021-08-22 04:51] RajMhatre20 commented on #1438
Yes, I'm willing to work on it.

[2021-08-22 14:15] Ishan2077 commented on #1438
Hi! Can I work on this issue?

[2021-08-22 14:23] RajMhatre20 commented on #1438
Hello @Ishan2077, I've already added the feature which will close this issue. I'm waiting for my pull request to get merged. Keep contributing :)

[2021-08-22 14:27] Ishan2077 commented on #1438
Thanks for your reply @RajMhatre20 ! I'll look out for other issues :)

[2021-08-23 13:26] Anshu-jindal opened #1442 "[BUTTON IDEA]: Spotify Login Button"
**1. Name of button**:  Login with Spotify

**2. Description**:  A button for the Spotify community with #1DB954 as background

**3. Button Type (Animated, Special, etc...)**: Social Button

**4. Will you work on it?**: Yes

[2021-08-23 13:29] Anshu-jindal opened #1443 "[BUTTON IDEA]: Pinterest Login Button"
**1. Name of button**:  Login With Pinterest

**2. Description**:  A button for the Pinterest community with #E60023 as background-color

**3. Button Type (Animated, Special, etc...)**: Social Button

**4. Will you work on it?**: Yes

[2021-08-23 17:27] Anshu-jindal opened #1444 "[BUTTON IDEA]: 3D flip checkbox"
**1. Name of button**:  3D Flip Checkbox

**2. Description**: It will be a checkbox like you can turn it ON or OFF and the change would be visible with a nice animation effect of flip

![Screenshot (411)](https://user-images.githubusercontent.com/62394488/130490715-e6dfa228-b35d-4592-be4e-8809da64385f.png)

**3. Button Type (Animated, Special, etc...)**:  Special Button (Toggle)

**4. Will you wor

[2021-08-24 12:49] #1438 closed

[2021-08-24 12:53] shahednasser commented on #1442
Hello @Anshu-jindal thank you for submitting this idea. Unfortunately, I don't think this one is necessary, as I haven't really seen any website that uses "login with Spotify" (I'm not sure if this is even available in Spotify's API.)

[2021-08-24 12:53] #1442 closed

[2021-08-24 12:55] shahednasser commented on #1443
Hi, thank you for another idea! I don't think there's a necessity login button for Pinterest, but we can add a share button. Usually, for Pinterest, instead it would be a "Save" button or a button with the pin icon.

I'll assign you this issue.

[2021-08-24 12:57] Anshu-jindal commented on #1443
Ok. I will start working on it

[2021-08-24 12:57] shahednasser commented on #1444
Hi @Anshu-jindal thank you for submitting another idea. I think this is a nice idea, however, make sure this is done only through CSS. If possible, add support for checkboxes and radio buttons, if not you can do it just for normal buttons.

You can refer to the toggle button for help on this. If you find it impossible to be done with just CSS, then please let me know.

[2021-08-24 12:58] Anshu-jindal commented on #1444
I will start working on this and if I face any issues I will let you know by today itself.

[2021-08-24 13:00] shahednasser opened #1446 "Add search bar in the examples and documentation pages"
In the [Examples](https://sbuttons.netlify.app/examples) and [documentation](https://sbuttons.netlify.app/documentation) pages, we should add a search bar that allows us to search through the sidebar items. The search bar should be a reusable component that would allow us to use it in any sidebar.

The search bar doesn't need to do anything fancy. Just search through the sidebar items and hide/sho

[2021-08-24 14:45] RajMhatre20 opened #1447 "Login with Microsoft Button has wrong icon"
**1 - Describe the bug**
Login with Microsoft Button in the social section has a Windows OS icon instead of Microsoft.<br>
**2 - Expected behavior of what should have happened (if applicable)**
We have a Microsoft icon in font awesome which can be used here.<br>
**3 - Screenshots (if applicable)**<br>
original state: ![image](https://user-images.githubusercontent.com/68785723/130637276-2c6ed5ca-33

[2021-08-24 14:48] RajMhatre20 commented on #1447
I'm willing to work on this issue and will create a pull request soon.

[2021-08-24 14:55] shahednasser commented on #1447
Nice catch @RajMhatre20 . Assigning the issue to you

[2021-08-24 17:10] varunwho commented on #1446
Hey can I try working on this?

[2021-08-25 10:02] Mahesh-Bauri opened #1451 "Change active state on ( Snake Border button)"
**1 - Describe the bug**
The button doesn't change on **active state** or when clicked on the button.

**2 - Expected behavior of what should have happened (if applicable)**
When we clicked on the button, the border should be removed or the background color changed.

**3 - Screenshots (if applicable)**

**4 - Additional notes**

[2021-08-25 10:43] gursparsh commented on #1446
Hi! I would like to try working on
 this issue.

[2021-08-25 14:11] shahednasser commented on #1446
I'll assign @varunwho for commenting first. Thank you both.

[2021-08-25 14:12] #1447 closed

[2021-08-25 14:14] shahednasser commented on #1451
Hi @Mahesh-Bauri thank you for submitting this. I don't consider this as a bug, since the button is intended to be this way. However, if you have a better idea on how the button should be on active state and would like to work on it, please let me know.

[2021-08-28 07:39] RajMhatre20 opened #1459 "Special Button: Toggle (on and off) button"
**1 - Describe the bug**<br>
The toggle button on the website has two sections ON and OFF, both of them have incorrect representation

**2 - Expected behavior of what should have happened (if applicable)**<br>
First of all, we don't need two different sections to display on and off (i.e instead of **.sbtn.toggle-btn.toggle-on-btn** and **.sbtn. toggle-btn.toggle-off-btn** we can only have **sbtn.t

[2021-08-30 10:09] aviral14112001 opened #1460 "Heading on Front Page"
On the front page of the site  ( sbuttons.netlify.app/) the line  "Simple and Creative buttons with sButtons." is underlined. People's general mentality is that if something is underlined it must be some kind of hyperlink it will be better if we just remove the underline and make the heading more stylish. That will make it more  user friendly

[2021-08-30 11:08] shahednasser commented on #1459
Thank you for reporting this! I've checked it and the problem is with the class `toggle-on-btn` in particular.

Let me know if you would like to work on it..

[2021-08-30 11:09] shahednasser commented on #1460
Hmm I get what you are saying. Do you have any style in mind? If so, please let me know so I can assign you the issue and you can submit a PR with it.

[2021-08-30 11:41] harsh-gulati-14 opened #1461 "[BUTTON IDEA]: Dropbox Login button"
**1. Name of button**:  Login with Dropbox

**2. Description**: Add a button for the Dropbox community with blue `rgb(20,20,252)` background and Dropbox logo.

**3. Button Type (Animated, Special, etc...)**: Social Button

**4. Will you work on it?**: Yes

[2021-08-30 14:01] shahednasser commented on #1461
Hi, @harsh-gulati-14 . Thank you for submitting this button idea. I'll assign you.

[2021-08-30 17:49] RajaduraiAz commented on #1459
Hi @shahednasser I like to work on this

[2021-08-31 08:50] aviral14112001 commented on #1460
![Screenshot from 2021-08-31 14-18-23](https://user-images.githubusercontent.com/75156752/131472276-d68c0a43-f5e1-4e06-9a8a-089a78e51bcc.png)
I came up with this style . Its looks simple and shower,  I tried to match the color of text with the site logo if you have any preferences for color let me know

[2021-09-03 09:25] varunwho commented on #1446
working on it

[2021-09-04 12:13] shahednasser commented on #1460
Looks nice. Please submit a PR with it.

[2021-09-04 12:20] shahednasser commented on #1444
Hi @Anshu-jindal are you still working on this?

[2021-09-04 12:21] #1444 closed

[2021-09-04 12:22] shahednasser commented on #1446
Thank you for the update @varunwho

[2021-09-06 07:43] #1459 closed

[2021-09-07 04:30] #1461 closed

[2021-09-07 13:06] varunwho commented on #1446
I'm having a doubt as to how do I filter the search bar in this? Normally I know if there's any array we can use the filter method or something, so here can you give some hints or some light as to how do I implement it.
(I saw that you've used Sidebarlink text attribute for that)

[2021-09-08 11:02] shahednasser commented on #1446
That's true, thank you for pointing it out.

I think this can be done by creating a new state in `Sidebar` with initial value as the prop `children`. Then, when the search input's value changes, you traverse the `children` array, check the value of the `text` prop like this:

[code]

check if the text contains the query entered in the input. Basically, filter out the elements in the children array

[2021-09-08 16:43] varunwho commented on #1446
I'll try, thanks

[2021-09-12 08:16] shahednasser opened #1472 "Icon slide animation inside the button"
### Discussed in https://github.com/sButtons/sbuttons/discussions/1470

<div type='discussions-op-text'>

<sup>Originally posted by **naveensunkara** September 10, 2021</sup>
This is a suggestion I thought it might be a good option. There are lot of scenarios where the buttons will have an icon. Simple animations on the icon will enhance the UX. I just tried one of the effect. Looking forward for

[2021-09-12 08:16] shahednasser commented on #1472
@naveensunkara let me know if you want to work on this

[2021-09-12 08:18] shahednasser commented on #1460
hi @aviral14112001 any update on this?

[2021-09-12 08:20] aviral14112001 commented on #1460
I will submit  PR today,  due to college  work I was very  busy  in last  few days

[2021-09-12 15:21] naveensunkara commented on #1472
Thanks @shahednasser  for the feedback. I am interested to work on this. I will create a PR once its done.

[2021-09-12 17:08] shahednasser commented on #1472
Great @naveensunkara I've assigned you

[2021-09-14 18:43] naveensunkara commented on #1472
Hi @shahednasser ,

I have created a PR for this issue. Kindly let me know if I have followed the right process.
https://github.com/sButtons/sbuttons/pull/1475

[2021-09-14 19:44] #1472 closed

[2021-09-14 19:51] shahednasser opened #1478 "Fix Alphabetical Order for Icons Listing in Website"
on the website under the examples page, the links under Icons are not sorted alphabetically. Their order should be changed in `website/src/data/buttons.json`.

The task is easy, you just need to reorder the JSON data for these items in alphabetical order.

[2021-09-16 07:15] shahednasser commented on #1446
Hello @varunwho any update on this?

[2021-09-16 10:55] #1478 closed

[2021-09-17 10:27] varunwho commented on #1446
I'm trying but actually stuck rn, give me 1-2 days. I'll try to do it

[2021-09-20 17:34] varunwho commented on #1446
@shahednasser  I've done almost 90% of the work, just stuck on the remaining 10%. will try to do it tomorrow itself

[2021-09-21 06:06] varunwho commented on #1446
@shahednasser the search filter thing is working perfectly on the docs page but the Examples page has a different logic in rendering the sidebar I think so, I'll have to see to it

[2021-09-21 10:15] varunwho commented on #1446
The filtering is not working in the example page, rest everything else is working. I'll make a PR, can you have a look?

[2021-09-22 13:01] DurveshKumarPal commented on #1255
Can I contribute to this project?

[2021-09-22 17:40] shahednasser commented on #1255
Hello @DurveshKumarPal of course you can! You can either by working on one of the open unassigned issues, submitting a new issue for a new button idea, enhancement, or bug fix.

This issue in particular is about adding projects that use sButtons to our website. So, if you have any submissions you can create a PR as detailed in the [contributing guidelines](https://github.com/sButtons/sbuttons/blob

[2021-09-23 15:54] CodeWithBlaze commented on #1446
Hey I am absolutely new to open source but I have worked with react and want to contribute . Can you assign me this issue please.

[2021-09-23 16:38] #1460 closed

[2021-09-23 16:41] shahednasser commented on #1446
Hello @CodeWithBlaze sorry but @varunwho is currently working on this. You can work on any other open issue, create an issue for a bug or enhancement whether on the website or in one of the buttons, or submit a new button idea you'd like to implement.

[2021-09-23 17:07] CodeWithBlaze commented on #1446
Okkk no problem thanx for the reply😀

[2021-09-27 16:03] adarshnjena commented on #1255
Can I work on this issue ?

[2021-09-27 17:26] shahednasser commented on #1255
Hello @adarshnjena thank you for your interest in contributing to sButtons. This issue is an issue that is always open and it means submitting new entries for projects that are using sButton.

If you know of a project that is using sButtons and you want to add it, then please go ahead!

[2021-09-29 13:39] harmanpreet7916 commented on #1255
Hello! I am a beginner and I want to work on this issue. please help me to know more about the  issue

[2021-09-29 13:56] shahednasser commented on #1255
Hello @harmanpreet7916 thank you for your interest! Please refer to the previous comment on this thread.

[2021-10-01 03:53] RajMhatre20 opened #1486 "[BUTTON IDEA]: Login with Amazon"
**1. Name of button**:  Login with Amazon

**2. Description**:  We can add login with amazon button with simple background color: #FF9900 (amazon orange) or we can also add linear-gradient from top to bottom which would look like this
![image](https://user-images.githubusercontent.com/68785723/135563823-010225a3-f81c-449a-9c62-2ca53b9b6dfe.png)
Tell me which one to go with and I would start workin

[2021-10-01 04:33] imhossen commented on #1486
Hi, You can set the default background-color: #FF9900. the idea is you can add any fancy animation stuff with linear gradient background when someone hovers your button.

[2021-10-01 07:16] elishahyousaf commented on #1486
I think adding a linear gradient from top to bottom is better idea. Black and Amazon Orange.

[2021-10-01 07:48] RajMhatre20 commented on #1486
Thank you @imhossen for the suggestion I like your idea, but in the social category none of the buttons have hover functionality, so it would be a bit odd if this button has it., so I think I would be adding a basic linear-gradient background as you and @elishahyousaf suggested.
Thank you both of you

[2021-10-01 08:42] shahednasser commented on #1446
Hello @varunwho any update on this?

[2021-10-01 08:52] shahednasser commented on #1486
Hi @RajMhatre20 thank you for submitting it, and thank you @imhossen and @elishahyousaf for your ideas.

I think as @RajMhatre20 it's best to make sure the button aligns with other social buttons styles, so please keep that in mind when working on it.

I'm assigning you @RajMhatre20

[2021-10-01 09:50] varunwho commented on #1446
I'm not able to do the useEffect part

[2021-10-01 10:11] shahednasser commented on #1446
Do you need more time or should I assign someone else on it?

[2021-10-01 10:26] varunwho commented on #1446
Some more time, if it's okay with you (like a day or two)

[2021-10-01 10:58] shahednasser commented on #1446
sure let me know how it goes @varunwho

[2021-10-01 15:42] manan-shxrma commented on #1446
@shahednasser I have a piece of code that helps to sort out items in the search bar according to the user's entered text.

[2021-10-01 23:55] #1486 closed

[2021-10-02 00:11] shahednasser commented on #1446
hello @manan-shxrma thank you for your interest. I'm still giving @varunwho a shot to finish this. If you're interested on working on other issues, submitting new issues or new button ideas then please go ahead!

[2021-10-02 09:09] shahednasser commented on #1446
Hello @manan-shxrma would you like to work on this?

[2021-10-02 13:35] RajMhatre20 opened #1490 "[BUTTON IDEA]: Pay with buttons"
**1. Name of button**: Pay with (icons)

**2. Description**: We can add a new category for Pay with / Continue with buttons.
 e.g. Pay with (Gpay icon), Pay with (Paypal icon).

**3. Button Type (Animated, Special, etc...)**: Payment Buttons

**4. Will you work on it?**: Yes, I want to work on it

[2021-10-03 02:48] jazibobs commented on #1446
I'm available to work on this if needed, I have a few days off work this week.

[2021-10-03 04:56] sid-khuntwal commented on #1490
Can I work on this issue?

[2021-10-03 15:04] shahednasser commented on #1446
Hello @jazibobs I'll assign you

[2021-10-03 15:10] shahednasser commented on #1490
That's a good idea @RajMhatre20 . Yes, I think it's best to add it as a new button type.

How about you start by creating the new type and adding one button of your choice in it. Try to use the Social buttons as a template on how to create a new button type.

Once that is done, @sid-khuntwal you can then add new buttons if you want under this new type.

[2021-10-03 16:08] sid-khuntwal commented on #1490
sure!

[2021-10-04 08:51] #1490 closed

[2021-10-04 09:31] #1446 closed

[2021-10-04 09:32] shahednasser commented on #1490
Hello @sid-khuntwal the payment button types has now been added. If you have an idea for a button to go into this category please submit a new issue with it and once approved and assigned you can work on it.

[2021-10-04 09:53] RajMhatre20 opened #1498 "[BUTTON IDEA]: Payment buttons"
**1. Name of button**:
- [x] #1500
- [x] #1499
- [x] #1501
- [x] #1502
- [x] #1503
- [x] #1504
- [x] #1505

**2. Description**: These are some of the buttons that can be added to the payment category.

**3. Button Type (Animated, Special, etc...)**: Payment button

**4. Will you work on it?**: No

[2021-10-04 09:58] RajMhatre20 commented on #1490
Hello @sid-khuntwal, I've created a new issue with button ideas. If you want you can work on it.

[2021-10-04 10:01] mrSidSat commented on #1498
Can I work on this issue...

[2021-10-04 10:31] shahednasser commented on #1498
Hi @mrSidSat sure but please pick one

[2021-10-04 10:40] mrSidSat commented on #1498
I would like to proceed with apple Pay button

[2021-10-04 10:53] RajMhatre20 commented on #1498
Hi @shahednasser, Should I convert each button to a separate issue?

[2021-10-04 12:30] shahednasser opened #1499 "Apple Pay"

[2021-10-04 12:31] shahednasser commented on #1498
Don't worry @RajMhatre20 I'll take care of that.

@mrSidSat please comment on the issue [here](https://github.com/sButtons/sbuttons/issues/1499) to get assigned.

[2021-10-04 12:31] shahednasser opened #1500 "Amazon Pay"

[2021-10-04 12:32] shahednasser opened #1501 "Paypal"

[2021-10-04 12:32] shahednasser opened #1502 "Bitcoin"

[2021-10-04 12:33] shahednasser opened #1503 "Ethereum"

[2021-10-04 12:33] shahednasser opened #1504 "Mastercard"

[2021-10-04 12:34] shahednasser opened #1505 "Visa"

[2021-10-04 14:32] sid-khuntwal commented on #1490
I am on it  @RajMhatre20

[2021-10-04 14:33] sid-khuntwal commented on #1500
I am working on this @RajMhatre20

[2021-10-04 15:07] AJIT-KUMAR-PANDIT commented on #1503
Hello @shahednasser , Can I work on this issue.

[2021-10-04 16:26] mrSidSat commented on #1499
i am interested to work on this issue

[2021-10-04 16:51] imtheu commented on #1504
Hey @shahednasser, I am interested to work on this issue, can you assign it to me?

[2021-10-04 17:03] lejara commented on #1505
hello!

may i work on this?

[2021-10-04 18:01] bhavesh1129 commented on #1502
Hey can you provide some more details regarding this issue?

[2021-10-04 18:02] anoushkagera commented on #1502
Hi, can I work on this issue?

[2021-10-04 18:32] reastyn commented on #1499
I am sorry, I've started working on it before I've seen your comment.

[2021-10-04 18:47] mrSidSat commented on #1501
I am interested to work on this issue

[2021-10-05 10:34] mrSidSat commented on #1498
i am interested to work on mastercard button

[2021-10-05 10:54] nikunj2001 commented on #1498
i am intrested to work on this

[2021-10-05 11:35] shahednasser commented on #1503
Sure I'll assign you @AJIT-KUMAR-PANDIT

[2021-10-05 11:39] shahednasser commented on #1504
Sure @imtheu I'll assign you

[2021-10-05 11:40] shahednasser commented on #1505
Hello @lejara I'll assign you

[2021-10-05 11:41] shahednasser commented on #1502
Hi @bhavesh1129 you can read about this issue in [the original issue](https://github.com/sButtons/sbuttons/issues/1498). There a lot of other similar issues, so I'll assign @anoushkagera for this for now.

[2021-10-05 11:42] shahednasser commented on #1499
Hi @reastyn unfortunately @mrSidSat was planning to work on this ahead of time and I was late to assign him. I'll label your PR as `hacktoberfest-accepted` but I'll have to close it. Thank you for your work!

[2021-10-05 11:43] shahednasser commented on #1499
As @mrSidSat worked on PayPal I'll assign @reastyn for this one

[2021-10-05 12:02] shahednasser commented on #1498
Hello @nikunj2001 please comment on the issue of one of the buttons from above and you'll be assigned to it if no one else is.

[2021-10-05 14:38] void-hr commented on #1500
Hi @shahednasser I am new to opensource and want to contribute. Kindly guide me through the process.

[2021-10-05 14:49] TD-17 commented on #1502
Hey @shahednasser ! Can I work on this issue ?

[2021-10-05 16:16] mayankmohak opened #1509 "[BUTTON IDEA]: PhonePe in Payment Buttons"
**1. Name of button**:  Phone

**2. Description**: Add PhonePe payment button

**3. Button Type (Animated, Special, etc...)**: Payment Button

**4. Will you work on it?**: Yes for sure.

[2021-10-05 16:18] mayankmohak opened #1510 "Paytm"
**1. Name of button**: Paytm

**2. Description**: Paytm Payment button

**3. Button Type (Animated, Special, etc...)**: Payment Button

**4. Will you work on it?**: Yeas for sure.

[2021-10-05 16:19] mayankmohak commented on #1510
Please assign it to me.

[2021-10-05 16:20] mayankmohak commented on #1498
@RajMhatre20 @shahednasser i have few more payment button ideas of PhonePe #1509 and paytm #1510

[2021-10-05 16:21] mayankmohak commented on #1509
Please assign it to me.

[2021-10-05 16:59] mrSidSat opened #1512 "Improving Home Page"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Some sort of animations on the hero component ,some hover or transition effects on the links and much more

**Additional notes**
I would like to work on this.

[2021-10-05 18:03] mayankmohak opened #1513 "changes on get updated on website."
**1 - Describe the bug**
Changes are not being updated on the website.
Because `dist/sbuttons.min.css` file is not being updated

**2 - Expected behavior of what should have happened (if applicable)**
compiled file make changes in the `sbuttons.min` file so to make changes properly it should also change file `sbuttons.min.css`

**3 - Screenshots (if applicable)**
NA

**4 - Additional notes**
I was

[2021-10-05 18:47] shahednasser commented on #1500
Hi @void-hr you need to find an unassigned issue you think you can work on. Then, comment on that issue and I'll assign you.

To understand how to contribute to this repository, you need to read the [contributing guidelines](https://github.com/sButtons/sbuttons/blob/d7d0f89ed67b92c7baa94bb148b5c69248d80fa2/CONTRIBUTING.md)

[2021-10-05 18:47] shahednasser commented on #1502
Hi @TD-17 please find an unassigned issue to work on

[2021-10-05 18:53] shahednasser commented on #1510
Sure I'll assign you

[2021-10-05 18:54] shahednasser commented on #1509
Sure I've assigned you @mayankmohak

[2021-10-05 18:58] shahednasser commented on #1512
Hi @mrSidSat , you can work on this however I don't guarantee it will be merged before I actually see if it looks good or not.

[2021-10-05 19:11] shahednasser commented on #1513
Hi @mayankmohak this is actually not a bug. This is because in the contributing guidelines it states that you only need to run `npm run compile`. However, after changing the website and using `sbuttons.min.css` from the repository, you also need to run `npm run clean-css`.

I think we should change the issue to fix the contributing guidelines instead to add a note about this. I'll close this issue

[2021-10-05 19:11] #1513 closed

[2021-10-05 19:13] shahednasser opened #1514 "Changes to contributing guidelines"
There's a part in the contributing guidlines that is outdated as reported by @mayankmohak in #1513 .

In the following section:

https://github.com/sButtons/sbuttons/blob/d7d0f89ed67b92c7baa94bb148b5c69248d80fa2/CONTRIBUTING.md#L47-L49

We need to also add that the contributor has to run the command `npm run clean-css` along with `npm run compile`.

[2021-10-05 19:20] mayankmohak commented on #1514
Please Assign it to me under hactoberfest label.

[2021-10-05 19:21] shahednasser commented on #1514
@mayankmohak thank you for catching this but if it's ok with you can we leave for it for beginners as this is an easy task?

[2021-10-05 19:23] #1499 closed

[2021-10-05 20:54] demiGod31 commented on #1514
Hello @shahednasser , Can I take this up? I am new to open source and figuring out a way to contribute

[2021-10-06 17:14] shahednasser commented on #1514
Sure @demiGod31 I'll assign you

[2021-10-06 17:21] #1505 closed

[2021-10-06 17:26] shahednasser commented on #1501
Sorry @Linta-Iqbal someone is already assigned.

[2021-10-06 17:27] shahednasser commented on #1504
Sorry @Linta-Iqbal someone is already working on this. Please find an unassigned issue.

[2021-10-06 17:38] #1501 closed

[2021-10-06 17:44] mrSidSat opened #1519 "bundle the npm run clean-css command along with npm start"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
run both the commands npm run compile and npm run clean-css (which would look for changes in sbuttons.css) simultaneously with the command npm start which would indeed facilitate faster development.

**Additional notes**
I would like to work on this.

[2021-10-07 00:31] #1255 closed

[2021-10-07 03:17] mayankmohak commented on #1514
@shahednasser no issues.
It will be a great issue for biginners they will get more chance to understand contributing guidlines.

[2021-10-07 08:51] mayankmohak commented on #1509
Made desired changes please review it

[2021-10-07 17:09] shahednasser commented on #1519
Hi @mrSidSat that's a nice suggestion.

I think instead of changing `start` we should add a new script `build` which would perform both commands.

You need to also change the contributing guidelines in this part:

https://github.com/sButtons/sbuttons/blob/d423a5cda790660588e13921f6841d1772be7e23/CONTRIBUTING.md#L47-L50

Replace it with just using the new build command.

I'll assign you for this

[2021-10-07 17:17] #1514 closed

[2021-10-08 07:12] Bunny77K9 commented on #1255
I would like to work on this issue. Can you assign me to it?

[2021-10-08 07:45] imsikun opened #1528 "[BUTTON IDEA]:"
**1. Name of button**: PlayStore & Appstore

**2. Description**: Download from PlayStore & AppStore

**3. Button Type (Animated, Special, etc...)**:PlayStore & AppStore

**4. Will you work on it?**:Yes for sure

[2021-10-08 08:38] anjali1102 opened #1529 "[BUTTON IDEA]:"
**1. Name of button**:
Social Media Button

**2. Description**:
Button with icon on it.
like Instagram button with Instagram icon on it.

**3. Button Type (Animated, Special, etc...)**:
On hover, color fade

**4. Will you work on it?**:
yes, would love to work on it
Everything is ready, as you approve it, I will give PR

[2021-10-08 16:20] shahednasser commented on #1528
Thank you for your idea @imsikun . Due to certain guidelines when it comes to these buttons, as these buttons are usually images downloaded from Google or Apple, I think it's best if you don't add them.

[2021-10-08 16:21] #1529 closed, assigned to nobody

[2021-10-08 17:12] #1503 closed

[2021-10-08 17:14] mayankmohak commented on #1500
@shahednasser is the issue still alive

[2021-10-09 04:56] mayankmohak commented on #1500
done the required changes please review it. #1532

[2021-10-09 05:01] siddharthPriyadarshi commented on #1504
Can I contribute to this ?

[2021-10-09 08:29] shahednasser commented on #1504
Hello @imtheu are you still working on this?

[2021-10-09 08:31] #1500 closed

[2021-10-10 05:05] mayankmohak opened #1535 "Change look of search button"
**1 - Describe the bug**
Look of the Search Button on side bar.
**2 - Expected behavior of what should have happened (if applicable)**

**3 - Screenshots (if applicable)**
![image](https://user-images.githubusercontent.com/63801800/136683011-d2d9f8e3-506f-49ea-b342-148785397990.png)

**4 - Additional notes**
Change look of the button as it is invisible on dark mode.

[2021-10-10 10:14] surajondev commented on #1535
Hey, I would love to work on this issue.

[2021-10-10 11:17] mayankmohak commented on #1535
@surajondev please find another issue. I have opened it for mine hacktoberfest PR.

[2021-10-10 12:40] surajondev commented on #1535
Go on, No problem.

[2021-10-10 15:04] palespectre commented on #1502
Hey @shahednasser, i'd be glad to work on this issue if you have no news from @anoushkagera  :)

[2021-10-11 19:03] hritik2002 commented on #1504
Is anyone still working on this issue ?
I would love to contribute on this issue .

[2021-10-15 14:16] #1519 closed

[2021-10-15 14:21] #1504 closed

[2021-10-16 13:17] adsingh14 commented on #1512
Hi there! Does this ad looks good while overlaps the content ?
![image](https://user-images.githubusercontent.com/35252877/137589063-9a86ba71-8c0a-4ff7-8196-9052233359a4.png)

[2021-10-16 13:37] mrSidSat commented on #1512
The work is at halt currently , but I would make the improvements soon

[2021-10-16 13:42] adsingh14 opened #1543 "UI/UX Refractor"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
This issue is related to UI/UX of website not buttons.

**Additional notes**
Here are a few changes to be made.
1.  Does this ad looks good while overlaps the content ?
![image](https://user-images.githubusercontent.com/35252877/137589063-9a86ba71-8c0a-4ff7-8196-9052233359a4.png)

2. Banner

[2021-10-17 07:03] adsingh14 commented on #1543
Ad should placed on the right side of banner text.

[2021-10-17 13:16] #1502 closed

[2021-10-17 13:16] #1498 closed

[2021-10-17 14:30] adsingh14 commented on #1543
Yes, documentation sidebar width could decrease too OR place the ad on bottom-left corner.

[2021-10-17 14:31] adsingh14 commented on #1543
Yes, documentation sidebar width can be decreased and place the ad below it corner.

[2021-10-18 12:30] mayankmohak opened #1547 "[BUTTON IDEA]: Dislike Buttons in icon Buttons"
**1. Name of button**:
Dislike button in Icon Button.
**2. Description**:

**3. Button Type (Animated, Special, etc...)**:

**4. Will you work on it?**:
Yes

[2021-10-18 14:57] mayankmohak commented on #1547
No its just the same, but if there is a like there must be dislike button.
So that it is easy to use.

[2021-10-19 16:09] I-ArchanaDash opened #1549 "[BUTTON IDEA]: Login with Sawo Labs"
**1. Name of button**:  Login with Sawo Labs

**2. Description**: Sawo is a user authentication tool and trending nowadays.

**3. Button Type (Animated, Special, etc...)**: Login Button

**4. Will you work on it?**: Yes , I want to add it in the button examples

[2021-10-19 19:54] shahednasser commented on #1549
Hello @I-ArchanaDash I'll assign you

[2021-10-20 02:41] ComixRu opened #1550 "[BUTTON IDEA]: Login with VK"
**1. Name of button**:  Login with VK

**2. Description**:  VK is most popular russian social network

**3. Button Type (Animated, Special, etc...)**: Login button

**4. Will you work on it?**: Yes

[2021-10-20 02:46] bogdan-ts opened #1551 "[BUTTON IDEA]: Pay with Stripe button"
**1. Name of button**: Pay with Stripe button

**2. Description**: Stripe is popular payment service

**3. Button Type (Animated, Special, etc...)**: Payment Button

**4. Will you work on it?**: Yes

[2021-10-21 10:37] #1551 closed, assigned to bogdan-ts

[2021-10-21 23:43] ComixRu opened #1558 "Change color of login with reddit button"
**1 - Describe the bug** Now, login with reddit button has wrong bg color (#e00), but according [this page](https://www.reddit.com/r/RedesignHelp/comments/84c6bl/official_reddit_brand_hex_color_codes/) it should be #FF4500

**2 - Expected behavior of what should have happened (if applicable)** bg color should be changed to color from reddit brand book

**3 - Screenshots (if applicable)** -

**4 -

[2021-10-24 00:29] #1512 closed

[2021-10-28 02:42] nisarga-kh opened #1563 "[BUTTON IDEA]:"
**1. Name of button**:  Anticlockwise rotating button

**2. Description**:  The buttons rotate in anticlockwise direction when hovered on them

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: Yes

[2021-10-29 12:33] adsingh14 opened #1565 "Migrate from master to main branch."
**Is your feature request related to a problem? Please describe.**
Since Oct 2020, GitHub started using 'main' instead of 'master' branch.

**Describe the solution you'd like**
Refer.: #1564

**Additional notes**

It'd be better to set new branch to 'main'.

[2021-10-29 13:45] #1565 closed, assigned to nobody

[2021-10-31 12:52] nisarga-kh commented on #1563
@shahednasser  I created a .less file in src for my button and even committed it and pushed it in my forked repo.  I also added my button in buttons.json file in website/src and also pushed it . How do I add my button in sbuttons.css and sbuttons.min.css file??

[2021-10-31 15:35] naahi-rihan opened #1566 "[BUTTON IDEA]:"
**1. Name of button**:

**2. Description**:

**3. Button Type (Animated, Special, etc...)**:

**4. Will you work on it?**:

[2021-11-01 03:44] #1543 closed

[2021-11-02 08:49] shahednasser commented on #1563
@nisarga-kh you need to run `npm run build`. Please read the [contributing guidelines](https://github.com/sButtons/sbuttons/blob/f17d57a341f3e40c3443f10f80bd9c1b7ca0c950/CONTRIBUTING.md)

[2021-11-02 08:50] shahednasser commented on #1566
@naahi-rihan there are no info in this issue so I'm closing it. Please open a new one with more details.

[2021-11-02 08:50] #1566 closed

[2021-11-03 00:28] #1549 closed

[2021-11-03 04:42] nisarga-kh commented on #1563
Okay I will go through it. Thank you @shahednasser

[2021-11-07 11:26] dev-arminder opened #1568 "Problem with Paper Curl Effect in Animated button"
I am **_new to open source_** and this gonna be my first issue I have found in paper curl animated button.

**1. If you tries to hover over paper curl button from bottom right corner. It just keep vibrating and changing state between curl and no curl state.**

**2. There should be no hover effect for non visible part of button as well as on curl part of button.**

I am happy to work on this issue.

[2021-11-08 16:33] shahednasser commented on #1568
Thank you for reporting this @dev-arminder I have assigned you

[2021-11-08 16:34] dev-arminder commented on #1568
Thanks @shahednasser. It's my pleasure to be part of this open source community.

[2021-11-18 00:29] #1563 closed

[2021-11-21 16:38] khanjanSanghavi opened #1574 "formatting the codes"
### Discussed in https://github.com/sButtons/sbuttons/discussions/1573

<div type='discussions-op-text'>

<sup>Originally posted by **khanjanSanghavi** November 21, 2021</sup>
In this 3 files the code was not formatted properly
 1)  dist/sbuttons.min.css
    2) package-lock.json
         3)package.json

So I decided to do it to help this community grow

hope maintainers will accept it </div>

[2021-11-24 00:29] #1568 closed

[2021-12-04 23:19] shahednasser commented on #1574
Thank you for opening an issue with this @khanjanSanghavi but these files don't need formatting.

[2021-12-04 23:19] #1574 closed

[2021-12-11 14:52] antonioo-c opened #1577 "[BUTTON IDEA]: Alipay payment button"
**1. Name of button**:
Alipay
**2. Description**:
Alipay is now being used in many countries, I think it would be good for us to add this up.
**3. Button Type (Animated, Special, etc...)**:
Payment
**4. Will you work on it?**:
yes

[2021-12-11 16:06] antonioo-c opened #1578 "[BUTTON IDEA]: Wechat"
**1. Name of button**:
wechat
**2. Description**:
largest social media platform in China
**3. Button Type (Animated, Special, etc...)**:
social
**4. Will you work on it?**:
yes

[2021-12-11 16:07] antonioo-c opened #1579 "[BUTTON IDEA]: Wechat-pay"
**1. Name of button**:
wechat-pay
**2. Description**:
payment by wechat
**3. Button Type (Animated, Special, etc...)**:
payment
**4. Will you work on it?**:
yes

[2021-12-11 16:08] antonioo-c opened #1580 "[BUTTON IDEA]: QQ"
**1. Name of button**:
qq
**2. Description**:
second largest social media platform in China
**3. Button Type (Animated, Special, etc...)**:
social
**4. Will you work on it?**:
yes

[2021-12-18 13:12] shahednasser commented on #1577
Sorry for the late reply @antonioo-c I'll assign you

[2021-12-20 03:35] igibek opened #1582 "[Security] Workflow stale.yml is using vulnerable action actions/stale"
The workflow stale.yml is referencing action actions/stale using references v1. However this reference is missing the commit [af4072615903a8b031f986d25b1ae3bf45ec44d4](https://github.com/actions/stale/commits/af4072615903a8b031f986d25b1ae3bf45ec44d4) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upgrad

[2021-12-20 16:52] shahednasser commented on #1582
Hi @igibek thank you so much for reporting this. Would you like to work on it?

[2021-12-28 11:17] #1582 closed

[2022-01-01 16:59] #1577 closed

[2022-01-01 16:59] #1578 closed

[2022-01-01 16:59] #1579 closed

[2022-01-01 16:59] #1580 closed

[2022-01-01 17:01] shahednasser opened #1584 "Organize the payment buttons alphabetically"
The payment buttons on the website are not organized alphabetically. This should be fixed in `website/src/data/buttons.json`

[2022-01-02 16:24] lucadido06 commented on #1584
I can work on this

[2022-01-02 16:31] lucadido06 commented on #1584
i can work on this

[2022-01-03 12:31] #1584 closed

[2022-01-18 16:32] angetheo-auth opened #1593 "[BUTTON IDEA]: Align button"
**1. Name of button**:  Align

**2. Description**:  the button has a black frame and a colored box that aligns when hovered on, example attached

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: Yes

![image](https://user-images.githubusercontent.com/56256385/149978327-f3a1194f-4141-4a01-a1f9-68b660898f89.png)

[2022-01-19 08:49] shahednasser commented on #1593
That looks great @angetheo-auth you can work on it, but try to find a better name for it!

[2022-01-25 07:21] ginabeki commented on #1255
I would like to work on this issue

[2022-01-25 10:11] shahednasser commented on #1255
Hi @ginabeki if you know of any projects using sButtons you can always send a PR to add them. You can refer to the [contributing guidelines](https://github.com/sButtons/sbuttons/blob/23a4ca8114c36b56bfafc94219578e27793cee2c/CONTRIBUTING.md) to learn how to do that.

[2022-01-25 10:29] shahednasser opened #1600 "Fix text color for White Neon Border Button in Dark Mode"
In dark mode, the white [Neon Border](https://sbuttons.netlify.app/examples#neon-border) button has a dark text color. It should be white.

[2022-01-25 18:48] angetheo-auth opened #1601 "layered button not showing on website"
**1 - the layered button doesnt show up on the website, or in the preview on the pull request**

**2 - this morning the button was working correctly, no changes have been made to my knowledge**

this is from my local code:
![image](https://user-images.githubusercontent.com/56256385/151038966-99a6fd3f-701e-4e0f-b74e-b09946ab6815.png)

and this is from the website:
![image](https://user-images.githu

[2022-01-25 23:20] anngedeus commented on #1600
@shahednasser I would love to work on this

[2022-01-26 01:53] anngedeus commented on #1600
Can you please elaborate more on the issue?

[2022-01-26 08:10] shahednasser commented on #1600
Hi @anngedeus , The white neon border button in dark mode should have its text as white. You can test it out by clicking on the sun icon in the navbar. Now, when it's dark mode the text is black but it should be white.

I'll assign you. Please check the [contributing guidelines](https://github.com/sButtons/sbuttons/blob/dd2652b48903e804a456f4c93761b3a1796fd032/CONTRIBUTING.md) for more details

[2022-01-26 08:23] shahednasser commented on #1601
Hi @angetheo-auth there was actually an issue in the website deploy that caused this. It's now fixed. Thank you for letting me know!

[2022-01-26 08:23] #1601 closed

[2022-01-27 02:28] anngedeus commented on #1600
@shahednasser I'm unable to test my changes following the instructions on the contributing documentation. Also I've taken a look at the src/sbuttons.less files and found the neon buttons but didn't see where text color was taken into account for any of the buttons when in dark mode

[2022-01-27 02:28] anngedeus commented on #1600
I'm a new contributor to open source projects so I'm a bit confused

[2022-01-27 14:28] #1593 closed

[2022-01-27 17:17] shahednasser commented on #1600
@anngedeus in `src/components/animated/_neon.less` you need to add something like this:

[code]

Please note that I haven't tested this yet. You need to make sure it actually works.

After adding this line, you need to compile the changes by running `rpm run build`. Then, go into the `website` directory and run `npm start` and you should be able to see the changes on the website.

[2022-01-27 17:18] anngedeus commented on #1600
Thank you so much @shahednasser for helping me with this. This is all new to me I will do what you say and test it out

[2022-01-29 19:04] anngedeus commented on #1600
Hello, I've done your changes but I keep getting this error when I run the run build?
events.js:377
      throw er; // Unhandled 'error' event

Has this error ever happened before?

[2022-02-03 01:35] mcglauflins commented on #1600
I would love to work on this if it hasn't been resolved @shahednasser

[2022-02-03 08:31] shahednasser commented on #1600
As @anngedeus has been unresponsive regarding this issue, I'll assign you @mcglauflins

[2022-02-07 17:52] Monsieur-Nico commented on #1600
@shahednasser If it hasn’t been resolved I am happy to do it

[2022-02-07 19:33] shahednasser commented on #1600
sure @Monsieur-Nico I'll assign you

[2022-02-08 06:11] Monsieur-Nico commented on #1600
Hey @shahednasser I am working on the white text for the neon buttons but something with higher hierarchy is overwriting whatever style I try to implement.

- Here I added the style required to change the text to white (while not being on hover).
<img width="893" alt="Screen Shot 2022-02-08 at 1 03 42 AM" src="https://user-images.githubusercontent.com/74289847/152928224-77a57acc-c162-48bf-941c-b9e

[2022-02-08 13:59] shahednasser commented on #1600
Ok @Monsieur-Nico so I checked the code and we have a mixin for adding the white button styling in dark mode:

https://github.com/sButtons/sbuttons/blob/dd2652b48903e804a456f4c93761b3a1796fd032/src/components/_basic.less#L19-L30

So, you can replace the code you added with just:

[code]

As for the styling with higher priority, it's actually because of this in `src/components/_basic.less`:

https:

[2022-02-08 19:22] Monsieur-Nico commented on #1600
Hey @shahednasser,
I just finished working on the issue.
The `_basic.less`:
https://github.com/sButtons/sbuttons/blob/dd2652b48903e804a456f4c93761b3a1796fd032/src/components/_basic.less#L148-L151
Became:
[code]
And as for the button itself `/src/components/styles/_neon-border.less`:
https://github.com/sButtons/sbuttons/blob/dd2652b48903e804a456f4c93761b3a1796fd032/src/components/styles/_neon-borde

[2022-02-08 20:15] Stergios13 commented on #1600
Hello everyone. I am happy to help if the issue hasn't resolved.

[2022-02-09 18:11] #1600 closed

[2022-02-09 19:47] Monsieur-Nico opened #1606 "Text Align in Spotlight/Block buttons"
Text isn't horizontally aligned in the block section of the [Spotlight buttons](https://sbuttons.netlify.app/examples#Spotlight) after the animation.

<img width="857" alt="Screen Shot 2022-02-09 at 2 45 01 PM" src="https://user-images.githubusercontent.com/74289847/153278370-5b7dab0b-b365-4dae-96a5-eb004a2c7cd8.png">

_The text is aligned correctly in one of the button boxes before the animation

[2022-02-12 09:42] shahednasser commented on #1606
Thank you for catching that. I think it's not aligned correctly in the first place for spotlight block buttons.

I'll assign you.

[2022-02-12 11:27] shahednasser opened #1609 "Spotlight button's text color in dark mode"
In dark mode, [Spotlight's](https://sbuttons.netlify.app/examples#Spotlight) text color should be white before the animation as well.

[2022-02-13 05:42] Rahul-go1503 opened #1610 "license | MIT button in README.md Page"
Problem :
In README.md file when we click on license | MIT button it redirect to a 404 ERROR page.

Possible Solution :
It can be fix my updating URL path in readme file.

Request :
Dear Sir/ma'am I'm new to open source contribution and if you give me chance this is going to be my first contribution. I would like to fix it

![image](https://user-images.githubusercontent.com/83687972/153740285-da49

[2022-02-13 12:56] shahednasser commented on #1610
Hi @Rahul-go1503 thanks for noticing this. I've assigned you

[2022-02-13 15:04] Rahul-go1503 commented on #1610
Thanks... I resolved the issue and create a PR also

[2022-02-15 03:41] #1610 closed

[2022-02-15 20:55] JLambertazzo commented on #1609
Hi! I'd like to work on this issue, can you please assign me?

[2022-02-15 23:37] Grandstaff79 commented on #1609
Hello, I would like to work on this issue as well, would you assign me ?

[2022-02-21 09:28] ej-sanmartin commented on #1609
Since @crisboxing11 has successfully merged a change regarding this bug, issue should be closed! Did anyone check if this change, however, doesn't affect light mode?

[2022-02-21 09:33] ej-sanmartin commented on #1606
I'll also test this out on my machine, horizontal centering is always tricky lol see what I can do after work

This seems to be the relevant file, for anyone who wants to try to fix this sooner:

```https://github.com/sButtons/sbuttons```

[2022-02-21 17:21] ej-sanmartin commented on #1609
Read the commits / merge history wrong, guess now would be a good time to test it out again

[2022-02-28 09:34] shahednasser commented on #1606
Hello @ej-sanmartin do you want to work on this?

[2022-03-09 20:48] michalismichailidis1999 opened #1615 "Link in sidebar in the examples page in website doesn't work"
"Button Styles" link in sidebar in the examples page in website doesn't work when its clicked

[2022-03-11 16:29] shahednasser commented on #1615
Hi @michalismichailidis1999 thank you for opening an issue regarding this, but this is not a bug. It's because there's no page for Button Styles. It's just a header for buttons that belong to that category.

[2022-03-11 16:29] #1615 closed

[2022-03-11 16:30] shahednasser commented on #1609
This issue is still not resolved in case anyone is interested in working on it.

[2022-03-11 19:58] JLambertazzo commented on #1609
I'll take it, can you assign me?

[2022-03-12 12:43] shahednasser commented on #1609
Sure @JLambertazzo

[2022-03-14 06:36] JLambertazzo commented on #1609
I can't get the changes to display on the example site.
Setting the button class to dark-mode or it's parent to have data-theme="dark" manually makes it work as expected but by default in dark mode it does not change.

[2022-03-22 13:55] DarrickFauvel opened #1618 "Dead "Button Styles" link in Example page sidebar nav menu"
**1 - Describe the bug**

The `Button Styles` link in "Example" page sidebar nav menu is non-functioning.

**2 - Expected behavior of what should have happened (if applicable)**

When the sidebar nav menu link, `Button Styles`, is clicked, it should update the right side of the page with a "Button Styles" gallery of buttons.

**3 - Screenshots (if applicable)**

**4 - Additional notes**

My assump

[2022-03-22 17:49] shahednasser commented on #1618
Hello @DarrickFauvel thank you for reporting this but this is not a bug since this link doesn't refer to a page, just a title for sub categories.

[2022-03-22 17:49] #1618 closed

[2022-03-22 17:53] shahednasser commented on #1609
@JLambertazzo can you submit a PR so that I can see exactly what's going on?

[2022-03-22 20:11] JLambertazzo commented on #1609
Created the pull request, let me know what you think

[2022-04-02 14:45] Poirei commented on #1609
Can I join to work on this issue?

[2022-04-06 00:45] #1606 closed

[2022-04-09 21:55] badhri17 opened #1627 "shadow button"
**1. Name of button**:  Shadow button

**2. Description**:
I am thinking of adding a shadowed button class name ( shadow-btn) which will take the button color (for example : blue-btn )
and shadow it (fixed shadow ) and another option shadow-on-hover  which will display the shadow only when the button is hoverd .

## shadow-btn
![image](https://user-images.githubusercontent.com/60823745/162592625-b

[2022-04-16 12:19] shahednasser commented on #1627
Looks cool! I assigned you

[2022-04-16 12:30] shahednasser commented on #1609
@Poirei are you still interested in working on this?

[2022-04-18 14:52] lam-brian commented on #1609
Hi, can I work on this issue? Also, quick question: Would you want white text on all the spotlight buttons except for the white ones? Otherwise when you hover it, the text would blend in with the background color.

[2022-04-18 16:56] shahednasser commented on #1609
@lam-brian the text in dark mode should be white before the animation. As for after the animation you should just fix the white button to be another color

[2022-04-24 00:47] badhri17 commented on #1627
Still working on it I will finish it these two days

[2022-04-28 10:30] Dustpie commented on #1609
Can I work on this issue please?

[2022-06-28 19:02] shahednasser commented on #1609
Hello @Dustpie are you still interested in working on this?

[2022-06-28 19:06] #1627 closed

[2022-06-28 19:19] shahednasser opened #1632 "Add graphics/screenshots of the buttons in Readme"
Add 2 or 3 GIFs to README showcasing the buttons.

### Discussed in https://github.com/sButtons/sbuttons/discussions/1631

<div type='discussions-op-text'>

<sup>Originally posted by **reev-create** June 27, 2022</sup>
It would be great and attractive to see some screenshots or previews of the buttons designs in the Readme file</div>

[2022-06-29 07:48] reev-create commented on #1632
I'll soon add the graphical view in the Readme file

[2022-06-29 08:01] shahednasser commented on #1632
I've assigned you @reev-create

[2022-07-01 10:53] Ruc08 commented on #1609
Hello @shahednasser, If no one is working on this issue then can I work on it?

[2022-07-01 10:58] shahednasser commented on #1609
Hello @Ruc08 sure I'll assign you

[2022-07-01 11:03] Ruc08 commented on #1609
Thank you, @shahednasser! I'm starting to work on it now :)

[2022-07-01 13:25] Ruc08 commented on #1609
Hey @shahednasser,

I'm getting some kind of prompt when I run npm start in terminal which I hadn't faced before and I'm not able see anything on localhost. It would be great if you can help me.

<img width="585" alt="Screenshot 2022-07-01 at 6 48 11 PM" src="https://user-images.githubusercontent.com/89313809/176902748-82de0a63-a67c-439b-938a-6536a07fcd5d.png">

[2022-07-01 15:59] shahednasser commented on #1609
@Ruc08 basically this command watch any changes you make to the `.less` files and compiles them. If you want to run the website, it's under the `website` directory.

Please check the contributing guidelines for more details

[2022-07-06 09:04] Ruc08 commented on #1609
Hey @shahednasser, Good Afternoon!

Have you seen the PR or not?

[2022-07-09 14:17] MiceProger opened #1635 "Shaking ::after in spotlight buttons"
It`s not a critical bug, but It looks like this behavior is not correct.

When I hover the ::after part of the spotlight button, the animation is playing. But this can cause annoying shaking when you hover the part of ::after that is outside of the button. This looks like that:

https://user-images.githubusercontent.com/97300652/178108897-4d72084a-4f57-4490-b9af-2eb3e3cec20d.mp4

This can be seen

[2022-07-13 16:43] Ruc08 commented on #1609
Hello @shahednasser, If you get some time than please look at the PR request which I made last week.

[2022-07-19 09:07] shahednasser commented on #1632
@reev-create are you still working on this?

[2022-07-19 09:09] #1635 closed

[2022-07-27 17:15] DeviSriCharan2020412 commented on #1609
@shahednasser Is the issue still open? I'm interested in working on this issue.

[2022-07-31 04:15] Arsenic-ATG commented on #1632
is this issue still being worked on by assignee ?
If no then I would like to make a contribution.

I am planning to add preview images/gifs next to sample source codes in the **Usage** section of readme.md

---

This is a sample how it should look on README.md :

<img width="864" alt="Screenshot 2022-07-31 at 9 33 35 AM" src="https://user-images.githubusercontent.com/54987647/182009510-642f3069-0a

[2022-08-05 21:37] shahednasser commented on #1609
@Ruc08 are you still working on this?

[2022-08-05 21:40] shahednasser commented on #1632
Hello @Arsenic-ATG this sounds great! I'll assign you

[2022-08-06 05:07] Ruc08 commented on #1609
@shahednasser Yep! As I don't know LESS so need some time to learn it and to do require changes. I hope that you won't mind to give me some time to learn about LESS, Right?

[2022-08-07 05:19] Arsenic-ATG commented on #1632
@shahednasser

After some playing around with different layouts, I shortlisted two of them

I went ahead and applied the changes on 2 different branches of my fork following the different approaches to see the complete effect it would have on the README.md, and I could really use some help choosing the final design amongst them. 😅

## Type 1 (using tables )

Completely implemented in [preview_patc

[2022-08-10 21:42] shahednasser commented on #1632
Thank you for all your work! I think type 1 is the better approach.

[2022-08-13 14:13] Youngtechie commented on #1609
Hi @shahednasser just going through this issue now, which i noticed some changes i can make to resolve it. Can I be assign?

[2022-08-13 15:52] Patzi275 commented on #1632
hi, I also think it's a good idea. Is it possible for me to help you?

[2022-08-23 04:14] rupnarayanb commented on #1609
Hi @shahednasser Is it still open ?  I have solved it, can you please assign the issue to me ?

[2022-08-30 16:19] manoj1749 commented on #1632
Is the issue still open?

[2022-09-08 01:02] #1609 closed

[2022-09-12 07:08] DotSlash-A commented on #1632
Is this issue still open?

[2022-09-12 11:54] Arsenic-ATG commented on #1632
@DotSlash-A ,looks like either all the maintainers of the repository are busy or the project has been abandoned by the maintainers.

I also opened a PR regarding the same over a month ago (#1643) but never heard from the maintainers since then, and it got closed due to lack of interactions by the bot.

I would recommend against wasting your time and effort trying to submit patches here.

In case y

[2022-09-17 03:21] RohitRajvaidya5 commented on #1632
Is this issue still open?