[2020-10-03 14:34] wisetok12680 commented on #425
Hey there,
So I have successfully cloned the repo and after getting ready to edit, I created a `_thumbsup.less` in```src/components```. Now I am unable to Import the font awesome icon. Placing the cdn in the index.html doesn't seem to work.
Please help as this is very new to me altogether.

[2020-10-03 14:40] #606 closed

[2020-10-03 14:41] shahednasser commented on #422
someone is assigned to this issue @Summer-source

[2020-10-03 14:41] shahednasser commented on #468
someone is assigned to this issue @Summer-source

[2020-10-03 14:45] shahednasser commented on #425
Hi @wisetok12680 . First you need to place `_thumbsup.less` in `src/components/icon/` and you need to import it in `src/components/_icon.less`. Then, you need to add it in `assets/js/buttons-examples.js` to show up on the website.

Font awesome is already present in the website. If you're having trouble using the icon please refer to other implementations of icons in `src/components/icon/` directo

[2020-10-03 14:46] shahednasser commented on #425
Also don't forget to run `npm run compile` once you are done making changes to see your changes on the website. Please check out the [contributing guidelines](https://github.com/sButtons/sbuttons/blob/master/CONTRIBUTING.md) for more info

[2020-10-03 15:05] genarocolusso opened #619 "[BUTTON IDEA]: Aura Pulse Button"
Aura Pulse button.

A hover pulse for an aura/ghost button behind the actual button.

I'm working on it.

[2020-10-03 15:06] #506 closed

[2020-10-03 15:24] Neeraj3508 commented on #417
https://i.ibb.co/gg7V3CP/Screenshot-2020-10-03-at-8-51-48-PM.png
Please check this screenshot if buttons are OK?
Also i am adding hover properties but i don't know why they aren't working. So, this can take some time as i am figuring out that thing.

[2020-10-03 15:58] Neeraj3508 commented on #417
Facing issue when using hover pseudo selector then it is not working on hover but when i go to chrome developer tool and forcefully enable hover then the results are as desired. So, i think no problem with code.
Here is screenshot attached of that behaviour.
This behaviour is similar to #128
Please help if you can.
Normal State GIF - https://i.ibb.co/W3GG6cg/ezgif-com-gif-maker.gif
Forced state GI

[2020-10-03 16:26] Dheerajbana commented on #564
@shahednasser i have added fix and created a pull request
https://github.com/sButtons/sbuttons/pull/621

[2020-10-03 16:58] shahednasser commented on #417
Can you please submit a PR with this as it is easier to figure it out that way?

[2020-10-03 17:07] diptigautam commented on #422
Hi @shahednasser I completed the tasks but I can't test it because on merging with the latest versions, I can't get npm to start, and the inital npm install is giving me errors as well. JavaScript is not my forte, so I'm not sure how to solve it.

Would you suggest that I go ahead and create a PR anyway? (The CSS works fine on codepen, and I have also made all the necessary changes in the required

[2020-10-03 17:41] shahednasser commented on #422
can you please show me the error you are getting? Also is your repo up to date with this one?

[2020-10-03 17:50] #619 closed

[2020-10-03 17:51] #433 closed

[2020-10-03 18:03] Priya378 commented on #580
Is this issue still open? I also want to work on it.

[2020-10-03 19:13] wisetok12680 commented on #425
Ok,
That really helps.. thank you so much.

[2020-10-03 19:14] VishakhaAwasthi01 commented on #579
hey these are the buttons I was talking about[
![Screenshot 2020-10-04 at 12 41 14 AM](https://user-images.githubusercontent.com/45326880/94999977-bdc8e080-05da-11eb-975b-98a99e1d37d6.png)
](url)

[2020-10-03 19:15] VishakhaAwasthi01 commented on #579
I wanted the background colour of red and yellow bit lighter and color of yellow bit darker but for that I have to add new colours

[2020-10-03 19:26] VishakhaAwasthi01 commented on #579
![Screenshot 2020-10-04 at 12 51 27 AM](https://user-images.githubusercontent.com/45326880/95000199-69266500-05dc-11eb-851a-9ec4c10cab24.png)

Somewhat like this

[2020-10-03 19:31] Neeraj3508 commented on #417
Done @shahednasser

[2020-10-03 22:03] shahednasser commented on #580
@Priya378  Someone is assigned to this issue

[2020-10-03 22:14] shahednasser commented on #579
I'm not a big fan of that. Thank you for the the idea but I'll be closing this issue.

[2020-10-03 22:14] #579 closed

[2020-10-03 22:53] tushar2407 commented on #482
@shahednasser
I have made my pull request but didn't see any reviewers. Could you please confirm if you can see my PR and edit it?
Thanks

[2020-10-03 23:32] cosay commented on #128
But not yet added for all buttons.
I will try to finish tomorrow :)

Example how to use this feature:
https://jsfiddle.net/cosay/3okb8rs0/

[2020-10-04 03:55] HADES-01 commented on #607
@shahednasser @lee00286 I think one of the better ways is to just dynamically change the classes of the buttons when the respective tab-button is clicked. So you will just have add tab-buttons and rest should be taken care of by js.

[2020-10-04 05:22] Priya378 commented on #580
Okay, Thank you! @shahednasser !

[2020-10-04 06:15] amanraj862 commented on #161
hey can i work on it I'm a beginner i know little about css can i contribute?
i can make a  gradient button

[2020-10-04 06:23] abhishekrawe commented on #1
I wanted to work on this issue. May I?

[2020-10-04 06:30] abhishekrawe commented on #549
I want to work on it ? Kindly assign me

[2020-10-04 06:34] abhishekrawe commented on #395
I want to work on it? is this still open?

[2020-10-04 06:44] abhishekrawe commented on #436
I want towork on it

[2020-10-04 06:46] abhishekrawe commented on #54
yes, I m intrested on this , please assign me.

[2020-10-04 08:07] vsaini212223 opened #628 "[BUTTON IDEA]: Flip Button"
1. Name of button : Flip Button

2. Description:  The button which flips when hovered

3. Button Type (Animated, Special, etc...): Animated

4. Will you work on it?: Yes, I can work on this.

[2020-10-04 09:16] wisetok12680 commented on #425
Hey there,
Thank you for the assistance throughout. I have made a pull request [https://github.com/sButtons/sbuttons/pull/625](url). Please tell if everything is alright and the changes to be done if it isn't.

[2020-10-04 09:45] diptigautam commented on #422
Hii, yes it was up to date, but `npm install` was failing, and now it's working after I tried installing the failed packages one by one manually.
A few things are remaining, and I'll submit a PR!

[2020-10-04 10:12] islam36 commented on #1
i want to work on this issue. May i make a new button ?

[2020-10-04 10:49] shahednasser commented on #607
@HADES-01 yes but with the current way at least the execution is done during loading time and no extra execution is needed. I'm afraid the second way might end up buggy.

Maybe at first we can try the easy way which is to just add the tabs and hide/show on click, later on if we find it more optimal to do it the way you mentioned then we can optimize it.

[2020-10-04 10:58] shahednasser commented on #161
@amanraj862 please comment on that issue so that I can assign you.

[2020-10-04 10:59] shahednasser commented on #549
@abhishekrawe soemone is already assigned and is working on this.

[2020-10-04 10:59] shahednasser commented on #395
@abhishekrawe someone is working on this.

[2020-10-04 11:00] shahednasser commented on #436
@abhishekrawe someone is assigned to this issue.

[2020-10-04 11:02] shahednasser commented on #628
Looks good but please add it to Animated, not special.

[2020-10-04 11:09] shahednasser commented on #1
@abhishekrawe please submit a new idea in an issue to be approved.

[2020-10-04 12:27] basvandenwijngaard commented on #54
I'm able to reproduce this with rounded buttons with the fill-animation effect on an iPhone Xs, but also on Safari on macOs. I also have a possible fix for it.

[2020-10-04 13:17] Dheerajbana commented on #615
@shahednasser fangsong looks ok to me. If it looks good to you we can update.
![image](https://user-images.githubusercontent.com/12607160/95016663-ff589a80-0671-11eb-91df-6f75c9b6ef89.png)

[2020-10-04 16:37] IraTeixeira opened #634 "[BUTTON IDEA]: Animated gradient button"
**1. Name of button**: Animated gradient button

**2. Description**: The gradient animates by itself

**3. Button Type (Animated, Special, etc...)**: Animated, Gradient

**4. Will you work on it?**: Yes

[2020-10-04 16:48] IraTeixeira commented on #634
@shahednasser , can you add hacktoberfest label, please?

[2020-10-04 17:18] amanraj862 commented on #161
i have doubt i don't know about less i'm a beginner i know css only so can i just upload a css file?

[2020-10-04 17:18] amanraj862 commented on #161
@shahednasser

[2020-10-04 17:54] abhishekrawe commented on #549
okay,  is there any another issue? so please kindly assign me, i want to work on your repository

[2020-10-04 18:17] shahednasser commented on #549
Hi @Caleb335 I was discussing this issue with fellow members in this repository, and we think the styling of the icon should not use ":before" and ":after" like what we have been doing, instead it should rely on an `i` element inside the button. The reason behind this is:

1. If the icon button were to be used in combination with other buttons, it can cause a problem as other buttons use `:before`

[2020-10-04 18:37] shahednasser commented on #615
Still not a fan of it. It's ok I think we can leave the current font for now.

[2020-10-04 18:42] shahednasser commented on #634
@IraTeixeira we already have a button idea for this.

[2020-10-04 18:42] #634 closed

[2020-10-04 18:44] shahednasser commented on #161
@amanraj862, unfortunately, it needs to be Less so you might need to learn it a bit and it's not hard.

[2020-10-04 19:14] IraTeixeira commented on #634
@shahednasser the idea of my button is like on this GIF. It animates without hover. Do you have this idea already? Because i didn't find
![Animated-gradient-button-pure-css](https://user-images.githubusercontent.com/56459726/95024914-64a19100-065c-11eb-99cb-62de24af532d.gif)

[2020-10-04 19:27] Caleb335 commented on #549
Hi @shahednasser,

Thanks for noting this. I actually didn't use those pseudo-classes at all.

I just submitted a PR now, kindly review

[2020-10-04 19:44] abhishekrawe commented on #419
i would like to work on it.

[2020-10-04 19:54] mayankmohak commented on #452
@shahednasser  please review the changes

[2020-10-04 20:05] shahednasser commented on #634
We have a gradient button idea to be implemented.

[2020-10-04 20:14] adsingh14 opened #638 "[BUTTON IDEA]: Glossy button"
**1. Name of button**: Glossy button
**2. Description**: Capsule like glossy button in multi color scheme.
**3. Button Type (Animated, Special, etc...)**: Special
**4. Will you work on it?**: Yes

[2020-10-04 20:16] shahednasser commented on #419
@abhishekrawe someone is working on it. Please look for unassigned issues

[2020-10-04 20:23] shahednasser commented on #54
Issue finally resolved. Thank you everyone!

[2020-10-04 20:23] #54 closed

[2020-10-04 20:23] shahednasser commented on #638
You may go ahead.

[2020-10-05 07:33] ryuzaki221 opened #643 "[BUTTON IDEA] Discord Button:"
**1. Name of button**:
Discord button
**2. Description**:
I found that discord has it's own OAuth API and we don't yet have a button for it
**3. Button Type (Animated, Special, etc...)**:
Social
**4. Will you work on it?**:
Yes

[2020-10-05 08:05] shahednasser commented on #643
Ok you may work on it @ryuzaki221

[2020-10-05 10:04] shahednasser opened #649 "Change the URL of the minified file"
Currently we are using Statically for the URL of the minified CSS file. We need to make the following changes:

- [ ] Change the CDN URL to use jsDelivr which links to `dist/sbuttons.min.css` in the repo. This change should be reflected in the README and "Get Started" page on the website.
- [ ] Change the Download URL (which is used in `assets/js/index.js`) to link to the minified file in the repo

[2020-10-05 10:35] ryuzaki221 commented on #643
#650

Please review the changes. Thank You

[2020-10-05 11:17] zikos2 commented on #649
can i start working on this?

[2020-10-05 11:28] shahednasser commented on #649
Sure @zikos2 I will assign you.

[2020-10-05 11:32] #452 closed

[2020-10-05 11:33] #482 closed

[2020-10-05 11:33] #425 closed

[2020-10-05 11:42] #448 closed

[2020-10-05 12:10] shahednasser opened #652 "Refactor code for Key Button"
The code in `src/components/styles/_key.less` is more of CSS code than Less code. We need to refactor it to use Less functionalities and syntax.

[2020-10-05 12:15] shahednasser opened #653 "Use variable in _diagonalBackground.less"
Use `@darkText` instead of `#313131` in `src/components/animated/_diagonalBackground.less`

[2020-10-05 12:19] shahednasser opened #654 "Refactor code in _diagonalBackground.less"
In `src/components/animated/_diagonalBackground.less` we have the following code:

https://github.com/sButtons/sbuttons/blob/2bc79ffc81c36ed38c8b71077a5849c7376bdcbf/src/components/animated/_diagonalBackground.less#L88-L91

it's a rule for `&:hover.white-btn`. We need to nest it in `&.white-btn` on line 74. Make the modification to the selector accordingly.

Same needs to be done for yellow button

[2020-10-05 12:21] #653 closed

[2020-10-05 12:27] shahednasser opened #655 "Refactor code in `_glow.less`"
In `src/components/animated/_glow.less` there are two mixins `glowBorderRule` and `glow`, then inside each button color (for example `blue-btn`), the following code is used:

[code]

with `@neonBlue` replaced with the color needed for the button.

We need to create a new mixin with the above code that takes the color as a parameter, then use it accordingly throughout the file.

Also, place all mix

[2020-10-05 12:34] shahednasser opened #656 "Refactor code in _neon.less"
In `src/components/animated/_neon.less` we need to remove the following code from lines 11 and 18:

[code]

It's redundant as it is declared at the beginning of the file.

[2020-10-05 12:38] ankitaugale23 commented on #568
I am taking some time because I have worked in pure CSS and I am a beginner in less. Hope you understand. I will complete my task asap!

[2020-10-05 12:38] shahednasser opened #657 "Refactor _ripple.less"
In `src/components/animated/_ripple.less` we have the following piece of code:

https://github.com/sButtons/sbuttons/blob/2bc79ffc81c36ed38c8b71077a5849c7376bdcbf/src/components/animated/_ripple.less#L22-L24

It should be nested inside `&:hover` on line 17 and the selector should be simplified accordingly.

[2020-10-05 12:39] SamD97 commented on #656
Hello @shahednasser, can I work on this?

[2020-10-05 12:40] shahednasser opened #658 "Refactor _snake.less"
In `src/components/animated/_snake.less` we have the following code:

https://github.com/sButtons/sbuttons/blob/2bc79ffc81c36ed38c8b71077a5849c7376bdcbf/src/components/animated/_snake.less#L54-L63

The code should be nested inside `.snake-btn` and the selector should be modified accordingly.

[2020-10-05 12:41] shahednasser commented on #568
@ankitaugale23 it's ok take your time with it. Issues with low priority are not rushed so you can use this to learn Less well!

[2020-10-05 12:41] shahednasser commented on #656
Sure @SamD97 go ahead!

[2020-10-05 12:45] shahednasser opened #659 "Refactor _splash.less"
In `src/components/animated/_splash.less` the code is written almost CSS like. We need it to be modified to make use of Less functionalities, mostly nesting rules where necessary.

Also replace `#000` here with `@darkText`:

https://github.com/sButtons/sbuttons/blob/2bc79ffc81c36ed38c8b71077a5849c7376bdcbf/src/components/animated/_splash.less#L41-L43

[2020-10-05 12:57] shahednasser opened #661 "Refactor _transparentOnHover.less"
In `src/components/animated/_transparentOnHover.less` we have two mixins `textColorChange` and `transparentOnHover`. First, change `transparentOnHover` to take two parameters: `@borderColor` and `@backgroundColor` where `@borderColor` will be used for the border color and `@backgroundColor` will be used for the background.

Then every button class color (for example, blue-btn) has the following re

[2020-10-05 13:07] ankitaugale23 commented on #568
Thank you so much! one question that I have js included in my button's functionality could you please guide me in which file should I add that. I read the contributing.md file but I still didn't get it. Could you please clear my doubt?

[2020-10-05 13:08] zikos2 commented on #649
Done! can you check my PR.

[2020-10-05 13:27] paulo9mv commented on #658
Hi @shahednasser , can I do this one?

[2020-10-05 13:44] shahednasser commented on #652
Sure @JoelLau I’ll assign you

[2020-10-05 13:47] chatRG commented on #659
I can take this up!

[2020-10-05 13:49] shahednasser commented on #659
Sure @chatRG I'll assign you

[2020-10-05 13:58] Goodiec commented on #661
Please assign this to me

[2020-10-05 14:00] bhavika24 commented on #657
Hey @shahednasser! Can I work on this?

[2020-10-05 14:09] chatRG commented on #654
@shahednasser I can take this up!

[2020-10-05 14:12] shahednasser commented on #654
Sure @chatRG

[2020-10-05 14:13] shahednasser commented on #661
Assigned you

[2020-10-05 14:14] shahednasser commented on #657
Sure @bhavika24 I'll assign you

[2020-10-05 14:27] Goodiec commented on #661
Do you have a suggestion on what the new mixin can be called?

[2020-10-05 14:55] Deepak2417 commented on #661
I am a first timer... I found it feasible to begin. Can you assign it to me?

[2020-10-05 15:58] Hisime commented on #655
Hello. Please assign it to me.

[2020-10-05 16:08] shahednasser commented on #568
@ankitaugale23 our project is CSS only. Please refrain from using javascript for your button's implementation. What are you using the javascript for?

[2020-10-05 16:09] #643 closed

[2020-10-05 16:12] #657 closed

[2020-10-05 16:17] shahednasser commented on #661
@Goodiec you can just call it `onHover`

[2020-10-05 16:23] #659 closed

[2020-10-05 16:26] yashvarshney003 opened #669 "Gradient Button"
**1. Name of button**:

**2. Description**:

**3. Button Type (Animated, Special, etc...)**:

**4. Will you work on it?**:

[2020-10-05 16:31] Nanak360 commented on #669
I'll work on it.

[2020-10-05 16:34] yashvarshney003 commented on #669
I want to work on it.

[2020-10-05 16:38] shahednasser commented on #655
Sure @Hisime go ahead

[2020-10-05 16:40] shahednasser commented on #669
Hi @yashvarshney003 we already have a gradient button idea in progress. Thank you.

[2020-10-05 16:40] #669 closed

[2020-10-05 16:42] #658 closed

[2020-10-05 17:10] #656 closed

[2020-10-05 17:24] shahednasser opened #673 "refactor _appstore.less"
In `src/components/icon/_appstore.less` both `&.applestore` and `&.playstore` have a lot of similar properties and they should be moved out to their parents. Here are the properties:

https://github.com/sButtons/sbuttons/blob/5198b8872a5d1541df8deab0990c5d35a3abe010/src/components/icon/_appstore.less#L34-L35

https://github.com/sButtons/sbuttons/blob/5198b8872a5d1541df8deab0990c5d35a3abe010/src/co

[2020-10-05 17:46] SamD97 commented on #673
Can I take this up?

[2020-10-05 17:48] shahednasser commented on #673
Sure @SamD97

[2020-10-05 18:06] SamD97 commented on #673
In the `after` pseudo-class the `left` property of `&.applestore` and `&.playstore` are different, `100px` and `87px` respectively. Is this a discrepancy and needs to be changed to the same value or the `left` property is supposed to be moved out to the parent?

`left` also causes the following on `.block-btn`
![image](https://user-images.githubusercontent.com/9783888/95115652-73bf3680-0763-11eb-9

[2020-10-05 18:15] printf-ana opened #676 "[BUTTON IDEA]:"
1. Name of button: Jump Social Medias Button

2. Description: It is a serie of 5 buttons, when user pass the mouse in, they kind of a jump in layers.

3. Button Type: Animated

4. Will you work on it?: Yes, i made them in a CSS project, i have the code with me and i like to start contributing with this buttons. =)

[2020-10-05 18:18] adsingh14 commented on #638
Done, #677.

[2020-10-05 19:37] shahednasser commented on #676
I'm not sure how that sounds like but you can submit a PR and we'll judge based on how it looks.

[2020-10-05 19:51] #654 closed

[2020-10-05 19:56] #649 closed

[2020-10-05 20:33] Goodiec commented on #661
Ok

[2020-10-05 22:16] wisetok12680 opened #685 "[BUTTON IDEA]:User Account Button"
**1. Name of button**: User-circle Button

**2. Description**: A basic button/icon to take the user to their account page.

**3. Button Type (Animated, Special, etc...)**:Icon

**4. Will you work on it?**:Yes I'd like to work on it.

Reference - https://fontawesome.com/v4.7.0/icon/user-circle

[2020-10-06 03:33] #421 closed

[2020-10-06 03:37] ankitaugale23 commented on #568
For the animation to creates the bubble while taking care of mathematical parameters to generate the bubbles. If there is an issue in having JS then I will change the functionality of button a little bit.

[2020-10-06 03:48] isonnymichael commented on #568
@ankitaugale23 yes, please change into pure CSS only

[2020-10-06 07:18] #638 closed

[2020-10-06 07:56] shahednasser commented on #685
Hello @wisetok12680 thank you for the idea but we are currently not accepting icon ideas with no original concept as we are working on a change in a core feature regarding normal icon buttons.

[2020-10-06 07:56] #685 closed

[2020-10-06 07:58] #676 closed

[2020-10-06 08:47] #673 closed

[2020-10-06 09:01] shahednasser commented on #607
Hi @lee00286 how is this issue going? Do you need any assistance?

[2020-10-06 09:05] shahednasser opened #688 "refactor _expanding.less"
Move the following line

https://github.com/sButtons/sbuttons/blob/223b97b1e9952751dbfc57a30b709aa334d6b8bb/src/components/animated/_expanding.less#L28

to outside the hover under line 3

[2020-10-06 09:09] SamD97 commented on #688
May I do this?

[2020-10-06 09:10] shahednasser commented on #688
Sure @SamD97

[2020-10-06 09:18] shahednasser opened #689 "Fix for settings button"
Remove `position: absolute` on `.setting-btn:before` in `src/components/icon/_setting.less`

[2020-10-06 09:20] adsingh14 opened #690 "Button UX: Make toggle button design work for checkboxes as well"
Add enhancements to the Toggle Button by ensuring the design can work well on checkboxes just by adding the classes to it.

![image](https://user-images.githubusercontent.com/35252877/95182805-b6742380-07e2-11eb-80cd-e13cbc1bae35.png)

[2020-10-06 09:20] shahednasser opened #691 "Add link to logo in navbar"
Add link to homepage "/" to logo in the navbar

[2020-10-06 09:24] akankshast commented on #691
I would link to contribute to this issue, please assign it to me.
Regards,
Akanksha

[2020-10-06 09:24] shahednasser commented on #690
Hello @adsingh14 I appreciate your input but generally, we're not accepting any idea that has no use case to it. The reason I accepted this button is just that it has a nice addition to the project.

Another way to approach this issue is if we can make this design applicable to checkboxes as well. This could be an enhancement on the side.

I'll change the issue title and description accordingly. T

[2020-10-06 09:27] #688 closed

[2020-10-06 09:28] adsingh14 commented on #690
It would be great if current toggle button will replaced with **checkbox** type. It should be a single element and used with colors classes also.

[2020-10-06 09:34] erdemuslu commented on #689
I'm working on it.

[2020-10-06 09:39] adsingh14 opened #694 "Day limit for an assignee."
**1 - Describe the bug**
Some issues have been created and assigned but not completed in 4-5 days. That would create a headache for the maintainer as well as for the new comers.

**2 - Expected behavior of what should have happened (if applicable)**
 It would be better if the assignee will not take more than 2 days for button for a single button. In case if the assignee won't respond/submit-a-PR,

[2020-10-06 09:42] caspero-62 commented on #691
Hey, I would like to take this if it's still available

[2020-10-06 10:19] arkumari2000 commented on #689
Is this issue open? And only what you said is to implement?
Can I work on this?

[2020-10-06 10:32] icoderharshit opened #695 "Sidebar overlay on footer !"
**1 - Describe the bug**
Sidebar overlaying on footer when last item (Windows 95) is in active state i.e clicked

**2 - Expected behavior of what should have happened (if applicable)**
This should not overlay over the footer, and the footer must be shifted downwards for a better user experience.

**3 - Screenshots (if applicable)**
![bug](https://user-images.githubusercontent.com/55023091/95190659

[2020-10-06 10:34] 0-harshit-0 opened #696 "[BUTTON IDEA]: Half Framed Button"
**1. Name of button**: half framed button

**2. Description**: make a frame around button on hover

**3. Button Type (Animated, Special, etc...)**: animation

**4. Will you work on it?**: yes

![learnmorebutton](https://user-images.githubusercontent.com/59227793/95190820-7b2b2200-07ed-11eb-984e-9c6f05c5b08c.png)

[2020-10-06 10:52] gokul112 commented on #690
Hi @shahednasser ,
shall i work on this?

[2020-10-06 10:58] shahednasser commented on #694
Hi @adsingh14 we're currently keeping up to date with label "Priority: High" to make sure it doesn't take too long. "Priority Medium" we give them some additional time. As for "Priority Low", it will be reported by stale action that will label issues that have been stale for more than 7 days with "stale-issue" and will report it to me. I will then follow up with the contributor and take the necess

[2020-10-06 10:58] #694 closed

[2020-10-06 10:59] shahednasser commented on #695
Hello @icoderharshit this issue is a duplicate of #564 and someone is working on it. Thank you!

[2020-10-06 10:59] #695 closed

[2020-10-06 10:59] shahednasser commented on #691
Hello @akankshast you can go ahead!

[2020-10-06 11:00] shahednasser commented on #696
Looks good. Add it under "Animated" instead of hover though.

[2020-10-06 11:01] shahednasser commented on #690
@adsingh14 I understand but our main focus is keeping the website consistent. We could add a note about it in "Get Started" page.

[2020-10-06 11:02] shahednasser commented on #690
Sure @gokul112 I'll assign you.

[2020-10-06 11:04] shahednasser commented on #689
Hi @arkumari2000 yes that's all you have to do with the addition of running `npm run compile` afterwards and committing the changes.

I'll assign you.

[2020-10-06 11:07] arkumari2000 commented on #689
Okay, Thank you

[2020-10-06 11:31] 0-harshit-0 commented on #696
I have query (I'm new in opensource),
does this issue comes under hacktoberfest ?

[2020-10-06 11:41] shahednasser opened #698 "Create a new button type"
Some buttons under animated don't fall under that category but don't have a better place to add them, same for Special. We need a new category: Button Styles

The following tasks are required:
- [ ] Create a new file `_button_styles.less` in `src/components/`
- [ ] Add a new button type in Index page in `assets/js/buttons-examples.js`
- [ ] Move the following buttons from animated to button styles

[2020-10-06 11:45] SamD97 commented on #698
Can I take this up?

[2020-10-06 11:46] #661 closed

[2020-10-06 11:48] swapnalshahil commented on #698
Move the following buttons from animated to button styles:
what does it mean?

[2020-10-06 11:49] shahednasser opened #699 "Change class of Download button in header"
Changes classes of Download button in header to use "Transparent On Hover" button. There are some styling applied to it in `assets/css/index.css` with the class names currently used, you should keep anything necessary (for example font size or font family) but remove all the ones that won't be necessary anymore. Make sure to change the selectors to the new selectors appropriately.

[2020-10-06 11:50] shahednasser commented on #698
Hi @SamD97 yes you can. This may be a little complicated so do let me know if you need any help.

[2020-10-06 11:51] shahednasser commented on #696
Yes the PR counts in hacktoberfest if it gets merged or if it gets the "hacktoberfest-accepted" label. For more info please check the note in the README

[2020-10-06 11:51] SamD97 commented on #698
I think I can do it but sure if need be I will let you know @shahednasser

[2020-10-06 11:52] harjotscs commented on #699
i would like to work on this can you give a brief

[2020-10-06 11:56] shahednasser commented on #699
Hi @harjotscs I think the description is clear. Maybe you should look over the website, repo and [contributing guidelines](https://github.com/sButtons/sbuttons/blob/master/CONTRIBUTING.md) before working on this.

[2020-10-06 12:00] shahednasser commented on #564
This issue is open for assignment again.

[2020-10-06 12:02] Goodiec commented on #699
Please assign this to me. @harjotscs is this alright with you?

[2020-10-06 12:04] harjotscs commented on #699
Hi @Goodiec I am working on it, If you want to do it, I'll leave it

[2020-10-06 12:04] Goodiec commented on #564
I will like to try this

[2020-10-06 12:06] shahednasser commented on #699
@harjotscs you can have a shot at it. I will assign you.

[2020-10-06 12:06] Goodiec commented on #699
@harjotscs that's alright, you can work on it.

[2020-10-06 12:06] shahednasser commented on #564
Sure @Goodiec you can work on it.

[2020-10-06 12:09] #417 closed

[2020-10-06 12:13] Hirak-Pandya commented on #564
Can I try this?

[2020-10-06 12:14] shahednasser commented on #564
Someone is assigned now @Hirak-Pandya

[2020-10-06 12:28] #549 closed

[2020-10-06 13:31] SamD97 commented on #698
Hey @shahednasser, I am about to make the commit along with the pull request, however I think there is a slight inconsistency. The style of the `disabled-btn` is defined in the `src/components/_basic.less` should this be moved to the new file `_disabled-btn.less` within the new folder?

[2020-10-06 13:31] SamD97 commented on #698
Hey @shahednasser, I am about to make the commit along with the pull request, however I think there is a slight inconsistency. The style of the `disabled-btn` is defined in the `src/components/_basic.less` should this be moved to the new file `_disabled-btn.less` within the new folder?

[2020-10-06 13:58] carlacentenor commented on #1
Hello! I would like to contribute.  Can I?

[2020-10-06 16:57] IngoA-1848613 opened #704 "[BUTTON IDEA]: Handwritten button"
**1. Name of button**: Handwritten button

**2. Description**: A button that looks handwritten (it's text and it's border)

**3. Button Type (Animated, Special, etc...)**: Special

**4. Will you work on it?**: Yes

![image](https://user-images.githubusercontent.com/42770346/95233701-89853800-0805-11eb-86f1-cdbb4ab3ac9b.png)

[2020-10-06 17:22] mePallavi commented on #699
@shahednasser can I work on this issue?

[2020-10-06 17:26] adarshtodi commented on #161
Is the gradient animated glowing button done by anyone yet? if not then I recently learnt it, I would love to contribute. : )

[2020-10-06 17:55] arnabuchiha commented on #704
Can I work on this?

[2020-10-06 18:17] IngoA-1848613 commented on #704
Sorry, I was already gonna work on this myself 😉!

[2020-10-07 06:25] JithinAji commented on #564
Hi,

I think I was able to fix this issue. Will be very helpful if someone is able to do a code review for the same. :)

[2020-10-07 06:45] shahednasser commented on #161
Hi @adarshtodi someone is already working on this, unfortunately. Try looking for unassigned issues or create a "new button idea" issue if you have any that you would like to work on!

[2020-10-07 06:45] shahednasser commented on #704
Great idea @IngoA-1848613 you may go ahead.

[2020-10-07 06:51] adarshtodi commented on #161
I also thinking there is one button  which is like liquid / glue effect,  it will look good!! can I work on that?
![image](https://user-images.githubusercontent.com/58510987/95297205-de738d80-089b-11eb-9f0c-2cd4562a75f1.png)

[2020-10-07 06:52] shahednasser commented on #564
Hi @JithinAji someone is working on this. Please look for issues that are unassigned.

[2020-10-07 06:52] #699 closed

[2020-10-07 06:58] shahednasser opened #708 "Compile action for pull requests"
Add an action on pull requests **only** that run `npm run compile` on changes to anything in the src directory. This would make contributing more efficient as so many people forget to compile their work on PRs and time gets wasted in review to request the compilation.

[2020-10-07 06:59] shahednasser commented on #161
@adarshtodi is it an animated button or would it just look like that? If it's an animated button please create a "new button idea" issue with it and I suggest to make it have text in general, not a social icon.

[2020-10-07 07:09] JithinAji commented on #564
sure. 👍  @shahednasser

[2020-10-07 07:33] adarshtodi opened #710 "[BUTTON IDEA]: Glue/Liquid animated button"
**1. Name of button**: Glue/Liquid animated button
**2. Description**: A simple animated button with sticky glue effect while hovering it.

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: yes (if anyone would to do then i am okay with it)

[2020-10-07 07:44] adarshtodi commented on #161
okay, i will keep that in mind

[2020-10-07 07:54] shahednasser commented on #710
Assigned you.

[2020-10-07 08:47] varunks99 commented on #708
@shahednasser, I would like to take this up.

[2020-10-07 09:58] Akanksha7-art commented on #691
Can I contribute?

[2020-10-07 11:12] Goodiec commented on #564
@shahednasser, the most I could do was make it go behind the footer and that isn't the best solution. I think @JithinAji should try his fix.

[2020-10-07 11:13] Goodiec commented on #564
Also, I think coming up with another way to show the menu items would be nice as the list is bound to keep increasing

[2020-10-07 11:15] debapriyo1999 commented on #708
@shahednasser ,I would like to take this up.

[2020-10-07 11:56] Caleb335 commented on #564
Can I work on this @shahednasser ?

[2020-10-07 12:25] #698 closed

[2020-10-07 12:27] shahednasser commented on #691
Hi @Akanksha7-art someone is already working on this.

[2020-10-07 12:32] lee00286 commented on #607
@shahednasser Hello I'm working on buttons tab that should display basic, rounded, and block buttons. I edited `index.html` to only show basic buttons at this point and each header (this is temporary decision for test... I will create buttons afterwards) directs to `buttonsPage.html` which I created.

Currently I am thinking about the way to show only relative buttons in `buttonsPage.html` without

[2020-10-07 13:09] shahednasser commented on #607
Hi @lee00286 thank you so much for your work! Unfortunately I will have to close this issue as you didn't reply before and we changed this issue to add it to another workflow of this project. I'm sorry and again thank you for your contribution!

[2020-10-07 13:09] #607 closed

[2020-10-07 13:10] VishakhaAwasthi01 commented on #628
Is someone working on it? or I can take this?

[2020-10-07 13:12] Akanksha7-art commented on #691
ok no issue

On Wed, 7 Oct 2020 at 17:57, Shahed Nasser <notifications@github.com> wrote:

[2020-10-07 13:12] shahednasser commented on #708
Hi @varunks99 great I will assign you!

[2020-10-07 13:14] shahednasser commented on #564
Hi @Caleb335 sure you can! However, we're currently working on a website revamp so we just need a temporary solution. You can try a simple solution such as hiding the sidebar behind the footer for now. Thank you!

[2020-10-07 13:16] shahednasser commented on #628
@VishakhaAwasthi01 yes someone is working on this

[2020-10-07 13:27] VishakhaAwasthi01 opened #716 "[BUTTON IDEA]:Reset Button"
**1.Reset button with icon **:

**2.Reset button with reset icon**:

**3. Icon**:

**4. Yes**:

[2020-10-07 13:32] VishakhaAwasthi01 opened #717 "[BUTTON IDEA]:Right tick button"
**1. Name of button**: Right tick button

**2. Description**: tick icon button

**3. Button Type (Animated, Special, etc...)**:Icon

**4. Will you work on it?**: yes

[2020-10-07 13:41] Caleb335 commented on #564
Alright @shahednasser I'd do just that.

[2020-10-07 14:53] JithinAji commented on #564
@shahednasser How I did was giving the margin top a negative value whenever the bottom page is reached on scroll.

[2020-10-07 17:57] #704 closed

[2020-10-07 17:59] shahednasser commented on #716
As we have a "Base Icon Button", any button idea that just means adding a button with icon and text is not accepted anymore. Thank you,

[2020-10-07 17:59] #716 closed

[2020-10-07 18:00] shahednasser commented on #717
As we have added a "Base Icon button" any icon button idea that just involves an icon and/or text as no longer accepted.

[2020-10-07 18:14] #708 closed

[2020-10-07 18:17] #689 closed

[2020-10-07 18:18] shahednasser commented on #652
Hello @JoelLau are you working on this one? This is a priority high issue so if you can't work on it please let me know to assign someone else.

Also, the file has been moved from `src/components/animated/_key.less` to `src/components/styles/_key.less`

[2020-10-07 18:21] #141 closed

[2020-10-07 18:23] shahednasser commented on #395
Unassigning @annettomcy as they are taking too long and this is a high priority issue.

[2020-10-08 00:01] JoelLau commented on #652
yes! will open a pull request in a few hours. sorry for the delay

[2020-10-08 01:12] tmott13 commented on #395
I would like to be assigned to this, if that's possible? @shahednasser

[2020-10-08 05:29] kuldeep123kd commented on #395
Can i work on this?

[2020-10-08 05:57] crew-guy opened #726 "[BUTTON IDEA]: Neumorphic Design Buttons"
**1. Name of button**:  Neumorphic Design Button

**2. Description**:  A different kind of styling using **box-shadows** to create a button with a really comfortable and cool looking UI.

**3. Button Type (Animated, Special, etc...)**: Neumorphism

**4. Will you work on it?**: Yes. I will be contributing everything in this issue right from basic rounded buttons, radio buttons, icon buttons to togg

[2020-10-08 05:58] crew-guy commented on #726
I'll start working right away and have some test examples ready for you perusal before I work with main code base ^_^

[2020-10-08 09:13] shubh710 commented on #580
@shahednasser If this is still open can I take that?
Thanks.

[2020-10-08 09:24] jonasvag commented on #580
yes you can take it

[2020-10-08 09:41] shubh710 commented on #580
@shahednasser Please assign this to me, I can start working on it quickly.

[2020-10-08 09:54] SahanAmarsha commented on #1
I could add new button styles

[2020-10-08 11:20] shahednasser commented on #395
@tmott13 I need someone to not take long with it can you do that?

[2020-10-08 11:21] shahednasser commented on #726
@crew-guy thank you but someone is already working on this button style.

[2020-10-08 11:21] #726 closed

[2020-10-08 11:24] shubh710 commented on #395
Hi @shahednasser
I can do it quickly.
Is the problem Statement same as
https://github.com/sButtons/sbuttons/issues/395#issue-712643930 ?

[2020-10-08 11:26] crew-guy commented on #726
Ok no problem ! @shahednasser
I'll look for other design ideas.

[2020-10-08 11:41] kuldeep123kd commented on #395
Yes @shahednasser  i can do it quickly.

[2020-10-08 11:45] crew-guy opened #729 "[BUTTON IDEA]: 3D Layered Icon Button"
**1. Name of button**: 3D Layered Icon Button

**2. Description**: Initially skewed button. On hover, we see a decreasing transparency 3D stack below button

**3. Button Type (Animated, Special, etc...)**: Hover button

**4. Will you work on it?**: Yes. I'll try adding some fill-in or ripple effect to complement the effect even better. I also want to implement different style for dark and light th

[2020-10-08 11:58] #691 closed

[2020-10-08 12:00] shahednasser commented on #1
@SahanAmarsha if you have a button idea please submit it by first by creating a "new button idea" issue

[2020-10-08 12:17] SahanAmarsha opened #732 "[BUTTON IDEA]: Animated Flash Button"
**1. Name of button**:  Flash Button

**2. Description**: The button will get disappeared and appeared repetitively.

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: Yes

[2020-10-08 13:02] shubh710 commented on #580
@shahednasser submitted a PR #727 .
Please review and merge.

[2020-10-08 14:18] RodolfoNei opened #734 "[BUTTON IDEA]: Extra-Small, Small, Large and Extra-Large Buttons"
**1. Name of button**: x-small-btn, small-btn, large-btn, x-large-btn

**2. Description**: Four different size options for buttons, using relative length units

**3. Button Type (Animated, Special, etc...)**: Styles

**4. Will you work on it?**: Yes

[2020-10-08 14:47] mayankmohak opened #735 "icons missing on screen resize(for mobile view)"
**The icons like _Toogle screen_, _download_ and  _git hub link_ is missing**
![main](https://user-images.githubusercontent.com/63801800/95474072-57f5a380-09a2-11eb-826b-762940d3e660.jpg)

**On mobile view**
![missing](https://user-images.githubusercontent.com/63801800/95474192-76f43580-09a2-11eb-868b-da623b909108.jpg)

**Expected behavior of what should have happened (if applicable)**
![expected]

[2020-10-08 14:49] mayankmohak commented on #735
I have made successful changes locally shall i make a PR.

[2020-10-08 15:55] adityarajendrashanbhag commented on #161
@shahednasser Hi sir, I would love to contribute to this project, I have an idea of creating a hover glow button which gives an RGB look after clicking on it, but I'm a little confused about how to contribute to this project.

[2020-10-08 17:37] #580 closed

[2020-10-08 17:40] shahednasser commented on #395
Assigned @kuldeep123kd

[2020-10-08 17:43] shahednasser commented on #729
@crew-guy someone tried implementing this before, but it didn't look so good. You may work on it and I'll see how it looks in the end.

[2020-10-08 17:51] shahednasser commented on #734
Can we just add the extra small and extra large?

[2020-10-08 17:52] shahednasser commented on #735
Someone was working on a similar issue but they're taking a while. You may submit a PR.

[2020-10-08 17:54] shahednasser commented on #161
Hello @adityarajendrashanbhag first I suggest you read the [contributing guidelines](https://github.com/sButtons/sbuttons/blob/master/CONTRIBUTING.md) before making any contribution. If you have any button idea that you would like to implement or see implemented please create a "new button idea" issue before working on it. If you need any other assistance let me know.

[2020-10-08 18:01] shahednasser opened #738 "Add an action on pull request and new issue for an automatic reply"
As the Members of this organization and I might take a little while to reply to new issues or PRs, we need an action to greet the users once they create an issue or submits a PR, and tell them that we will be looking at their issue/PR soon.

[2020-10-08 18:04] #732 closed

[2020-10-08 18:07] shahednasser opened #740 "Remove unnecessary files"
There are unnecessary files in the repo that need to be removed:

- README_BACKUP_6160.md
- README_BASE_6160.md
- README_LOCAL_6160.md
- README_REMOTE_6160.md
- .README.md.swp

[2020-10-08 18:12] shahednasser opened #741 "Make changes to CONTRIBUTING.md"
In CONTRIBUTING.md under Instructions item number 3, we've added the structure of the button to be added to `assets/js/buttons-examples.js`. Currently `shouldHaveBlockType` is the last item. We need to move `variations` and `children` to be at the button of the list.

[2020-10-08 18:17] shahednasser opened #742 "Add a link to the NPM package"
Add the link to the npm package ([https://www.npmjs.com/package/sbuttons](https://www.npmjs.com/package/sbuttons)) in README and Get Started page. The link should be under "NPM" in Installation, added on the word "NPM".

For example, in README it's" You can install sButtons using NPM:"

[2020-10-08 18:26] sdesani commented on #738
@shahednasser if you don't mind, I would like to look into this. Can you assign it to me ?

[2020-10-08 18:31] shahednasser commented on #738
Sure @sdesani

[2020-10-08 18:38] crew-guy commented on #742
Can I please be assigned to this ?

[2020-10-08 18:39] crew-guy commented on #741
Hi ! Can you please assign this to me ?

[2020-10-08 18:40] crew-guy commented on #740
Can you please assign this to me ?

[2020-10-08 19:03] shahednasser commented on #742
Hi @crew-guy sure I'll assign you

[2020-10-08 19:04] shahednasser commented on #741
Hi @crew-guy since I assigned you to another issue let's give other contributors a chance too!

[2020-10-08 19:04] shahednasser commented on #740
Hi @crew-guy since I assigned you to another issue let's give other contributors a chance too!

[2020-10-08 19:08] #655 closed

[2020-10-08 19:34] dkochetkov commented on #740
Can you assign it to me?

[2020-10-08 20:52] shubh710 commented on #741
Hi @shahednasser
I would like to work on this.

[2020-10-08 21:00] RodolfoNei commented on #734
Sure, no problem!

[2020-10-08 21:05] sdesani commented on #738
Quick question. Does it need to be only for first time a user creates a PR on this repo or do we want this greeting for every PR even if its from same user ?

[2020-10-08 23:22] BrianAnakPintar commented on #1
Hi can I contribute?

[2020-10-09 00:26] crew-guy opened #747 "[BUTTON IDEA]: Add float and pulse animation to Stack Design Buttons"
**1. Name of button**:  Float and Pulse Stack Button

**2. Description**: Basically, in the stack design buttons that I created in issue #729 (pull request #746), I will be adding a pulsing animation on lower layer and floating animation on upper layer

**3. Button Type (Animated, Special, etc...)**: Stack Button

**4. Will you work on it?**: Yes. I already feel comfortable with Stack Buttons so i

[2020-10-09 00:29] crew-guy commented on #729
You were so SO right about this Ma'am. It took me forever to implement just a rudimentary version of this (check out pull request #746 ) 😅😁

But it was really fun ! I look forward to coming up with and implementing more such design ideas !

[2020-10-09 01:43] Charu271 commented on #340
What does it mean? I didn't get it. Please let me know.

On Fri, 9 Oct 2020, 5:47 am github-actions[bot], <notifications@github.com>
wrote:

[2020-10-09 03:13] crew-guy commented on #416
Hey ! Does anyone need any help with this ?

[2020-10-09 03:41] crew-guy commented on #434
Hey ! Does anyone need help with this ?

[2020-10-09 06:44] maityankan10 commented on #1
hey can I contribute for hacktoberfest, I am new in it

[2020-10-09 06:59] shahednasser commented on #740
@dkochetkov you may work on it.

[2020-10-09 07:56] shahednasser commented on #741
Sure @shubh710 go ahead

[2020-10-09 07:57] shahednasser commented on #738
@sdesani it should be for all PRs/issues, regardless of who the user is. Just a simple greeting saying we will look into it shortly.

[2020-10-09 07:59] #564 closed

[2020-10-09 08:00] shahednasser commented on #430
Closing this issue as I don't think this button has an importance and contributor didn't work on it.

[2020-10-09 08:00] #430 closed

[2020-10-09 08:01] shahednasser commented on #427
Hi @LuciKritZ, are you still working on this?

[2020-10-09 08:01] shahednasser commented on #420
Hi @Kazeno21 , are you still working on this? If not let me know to give other contributors a chance at it.

[2020-10-09 08:03] shahednasser commented on #229
Closing this PR due to inactivity and since the button idea is not very important.

[2020-10-09 08:03] #229 closed

[2020-10-09 08:04] shahednasser commented on #225
Hi @Pratyush-Saxena are you still working on it? Please either submit a PR by tomorrow or I'll have to unassign you to give other contributors a chance. Thank you.

[2020-10-09 08:15] shahednasser commented on #747
@crew-guy sounds great. You can do it while working on stack buttons. I'll close this issue.

[2020-10-09 08:15] #747 closed

[2020-10-09 08:15] LuciKritZ commented on #427
Yes, I am working on it. Due to time constraints, I am not able to devote much time. But I'm working on it.

[2020-10-09 08:16] shahednasser commented on #729
You did a great job at it @crew-guy , I just need you to make the changes mentioned in the PR and I'm sure it will be a part of the repo soon! Thank you for contributing and trying hard.

[2020-10-09 08:18] shahednasser commented on #340
@Charu271 don't worry about it. It just reports issues that have been inactive for 7 days so that I can check if someone is actually working on the issue or not.

[2020-10-09 08:19] shahednasser commented on #416
Unassigning this due to inactivity so that someone else can work on it.

[2020-10-09 08:19] shahednasser commented on #416
@crew-guy if you finish the stack buttons and no one is assigned I'll let you know.

[2020-10-09 08:29] shahednasser commented on #1
@BrianAnakPintar @maityankan10 of course you can! You can comment on unassigned issues to claim them or you can create a "new button idea" issue if you have any that you would like to work on.

[2020-10-09 08:30] #395 closed

[2020-10-09 08:33] shahednasser opened #750 "Add active state for star button"
Currently the star icon button on `:active` gets colored yellow, however it is more convenient to also add an active state for the button (a new class `.active`) where the color of the star will be yellow. It should also have a nice transition between the inactive and active state. It shouldn't be displayed on the website, but if someone adds the class `.active` to the button or removes it, the tr

[2020-10-09 08:35] shahednasser opened #751 "Improve bounce animation"
The bounce button's animation needs improvement. You can refer to [this](https://codepen.io/fershopls/pen/LjMwZb) for an example, but you don't have to follow it exactly. It also should only happen on hover.

[2020-10-09 08:39] shubh710 commented on #741
Hi @shahednasser.
just to make sure that I understood this correctly.
only order of display properties in CONTRIBUTING.md needs to be changed.

[2020-10-09 08:39] shahednasser opened #752 "Add animated class to all Animated buttons"
We need to add an animated class to all animated buttons. The purpose of this is that animated button's animation right now only happens on hover. In case someone needs to make a button continuously animated, we need to add `.animated` class to each animated button to make sure the animation runs indefinitely.

Make sure when you add the `animated` class to the button, you nest it inside the butto

[2020-10-09 08:40] shahednasser commented on #741
yes just change the order in `CONTRIBUTING.md`

[2020-10-09 08:53] shubh710 commented on #741
Thanks for clarification @shahednasser
Just submitted the PR #753.
Please check and merge.
Thanks.

[2020-10-09 09:00] LuciKritZ commented on #427
Sure!

[2020-10-09 09:14] crew-guy commented on #750
Can I do it please ? I just have 1 small other pending issue

[2020-10-09 09:25] Caleb335 commented on #752
I'd love to work on this @shahednasser.

But can you please explain on how I'd go about creating the mixing for animation? I'm new to it

[2020-10-09 09:31] Charu271 commented on #340
Okay

On Fri, 9 Oct 2020, 1:48 pm Shahed Nasser, <notifications@github.com> wrote:

[2020-10-09 09:45] #741 closed

[2020-10-09 09:46] #427 closed

[2020-10-09 09:47] #652 closed

[2020-10-09 09:50] shahednasser commented on #750
@crew-guy I really appreciate you contributing to this repository but I can't give you too many issues to work on at the same time. Once you finish at least one of them you can then get assigned to a new one. Thank you!

[2020-10-09 09:54] shahednasser commented on #752
Mixins in Less are just like functions. Basically if you have repeated properties for different classes, you can create a mixin with those properties and then call them from inside the class. That way you don't have to repeat your code. Also, you can pass it parameters if there are minor changes for each class. You can read and learn more about [mixins](http://lesscss.org/features/#mixins-feature-

[2020-10-09 10:07] shubh710 commented on #751
Hi @shahednasser I would like to work on this.
Please assign this to me.

[2020-10-09 10:25] shahednasser commented on #751
sure @shubh710 go ahead

[2020-10-09 10:25] pontakornth commented on #750
@shahednasser I already forked the repository but I forget to add comment here. Could you assign this to me?

[2020-10-09 10:26] Caleb335 commented on #752
Yes, please assign me.

Thanks

[2020-10-09 10:27] shahednasser commented on #750
sure @pontakornth but please follow the other instructions I gave you as well.

[2020-10-09 10:27] shahednasser commented on #752
Great I assigned you

[2020-10-09 10:42] shubh710 commented on #751
Hi @shahednasser
I have submitted PR #758.
However I had below query.
should dist/sbuttons.css file also be a part of commit and PR?
Please let me know so that I can update that as well.
Thanks

[2020-10-09 10:49] crew-guy commented on #750
Yaya cool ! Guess I am taking wayy too much work to properly process and finish it all 😂✌🏻

[2020-10-09 11:09] PriyanshTri commented on #740
can you assign this to me?

[2020-10-09 11:23] Kazeno21 commented on #420
yup. still working on this. will take some time though.

[2020-10-09 11:41] crew-guy commented on #729
Hey !! I have completed both tasks assigned to me. Check out PR - #764 and #763
I gotta say, refactoring my own code from icon buttons to button styles and that too whilst minimizing CSS lines has gotta be the one of the coolest CSS problems I've had to crack
I honestly had no clue about PRs and branches but thanks to these assignments, I have a fairly good idea of how to work around them.
You're

[2020-10-09 12:00] PriyanshTri commented on #751
assign this to me. thanks

[2020-10-09 12:01] PriyanshTri commented on #750
can you assign this to me? thanks

[2020-10-09 12:03] PriyanshTri commented on #436
can I work on this?

[2020-10-09 12:05] PriyanshTri commented on #420
can you assign this to me?

[2020-10-09 12:06] pontakornth commented on #750
Done. The check is still failed and I have no idea why.

[2020-10-09 13:14] senguyen1011 opened #765 "[BUTTON IDEA]: Hamburger Menu Button"
**1. Name of button**: Hamburger Menu Button

**2. Description**: Hamburger menu buttons/icons are typically three horizontal lines that toggle the appearance of an off-screen menu. The humburger menu button when toggled will change to a different icon, such as an 'X' to indicate clicking it again will close the menu and reset the button.

**3. Button Type (Animated, Special, etc...)**: Icon Butto

[2020-10-09 13:16] senguyen1011 commented on #765
I'd like to work on this for Hacktoberfest, and possibly add animated variants of the hamburger icon. Please let me know if I didn't create this issue correctly.

[2020-10-09 18:56] shahednasser commented on #740
@PriyanshTri someone is assigned to this.

[2020-10-09 18:59] shahednasser commented on #729
@crew-guy thank you so much and I hope this repository keeps helping you learn new things! I'll check your PRs soon.

[2020-10-09 19:00] shahednasser commented on #751
If your repository is up to date it's not necessary anymore, as we have added an action that compiles your work when you push new commits.

[2020-10-09 19:01] shahednasser commented on #436
As @chinmaikaveti2001 is not responding or committing any code, I will assign you @PriyanshTri instead

[2020-10-09 19:04] shahednasser commented on #420
No worries @Kazeno21 let me know if you need help.

[2020-10-09 19:16] shahednasser commented on #765
We're currently not adding icon buttons but if you're gonna add it animated as you say (change between hamburger and X) then you may. But here are a few notes:

All buttons are implemented without JS, only CSS. So you need to do things:

1. Create the hamburger button which is the original state.
2. Add an `.active` state on that button that makes the hamburger button an X button. The transition b

[2020-10-09 19:18] shahednasser commented on #1
Hi @jamieleo93 yes you can! You can either find unassigned issues or create a "new button idea" issue you would like to work on or see implemented.

The link of the website has changed but I forgot to change it in this issue. You can find it [here](https://sbuttons.github.io/sbuttons/)

[2020-10-09 19:18] crew-guy commented on #729
Thanks !!🙏🏻

[2020-10-09 19:23] senguyen1011 commented on #765
Yes, I can create the button and the active state. If you create an issue, please assign it to me, thank you.

[2020-10-09 19:50] Hyma200 commented on #1
Thanks!

[2020-10-09 20:18] Hyma200 commented on #435
Is this issue still assigned? Can I work on this?

[2020-10-09 21:20] laurachristensen1214 opened #766 "[BUTTON IDEA]: leather buttons"
**1. Name of button**: Western Themed buttons

**2. Description**: These buttons will resemble a leather or denim patch and on hover will appear as embossed leather

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: Yes please!

[2020-10-09 21:35] shahednasser commented on #435
You can work on it @Hyma200

[2020-10-09 21:36] shahednasser commented on #766
I'm not sure how it will look like to be honest but you can start working on it.

[2020-10-09 21:52] laurachristensen1214 commented on #766
Thank you!

[2020-10-10 02:04] confusedcoder1 commented on #435
Hey @shahednasser, I have already designed the button and the Css part is done too, I just was not able to edit HTML for finally merging, due to some time constraints. Sorry,I should have kept you updated.

[2020-10-10 03:56] dsnehasish74 opened #768 "[BUTTON IDEA]: Can Add a button which has 100% width"
**1. Name of button**: 100% width button

**2. Description**: As many time we need that type of button which takes full width of the screen or the parent element

**3. Button Type (Animated, Special, etc...)**:

**4. Will you work on it?**:yes

[2020-10-10 07:11] developerzone commented on #1
Hi,

I want to take up this. Let me know if I can proceed.

[2020-10-10 07:21] developerzone commented on #416
I can work on this.

[2020-10-10 07:25] developerzone commented on #768
Can I takeup this ?

[2020-10-10 08:55] shahednasser commented on #418
Unassigning this due to inactivity. Someone else can get assigned now.

[2020-10-10 08:57] shahednasser commented on #435
Hi @confusedcoder1 that's fine. We have made a lot of changes to the repo and how everything works so I suggest you take a look again at what you need to do. Once you feel like you can submit a PR for it you can go ahead

[2020-10-10 09:05] sanyud24 commented on #418
Can I work over it now

[2020-10-10 09:07] mukesh2309 commented on #418
Yes you can

[2020-10-10 09:14] shahednasser commented on #1
@developerzone you can look for unassigned issues or create a "new button idea" issue if you have an idea you would like to implement or see implemented.

[2020-10-10 09:17] shahednasser commented on #416
Sure @developerzone go ahead

[2020-10-10 09:18] shahednasser commented on #768
We already have this button it's the Block Button. Thank you.

[2020-10-10 09:18] #768 closed

[2020-10-10 09:20] #751 closed

[2020-10-10 09:24] shahednasser commented on #418
Assigned @sanyud24

[2020-10-10 10:06] adsingh14 opened #775 "Store button and typo in sbtn class."
**1 - Describe the bug**
I'm sharing two bugs here:
- Wrong alignment of App Store block buttons.
- Extra period in starting of `.rounded` and `.block` button classes.

**2 - Expected behavior of what should have happened (if applicable)**
Both can be done in a single PR.

**3 - Screenshots (if applicable)**
![Screenshot_20201010-152642~2.png](https://user-images.githubusercontent.com/35252877/956

[2020-10-10 10:15] developerzone commented on #416
I am getting error while creating a PR. Please check this at https://github.com/sButtons/sbuttons/pull/776 and kindly guide me on this if I am doing anything wrong.

[2020-10-10 10:32] isonnymichael commented on #775
Ok, tell me if you want to work on this, I will asign you.

[2020-10-10 15:17] shahednasser commented on #775
Please let @isonnymichael know if you will work on it. Also, provide a simple fix as in a release soon this button will be removed so it's not very important.

[2020-10-10 15:23] Hyma200 commented on #435
Can I still work on this?

[2020-10-10 15:30] shahednasser commented on #435
Yes you can too @Hyma200

[2020-10-10 15:31] mayankmohak commented on #735
I have made a PR now its working well i have also added SC please have a look.

[2020-10-10 15:32] #735 closed

[2020-10-10 15:33] shahednasser commented on #752
This issue now is unassigned and can be claimed

[2020-10-10 15:34] #740 closed

[2020-10-10 15:43] maityankan10 commented on #426
Can i contribute for hacktoberfest

[2020-10-10 16:10] shahednasser commented on #426
@maityankan10 someone is working on this

[2020-10-10 16:26] maityankan10 commented on #750
i would like to contribute

[2020-10-11 00:18] #128 closed

[2020-10-11 00:25] shubh710 commented on #752
Hi @shahednasser,
I Would like to work on this issue.
Please assign this to me.

[2020-10-11 04:43] maityankan10 commented on #416
can I work on this

[2020-10-11 06:27] wisetok12680 opened #786 "[BUTTON IDEA]:CURL BOTTOM CORNERS ON HOVER"
**1. Name of button**: CURL BOTTOM CORNERS ON HOVER

**2. Description**: Curls the bottom corners on hover

**3. Button Type (Animated, Special, etc...)**:Animated

**4. Will you work on it?**:Yes of course

[2020-10-12 08:42] NicolaLC opened #788 "[BUTTON IDEA]: Menu Button"
**1. Name of button**:

Menu Button - a first-level button with a sub-menu opening on click.

**2. Description**:

This button idea is similar to [material menu button](https://material.angular.io/components/menu/overview). The goal of this button is to handle different click options (like a menu).

**3. Button Type (Animated, Special, etc...)**:

Special Button.

**4. Will you work on it?**:

Yes

[2020-10-12 16:52] #597 closed

[2020-10-12 16:52] shahednasser commented on #559
Hi @hussein-hub any update on this?

[2020-10-12 16:53] shahednasser commented on #752
sure @shubh710

[2020-10-12 16:55] shahednasser commented on #786
@wisetok12680 I'm not sure that's a good idea to be honest. Can you show me an example of it?

[2020-10-12 17:05] #434 closed

[2020-10-12 17:14] #419 closed

[2020-10-12 17:15] #422 closed

[2020-10-12 17:17] shahednasser commented on #788
Thank you @NicolaLC but this button requires Javascript, and our project is CSS only.

[2020-10-12 17:17] #788 closed

[2020-10-12 17:22] shahednasser opened #793 "Sort Button Styles in Alphabetical order"
On the website, Button Styles are not sorted in alphabetical order. You just need to make changes in `assets/js/buttons-examples.js`. No changes to any design.

[2020-10-12 17:24] shahednasser opened #794 "Sidebar overlapping header"
After fixing sidebar overlapping footer, now sidebar overlaps header. I suggest going through `assets/js/index.js` as the solution to this is most probably there.

[2020-10-12 17:26] #426 closed

[2020-10-12 17:26] #591 closed

[2020-10-12 17:26] #750 closed

[2020-10-12 18:03] wisetok12680 commented on #793
I would work on this

[2020-10-12 18:13] wisetok12680 commented on #786
I had something like [this](https://codepen.io/wisetok12680/pen/ZEObEEq) in my mind.
Its okay I wasn't confident about it either. I would work for something similar.

[2020-10-12 19:05] ke3peR007 commented on #793
I would like to work on this too

[2020-10-12 19:16] wbrijesh commented on #793
I have put in a pull request solving this

[2020-10-12 19:22] wbrijesh commented on #794
Can i do this using z-index?
Having the headers z-index higher than that of sidebar might solve your problem

[2020-10-12 19:26] wbrijesh commented on #793
there weren't many styles to sort

[2020-10-13 04:20] shubh710 commented on #752
Hi @shahednasser
Sorry, but I won't be able to work until Saturday hence if any one can work on it meanwhile please assign them.
Thanks a lot.

[2020-10-13 07:49] krishnasreekoganti commented on #794
Hi can I work on this issue?

[2020-10-13 12:17] SrijitaSarkar99 commented on #793
Hey, I would like to work on this

[2020-10-13 12:23] SrijitaSarkar99 commented on #418
May I work on this too?

[2020-10-13 19:28] shahednasser commented on #786
That doesn't look bad. You can go ahead and work on it.

[2020-10-13 19:39] shahednasser commented on #752
Alright @shubh710 I'll unassign this. You can claim it again if it is not assigned before then.

[2020-10-13 19:48] #729 closed

[2020-10-13 19:49] shahednasser commented on #418
@SrijitaSarkar99 someone is assigned to this issue.

[2020-10-13 19:57] shahednasser opened #803 "Enhancement in Stack Button implementation"
In `.stack-btn` the text (for example "Button") is set in `:before` in `content` property which is not convenient. We need the text inside the `<button>` element to be used, while maintaining the design of the button.

[2020-10-13 20:07] shahednasser opened #804 "Move all variables to _variables.less"
All variables in less files in src directory should be added in `src/_variables.less` recursively. When moving variables, append the name of the button to the beginning of the variable to not cause overlap between buttons. Also, change the variable names to camel case. For example, `@outline-width` in `src/components/special/_retro.less` should become `@retroOutlineWidth`. Make sure to change the

[2020-10-13 20:23] android-lewis commented on #804
Can I take a crack at this one?

[2020-10-13 21:28] shahednasser commented on #804
Sure @android-lewis i'll assign you

[2020-10-14 05:05] vinbaluyot commented on #803
Hi @shahednasser first time contributor here and I'd like to work on this one. :)

[2020-10-14 07:39] adsingh14 opened #807 "Liquid button performance."
**1 - Describe the bug** Liquid button performance needs to be fix. It slows down the website when it's in the viewport. That usually happens because of multiple animation runs at the same time while rendering.

**2 - Expected behavior of what should have happened (if applicable)** It should be placed in Special category or keep one or two color classes in display and hide others.

**3 - Screensho

[2020-10-14 14:32] Pratyush-Saxena commented on #225
I guess it should be assigned to someone else . because I m not able to work right now ... @shahednasser you must unassign me .

[2020-10-14 16:21] VishakhaAwasthi01 opened #809 "[BUTTON IDEA]:Logout button"
**1. Name of button**: Logout Button

**2. Description**: A simple logout icon button

**3. Button Type (Animated, Special, etc...)**:Icon

**4. Will you work on it?**: Yes

[2020-10-14 17:13] shahednasser commented on #696
Hi @0-harshit-0 any update on this?

[2020-10-14 17:13] shahednasser commented on #690
Hi @gokul112 any update on this?

[2020-10-14 17:14] shahednasser commented on #568
Hi @ankitaugale23 any update on this?

[2020-10-14 17:14] shahednasser commented on #468
Closing this issue as it is stale and the idea is not important

[2020-10-14 17:14] #468 closed

[2020-10-14 17:16] shahednasser commented on #803
I assigned you @vinbaluyot

[2020-10-14 17:21] shahednasser commented on #752
Sure @adunola142

[2020-10-14 17:22] shahednasser commented on #225
No problem @Pratyush-Saxena  thank you for letting me know.

[2020-10-14 17:24] shahednasser commented on #809
Sorry @VishakhaAwasthi01 we are currently not accepting icon buttons unless they have special functionalities (for example, the star button). Thank you

[2020-10-14 17:24] #809 closed

[2020-10-14 17:25] #794 closed

[2020-10-14 17:35] #765 closed

[2020-10-14 18:30] harsh1868 commented on #775
@shahednasser  can i do this ?

[2020-10-15 05:24] SARVESHKHANDELWAL commented on #1
Hi,can i contribute?

[2020-10-15 05:24] SARVESHKHANDELWAL commented on #1
Can you please assign to me.

[2020-10-15 09:55] AniketDGiri commented on #1
Hello, I would like to contribute, can I?

[2020-10-15 13:05] isonnymichael commented on #775
sure, I will assign you

[2020-10-15 13:05] vinbaluyot commented on #803
I did `git fetch upstream` then `git merge upstream/master` before doing PR and now [my PR](https://github.com/sButtons/sbuttons/pull/816) is not showing up here. :(

[2020-10-15 13:08] isonnymichael commented on #803
check your forked project, you can make PR there

[2020-10-15 13:55] Caleb335 commented on #742
Hi @shahednasser, is this still open?

If yes, I'd love to work on it

[2020-10-15 14:02] Caleb335 commented on #436
Hi @shahednasser I'd love to work on this

[2020-10-15 14:20] Hrshk15 opened #817 "[BUTTON IDEA]: Push Button"
**1. PUSH BUTTON **:

**2. Push button will be having a push affect when user hovers over it .  Simple  push animation .**:

**3. Button Type - Animated **:

**4. Yes , I have  solved this issue **:
Working-file:
[push-btn.zip](https://github.com/sButtons/sbuttons/files/5385451/push-btn.zip)

[2020-10-15 17:42] #734 closed

[2020-10-15 17:45] shahednasser commented on #710
Hello @adarshtodi any update on this?

[2020-10-15 17:49] #804 closed

[2020-10-15 17:56] shahednasser commented on #1
Hi @SARVESHKHANDELWAL @AniketDGiri  you can contribute by creating a "new button idea" issue if you have an idea that you would like to implement or see implemented, or you can comment on unassigned issues to contribute.

[2020-10-15 17:57] shahednasser commented on #742
Hi @Caleb335 someone is working on this

[2020-10-15 17:58] shahednasser commented on #436
Hi @Caleb335 yes go ahead!

[2020-10-15 18:00] shahednasser commented on #817
Hi @Hrshk15 thank you for wanting to contribute! First, to contribute your idea you need to fork this repository, add your code to your forked repository then submit a PR from your forked repository page. Please read the [contributing guidelines](https://github.com/sButtons/sbuttons/blob/master/CONTRIBUTING.md) for more information.

But first, can you show me an example or image of what the butto

[2020-10-15 18:15] #435 closed

[2020-10-15 18:16] shahednasser commented on #568
Unassigning this to give other contributors a chance. if you still want to contribute @ankitaugale23 you can submit a PR.

[2020-10-15 18:17] shahednasser commented on #690
Unassigning @gokul112 to give other contributors a chance to work on this

[2020-10-15 18:17] #696 closed

[2020-10-15 20:15] Caleb335 commented on #436
Alright, thanks.

But before I proceed, do I need to make variations of the loading button? If yes, can you specify the types that I'd be making?

[2020-10-15 20:52] dsnehasish74 opened #824 "There are 2 outline button section in the website . They both are same ."
![Screenshot (354)](https://user-images.githubusercontent.com/58779604/96184667-6c174300-0f56-11eb-88fd-3f2dfcd03422.png)

can you please review that one ????

[2020-10-15 21:09] crew-guy commented on #742
Isn't this completed ?

[2020-10-15 23:54] Hrshk15 commented on #817
Hi, @shahednasser  I've attatched a zip file above. Please check it out.

[2020-10-16 01:17] adarshtodi commented on #710
Update is that, that I have created this earlier using css, but I have no idea how to work on less.

I can attach the CSS files so that anyone else can work or you have to delete the issue :/

[2020-10-16 03:44] SARVESHKHANDELWAL commented on #824
Can you assign me this task?

[2020-10-16 05:15] 3stherMueni commented on #568
Hi @shahednasser  I would love to work on this

[2020-10-16 05:41] shahednasser commented on #436
@Caleb335 I haven't really thought of that. If you have different type of variations then go ahead but make sure all variations use CSS only.

[2020-10-16 05:43] shahednasser commented on #742
@crew-guy no please review my comment on #782

[2020-10-16 05:45] Caleb335 commented on #436
Alright, will do ✌️

On Fri, 16 Oct 2020, 6:42 AM Shahed Nasser, <notifications@github.com>
wrote:

[2020-10-16 05:54] crew-guy commented on #742
Done. Kindly check out PR #826

[2020-10-16 05:58] shahednasser commented on #710
Thank you @adarshtodi . I'll assign this to give other contributors a chance to work on it

[2020-10-16 05:59] shahednasser commented on #817
This button is exactly similar to the key button

[2020-10-16 06:00] shahednasser commented on #824
Thank you for noticing that @dsnehasish74 .

Yes @SARVESHKHANDELWAL you can work on it.

[2020-10-16 06:00] shahednasser commented on #568
Sure @3stherMueni I'll assign you

[2020-10-16 06:02] #742 closed

[2020-10-16 06:07] shahednasser opened #830 "Remove "Buttons" from some button labels"
Some button labels on the website include the word "Buttons" in them (for example Dashed Buttons). You just need to remove the word "Buttons" from the label. Changes need to be made in `assets/js/buttons-examples.js`.

Make sure to not remove the word buttons from the top level types (for example Basic Buttons, Animated Buttons, etc...).

This issue is open only for new contributors to this reposi

[2020-10-16 06:10] harsh863 commented on #436
@shahednasser can i work on this?

[2020-10-16 06:18] shahednasser commented on #436
@harsh863 someone is working on this

[2020-10-16 06:28] LeaFranz commented on #830
I'm a new contributor, could you assign this to me?

[2020-10-16 07:03] Hrshk15 commented on #817
@shahednasser  Ohh ...I checked .. its similar to it but both have an important difference ... key button has a push affect when clicked but it has a push affect when hovered over it.

[2020-10-16 07:24] harsh863 commented on #225
@shahednasser i would like to give this a try.

[2020-10-16 08:26] vinbaluyot commented on #690
@shahednasser Can I work on this one, too? Already tried it on my local but just haven't figured out how to add the html in the examples.  [sbuttons-toggle-button.zip](https://github.com/sButtons/sbuttons/files/5390203/sbuttons-toggle-button.zip)

![image](https://user-images.githubusercontent.com/46494300/96234250-ea222b00-0fe4-11eb-8c4a-409686280c7e.png)

[2020-10-16 08:49] HADES-01 commented on #830
Sure @LeaFranz, Go ahead I am assigning it to you.

[2020-10-16 09:00] LeaFranz commented on #830
Should the word "button" as in "Base icon button", "Close button", "Code button" or "Toggle button" also be removed?

[2020-10-16 09:18] HADES-01 commented on #830
@LeaFranz Yes.

[2020-10-16 10:15] navaneeth001 commented on #830
I'm a new contributor, could you assign this to me?

[2020-10-16 10:48] Soumi150 commented on #738
I would like to work on this. Please assign me.

[2020-10-16 15:10] mayankmohak commented on #738
It is taking too long for him to work upon it can i have a try on it. @shahednasser  and @sdesani

[2020-10-16 16:05] shahednasser commented on #817
I see but I don't this the difference is that big. I'll close this but if you have any other ideas please submit them in a "new button idea" issue

[2020-10-16 16:05] #817 closed

[2020-10-16 16:07] shahednasser commented on #225
Sure @harsh863  I'll assign you

[2020-10-16 16:09] shahednasser commented on #690
@vinbaluyot for now we don't want to add any examples for it, just to make sure the necessary changes for it to work as a checkbox. We might later add it in the documentation.

I'll assign you.

[2020-10-16 16:19] shahednasser commented on #738
Sure @mayankmohak I'll assign you.

[2020-10-16 16:19] #830 closed

[2020-10-16 16:22] shahednasser opened #841 "Place "Snake Border" button in the correct alphabetical order under Animated"
Place "Snake border" in the correct alphabetical order under Animated. Changes should be made only in `assets/js/buttons-examples.js`

[2020-10-16 16:23] Soumi150 commented on #841
I would like to work on this. Please assign me.

[2020-10-16 16:43] mayankmohak commented on #738
I am looking to use this : https://github.com/marketplace/actions/mast-joke-mara
please have a look weather it will be ok or please suggest some actions.

[2020-10-16 17:06] ilhambara commented on #340
Hi, can I add my gradient button style for this issue?

[2020-10-16 21:43] shashwatbangar commented on #841
hello @shahednasser can you please assign me this project? I would love to work on it. Thank you !!

[2020-10-16 22:33] adunola142 commented on #752
pls, assigned this back to @shahednasser ....

i might not be able to meet up

thank you

[2020-10-17 05:08] Yasas4D commented on #841
Hi, I fixed this issue as no one has assigned to this untill now. Please have a look on pull request.
Thank you!

[2020-10-17 07:14] I3han commented on #1
hey can I contribute for hacktoberfest, I am new in it

[2020-10-17 07:44] I3han opened #846 "[BUTTON IDEA]: 3D button For Video Game"
**1. Name of button**: 3D button For Video Game

**2. Description**: Button that looks like actually clicking button

**3. Button Type (Animated, Special, etc...)**: 3D

**4. Will you work on it?**: Yes please!

#hacktoberfest

[2020-10-17 07:56] #846 closed

[2020-10-17 08:54] divinenaman opened #848 "[BUTTON IDEA]: Neumorphic Buttons"
**1. Name of button**: Neumorphic Buttons

**2. Description**: Neumorphism or Soft UI is a combination of flat design and skeuomorphism. By adding intense drop/box shadows to elements.

**3. Button Type (Animated, Special, etc...)**: Basic

**4. Will you work on it?**: Yes, I want to work on it just that this will be my second pull so help me out if needed.

**5. Examples:**
![image](https://user-

[2020-10-17 09:07] shubh710 opened #849 "Remove extra "." from examples of buttons from website"
On website documentation there is an extra "." before class names in some examples of buttons.

![image](https://user-images.githubusercontent.com/14197114/96333221-40937600-1086-11eb-999f-1a6b99051e89.png)
This is observed across complete website.

I would like to fix this quickly.

[2020-10-17 09:14] shubh710 commented on #849
@shahednasser I have raised PR for the same issue please review.
https://github.com/sButtons/sbuttons/pull/850

[2020-10-17 09:16] AnaDeCanha commented on #848
Hi! I would like to contribute to this.

[2020-10-17 10:43] shubh710 commented on #752
Hi @shahednasser
i would like to take up this enhancement.

[2020-10-17 11:10] I3han opened #851 "Improve Key Button"
**1. Name of button**:  3D button for video games

**2. Description**: This button will feel like button can be clicked physically

**3. Button Type (Animated, Special, etc...)**: 3D

**4. Will you work on it?**: Yes

[2020-10-17 11:52] shubh710 commented on #752
@shahednasser

Please address below queries.
1) Where you have said

Does this mean, adding a class "animated" in buttons-examples.js > buttons > type:"anmated" > children.
e.g. instead of
`children: [
        {
          type: "aura-pulse",
          label: "Aura Pulse",
          classes: "aurapulse-btn",
        },`
we should have
`children: [
        {
          type: "aura-pulse",
          l

[2020-10-17 12:14] shahednasser commented on #738
@mayankmohak sure I don't mind

[2020-10-17 12:16] shahednasser commented on #340
@ilhambara this issue has been resolved. Thank you.

[2020-10-17 12:16] #340 closed

[2020-10-17 12:18] shahednasser commented on #807
I'm not sure how it slows the website since it's fine on my end, However we're currently working on a website revamp so most of these problems will be resolved. Thank you for reporting this!

[2020-10-17 12:18] #807 closed

[2020-10-17 12:19] shahednasser commented on #766
Hi @laurachristensen1214 any update on this?

[2020-10-17 12:20] shahednasser commented on #420
Hi @Kazeno21 thank you for working on this but unfortunately, this is taking too long. I'll be unassigning you to give other contributors a chance on it.

[2020-10-17 12:22] #841 closed

[2020-10-17 12:31] shahednasser commented on #1
@I3han yes you can! If you have an idea then you submit a "new button idea" issue or you can look for unassigned issues to contribute to

[2020-10-17 12:36] shahednasser commented on #848
We already have neumorphic buttons on the website. Thank you though!

[2020-10-17 12:36] #848 closed

[2020-10-17 12:37] shahednasser commented on #851
Hi @I3han is this different than the retro buttons we have? Please check them and if they are different please show me an example (an image or maybe an example from another website) before working on it.

[2020-10-17 12:40] shahednasser commented on #752
Hi @shubh710 . Regarding your queries:

1. No we don't want to include this in the examples. We want to add the ability to make the button animated at all times, not just on hover. We want this to be done just by adding the class `.animated` to the button. We will then include this in the documentation for the users to know about it.
2. yes that's what I meant. However, I think some animations mig

[2020-10-17 12:44] I3han commented on #851
https://i.ytimg.com/vi/CJ8FKjYtrT4/maxresdefault.jpg
It is something like this

[2020-10-17 14:34] shahednasser commented on #851
I think this is similar to the key button as well but I'm not sure.

@HADES-01 can I get your opinion on this? Do you think this button idea is a good one to add?

[2020-10-17 16:41] HADES-01 commented on #851
@shahednasser I think both are similar but this button has certain features that should be there in the current version, So it would be better if @I3han modified the current retro button to add the new features.

[2020-10-17 16:51] shahednasser commented on #851
That's a good idea @HADES-01 . Can you do that @I3han ?

[2020-10-17 18:32] I3han commented on #851
@shahednasser yes sure

[2020-10-17 18:33] #436 closed

[2020-10-17 18:33] #849 closed

[2020-10-17 18:34] shahednasser commented on #851
Ok I'll assign you @I3han

[2020-10-17 18:37] I3han commented on #851
Is there any guidelines for the participate?

[2020-10-18 03:18] I3han commented on #851
@shahednasser can you tell me which folder should I added this button and what should be the name of the button and name of the file name?

[2020-10-18 03:32] HADES-01 commented on #851
@I3han You can find everything in [here](https://github.com/sButtons/sbuttons/blob/master/CONTRIBUTING.md)

[2020-10-18 05:06] Hrshk15 commented on #817
ok.., no problem.

[2020-10-18 05:41] Hrshk15 opened #856 "Adding title to Download and Github button like theme toggle button"
**

1. When user hovers cursor over the toggle theme button , it shows title as "Toggle light/dark mode" .
2. But it does not do that with the other two buttons (download and  github buttons ).
3. For good user experience we should add the titles to other two buttons also.
4.  Or if the icons are **self-explanatory** ,  then the hover message on Toggle theme icon should also be removed.

**
**Prob

[2020-10-18 05:46] Soumi150 commented on #856
I want to work on this. Please assign me.

[2020-10-18 06:13] Hrshk15 commented on #856
I  created this issue.. so that I can contribute to it.🙃

[2020-10-18 07:44] mayankmohak commented on #738
hlo @shahednasser  please make a branch for me ton test this action.

[2020-10-18 09:04] SARVESHKHANDELWAL commented on #824
Can you please help ,as i didin't find the sidenav bar HTML code ,can you tell me in which file/folder contains that code.

[2020-10-18 10:47] Hrshk15 opened #857 "Animated-liquid-button scrolling problem"
**1 - The liquid button under animated type has a problem with scrolling. It scrolls up/down properly in full desktop window , but when you make the browser window smaller in size(or open the site on mobile browser)  the liquid button section comes over the navigation bar while scrolling . Below are some screen-shots of the problem**

 **Proper behavior in full desktop view**
![Screenshot (402)](h

[2020-10-18 11:13] Soumi150 commented on #856
Alright. Best of luck

[2020-10-18 12:02] dsnehasish74 commented on #824
This side nav is not hard coded ................ you just go to assests/buttons-examples.js and there you will find a list where all the button types are mentioned there you can see outline button types will be 2 times remove one of them .................... thats all .................. Hope you understand

[2020-10-18 12:42] SRUTHI2000 opened #858 "[BUTTON IDEA]:"
**1. Name of button**:
XOXO
**2. Description**:
It has styling properties with hover.
**3. Button Type (Animated, Special, etc...)**:
Hover
**4. Will you work on it?**:
YES

[2020-10-18 13:38] SARVESHKHANDELWAL commented on #824
Yes, I got it. Thanks.

[2020-10-18 14:33] I3han commented on #851
@HADES-01 @shahednasser Can you please check the PR please

[2020-10-18 15:19] SARVESHKHANDELWAL commented on #824
I have made the PR :+1: #859 .

[2020-10-18 19:01] sayalitandel commented on #1
Hey @shahednasser! This is the second PR of my life, I have added a trash button in the Icon Button category. I would be glad if you would review it. Thank you.

[2020-10-18 19:21] SARVESHKHANDELWAL opened #862 "While scrolling the Base Icon Button Section after Base Button the other two button and their sub section are not visible ."
**Bug Description**
    While scrolling on getStarted.html page in Base Icon Button Section after Base Button the other two button are not visible or
    becomes hidden on further scroll after base button and also its sub section are also not visible while scrolling down.

<img width="941" alt="Screenshot 2020-10-19 002231" src="https://user-images.githubusercontent.com/62640264/96377183-62cde680-

[2020-10-19 09:30] HERITAGEALABI commented on #416
yes i can work on it

[2020-10-19 10:41] adsingh14 commented on #807
It's slow on mobile when the multiple animations run at same time.

[2020-10-19 18:09] shahednasser commented on #738
@mayankmohak I have created the branch "test-welcome-action" to test it. You may submit a pull request there.

[2020-10-19 18:10] shahednasser commented on #857
@Hrshk15 thank you for finding this bug! I'll assign you to it.

[2020-10-19 18:12] shahednasser commented on #856
Hello @Hrshk15 thank you for pointing this out. We are currently working on a website revamp so this layout might change. I'll keep this open for now until we are done with the website revamp and if we still need to do this I will assign you to it.

[2020-10-19 18:13] shahednasser commented on #858
Can you please explain this more? Maybe show an image example or an example from another website?

[2020-10-19 18:17] shahednasser commented on #862
Thank you for reporting this bug @SARVESHKHANDELWAL . Would you like to work on it?

[2020-10-19 18:18] shahednasser commented on #416
Hi @HERITAGEALABI please do. I'll assign you.

[2020-10-20 03:04] Hrshk15 commented on #857
@shahednasser Thanks for assigning this to me...

[2020-10-20 03:05] Hrshk15 commented on #856
ok, no problem.

[2020-10-20 03:42] drewren25 opened #864 "Ripple button border and fill issue"
Ripple buttons: For whatever reason the buttons display normally but when I hover over them and cause the ripple animation to happen, some of the fill of the buttons don't reach the border of the button. I tested it out on my laptop and it happens to any button based on where the button was placed on the page. I tried fixing it but came up with nothing so hoping someone can fix it!

Below I attach

[2020-10-20 03:50] drewren25 commented on #864
Also this is probably a dumb question but how do I add labels to this issue? It says that I added the bug label but I think it was applied automatically when I posted the issue. I'm reading that I'm supposed to click a checkbox on the list of issues but I'm not seeing that checkbox anywhere.

[2020-10-20 05:04] ShashankArunkumar commented on #803
Hey, I'm a beginner, I would like to work on this one!

[2020-10-20 11:08] mayankmohak commented on #864
think that only maintainer can apply labels as per my experience on this repo.

[2020-10-20 11:22] Hrshk15 commented on #857
@shahednasser  will it count for hacktoberFest?...

[2020-10-20 13:58] devakisj1 commented on #420
Can you assign me this issue

[2020-10-20 13:58] mayankmohak opened #871 "over lapping of download and getsttarted buttons"
**1 - Describe the bug**
The two buttons are overlapping with each other on mobile view.

**2 - Expected behavior of what should have happened (if applicable)**
There should be a gap in between them. i have fixed the issue.

**3 - Screenshots (if applicable)**
![error](https://user-images.githubusercontent.com/63801800/96596074-f3bfd180-1309-11eb-8c19-1f00844c76df.jpg)

**4 - Additional notes**
I

[2020-10-20 14:01] mayankmohak commented on #738
I have created a PR please have a review.

[2020-10-20 16:05] drewren25 commented on #864
@mayankmohak ohh ok I see thanks!

[2020-10-21 10:11] #455 closed

[2020-10-21 10:14] shahednasser commented on #803
@ShashankArunkumar someone is working on this.

[2020-10-21 11:15] shahednasser commented on #857
@Hrshk15 yes all merged PRs or PRs labeled with "hacktoberfest-accepted" will count for Hacktoberfest

[2020-10-21 11:15] shahednasser commented on #420
Yes @devakisj1 I'll assign you

[2020-10-21 11:17] shahednasser commented on #871
Hi @mayankmohak thank you for reporting this. I think someone might have worked on this before but due to the constant changes in the website it might have occurred again. We are currently on changing up the design of the website so these issues will no longer happen.

I'll assign you to this.

[2020-10-21 11:27] shahednasser commented on #864
Hi @drewren25 thank you for reporting this issue and for providing a screenshot. As you said I was not able to reproduce this issue before. This issue is similar to #54 as we could not reproduce it on some devices at all, but other devices this issue kept happening. Someone worked on a fix for it so we'd probably have to review that. I'll leave this issue up in case someone can work on it. Again t

[2020-10-21 11:28] #803 closed

[2020-10-21 11:29] #786 closed

[2020-10-21 11:30] shahednasser commented on #418
Hello @sanyud24 any update on this?

[2020-10-21 11:53] mayankmohak commented on #871
shall i make a pr for now. @shahednasser

[2020-10-21 11:54] shahednasser commented on #871
@mayankmohak yes please

[2020-10-21 12:01] shahednasser opened #876 "[BUTTON IDEA]: Funky Button"
**1. Name of button**: Funky Button

**2. Description**: A button that's color is originally outside the border but on hover becomes inside

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: No if you want to work on it please comment to be assigned.

Here's an example of what the button should act like:
[https://codepen.io/halvo/full/pRdeja](https://codepen.io

[2020-10-21 12:03] shahednasser opened #877 "[BUTTON IDEA]: Striped Button"
**1. Name of button**: Striped Button

**2. Description**: A button that has a striped background. For each button color on the website, it should use the color and a darker shade of it for the stripes

**3. Button Type (Animated, Special, etc...)**: Button Style

**4. Will you work on it?**: No, please comment on this to be assigned to it.

[2020-10-21 12:05] shahednasser opened #878 "[BUTTON IDEA]: Diagonal Fill Button"
**1. Name of button**: Diagonal Fill Button

**2. Description**: Similar to the current fill buttons (right, left, etc...) it should fill the button diagonally. The code should also be placed inside `src/components/animated/_fill.less` like other fill types.

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: No, please comment on this to be assigned

[2020-10-21 12:06] shahednasser opened #880 "[BUTTON IDEA]: Sideways Fill Button"
**1. Name of button**: Sideways fill button

**2. Description**: Similar to the current Fill Buttons (left, right, etc...) this button should fill starting from the center and sideways (kind of like opening a door). The code should also be placed in `src/components/animated/_fill.less` similar to the current fill buttons.

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you wor

[2020-10-21 12:11] shahednasser opened #881 "[BUTTON IDEA]: Grow Button"
**1. Name of button**: Grow Button

**2. Description**: A button that starts with just an icon but on hover extends to show a word. It should work on any icon/text.

**3. Button Type (Animated, Special, etc...)**: Icon Button

**4. Will you work on it?**: No, please comment on this to be assigned

[2020-10-21 12:13] Deveshgsk commented on #878
Can I do this one?

[2020-10-21 12:13] shahednasser opened #882 "[BUTTON IDEA]: Rainbow Border Button"
**1. Name of button**: Rainbow Border

**2. Description**: a black background button with a radio border

**3. Button Type (Animated, Special, etc...)**: Special

**4. Will you work on it?**:No, please comment on this to be assigned

This button is similar to the button you see on codepen

[2020-10-21 12:14] shahednasser commented on #878
Sure @Deveshgsk I'll assign you

[2020-10-21 12:15] shahednasser opened #883 "[BUTTON IDEA]: Blob Button"
**1. Name of button**: Blob Button

**2. Description**: Button that fills up in a blob style

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: No, please comment on this to be assigned

You can see an example of it [here](https://codepen.io/suez/pen/aOgMxy).

[2020-10-21 12:18] shahednasser opened #884 "[BUTTON IDEA]: Neon Border Button"
**1. Name of button**: Neon Border Button

**2. Description**: A transparent background button with neon borders

**3. Button Type (Animated, Special, etc...)**: Button Style

**4. Will you work on it?**: No, please comment on this to be assigned

You can see an example [here](https://codepen.io/half-fuller/pen/GJwVLP)

[2020-10-21 12:20] shahednasser opened #885 "Enhance Gradient Button's Look"
**1 - Describe the bug**
Gradient button's style needs an enhancement. Maybe in the gradient being used or in the transition. Also the box-shadow looks a bit too much.

**2 - Expected behavior of what should have happened (if applicable)**
Make it something more sleek

[2020-10-21 12:29] mayankmohak commented on #885
i want to work on this issue.

[2020-10-21 12:32] mayankmohak commented on #871
I have made a PR.

Btw what changes are being expected and what all are going to change on this repo can i get prior of it.

[2020-10-21 12:50] shahednasser commented on #885
Sure @mayankmohak I'll assign you

[2020-10-21 12:58] mayankmohak commented on #876
I want to do this.

[2020-10-21 13:22] DrHowdyDoo commented on #881
Can i try ?

[2020-10-21 13:40] RakshitaTantry28 commented on #884
I would like to work on it!

[2020-10-21 13:44] Soumi150 commented on #882
I want to work on this. Please assign me.

[2020-10-21 14:22] parresh77 commented on #881
Please assign this to me. You can take a look at my existing work on button designs - https://pareshwadhwani-css-buttons.netlify.app/

[2020-10-21 14:39] sandeep3136 commented on #884
assign me

[2020-10-21 14:49] wisetok12680 commented on #786
Hey there,
I don't understand why you closed the issue. I was about make PR as the button is ready.

[2020-10-21 15:04] wisetok12680 commented on #883
I would like to work on this..

[2020-10-21 16:54] srinivasan-cloud commented on #884
hi i would like to contribute my work

[2020-10-21 17:05] kavinsingh28 commented on #883
I am new to this , but i wanna give this a try, can you please elabore more !

[2020-10-21 19:29] DhrutikPatel commented on #880
Hello @shahednasser can I work on it ?

[2020-10-21 20:42] glebkema commented on #862
Hello!
The sidebar on this page is three levels deep. And the script, if I understand correctly, has been debugged only for a depth of two levels and starts to fail at the third level.
Can I work on this?

[2020-10-21 21:01] Ovillena commented on #877
I would like to work on this issue

[2020-10-22 00:19] #628 closed

[2020-10-22 03:38] Hrshk15 opened #889 "Removing border from splash button"
**Is your feature request related to a problem? Please describe.**
Splash button is having borders of very odd colors , which don't go good  with the gradient inside of them.

**Describe the solution you'd like**
After removing the borders, it will have a good sleek n elegant look.

**How the button currently looks \ How it'll look after removing wierd borders :-**
The gradient is animated in this

[2020-10-22 03:39] SARVESHKHANDELWAL commented on #824
I have made the PR +1 #888 .

[2020-10-22 04:14] lejell0 commented on #877
I would like to work on this please!

[2020-10-22 04:14] lejell0 commented on #876
I would like to work on this please!

[2020-10-22 05:21] SARVESHKHANDELWAL opened #890 "On getStarted.html page all heading tag should have same font-style ,it is different after Base Icon Button."
**Describe the bug**
On getStarted.html page there is different heading font-style ,it should be same for all the heading on the page.

##**Here it has correct heading style.**
<img width="938" alt="1" src="https://user-images.githubusercontent.com/62640264/96827818-080fe580-1454-11eb-811c-a691fb556bc8.png">

##**But here the font style of heading is different it should be similar.**
<img width="9

[2020-10-22 06:13] drewren25 commented on #864
Hi @shahednasser, no problem! Yeah it's weird that it only happens on some devices but hopefully as you said someone can work and fix it.

[2020-10-22 06:39] japjotsingh13 commented on #1
hey can i contribute to this for hacktoberfest

[2020-10-22 08:26] shahednasser commented on #871
@mayankmohak I actually added you to the reviewers team of this project. Once you accept it you can see a discussion about it.

[2020-10-22 08:26] #871 closed

[2020-10-22 08:27] shahednasser commented on #882
@Soumi150 I'll assign you

[2020-10-22 08:28] shahednasser commented on #881
@parresh77 I'll assign you

[2020-10-22 08:29] shahednasser commented on #786
@wisetok12680 I closed the issue since I didn't get any update from you on it and the button idea isn't essential to keep it in issues, but if you would like to submit a PR you still can.

[2020-10-22 08:30] shahednasser commented on #884
@RakshitaTantry28 I'll assign you

[2020-10-22 08:35] shahednasser commented on #880
Sure @DhrutikPatel I'll assign you

[2020-10-22 08:36] shahednasser commented on #862
Since @SARVESHKHANDELWAL hasn't replied about working on this, @glebkema you may go ahead

[2020-10-22 08:37] shahednasser commented on #889
Makes sense. I'll assign you @Hrshk15

[2020-10-22 08:40] #824 closed

[2020-10-22 08:43] shahednasser commented on #877
@Ovillena you may go ahead

[2020-10-22 08:44] shahednasser commented on #876
@lejell0 you may go ahead

[2020-10-22 08:44] shahednasser commented on #890
Makes sense. Would you like to work on it @SARVESHKHANDELWAL ?

[2020-10-22 08:45] shahednasser commented on #1
Sure @japjotsingh13 you can either create a "new button idea" issue that you would like to work on or check unassigned issues to work on them

[2020-10-22 09:12] mrSidSat commented on #883
Can i work on this???

[2020-10-22 11:14] shahednasser commented on #883
Yes @mrSidSat I'll assign you

[2020-10-22 12:13] adrsh79086 opened #897 "[BUTTON IDEA]: Vibrate Button"
**1. Name of button**:
 vibrate button

**2. Description**:
[viberate btn (1).zip](https://github.com/sButtons/sbuttons/files/5422588/viberate.btn.1.zip)

when we move crusher on button it get vibrate.

**3. Button Type (Animated, Special, etc...)**:
Animation

**4. Will you work on it?**:
yes
[viberate btn (1).zip](https://github.com/sButtons/sbuttons/files/5422595/viberate.btn.1.zip)

[2020-10-22 13:55] Anamika810 commented on #885
I want to work on this issue. @shahednasser

[2020-10-23 03:33] HADES-01 opened #902 "Dark Mode support for neumorphic button"
**1 - Describe the bug**
In dark mode the neumorphic button looks flat and loses its neumorphic-ness (if that's a word).

**2 - Expected behavior of what should have happened (if applicable)**
The box shadow applied should get inverted in the dark mode.

**3 - Screenshots (if applicable)**
![image](https://user-images.githubusercontent.com/52060608/96953379-8d57d080-150e-11eb-97c1-6b8b812e1532.png

[2020-10-23 03:45] #851 closed

[2020-10-23 04:04] MorganGodden commented on #890
Hello @shahednasser, I have created a PR that fixes this issue.
Also, do issues like this qualify for hacktoberfest contributions? I am unsure as only some issues have the hacktoberfest tag.

[2020-10-23 04:58] MorganGodden commented on #902
Hey @HADES-01, are you taking this? If not then would I be able to ask @SahanAmarsha if I could be assigned?

I don't believe the box shadows should be inverted, rather the values of the highlight and shadow should be adjusted to fit on darkmode pages - making them more neumorphic.

[2020-10-23 05:15] HADES-01 commented on #902
@MorganGodden I guess you are right. I will assign you this.

[2020-10-23 07:22] ArshdeepSingh98 commented on #885
Can I also work on this issue?

[2020-10-23 09:59] ArshdeepSingh98 commented on #878
Can I do this If no one works on this ?

[2020-10-23 10:12] ArshdeepSingh98 opened #906 "Fill button in case of white color not showing any changes on hover"
**1 - Fill button (white) not shows any changes on hover**

**2 - I think white button should be removed or some shade of white should be shown**

**3 - Demo**
![fill_issue](https://user-images.githubusercontent.com/29947024/96991588-4ede0800-1546-11eb-98f8-e795e9d7dfdb.gif)

**4 - I can work on this issue if assigned**

[2020-10-23 10:19] ArshdeepSingh98 opened #907 "Fill button title is confusing"
**1 - Title of Fill buttons are a bit confusing as they don't specify the direction of fill color**

**2 - Adding FROM and TO should solve it**

**3 - I can work on this issue if assigned**

[2020-10-23 10:35] ArshdeepSingh98 opened #909 "Button text not visible in dark mode in some cases."
**1 - Text of some of the buttons is not clearly visible**

**2 - Text should be clearly visible in dark mode**

**3 - Screenshot**
![Screenshot 2020-10-23 at 4 02 36 PM](https://user-images.githubusercontent.com/29947024/96993785-68348380-1549-11eb-970b-ffd9ca6407b2.png)

**4 - I think making text color white/some shade of white should fix this issue.<br> I can work on this if assigned**

[2020-10-23 17:36] shahednasser commented on #897
Thank you @adrsh79086 but the idea doesn't look that good to be honest. I'll still assign you and you can submit a PR, maybe it'll look better after seeing it on the website.

P.S: even if we don't merge the PR I'll still label it "hacktoberfest-accepted"

[2020-10-23 18:05] #877 closed

[2020-10-23 18:19] shahednasser commented on #878
@ArshdeepSingh98 someone is assigned to this

[2020-10-23 18:20] shahednasser commented on #906
@ArshdeepSingh98 this is due to the background. If you switch to "Dark Mode" You can see it works fine. A fix here is not necessary, as the button's functionality needs to be like this. Thank you for reporting this!

[2020-10-23 18:20] #906 closed

[2020-10-23 18:22] #907 closed

[2020-10-23 18:24] shahednasser commented on #909
@Archis19 thank you for reporting this! As I mentioned on the other issue, this is important for the button's functionality.

However, your issues have made me realize maybe we need a "dark-mode" class for these cases. I'll create a new issue on this and you can work on it if you reply to it. Thank you!

[2020-10-23 18:24] #909 closed

[2020-10-23 18:40] ArshdeepSingh98 commented on #909
Ok, Thanks for the reply.

[2020-10-23 18:41] harjotkarwal commented on #1
Hi ! I'm beginner and learning code. I'm new to Open Source. Assign me any issue.

[2020-10-23 18:42] ArshdeepSingh98 commented on #906
Ok, Thanks for clearing it.

[2020-10-23 18:44] #890 closed

[2020-10-23 18:45] shahednasser commented on #1
@harjotkarwal please comment on an unassigned issue or create a "new button idea" issue if you have any that you would like to work on.

[2020-10-23 18:51] harjotkarwal opened #918 "[BUTTON IDEA]: Hover Button with revolving item."
**1. Name of button**: Neutron Button

**2. Description**: On hovering, neutron/atomic entity would revolve around on border.

**3. Button Type (Animated, Special, etc...)**: Special

**4. Will you work on it?**: Yes

[2020-10-23 19:15] shahednasser commented on #918
@harjotkarwal I'll assign you

[2020-10-23 19:32] DhrutikPatel opened #920 "[BUTTON IDEA]: loading button in fill type"
**1. Name of button**: loading fill button

**2. Description**: The fill color of certain size square or rectangle will move from left to right

**3. Button Type (Animated, Special, etc...)**: Animated type

**4. Will you work on it?**: yes

[2020-10-23 19:49] shahednasser commented on #920
Do you mean it will be like an animation?

[2020-10-23 19:54] shahednasser opened #922 "Add a class to support Dark Mode"
Currently all of our animations support light mode. We need a way to make it support dark mode as well, to give users a more flexible way of using the buttons. So, we should add a global class (a class that can work on all types) called `dark-mode` that makes any necessary changes to the button to make it look better (for example maybe change the color of the text, depends on each button). If a bu

[2020-10-23 20:05] ArshdeepSingh98 commented on #922
I would like to work on this feature/issue.
Also when dark mode is toggled from navbar, dark-mode class will be added to all the buttons?

[2020-10-23 21:04] shahednasser commented on #922
@ArshdeepSingh98 that's a good idea. Yes, I guess it should. Let's see what's the best way to do it.

I'll assign you.

[2020-10-24 00:54] MorganGodden opened #924 "[BUTTON IDEA]: Icon Door"
**1. Name of button**: Icon Door

**2. Description**:  An icon style button that when hovered over appears as though it is rotating with a door that is being opened behind it. Essentially symbolizing going from this page to another.

**3. Button Type (Animated, Special, etc...)**: Icon/Animated

**4. Will you work on it?**: I would be pleased to work on this further :)

[2020-10-24 01:20] kleyla opened #925 "[BUTTON IDEA]: 3d button"
**1. Name of button**: 3d button

**2. Description**:
[3d_button.zip](https://github.com/sButtons/sbuttons/files/5432253/3d_button.zip)

**3. Button Type (Animated, Special, etc...)**: Styles

**4. Will you work on it?**: yes

[2020-10-24 01:58] harjotkarwal opened #926 "Google Font error while compiling."
**1 - Describe the bug**: Compilation error

**2 - Expected behavior of what should have happened (if applicable)**: No google font error while compiling.

**3 - Screenshots (if applicable)**
![image](https://user-images.githubusercontent.com/73360250/97065632-7f688500-15cc-11eb-9a75-4605f7706a8f.png)

**4 - Additional notes**

[2020-10-24 03:39] 3stherMueni commented on #568
am Hi @shahednasser. Am still working on this, am a little slow because I don't have much experience on css but I sill complete it Asap. I hope you understand

[2020-10-24 04:03] DhrutikPatel commented on #920
Yes, rectangle of some size will go from left to right within the button

[2020-10-24 04:38] harjotkarwal commented on #918
#927

[2020-10-24 05:50] mrSidSat commented on #883
Here in this issue i Dont think this example can be implemented without any markup. i tried for a valid solution but this requires use of minimal markup for the blob effect...So i would like to ask if there is any provision to use JS here as it would make this job a lot easy...

[2020-10-24 09:01] shahednasser commented on #690
Any update on this @vinbaluyot ?

[2020-10-24 09:02] shahednasser commented on #225
Any update on this @harsh863 ?

[2020-10-24 09:03] shahednasser commented on #924
Hi @MorganGodden looks good. If it just works on icons then place it in icons. But if it can work on text then use text and place it in Animated. You figure out the best way to do it.

[2020-10-24 09:05] shahednasser commented on #925
@kleyla thank you for the button idea but we already have a key button and it's basically the same

[2020-10-24 09:05] #925 closed

[2020-10-24 09:06] shahednasser commented on #926
Thank you @harjotkarwal for reporting this error. I'm guessing you weren't connected to the internet when this happened?

Maybe we can make the import of the font optional for similar cases

[2020-10-24 09:07] shahednasser commented on #568
Sure @3stherMueni no problem

[2020-10-24 09:08] shahednasser commented on #920
I understand but this usually requires some javascript mechanism, so without that the button would be redundant, as we are doing this project CSS only.

[2020-10-24 09:08] #920 closed

[2020-10-24 09:17] shahednasser commented on #883
@mrSidSat this project is a CSS only project as of now. I understand your problem but I provided the example just as a reference. You don't have to do it exactly the same. Just try to make use of `:before` and `:after` and do it the way you find best.

[2020-10-24 09:29] #902 closed

[2020-10-24 09:32] #880 closed

[2020-10-24 09:32] #884 closed

[2020-10-24 09:32] #885 closed

[2020-10-24 09:32] #889 closed

[2020-10-24 09:34] ArshdeepSingh98 opened #932 "Gradient added twice in sidebar"
Gradient is occuring twice in sidebar so I made a small PR to remove it.

[2020-10-24 09:41] HERITAGEALABI commented on #416
@shahednasser i apologize i will work on a button type

[2020-10-24 11:14] dsnehasish74 opened #936 "[BUTTON IDEA]:Signin with Gitlab and bitbucket button"
**1. Name of button**:  social button

**2. Description**:  for detail you can refer to this link https://app.netlify.com/signup?_ga=2.199206703.1086808665.1603537944-387436929.1595247223

**3. Button Type (Animated, Special, etc...)**:

**4. Will you work on it?**:

[2020-10-24 12:17] harjotkarwal commented on #926
I don't know about the internet because I used 'Lato' font in my PR and it didn't show any error.

 I managed to compile it by terminate and re-run git command after each change.

[2020-10-24 13:55] mrSidSat commented on #883
okay thanks i would try..

[2020-10-24 14:15] HADES-01 opened #938 "Language Support in Readme"
**1 - Describe the bug**
Currently some of the code element in the `readme.md` doesn't have support for language markdown..

**2 - Screenshots (if applicable)**
![image](https://user-images.githubusercontent.com/52060608/97083972-562e1000-1631-11eb-8fa0-ffb69d2d7d5b.png)

[2020-10-24 19:02] Sumit2399 commented on #883
Hi @shahednasser,I am new to open source contribution.Can you provide me with some more pointer on what has to be done on this issue.Help would be appreciated.

[2020-10-24 21:09] marcoscalia commented on #883
Hi @shahednasser, maybe can be helpful this [solution](https://codepen.io/marcoscalia/pen/wvWgRbg)

[2020-10-25 00:20] #766 closed

[2020-10-25 01:30] harjotkarwal commented on #918
#942

[2020-10-25 03:09] MorganGodden opened #943 "Add a data-theme option for buttons in the buttons-examples.js file."
**Is your feature request related to a problem? Please describe.**
At the moment the website does not have an easy way for the user to compare between when a button is in darkmode or lightmode. Currently the user would need to navigate to the darkmode/lightmode button and keep switching between the two modes.

**Describe the solution you'd like**
To merge my PR that adds the ability to assign a bu

[2020-10-25 06:11] dasari810 commented on #936
@shahednasser  I'm interested to work on this , can you assign me .

[2020-10-25 06:28] Anshu-Pandey-codes commented on #876
I could pull this off really well

[2020-10-25 06:32] Anshu-Pandey-codes commented on #922
this seems to be a good challenge. I think ill learn a lot in this process.
I am new to the open-source community and want to do this project

[2020-10-25 06:47] hmankodiya opened #946 "[BUTTON IDEA]:Login with Steam-Id"
**1. Name of button**: Login with Steam

**2. Description**:  This button will be useful for those who wants to keep option of logging in with steam id.
Below I am attaching the snippet of the button.

![image](https://user-images.githubusercontent.com/52171362/97100641-83bf9b80-16bb-11eb-83b8-a2a3b0af3483.png)

**3. Button Type (Animated, Special, etc...)**:social

**4. Will you work on it?**: Ye

[2020-10-25 08:05] dsnehasish74 commented on #936
yes go head

[2020-10-25 08:07] dasari810 commented on #936
@dsnehasish74  i made a pull request #947   for this issue , please review it

[2020-10-25 11:03] Hrshk15 opened #948 "[BUTTON IDEA]: Like the plus Icon button there can be a minus button"
**1. Name of button**:
Minus Button
**2. Description**:
Like the plus button is used to increase value mostly , the minus button will be used to decrease the respective value.
**Just the plus will be replaced by minus.**
![Screenshot (427)](https://user-images.githubusercontent.com/56513758/97105329-e6c32980-16df-11eb-94ed-fed20812cdd0.png)

**3. Button Type (Animated, Special, etc...)**:
Icon Typ

[2020-10-25 12:47] harjotkarwal commented on #918
@shahednasser Here's my updated code #942

[2020-10-26 07:50] parresh77 commented on #418
I see it has been more than a week since any action from the assignee, @shahednasser I can work on this.

[2020-10-26 07:54] AaqibAhamed commented on #938
Can anyone explain more this issue .Then I can work on it.

[2020-10-26 12:01] #932 closed

[2020-10-26 12:04] #882 closed

[2020-10-26 12:08] #857 closed

[2020-10-26 12:10] shahednasser commented on #926
The error shows a connection error so I'm pretty sure it was an internet problem. Let's keep this issue up for now to see if any other contributors have a similar issue or not.

[2020-10-26 12:53] googol88 opened #954 "[BUTTON IDEA]: Isometric Button"
**1. Name of button**: Isometric Button

**2. Description**: a 3D button following the isometric projection (rotated and skewed) which appears pressed on when clicked. Here's an example:
<img width="486" alt="image" src="https://user-images.githubusercontent.com/57511576/97174546-9e038300-1768-11eb-98a7-bdef4cb4641b.png">

**3. Button Type (Animated, Special, etc...)**: Styles

**4. Will you work

[2020-10-26 13:00] #862 closed

[2020-10-26 13:38] adrsh79086 opened #956 "[BUTTON IDEA]: Blinking Text"
**1. Name of button**:
 blinking text

**2. Description**:
on hover the text on button is starting blinking.

**3. Button Type (Animated, Special, etc...)**:
Animated.

**4. Will you work on it?**:
yes
[blinking.zip](https://github.com/sButtons/sbuttons/files/5439068/blinking.zip)

[2020-10-26 13:40] shahednasser commented on #883
@Sumit2399 @marcoscalia someone is working on this issue.

[2020-10-26 13:40] shahednasser commented on #752
Hi @shubh710 are you still working on this?

[2020-10-26 13:42] shahednasser commented on #943
@MorganGodden Thank you for this issue. Someone is working on adding a class for dark mode that would add support for buttons on dark mode not just on the website, but when used by others in their projects as well and I find that more convenient. I still appreciate your work so I'll be labeling your PR as "hacktoberfest-accepted" and I look forward to more contributions from you!

[2020-10-26 13:42] #943 closed

[2020-10-26 13:42] Ajax-Light commented on #938
Hey! Do you mean syntax highlighting in the code block? If you can assign this to me, I'll be glad to Help!

[2020-10-26 13:43] shahednasser commented on #876
Hello @Anshu-Pandey-codes thank you but someone is working on this.

[2020-10-26 13:45] shahednasser commented on #922
Hello @Anshu-Pandey-codes someone is already working on this. Please pick unassigned issues or create a "new button idea" issue if you want to create a new issue.

[2020-10-26 13:49] #936 closed

[2020-10-26 13:51] shahednasser commented on #948
Thank you @Hrshk15 but we are actually removing many of these icon buttons soon, as we have a base icon now and there won't be any need for buttons like the "Plus button"

[2020-10-26 13:51] #948 closed

[2020-10-26 13:54] Sumit2399 commented on #883
Hi @shahednasser,I am trying to add a new button color .Most of the buttons are working fine but some animated buttons are causing issue.Can you help me to understand what could be the problem?

[2020-10-26 13:55] shahednasser commented on #938
hi @HADES-01 can you please provide some link or reference on "language markdown" so contributors can understand more what this is about? Thank you!

[2020-10-26 14:02] shahednasser commented on #418
@parresh77 I'll assign you

[2020-10-26 14:04] shahednasser commented on #954
Ok @googol88 you may go ahead

[2020-10-26 15:14] MorganGodden commented on #943
Ah okay @shahednasser, no problem!

[2020-10-26 15:29] Ajax-Light commented on #938
@shahednasser Hey, I think he means that the first 2 code blocks in the README.md file are not syntax highlighted and rest of them are. This is because they haven't been enclosed in the html``` markdown. Can I open a PR regarding this?

[2020-10-26 16:53] shubh710 commented on #752
Sorry @shahednasser .
I started but will not be able to complete any time soon.
Sorry once again. :(

[2020-10-26 17:27] Ajax-Light commented on #938
@HADES-01 Thanks, I'm on it. Will open a PR first thing in the morning.

[2020-10-26 19:26] shahednasser commented on #752
No problem @shubh710 ! Thank you for letting me know.

[2020-10-26 19:27] shahednasser commented on #938
@Ajax-Light @HADES-01 thank you for explaining. I'll assign you @Ajax-Light

[2020-10-26 19:29] shahednasser commented on #956
Ok @adrsh79086 you may go ahead.

[2020-10-26 21:47] ArshdeepSingh98 commented on #922
Hi, @shahednasser, sorry to inform that I will not be able to work on this issue. Feel free to assign it to anyone.

[2020-10-26 23:28] vinbaluyot commented on #690
Hi @shahednasser sorry got too busy. I just made a [PR](https://github.com/sButtons/sbuttons/pull/960#issue-510364467) for this one.

[2020-10-27 03:01] dsnehasish74 opened #961 "Fill color Button issue"
**1 - Describe the bug** in the fill color button some white space remains in the border sides for some buttons. can any one fix this issue . I am adding one of the screenshot .
![Screenshot (358)](https://user-images.githubusercontent.com/58779604/97251922-d7062b00-182e-11eb-91c2-c74e2acdd59a.png)

[2020-10-27 03:16] Ajax-Light commented on #938
@shahednasser I've opened PR #962. I had some concerns which I've commented there. Please Review.

[2020-10-27 03:48] divyanshutewari17 commented on #883
Can I Work on this?

[2020-10-27 04:20] divyanshutewari17 commented on #961
Can I work on this?

[2020-10-27 04:42] Shivam-Shandilya1 commented on #961
HEY! CAN I SOLVE THIS PROBLEM AND CONTRIBUTE  TO THIS WEB PAGE TO BECOME MORE EFFICIENT AND BUG FREE.

[2020-10-27 05:31] venkataraman123 commented on #416
I can work on it

[2020-10-27 06:32] Hrshk15 opened #963 "Transparent hover button- white color issue"
**1 - Describe the bug**
White colored button in  transparent hover button , on hover shows nothing on it. The text inside disappears  because its color remains white.
**2 - Expected behavior of what should have happened (if applicable)**
On hovering on transparent white button the text color should be changed to black (**or black with low intensity** ) on hover.
**3 - Screenshots (if applicable)*

[2020-10-27 07:19] dsnehasish74 commented on #961
@divyanshutewari17  ok can work . I am assigning you this task .
@Shivam-Shandilya1 thank you but @divyanshutewari17  commented first so you can look for other unassigned issues .

[2020-10-27 08:18] SARVESHKHANDELWAL opened #965 "In Round Bottom Button and Animated Buttons headings in side navbar the sub section headings are not visible completely."
**Describe the bug**
   In **Rounded Bottom** button in side nav bar the sub heading i.e Rounded Diagonal (Top Left) and Rounded Diagonal (Top Right) is not visible completely and i have attached the screenshot below.And same issue with **Animated Buttons** also.

**Supported Screenshots**

**##In Rounded Button Section**
<img width="293" alt="1" src="https://user-images.githubusercontent.com/6264

[2020-10-27 09:59] mrSidSat commented on #963
can i work on this

[2020-10-27 10:12] mrSidSat commented on #416
Can I work on this issue

[2020-10-27 12:53] Hrshk15 opened #968 "[BUTTON IDEA]:Rainbow button"
**1. Name of button**:
Rainbow Button
**2. Description**:
Copy paste this url in browser to see this button working live-
[https://codepen.io/hrshk/pen/KKMmgpK](url)
**3. Button Type (Animated, Special, etc...)**:
Animated
**4. Will you work on it?**:
I have worked upon it .

[2020-10-27 13:22] adrsh79086 opened #969 "[BUTTON IDEA]:Radial gradient btn"
**1. Name of button**:
 Radial gradient

**2. Description**:
  on hover the radial gradient start working.
[radial-gradient.zip](https://github.com/sButtons/sbuttons/files/5445545/radial-gradient.zip)

**3. Button Type (Animated, Special, etc...)**:
   Animated

**4. Will you work on it?**:
I worked upon it.

[2020-10-27 14:03] divyanshutewari17 commented on #961
@dsnehasish74 it is not showing this problem on all the systems. It didn't show the problem on my laptop but it was showing this bug on my PC. So, I resolved the problem and now it is not showing it on my PC also.
![Screenshot 2020-10-27 at 7 32 09 PM](https://user-images.githubusercontent.com/51994346/97312226-427de600-188b-11eb-9b9e-f3d107e9b499.png)

[2020-10-27 15:50] Hrshk15 commented on #963
I have worked upon it... but maintainer will decide whether this is to be solved or not.

[2020-10-27 16:10] mrSidSat commented on #963
Okay

[2020-10-27 21:19] crnguyen commented on #1
hi, can I contribute?

[2020-10-27 21:23] crnguyen opened #971 "[BUTTON IDEA]: Glowing button"
**1. Name of button**:
Glowing Button

**2. Description**:
Button that glows

**3. Button Type (Animated, Special, etc...)**:
animated

**4. Will you work on it?**:
yes i'm working on it

[2020-10-27 23:05] jithinjohnkaniyampoikayil commented on #963
I also have it ready. Is the PR opened for this already?? cant find any!!

[2020-10-28 04:22] Soumi150 commented on #738
I would like to work on this, if it's still open. Can I use a different action ?

[2020-10-28 05:22] mayankmohak commented on #738
The pr is made on test-welcome action branch it is late for maintainer to review and merge.

@shahednasser please merge the branch.

[2020-10-28 05:40] mrSidSat opened #972 "sbtn class is added globally to all"
**Is your feature request related to a problem? Please describe.**
 **The sbtn class is defined for each and every button which has some properties which interfere with the user defined classes for buttons
**Describe the solution you'd like**
**The sbtn class check should be given if the developer is facing the issue for representing the button in the main site which otherwise works good..**
**Mod

[2020-10-28 06:08] dsnehasish74 commented on #963
@Hrshk15  Thank you for mentioning it . But I think it is ok if the background color is deferent . Here background color is white so that you can not see the text but if this button is used in a different background color then it will be fine .

[2020-10-28 07:09] dsnehasish74 opened #974 "Paper Curl button border"
I think the border should not be there in the paper curl button .
I am adding the screenshot of both with border and without border . Fell free to give your opinion on this  .
With border
![Screenshot (362)](https://user-images.githubusercontent.com/58779604/97403500-879d2900-191a-11eb-880b-6a47ed0ee209.png)

solution without border
![Screenshot (361)](https://user-images.githubusercontent.com/587

[2020-10-28 11:00] Hrshk15 commented on #974
@dsnehasish74  yes, it looks better without  the border.

[2020-10-28 13:14] #924 closed

[2020-10-28 13:14] shahednasser commented on #922
@ArshdeepSingh98 it's ok thank you for informing me!

[2020-10-28 13:23] #858 closed

[2020-10-28 13:38] #938 closed

[2020-10-28 13:39] #946 closed

[2020-10-28 13:40] shahednasser commented on #965
You are right @SARVESHKHANDELWAL thank you for reporting this!

[2020-10-28 13:49] shahednasser commented on #968
You can go ahead @Hrshk15

[2020-10-28 14:02] SARVESHKHANDELWAL commented on #974
@dsnehasish74 yes, it looks better without the border.

[2020-10-28 16:20] dsnehasish74 commented on #974
so any one want to work on this ????????????

[2020-10-28 16:42] dsnehasish74 commented on #225
If no one is working on this can I work on this issue @shahednasser ???

[2020-10-28 17:42] divyanshutewari17 commented on #965
@SARVESHKHANDELWAL @shahednasser Can I work on this?

[2020-10-28 18:42] shahednasser commented on #961
Thank you @dsnehasish74 for reporting this. There seems to be an ongoing issue with fill buttons as described in #54 and other issues as well. I will keep this issue unassigned in case anyone can solve it. If anyone can solve it please submit a PR. Thank you all.

[2020-10-28 18:51] shahednasser commented on #1
sure @crnguyen you can either create a "new button idea" issue that you would like to work on or go through unassigned issues and comment on them to work on them.

[2020-10-28 18:54] shahednasser commented on #971
Hi @crnguyen thank you but unfortunately, we already have a glow button.

[2020-10-28 18:54] #971 closed

[2020-10-28 18:58] shahednasser commented on #972
Hello @mrSidSat can you please explain more what you mean? I couldn't really understand.

[2020-10-28 19:01] shahednasser commented on #963
thank you @Hrshk15 but I agree with @dsnehasish74 . We currently have an issue #922 for adding dark mode classes for all buttons, we'll look into adding a light mode classes but at the moment I think it's unnecessary.

[2020-10-28 19:01] #963 closed

[2020-10-28 19:06] #972 closed

[2020-10-28 19:06] shahednasser commented on #974
Great idea @dsnehasish74

[2020-10-28 19:08] shahednasser commented on #225
Yes @dsnehasish74 as this issue has taken too long.

[2020-10-28 19:14] shahednasser commented on #965
Yes @divyanshutewari17 I'll assign you

[2020-10-29 03:20] Hrshk15 commented on #968
Thanks!!

[2020-10-29 03:25] adrianmendez03 commented on #974
I'd like to take a crack at it!

[2020-10-29 03:26] Hrshk15 commented on #974
I have solved this issue. @shahednasser
![Screenshot (437)](https://user-images.githubusercontent.com/56513758/97521939-9b9d6500-19c4-11eb-96d5-6e1e75f59a50.png)

[2020-10-29 03:59] anillama commented on #974
Green without the border looks good.

[2020-10-29 11:52] #453 closed

[2020-10-29 11:52] shahednasser commented on #420
@devakisj1 do you have any update on this?

[2020-10-29 12:02] shahednasser commented on #974
@adrianmendez03 you may go ahead as you have commented first.

[2020-10-29 12:04] shahednasser commented on #969
The animation looks very similar to the ripple button

[2020-10-29 12:07] #968 closed

[2020-10-29 12:09] shahednasser opened #983 "Add documentation about toggle button"
Toggle Button now can be used for checkboxes and radio buttons. We need to do the following:

1. Add on the get started page a new section for toggle button explaining that it can also be used for checkboxes and radio buttons, and showing an example of it with the button and the code for it. It should be placed before the base icon documentation.
2. Add on the readme the same documentation as abov

[2020-10-29 13:03] devakisj1 commented on #420
Yes, I have worked out the solution will make pull request soon

[2020-10-29 15:13] Anurag-ak99 commented on #983
I would like to contribute, so can you assign this issue to me?

[2020-10-29 18:22] crnguyen opened #985 "[BUTTON IDEA]: subtract button"
**1. Name of button**: subtract button

**2. Description**:
Button with a - sign
**3. Button Type (Animated, Special, etc...)**: normal

**4. Will you work on it?**:
Yes

[2020-10-29 18:23] crnguyen opened #986 "[BUTTON IDEA]: Home Button"
**1. Name of button**: Home Button

**2. Description**: button that says Home, when clicked takes the user to a homepage. I can either use an icon or the word "Home"

**3. Button Type (Animated, Special, etc...)**: normal

**4. Will you work on it?**: yes

[2020-10-29 18:38] glebkema commented on #983
@Anurag-ak99 I've assigned you.

[2020-10-29 18:47] devakisj1 commented on #420
@shahednasser I am having trouble understanding extending the animation to different colors of button in the less file. Can I make a pr for just a single color button solution.

[2020-10-29 20:33] crnguyen commented on #985
finished this and opened a pull request: https://github.com/sButtons/sbuttons/pull/987

[2020-10-30 04:28] adrsh79086 commented on #969
yes thank you for informing..

[2020-10-30 06:01] ramkrishn123 commented on #983
I would like to contribute.

[2020-10-30 06:26] ramkrishn123 commented on #961
I want to try to fix this issue.

[2020-10-30 09:12] dsnehasish74 commented on #225
@shahednasser sorry I am not able to solve this problem for now , because I am little busy now .You can assign this to other . Sorry.

[2020-10-30 11:08] shahednasser commented on #986
I'm sorry @crnguyen but this button does not fit in our project. We don't need a button that has an action to it, we just want different button designs or different animations

[2020-10-30 11:08] #986 closed

[2020-10-30 11:09] shahednasser commented on #420
@devakisj1 submit a pr and maybe I can guide you through it.

[2020-10-30 11:10] shahednasser commented on #985
Thank you @crnguyen but we are currently only accepting icon buttons that have a certain functionality to them, not just an icon button with an icon in it.

[2020-10-30 11:10] #985 closed

[2020-10-30 11:20] #961 closed

[2020-10-30 11:20] #969 closed

[2020-10-30 11:21] shahednasser commented on #983
@ramkrishn123 someone else is assigned to this. Please look at other unassigned issues.

[2020-10-30 11:22] shahednasser commented on #225
It's ok @dsnehasish74 I understand! Thank you for letting me know.

[2020-10-30 11:40] mayankmohak opened #991 "Testing new issue greeter."
This is not a issue it's a test of action.

[2020-10-30 11:45] mayankmohak commented on #991
inspire angel, and create art .

this should be .
Contributors people_holding_hands like you make the open source community earth_africa such an amazing place to learn book , inspire angel, and create art .

making pr please merge it.

[2020-10-30 12:25] shahednasser opened #993 "Change URL to documentation on home page"
The "Explore the docs" button points to the examples page, should be changed to point to the documentation page.

[2020-10-30 12:26] shahednasser opened #994 "Fix Examples URL in the footer"
Currently the examples link in the Footer of the website points to the github repo page. Should point to the examples page on the website.

[2020-10-30 12:31] shahednasser opened #995 "Move documentation from getStarted.html to documentation.html"
There are some messing documentation in `documentation.html`. They should be moved from `getStarted.html` as this file will be deleted after this.

[2020-10-30 12:48] redpfire commented on #993
i can work on that

[2020-10-30 12:49] shahednasser commented on #993
@redpfire great I'll assign you

[2020-10-30 12:50] shahednasser commented on #965
This issue has been resolved by new website update. Thank you all

[2020-10-30 12:50] #965 closed

[2020-10-30 12:52] #690 closed

[2020-10-30 12:52] #738 closed

[2020-10-30 12:52] #775 closed

[2020-10-30 12:52] #881 closed

[2020-10-30 12:52] #897 closed

[2020-10-30 12:52] #991 closed

[2020-10-30 12:53] shahednasser commented on #416
@mrSidSat you may work on this. I'm changing the priority of this button to High as it has taken too long and I think it's an important button

[2020-10-30 13:45] redpfire commented on #993
Let me know if everything is okay :)

[2020-10-30 14:14] dsnehasish74 opened #1000 "Login with Steam Social button is not visible"
![Screenshot (365)](https://user-images.githubusercontent.com/58779604/97715394-55412680-1ae8-11eb-8e06-b980a100ad38.png)

[2020-10-30 14:21] HADES-01 opened #1001 "Redundant documentation in Readme.md"
**Describe the problem**
I think the Documentation in `Readme.md` about base icon button is highly redundant and not at all required. The documentation on the website is short and more importantly enough.

[2020-10-30 14:26] KyleBreedlove commented on #994
I can quickly fix this issue.

[2020-10-30 14:38] HADES-01 opened #1002 "Replace base-icon-btn with icon-btn"
**Feature Description.**
The current name `base-icon-btn` is too long it should be reduced to something like `icon-btn`.

**Describe the solution you'd like**
Whoever chooses to do it shall make changes to the class name and  file name [here](https://github.com/sButtons/sbuttons/blob/master/src/components/icon/_base-icon-btn.less) and class name in [`button-example.js`](https://github.com/sButtons

[2020-10-30 15:00] HADES-01 opened #1003 "Make loading-btn animation smoother"
**1 - Describe the bug**
The loading animation in the some of the loading buttons is not smooth i.e. it snaps back to original position which looks weird.

**2 - Expected behavior of what should have happened (if applicable)**
Simple solution is to just add `alternate` to the loading animations of the buttons that have this problem [here](https://github.com/sButtons/sbuttons/blob/master/src/compon

[2020-10-30 15:21] priyaChaturvedi11 commented on #995
Hi there! If you could provide a little more detail on what has to be done, I would like to work on this. Thanks!

[2020-10-30 15:26] priyaChaturvedi11 commented on #995
Alright! Stuff after 'Disabled Buttons' section isn't present in documentation.html and I guess has to be moved from getStarted.html  Is that all what has to be done?

[2020-10-30 15:27] dsnehasish74 opened #1005 "Rounded button for Neon border button"
**Describe the solution you'd like** Like other  buttons rounded button should be added for neon border button as well

**Additional notes** link if you need https://sbuttons.github.io/sbuttons/examples.html#neon-border

[2020-10-30 15:39] dsnehasish74 opened #1006 "Example and Documentation page Responsiveness issue"
**1 - Describe the bug** In the Examples and documentation section The heading is overlapping with the bellow section

**2 - Expected behavior of what should have happened (if applicable)** It should not overlap

**3 - Screenshots (if applicable)**
![WhatsApp Image 2020-10-30 at 21 05 04](https://user-images.githubusercontent.com/58779604/97725382-203ad100-1af4-11eb-91a7-ff9a8752403f.jpeg)
![Whats

[2020-10-30 15:48] dsnehasish74 opened #1007 "Logo Should not be hidden on small screen"
**Is your feature request related to a problem? Please describe.** The logo from the nav should not be hidden

![WhatsApp Image 2020-10-30 at 21 15 56](https://user-images.githubusercontent.com/58779604/97726637-72302680-1af5-11eb-92fc-26ca38f702fe.jpeg)

[2020-10-30 16:09] venkataraman123 commented on #416
Can I work on this

[2020-10-30 16:25] KyleBreedlove commented on #1000
Can I try to fix this bug?

[2020-10-30 17:29] crnguyen opened #1008 "[BUTTON IDEA]: floral hover button"
**1. Name of button**: Floral hover button

**2. Description**: Button that shows a floral background when you hover over it

**3. Button Type (Animated, Special, etc...)**: hover, styles

**4. Will you work on it?**: yes

[2020-10-30 18:26] Soumi150 commented on #1006
I would like to work on this.

[2020-10-30 19:14] glebkema opened #1010 "Do not hide the "To the Top of the Page" button beneath the footer"
**1 - Describe the bug**
When you scroll down the page, the round button in the lower right corner of the screen hides behind the footer.
For example: https://sbuttons.github.io/sbuttons/documentation.html#base

**2 - Expected behavior of what should have happened (if applicable)**
This button should remain on top of any other elements and sections on the page.

**3 - Screenshots (if applicable)**

[2020-10-30 19:20] shahednasser commented on #1001
@HADES-01 maybe we need to shorten the documentation but we still need to include more details about the icon positioning and how people can use it, which is not on the website at the moment.

[2020-10-30 19:20] shahednasser commented on #994
You can go ahead @KyleBreedlove

[2020-10-30 19:22] shahednasser commented on #995
Hello @priyaChaturvedi11 we're currently under discussion about that actually, so I'll get back to you on that.

[2020-10-30 19:24] shahednasser commented on #994
Sorry @KyleBreedlove this has been resolved.

[2020-10-30 19:24] #994 closed

[2020-10-30 19:29] shahednasser commented on #1008
Sounds good @crnguyen you may work on it

[2020-10-30 19:29] shahednasser commented on #1008
Make sure the button type is animation

[2020-10-30 19:33] shahednasser opened #1012 "Enhance sidebar behavior when reaching the footer"
The sidebar currently is hidden behind the footer, we need a better behavior for this to make the design look better.

[2020-10-30 19:33] #922 closed

[2020-10-30 19:45] glebkema opened #1013 "JS error on the main page of the site"
**1 - Describe the bug**
The browser console shows a Javascript-error on the home page of the site:
https://sbuttons.github.io/sbuttons/index.html
[code]

**2 - Expected behavior of what should have happened (if applicable)**
The error must be fixed as soon as possible, as it stopped working all the scripts on this page.

**3 - Screenshots (if applicable)**
![bug js on mhome-page](https://user-ima

[2020-10-30 19:49] shahednasser opened #1014 "Add support for Dark Mode for buttons"
We need to add support for dark mode, as a lot of the buttons need better support for dark mode, not just for our website, but for the users as well.

This issue will be divided between contributors where each contributor can take up a button to add dark mode support to it.

Adding the dark mode support need to be done in the following way:

1. Adding support when the parent is `[data-theme="dark"

[2020-10-30 19:51] shahednasser opened #1015 "Change the color of the "scroll to top" button on dark mode"
For dark mode, change the color of the "scroll to top" button to a lighter color (preferably white)

[2020-10-30 19:54] shahednasser opened #1016 "Tab's text on hover in dark mode should not change"
In the examples page when it is dark mode, the text on hover becomes white so it's not readable.

[2020-10-30 19:56] shahednasser opened #1017 "Paper curl button's background should be transparent on curl"
In Paper curl button when you hover the background of the "curl" is white but it should be transparent (you can see it when you switch to dark mode)

[2020-10-30 19:58] shahednasser opened #1018 "Weird behavior in blue "next button""
In the Next Button color blue, there's weird behavior on hover. This only happens in the blue color of this button

![sButtons-Simple-and-Creative-Buttons (3)](https://user-images.githubusercontent.com/27354907/97751439-ff29ae80-1afa-11eb-905b-17bd836e85fb.png)

[2020-10-30 20:02] shahednasser opened #1019 "Make flash button's animation faster"
The animation for the flash button is currently slow, it should be faster.

[2020-10-30 20:06] shahednasser opened #1020 "Make margin below "extra large" buttons smaller"
The margin below "extra large" buttons is big. It should be smaller. (Change needs to be done in `assets/css/index.css` as this is in the website, not in the button's code)

[2020-10-30 20:08] shahednasser opened #1021 "change "SButtons" to "sButtons" in examples page"
In the heading of the examples page, "SButtons" should be changed to "sButtons"

[2020-10-30 20:08] #752 closed

[2020-10-30 20:16] sleekyom commented on #1021
Hi @shahednasser I will fix this now

[2020-10-30 20:20] shahednasser opened #1022 "Add animated class to animated buttons"
Most animated button's animation only happens on hover, we need to add an `animated` class that triggers the animation without hovering over the button. And when the animation class is added make sure that the animation is not also triggered on hover. In order to avoid repeated code in the buttons, please move the animation or transition to a mixin and call it where it is needed.

Also, some butto

[2020-10-30 20:24] shahednasser commented on #1021
I'll assign you @sleekyom

[2020-10-30 20:24] #993 closed

[2020-10-30 20:25] sleekyom commented on #1021
Thank you

[2020-10-30 20:28] kushagra-shukla commented on #1010
I can do this. Assign me.

[2020-10-30 20:36] sleekyom commented on #1021
@shahednasser I'm getting this error
remote: Permission to sButtons/sbuttons.git denied to sleekyom.
fatal: unable to access 'https://github.com/sButtons/sbuttons.git/': The requested URL returned error: 403

[2020-10-30 20:36] glebkema commented on #1010
@kushagra-shukla Thanks for your willingness to help out, but you seem too experienced for this issue  :)
https://github.com/sButtons/sbuttons/blob/master/CONTRIBUTING.md#important-notes

[2020-10-30 20:50] kushagra-shukla commented on #1010
I have only worked on my projects or group projects and haven't really done any open source contribution 😄. This seemed quick and easy. Sorry I saw your comment after I did my PR. Should I close this PR?

[2020-10-30 21:15] glebkema commented on #1010
@kushagra-shukla Thanks for your efforts! We will be glad if you can help with any other tasks!

[2020-10-30 21:16] sleekyom commented on #1021
Yes I will do that right away

[2020-10-30 21:42] AndreJesusBrito commented on #1018
Hi @shahednasser, I tested this in some browsers and I'm not getting that problem.
Can you please give some more information?

[2020-10-30 21:43] MSTEWARDSON commented on #1013
I would like to try and fix this issue.

[2020-10-30 21:55] glebkema commented on #1013
@MSTEWARDSON OK. I have assigned this issue to you.

[2020-10-30 23:18] d3fau7t commented on #1020
Could I pick this up?

[2020-10-30 23:23] adrianmendez03 commented on #974
I believe @Hrshk15 already solved the problem.

[2020-10-30 23:32] MSTEWARDSON commented on #1013
Update on the issue.

I've narrowed down a few details for this issue. It only happens on the home page. The function call that creates this error comes from the checkSidebar() function within index.js when it calls the isOnScreen() function on the footer element.

Atm Im working into possible solutions to the problem.

[2020-10-31 00:11] #559 closed

[2020-10-31 00:35] MSTEWARDSON commented on #1013
Alright I have made a PR to fix this issue. Any feedback or suggestions would be appreciated.

Thanks.

[2020-10-31 00:46] felops commented on #1019
Hi @shahednasser, could I pick this one?

[2020-10-31 00:48] redpfire commented on #1019
i could work on that. as i can see the animation is 2s long now. how much faster should it be in your opinion?

[2020-10-31 00:48] redpfire commented on #1019
oh, well, nvm then

[2020-10-31 00:52] redpfire commented on #1007
i can work on this one

[2020-10-31 01:13] felops commented on #1016
Is this bug when you hover on the tab? I could solve it (:

[2020-10-31 01:14] felops commented on #1016
Does this bug happens when you hover on the tab? I could fix it (:

[2020-10-31 01:15] ZeroniaFX commented on #1017
Hi can you assign this to me please? Thanks!

[2020-10-31 01:17] felops commented on #1015
Hey @hahednasser I could help you on that as well!

[2020-10-31 01:17] felops commented on #1015
Hey @shahednasser, I could help you on that as well!

[2020-10-31 01:21] redpfire commented on #1007
please assign me and let me know if everything's alright :)

[2020-10-31 01:28] redpfire commented on #1007
ouch i already see a problem with the implementation...
it works on Home:
![image](https://user-images.githubusercontent.com/17385340/97768035-81789980-1b20-11eb-93b8-0e9dea92e1c0.png)

but on the other pages we have a button there and it breaks:
![image](https://user-images.githubusercontent.com/17385340/97768054-aec54780-1b20-11eb-8a0a-1c5cb47a6495.png)

should the logo be hidden when there's a

[2020-10-31 01:45] shresthalucky commented on #1005
Can you assign this to me?

[2020-10-31 01:58] karleypetracca commented on #1003
You can assign me to this one. 😃

[2020-10-31 02:00] shresthalucky commented on #1005
Added on PR #1034

[2020-10-31 03:12] dsnehasish74 opened #1035 "Copy button hover color change issue in dark mode"
**1 - Describe the bug** When hover on copy button in the documentation page there remains some white colors on corner that is looking odd . so you can just remove the white corner
![Screenshot (368)](https://user-images.githubusercontent.com/58779604/97769937-e64de700-1b54-11eb-961e-54fb58cae75e.png)

[2020-10-31 03:43] isonnymichael commented on #1035
hi @dsnehasish74 , thank you for reporting the bug. Would you like to work on it ? I will asign you

[2020-10-31 03:55] dsnehasish74 commented on #1035
No I open this  issue for the beginners . So if any beginner is interested to work on it you just assign this to them

[2020-10-31 04:19] divyanshutewari17 commented on #1018
@shahednasser  can I work on it?

[2020-10-31 04:36] pragapraga commented on #1020
Shall i pickup ? @shahednasser

[2020-10-31 04:42] isonnymichael commented on #1035
@dsnehasish74 ok, thank you

[2020-10-31 06:19] crnguyen commented on #1002
I would like to work on this. Can you assign to me?

[2020-10-31 06:38] dsnehasish74 opened #1041 "Color Theme is not changing on Home page"
**1 - Describe the bug** When you are on home page https://sbuttons.github.io/sbuttons/ the color theme can not be toggle . Though it is working on other pages

[2020-10-31 06:42] dsnehasish74 opened #1042 "Dark mode text color change"
In dark mode the text under Installation is not clearly visible . I think making it white will be great .
![Screenshot (371)](https://user-images.githubusercontent.com/58779604/97773012-4ef78c80-1b72-11eb-86e0-0dafeb1199f5.png)

[2020-10-31 06:48] Mani-07 commented on #1035
@dsnehasish74  - I am new to this. I can take this issue? Can you assign to me?

[2020-10-31 07:02] dsnehasish74 commented on #1035
@Mani-07  Yahh you can start working , I am assigning it to you

[2020-10-31 07:19] Mani-07 commented on #1035
@dsnehasish74 - Please add hacktoberfest Tag so that i can claim for this PR. Let me know if any concern.

[2020-10-31 07:52] pragapraga commented on #1018
@shahednasser - As commented by @AndreJesusBrito , I am also not able to reproduce. Can you please provide more information?

[2020-10-31 07:56] Mani-07 commented on #1017
@shahednasser - Can you assign this issue to me?

[2020-10-31 08:04] shresthalucky commented on #1041
Fixed with PR #1045

[2020-10-31 08:06] HADES-01 commented on #1002
@crnguyen Sure, Go ahead.

[2020-10-31 08:06] shresthalucky commented on #1042
Fixed on same PR #1045

[2020-10-31 08:10] karleypetracca commented on #1022
I will take the atom button. Thanks

[2020-10-31 08:10] Mani-07 commented on #1017
@shahednasser  - I have fixed this issue. please check below link.
https://deploy-preview-1046--clever-boyd-7dd108.netlify.app/examples.html#papercurl

[2020-10-31 09:22] Mani-07 commented on #1035
@dsnehasish74  - I have fixed this issue and raised PR. Can you check once?

[2020-10-31 09:26] EnechukwuChibuike commented on #1012
Can I do this?

[2020-10-31 09:32] ramkrishn123 commented on #1019
I want to fix this issue.

[2020-10-31 09:56] ramkrishn123 commented on #1002
I would like to work on this.

[2020-10-31 10:38] dsnehasish74 commented on #1035
@Mani-07  I already checked that it was ok . @shahednasser  will merge it to the main branch . Thank you for your work

[2020-10-31 11:42] eg180 commented on #1020
Good morning. I am interested in helping. Thank you. :)

[2020-10-31 11:43] eg180 commented on #1016
I'd like to try. Thank you

[2020-10-31 11:49] #1021 closed

[2020-10-31 11:51] parresh77 commented on #418
@shahednasser I will not be able to work on this due to other engagements. Hence I am unassigning this. Apologies for any inconvenience.

[2020-10-31 11:52] Mani-07 commented on #1016
@shahednasser - I am interested on this. Can you assign to me?

[2020-10-31 11:52] shahednasser commented on #1020
@d3fau7t you may work on this as you commented first

[2020-10-31 11:56] shahednasser commented on #974
The issue is not resolved yet so will you work on it @adrianmendez03 ?

[2020-10-31 12:02] shahednasser commented on #1015
You may go ahead @felops

[2020-10-31 12:04] Mani-07 commented on #1016
@shahednasser - I have fixed issue and raised PR. Can you check and let me know if an concern.
https://github.com/sButtons/sbuttons/pull/1052

[2020-10-31 12:06] #1005 closed

[2020-10-31 12:10] RishiAgar commented on #1010
I can take this up. Assign me.

[2020-10-31 12:14] #1003 closed

[2020-10-31 12:16] shahednasser commented on #1018
@AndreJesusBrito @pragapraga thank you for informing me about this. It didn't happen before but it suddenly started happening on my laptop.

@divyanshutewari17 can you reproduce this?

[2020-10-31 12:17] #1041 closed

[2020-10-31 12:17] #1042 closed

[2020-10-31 12:19] shahednasser commented on #1022
Great @karleypetracca you can go ahead

[2020-10-31 12:22] RishiAgar commented on #1010
I can pick this up. Assign me.

[2020-10-31 12:23] #1035 closed

[2020-10-31 12:25] shahednasser commented on #1002
Hi @ramkrishn123 someone is assigned to this. Please look for issues that are unassigned

[2020-10-31 12:27] shahednasser commented on #418
It's ok @parresh77 I'll be closing this issue anyway

[2020-10-31 12:27] #418 closed

[2020-10-31 12:31] #1013 closed

[2020-10-31 12:32] shahednasser commented on #1016
Assigning @felops for commenting first

[2020-10-31 12:35] shahednasser commented on #1012
Yes @EnechukwuChibuike I'll assign you

[2020-10-31 12:40] shahednasser opened #1059 "Change color of footer"
Change the color of the footer to `#233240` as I think it would match the header and look better.

[2020-10-31 12:42] shahednasser opened #1060 "Improve style of links"
Links in the documentation page are indistinguishable from normal text, it should be changed to have a different style than normal text. You can see what I mean in the [Download CSS File](https://sbuttons.github.io/sbuttons/documentation.html#downloadcss) part of the documentation.

Also, in dark mode the color of the link is black which doesn't look good so that should be fixed as well.

[2020-10-31 12:44] #995 closed

[2020-10-31 12:44] #1001 closed

[2020-10-31 12:44] shahednasser opened #1061 "Change documentation for icon buttons"
Change the documentation of the icon button on both the website and read me to make it more understandable and shorter.

[2020-10-31 13:02] #1061 closed

[2020-10-31 13:03] beachgurl commented on #1059
Hi, could I try this?

[2020-10-31 13:22] mayankmohak commented on #1060
Hi i would like to fix this...

[2020-10-31 13:23] mayankmohak opened #1063 "fix indentation of text"
**1 - Describe the bug**
![Untitled](https://user-images.githubusercontent.com/63801800/97780392-5b97d700-1baa-11eb-96d3-b40266afab8f.png)

**2 - Expected behavior of what should have happened (if applicable)**

**3 - Screenshots (if applicable)**

**4 - Additional notes**

[2020-10-31 13:36] divyanshutewari17 commented on #1018
@shahednasser I saw it once (after that I requested to work on the issue), but I am not seeing it anymore.

[2020-10-31 16:41] ahmedfadhil commented on #1059
Hi Shahed,
I did update the issue with the suggested color and did a PR about it.

[2020-10-31 17:18] rifafatima commented on #416
Yes, I can

[2020-10-31 17:58] shahednasser commented on #1059
@beachgurl you can go ahead as you have commented first

[2020-10-31 17:59] shahednasser commented on #1060
Great @mayankmohak I'll assign you

[2020-10-31 18:00] shahednasser commented on #1018
@divyanshutewari17 hmm that's weird. I'll leave this issue open for now in case this problem comes back again. Thank you.

[2020-10-31 18:01] #1006 closed

[2020-10-31 18:03] #1019 closed

[2020-10-31 18:06] #1016 closed

[2020-10-31 18:08] shahednasser commented on #416
@rifafatima since this is a high priority issue you can work on it as well. We need to resolve this one soon.

[2020-10-31 18:35] parresh77 commented on #418
@shahednasser I know the issue is closed and I unassigned it myself but can you please review it as I think it is one of the best designs we've got here.

[2020-10-31 18:49] AndreJesusBrito opened #1072 "Hatch buttons perspective bug"
**1 - Describe the bug**
When the icon of an hatch button gets active the icon does not return to default position on hover out

Steps:
1- hover in a hatch button
2- click it
3 - hover out

**2 - Expected behavior of what should have happened (if applicable)**
On hover out is expected the icon to return to default position

**3 - Screenshots (if applicable)**
![bug](https://user-images.githubuserc

[2020-10-31 19:04] rifafatima commented on #416
Okay.

[2020-10-31 19:04] rifafatima commented on #416
@shahednasser Okay.

[2020-10-31 19:40] d3fau7t commented on #1020
@shahednasser Does this change actually need to take place in `assets/css/examples.css`?

[2020-10-31 19:47] DhrutikPatel opened #1073 "Button name highlighted in different from button which appear on screen"
**1 - Describe the [bug**] : Button name highlighted in different from button which appear on screen for some button ex. when you click on **Gradient button** in subtopic then when it toogle to Gradient button heading page but the subtopic is highlight to **(Extra-small) next button**.

**2 - Expected behavior of what should have happened (if applicable)** Button name highlighted should be same as

[2020-10-31 20:11] d3fau7t opened #1075 "Inconsistent loading button labels"
**1 - Describe the bug**
Labels for loading buttons are inconsistent with what the button displays.

**2 - Expected behavior of what should have happened (if applicable)**
Buttons with loading animation on the left side should be labeled "loading left", and those on the right side should be labeled "loading right".

**3 - Screenshots (if applicable)**
![image](https://user-images.githubusercontent

[2020-10-31 20:18] Wei-J-Huang commented on #1075
I will try to fix this.

[2020-10-31 21:41] shahednasser commented on #1072
Oh nice catch thanks! Would you like to be assigned to this?

[2020-10-31 21:44] #1015 closed

[2020-10-31 22:51] dotsandchipsandthings commented on #1014
Hi @shahednasser can I work on this?

[2020-10-31 23:04] karleypetracca commented on #1022
One additional consideration on this @shahednasser : will there be a plan to put something like `shouldHaveAnimatedType` into the `buttons-examples.js`?  I imagine it would default to false, unless the value is there in the examples list.  That way it can be turned on for each button as each new button's `.animated` css class gets completed, and for those completed buttons, can show the class exis

[2020-11-01 05:02] mayankmohak opened #1079 "size of download and document button is different in 3 different pages."
**1 - Describe the bug**
Size of download and document button is different in different page(index.html, documentation.html and example.html)
**2 - Expected behavior of what should have happened (if applicable)**
all should be similar to that on index.html
and that will make buttons to get inside that of dark area.
**3 - Screenshots (if applicable)**
![button size](https://user-images.githubuserco

[2020-11-01 09:12] mayankmohak opened #1081 "improper method of applying css in index.html, documentation.html and examples.html"
**1 - Describe the bug**
While going through codes i found the style attribute was implemented in html page like wise :point_down:
`<a href="documentation.html" class="sbtn outline-btn white-btn banner-link"
            style="color: white !important;">Documentation</a>`
`<a href="documentation.html" class="sbtn outline-btn white-btn banner-link"
              style="color: white !important;">Docu

[2020-11-01 09:42] dsnehasish74 opened #1083 "Fix link in documentation page"
**1 - Describe the bug** The link bellow the basic button in the Documentation page that should  point to Examples page not to home page

Also the text should be change from "our website" to "Examples page"

[2020-11-01 09:55] singhtalwinder commented on #1014
Hey, can I do dashed button?:smiley:

[2020-11-01 15:12] DhrutikPatel opened #1085 "sButton logo on top left should redirect to home page"
**1 - Describe the bug** sButton logo on top left when clicked not redirecting to home page

**2 - Expected behavior of what should have happened ** sButton logo on top left when clicked should redirecting to home page

[2020-11-01 19:06] mayankmohak opened #1086 "please help in compiling less"
i am  trying to compile less using `npm run compile` but when did so all the less files are re-written.

Pasting here the complete log of what i got
$ `npm run compile`

 prettier --write "src/**/*.less" "dist/sbuttons.css" "assets/**/*.css" "assets/**/*.js"
src\_variables.less 278ms
src\components\_animated.less 49ms
src\components\_basic.less 293ms
src\components\_hover.less 139ms
src\components

[2020-11-02 03:57] SARVESHKHANDELWAL commented on #1085
Can I work on this??

[2020-11-02 04:08] theRoushan commented on #1014
Can I Fix this Issue?

[2020-11-02 04:14] SARVESHKHANDELWAL opened #1087 "One Button of social buttons in animated buttons section the text is not visible."
**1 - Describe the bug**
 The text of white background/colored button in **social buttons** of animated buttons section is not visible.

**2 - Expected behavior of what should have happened**
 The text should be visible of the button, it should not be **blank button**, the reason is that the background color and text color got same due to that it is not visible.

**3 - Supported Screenshot**
<img

[2020-11-02 04:26] SARVESHKHANDELWAL opened #1088 "In footer the examples button should not redirect to github page."
**Is your feature request related to a problem? Please describe.**
The examples button should not redirect to github page instead of that it should redirect to examples page.
**Describe the solution you'd like**

**Additional notes**

[2020-11-02 04:31] SARVESHKHANDELWAL opened #1089 "In footer the examples button should not redirect to github page."
**1 - Describe the bug**
Is your feature request related to a problem? Please describe.
The examples button should not redirect to github page instead of that it should redirect to examples page.

**4 - Additional notes**
Can i fix this bug??

[2020-11-02 04:32] SARVESHKHANDELWAL commented on #1088
Please close this i added this issue in bug .

[2020-11-02 04:39] SARVESHKHANDELWAL opened #1090 "On home page the documentation button is not proper ,it should cover complete dark background."
**1 - Describe the bug**
On home page the documentation button is not proper ,it should cover complete dark background,as some part is in white background and some in dark.

**2 - Expected behavior of what should have happened (if applicable)**
Making the uniform dark background for documentation button ,we look good instead of half on other and some part on other color background.

**3 - Supporte

[2020-11-02 07:27] shahednasser commented on #1073
Thank you @DhrutikPatel for pointing this out. We have someone currently working on this.

[2020-11-02 07:31] shahednasser commented on #1075
Hello @d3fau7t thank you for noticing this. Actually the change need to be made in `assets/js/buttons-examples.js`. Let me know if you would like to work on this.

[2020-11-02 07:32] #1020 closed

[2020-11-02 07:38] shahednasser commented on #1022
@karleypetracca I don't think it's necessary for the website at the moment, as it could make it laggy. We could maybe decide in the future to do that, but only play the animation when the button is on screen? This is just an idea but I'm not sure we will work on it at the moment, but thank you for the suggestion!

[2020-11-02 07:40] #161 closed

[2020-11-02 07:41] #1017 closed

[2020-11-02 07:42] #1059 closed

[2020-11-02 07:53] #1060 closed

[2020-11-02 07:55] #1007 closed

[2020-11-02 07:57] shahednasser commented on #1086
Hi @mayankmohak don't worry it shows at first that all files are modified but when you make the commit only the files that are actually modified get committed. There's no problem here. Let me know if you need any additional help.

[2020-11-02 07:57] #1086 closed

[2020-11-02 08:06] #918 closed

[2020-11-02 08:08] shahednasser commented on #1085
As @SARVESHKHANDELWAL pointed out this is not necessary, however I guess people are used to clicking the logo to go to the homepage so from a UX perspective this is useful. Will put this up as a low priority issue.

[2020-11-02 08:08] shahednasser commented on #1014
Sure @singhtalwinder !

[2020-11-02 08:08] shahednasser commented on #1014
@theRoushan of course but can you pick a button to work on?

[2020-11-02 08:10] shahednasser commented on #1087
Thank you @SARVESHKHANDELWAL but there's already an issue on this #1000

[2020-11-02 08:10] #1087 closed

[2020-11-02 08:13] shahednasser commented on #1089
Hi @SARVESHKHANDELWAL there's already an issue on this #994 and it has been resolved.

[2020-11-02 08:13] #1089 closed

[2020-11-02 08:13] #1088 closed

[2020-11-02 08:14] shahednasser commented on #1088
@SARVESHKHANDELWAL you can close this yourself by the way since you are a Member

[2020-11-02 08:15] shahednasser commented on #1090
Thank you @SARVESHKHANDELWAL but there's already an issue on it #1079 and someone is working on it.

[2020-11-02 08:15] #1090 closed

[2020-11-02 11:54] #1083 closed

[2020-11-02 11:55] #1079 closed

[2020-11-02 11:57] shahednasser opened #1097 "Add copy to clipboard button for code in home page"
Just like in the documentation page there's a copy to clipboard button for code blocks, the same should be added to code blocks on the homepage.

[2020-11-02 12:25] muskuu commented on #1014
Hi, can I please do the neon border button?

[2020-11-02 12:44] jlieow commented on #1075
Hi can I attempt to fix the bug?

[2020-11-02 12:55] shahednasser commented on #1014
@muskuu yes sure go ahead!

[2020-11-02 12:56] shahednasser commented on #1075
Sure @jlieow go ahead

[2020-11-02 13:24] jlieow commented on #1085
Can I attempt to fix this?

[2020-11-02 13:37] Hrshk15 commented on #974
2 days have passed since this comment was made @shahednasser , I think he  is busy with something else .  If this is  that important I can make a pull-request.

[2020-11-02 13:53] Yashs911 commented on #1097
Hi @shahednasser I would like to work on this issue

[2020-11-02 15:45] dsnehasish74 commented on #974
@adrianmendez03 are you working on this on this issue please reply ? if not then let us know .

[2020-11-02 16:23] adrianmendez03 commented on #974
I'm not working on this. Sorry for the inconvenience.

[2020-11-02 16:33] DhrutikPatel commented on #1085
@shahednasser should I fix it ?

[2020-11-02 18:31] hmankodiya opened #1099 "Improper spacing between icons and text in social buttons"
**1 - Describe the bug** : I found out that there was an improper spacing between the text and login icon in the **social button's block menu.**

**2 - Expected behavior of what should have happened (if applicable)**: Proper spacing as provided in the basic menu / round menu is expected as shown below.
![image](https://user-images.githubusercontent.com/52171362/97904805-09e87b80-1d67-11eb-9f32-5af

[2020-11-02 19:33] dsnehasish74 commented on #974
@adrianmendez03  ok no problem

[2020-11-02 19:34] dsnehasish74 commented on #974
@Hrshk15 are you interested to work then I will assign this to you.

[2020-11-02 23:40] AndreJesusBrito commented on #1072
@shahednasser sure.

[2020-11-03 03:39] singhtalwinder commented on #1014
@shahednasser
**The Yellow dashed button has a black text color instead of yellow color. Is it expected behavior?**

Here's a screenshot

![Screenshot (3)](https://user-images.githubusercontent.com/61012185/97946450-76d43380-1db0-11eb-907a-251c92acfa8e.png)

Also, how should buttons behave in dark mode?
Should I change the black button to the white button and vice versa in dark mode?

**P.S. Thank

[2020-11-03 07:14] Hrshk15 commented on #974
Yes. I am interested.

[2020-11-03 08:43] dsnehasish74 commented on #974
then you can work on this.

[2020-11-03 09:36] mrSidSat commented on #1097
### **_Can i work on this issue..??_**

[2020-11-03 09:37] Fogeinator commented on #1010
Hihi, I was wondering if this could be my first contribution? I've never done open source before, so I might ask a bit more questions 😅

[2020-11-03 11:32] shahednasser commented on #1085
Sure @jlieow go ahead

[2020-11-03 11:40] shahednasser commented on #1099
I'm not really seeing this problem on my end. Can you provide more info on this (screen width, device and browser, etc...). Please also make sure that this is not due to the cache (by hard refreshing it) as I think we had this problem before and we resolved it. Thank you!

[2020-11-03 11:43] shahednasser commented on #954
Hi @googol88 any update on this?

[2020-11-03 11:44] shahednasser commented on #876
Hi @lejell0 any update on this?

[2020-11-03 11:45] #1072 closed

[2020-11-03 11:49] shahednasser commented on #1014
Hi @singhtalwinder I think there's a problem with the button, as it should be similar to outline button so the text should be yellow. I'll raise an issue on this, so please just work on the rest of the colors mentioned. Thanks!

[2020-11-03 11:50] shahednasser opened #1105 "Change text color of yellow dashed button"
Yellow dashed button's text is currently black, it should be changed to yellow (similar to the concept of outline button).

[2020-11-03 12:01] hmankodiya commented on #1099
Yes you are right , it seems that there is a problem with my browser (Google Chrome) , i saw it on Firefox  and it's all right firefox.
Thank You for your guidance.

[2020-11-03 12:04] mayankmohak commented on #1105
I would like to do this.

[2020-11-03 12:05] shahednasser commented on #1097
Yes @Yashs911 since you commented first you can go ahead

[2020-11-03 12:06] shahednasser commented on #1010
Yes @Fogeinator you can work on it and if you have any questions you can always ask

[2020-11-03 12:07] shahednasser commented on #1099
@hmankodiya is it a cache issue or something else that needs to be worked on?

[2020-11-03 12:08] shahednasser commented on #1105
Sure go ahead @mayankmohak

[2020-11-03 12:11] shahednasser opened #1106 "Choose different images for Documentation and Examples pages"
The image that we are currently using in the home page is from [Undraw](https://undraw.co/illustrations), we want different images for each of Documentation and Examples pages. Make sure that the images use the same colors as the one on the homepage.

[2020-11-03 12:24] googol88 commented on #954
Hi, apologies for the delay, I'm still working on it!

[2020-11-03 12:49] hmankodiya commented on #1099
It seems to be not working while using   Google Chrome or even Microsoft Edge but works fine on Firefox, i even  tried browsing it out on chrome of different PCs  but still the same issue prevails.

As for cache issue, i cleared the browsing history and the cache but it doesn't seem to work .

[2020-11-03 13:12] mayankmohak commented on #1086
I got this when i `git add any file` the changes.

[2020-11-03 13:28] shahednasser commented on #954
No problem @googol88

[2020-11-03 13:31] shahednasser commented on #1099
Can you provide me with the screen width?

[2020-11-03 13:31] shahednasser commented on #1086
That's not a problem don't worry @mayankmohak this is related to the end of file

[2020-11-03 13:34] #1097 closed

[2020-11-03 13:36] shahednasser opened #1109 "Changes to text in home page"
The following changes need to be made in the homepage in the "sButtons CDN" section:

1. change "SButtonCDN" to "sButtons CDN" in the section content.
2. Change the URL of the CDN in the code block to "https://cdn.jsdelivr.net/gh/sbuttons/sbuttons/dist/sbuttons.css" and in "sButtons CDN" add a link to it.

[2020-11-03 13:50] #926 closed

[2020-11-03 13:55] mayankmohak commented on #1105
Actually it is not the problem only with dashed it is common in all yellow button.

Can you please explain me this code for what it is made **dark text** in yellow btn . `color: @darkText !important;`

full code ref.  src/components/_basic.less
[code]

[2020-11-03 13:56] shahednasser commented on #1105
@mayankmohak the buttons that have a background color (not transparent) not the text to be black.

[2020-11-03 14:04] Soumi150 commented on #878
I would like to work on this. Please assign me.

[2020-11-03 14:06] MitchWijt commented on #1109
working on it!

[2020-11-03 16:36] mayankmohak commented on #1086
thanks a lot dear it was to small thing but due to thinking it big it was difficult for me. **btw thanks a lot**

[2020-11-03 17:33] mayankmohak commented on #1105
Well then there could be a better way of doing it.

While going through code i realized more things as unnecessary there were darkText applied for yellow which could be replaced by white as similar to other buttons so made changes accordingly.
@shahednasser  have a look.

[2020-11-03 17:39] DhrutikPatel commented on #1109
Hello @shahednasser can I work on it?

[2020-11-03 17:42] adrsh79086 opened #1113 "[BUTTON IDEA]: puff -btn"
**1. Name of button**:
puff btn
**2. Description**:
on hover the effect is working,
[ezyzip (1).zip](https://github.com/sButtons/sbuttons/files/5483037/ezyzip.1.zip)

**3. Button Type (Animated, Special, etc...)**:
animated

**4. Will you work on it?**:
 i have worked

[2020-11-03 18:25] DhrutikPatel opened #1114 "Bug in Atom Button"
**1 - Describe the bug** when we click one atom button animation start but on second click its animation is not stoping.

**2 - Expected behavior of what should have happened (if applicable)** one first click animation should start and on second click it should stop.

[2020-11-04 03:17] DhrutikPatel commented on #1106
Hello @shahednasser can I work on it?

should I show you the images here which I am going to add to website or should I directly add it to website?

[2020-11-04 03:44] hmankodiya commented on #1099
yes the screen width of my laptop is 15.6 in with a screen resolution of 1920 x 1080

[2020-11-04 09:16] Fogeinator commented on #1010
Thanks!! Btw, I was told not to edit the main.css file - which one should I update instead? 😅

[2020-11-04 11:58] shahednasser commented on #878
Assigning you @Soumi150

[2020-11-04 12:18] #1085 closed

[2020-11-04 20:49] muskuu commented on #1014
![image](https://user-images.githubusercontent.com/13404218/98166084-e2331800-1f0c-11eb-8e03-ebc43764f312.png)

@shahednasser
Hi, I have made changes to _neon-border.less on my local system with regards to dark mode.
But I am unable to understand this step. Thanks In advance.

[2020-11-05 08:26] #1000 closed

[2020-11-05 08:30] #1081 closed

[2020-11-05 08:35] shahednasser commented on #1109
Sorry for the late reply @DhrutikPatel if you still want to work on it then yes go ahead

[2020-11-05 08:36] shahednasser commented on #1113
Hi @adrsh79086 thank you for always submitting new ideas. I need the opinions of other members on this one. What do you think @HADES-01 @dsnehasish74 ?

[2020-11-05 08:37] shahednasser commented on #1114
Nice catch. I think this is due because the animation is added on active state as well. Would you like to work on it?

[2020-11-05 08:39] shahednasser commented on #883
I am unassigning @mrSidSat as he is working on a different approach

[2020-11-05 08:39] shahednasser commented on #883
@divyanshutewari17 let me know if you still want to work on this

[2020-11-05 08:40] shahednasser commented on #1014
Hi @muskuu . After making the changing in Less files you need to compile them so the changes can be added to `dist/sbuttons.css`

[2020-11-05 08:44] shahednasser commented on #1106
@DhrutikPatel yes you can. You can show them in the PR.

[2020-11-05 08:47] shahednasser commented on #1099
I'm still not seeing this @hmankodiya on my side but will leave this up in case anyone can reproduce this. You can also submit a PR for this if you have a fix.

[2020-11-05 08:49] #1002 closed

[2020-11-05 08:54] shahednasser commented on #856
Hi @Hrshk15 you can work on this now as the website has been revamped.

[2020-11-05 08:58] DhrutikPatel commented on #1114
yes, I will try to fix it.

[2020-11-05 09:09] #1075 closed

[2020-11-05 09:11] shahednasser opened #1123 "Buttons that have more than 3 class names are not displayed properly"
On the examples page under each button we have class names for that button. Each button should be preceded with a `.` but buttons that have more than 3 classes only has a `.` before the first three class names.

[2020-11-05 12:06] shahednasser commented on #1073
@isonnymichael are you working on this or should we leave this open for other contributors?

[2020-11-05 12:10] shahednasser commented on #983
@ramkrishn123 do you still want to work on this?

[2020-11-05 13:27] Hrshk15 commented on #974
Hey @dsnehasish74  someone has already solved this issue, papercurl is working as you wanted it to be .
![image](https://user-images.githubusercontent.com/56513758/98246735-b2c9ed00-1f98-11eb-92a7-e65697d18685.png)

[2020-11-05 13:33] Hrshk15 commented on #1022
I'll take the rainbow button.

[2020-11-05 14:45] dsnehasish74 commented on #974
Yah @Hrshk15 thank you for informing that

[2020-11-05 14:45] #974 closed

[2020-11-06 07:24] shahednasser commented on #1022
Great @Hrshk15 thanks!

[2020-11-06 07:25] #956 closed

[2020-11-06 07:26] #568 closed

[2020-11-06 07:31] #1010 closed

[2020-11-06 16:22] adrsh79086 commented on #1123
I can work on this

[2020-11-07 00:14] #420 closed

[2020-11-07 05:46] harjotkarwal commented on #1114
@DhrutikPatel @shahednasser I think that's not a bug but functionality like the other animated buttons. For refrence, check Aura Pulse button under animated category.

[2020-11-07 05:58] adsingh14 commented on #1022
Indeed !

I've an idea to improve the UI/UX of animated buttons. I can add the toggle animated class functionality in such way that it won't affect the other contributors work. Will discuss this further on your acknowledgement.

[2020-11-08 23:24] googol88 commented on #954
Hi @shahednasser , I'm still having a couple problems with this button. Specifically, I haven't adjusted the margins properly and there's some strange flickering with the `::before` and `::after` pseudo classes. On Safari, it looks fine until you click it, then part of it disappears... it's weird. And on Chrome the pseudo classes don't even show up at all! Here's a deployment of [my fork](https://

[2020-11-09 05:41] TomWBush commented on #1022
How many of them can I take? I will take Aura and Bounce if I can take more than one. Thank you!

[2020-11-09 11:07] shahednasser commented on #1123
I'll assign you @adrsh79086

[2020-11-09 11:08] shahednasser commented on #1008
Hi @crnguyen are you still working on this?

[2020-11-09 11:09] #710 closed

[2020-11-09 11:11] #1018 closed

[2020-11-09 11:13] shahednasser commented on #1114
I'm not seeing the issue in Aura pulse button @harjotkarwal

[2020-11-09 11:23] shahednasser commented on #954
I understand @googol88 if you want you can send in a PR to see how I can help you

[2020-11-09 11:24] shahednasser commented on #1022
@adsingh14 great but toggle button is not on the list above so please choose one of the buttons from the list and let me know which

[2020-11-09 11:24] shahednasser commented on #1022
sure @TomWBush you can

[2020-11-09 12:59] viktoraronfarkas commented on #883
@shahednasser I could work on this

[2020-11-10 06:54] #1106 closed

[2020-11-10 07:00] shahednasser commented on #1073
Hi @DhrutikPatel would you like to work on this?

[2020-11-10 08:52] TomWBush commented on #1022
I can take the next three, Diagonal Background on Hover, Expanding Border, Fill Buttons All Types.

One question I have is that Expanding Border does not seem to have a continuous animation on hover. Do you want me to make it continuous for the animated class?

[2020-11-10 09:55] shahednasser commented on #1022
Thanks @TomWBush . No I think that was a mistake, it's not supposed to be continuous. I'll edit that.

[2020-11-10 12:41] adsingh14 commented on #1022
@shahednasser I wasn't talking about toggle button from the list. I was suggesting adding toggle functionality button for animated buttons.

[2020-11-10 21:08] UpasanaGhosh commented on #876
In case this still needs to be fixed, I would like to work on it. Thank you! :)

[2020-11-10 21:10] UpasanaGhosh commented on #883
Can I please take this up if there isn't anyone else working on it? Thanks!

[2020-11-10 23:56] singhtalwinder commented on #1014
Can I take the glow button?

[2020-11-11 02:10] crnguyen commented on #1008
yes, just took a little break

[2020-11-11 08:52] shahednasser commented on #1022
@adsingh14 oh do you mean on the website adding a toggle functionality that adds or removes the `animated` class? That's a good idea. Can you open a new issue with it please with it?

[2020-11-11 08:53] shahednasser commented on #876
Yes @UpasanaGhosh please work on it.

[2020-11-11 08:53] shahednasser commented on #883
Sure @UpasanaGhosh I'll assign you

[2020-11-11 08:58] shahednasser commented on #1008
No problem @crnguyen just checking. Take your time.

[2020-11-11 13:32] shonali2600 commented on #1014
Hi, can I do the base icon?

[2020-11-11 16:25] yuwangcs commented on #1022
@shahednasser hello, can I take flash, hinge, invert?

[2020-11-12 08:43] shahednasser commented on #1014
Yes @shonali2600

[2020-11-12 08:44] shahednasser commented on #1022
Yes @yuwangcs you can

[2020-11-12 17:08] #1073 closed

[2020-11-12 17:13] #416 closed

[2020-11-12 17:25] #1109 closed

[2020-11-12 17:28] shahednasser commented on #1123
Hi @adrsh79086 any update on this?

[2020-11-12 19:49] richierubel commented on #878
Can I do this one? as @Soumi150 has removed the assignment yesterday

[2020-11-12 19:53] BeniB98 commented on #225
Hey, i would love to work on it, if nobody else do it. :)

[2020-11-13 04:46] TomWBush commented on #1014
I can do Diagonal Background, Fill, and Ripple.
I also have a question and a concern. For expanding border, I thought it already looked okay. Do you want to make the background transparant? And for the completed dash button, the text on the yellow-btn is almost invisible. And the black-btn looks exactly the same as the white-btn; it just doesn't have the animation.

[2020-11-13 05:52] mrSidSat opened #1143 "[BUTTON IDEA]:spotlight btn"
**1. Name of button**: spotlight btn

**2. Description**: discussed earlier in blob btn

**3. Button Type (Animated, Special, etc...)**:animated

**4. Will you work on it?**:yes

[2020-11-13 07:03] shahednasser commented on #878
Yes @richierubel I'll assign you

[2020-11-13 07:04] shahednasser commented on #225
Sure @BeniB98 I'll assign you.

[2020-11-13 07:04] #1113 closed

[2020-11-13 07:05] #1099 closed

[2020-11-13 07:06] shahednasser commented on #856
@Hrshk15 hello, can you confirm if you'll be working on this?

[2020-11-13 07:09] shahednasser commented on #1014
Thank you @TomWBush . As for expanding border we need to change the color of the border on dark mode, as it isn't really visible.

As for the dashed button, we had a different issue for the yellow button and someone was working on it but they've basically disappeared. If you would like to work on it as well that's fine. as for the black btn it is supposed to look like that in dark mode, as a black

[2020-11-13 07:15] shahednasser commented on #1143
@mrSidSat yes please work on it

[2020-11-13 10:57] #1105 closed

[2020-11-13 14:34] Meffy678 opened #1146 "[BUTTON IDEA]: Toggle Slide Button using already sButtons designs"
**1. Name of button**: CustomToggle (?)

**2. Description**: So the idea is a "button" that has several toggle options as a slider version.

**3. Button Type (Animated, Special, etc...)**: You should be able to use all the button designs that sButtons already has as designs for the slider.

_Please note that this picture is only for reference purpose and is a very early version!_
<img src="https:/

[2020-11-13 14:41] richieracoon opened #1147 "[BUTTON IDEA]: Animated Bubble Disperse Button"
**1. Name of button**:  Animated Bubble Disperse Button

**2. Description**:

The Button should behave as following:
On last step the bubbles disperse and fade away.

<img src="https://user-images.githubusercontent.com/46709532/99084479-48800080-25c7-11eb-802b-358bd1be7fe8.png" height="80%" widht="80%">

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: Yes

[2020-11-13 16:27] TomWBush commented on #1123
I cannot seem to reproduce the bug. Can you see my screenshot to see if I'm understanding the issue correctly?
<img width="564" alt="Screen Shot 2020-11-13 at 11 27 25 AM" src="https://user-images.githubusercontent.com/34357020/99095512-3724fd00-25a3-11eb-870b-5789f9794fd4.png">

[2020-11-13 16:37] TomWBush commented on #1114
The animation stops when you click outisde the button.

[2020-11-13 17:12] shonali2600 commented on #1014
Hi @shahednasser, I'm having trouble finding the CSS of Base icon buttons. Can you please help me out as I'm new to open source.

[2020-11-13 17:53] TomWBush commented on #1014
It's src/components/icon/_icon-btn.less.

[2020-11-13 18:35] shahednasser commented on #1146
Hello @Meffy678 thank you for the suggestion! To be honest I'm not a big fan of the idea, as I don't see a use for it. Also, it requires javascript but this is a CSS only project. If you have other suggestions please submit other issues!

[2020-11-13 18:35] #1146 closed

[2020-11-13 18:36] shahednasser commented on #1147
Hi @richierubel thank you for the idea. I like it but without the click part, as it requires javascript and this is a CSS only project. Can you do the first two parts only with only CSS?

[2020-11-13 18:38] shahednasser commented on #1123
You can see the problem in [base icons](https://sbuttons.github.io/sbuttons/examples.html#base-icon) and [loading buttons](https://sbuttons.github.io/sbuttons/examples.html#loading). It seems like it's only happening in some cases?

[2020-11-13 18:40] shahednasser commented on #1114
@TomWBush that's true but I think what @DhrutikPatel means is that instead of the animation occuring on `:hover`, it's also occuring on `:active`

[2020-11-13 18:41] shahednasser commented on #1014
@shonali2600 as @TomWBush it's in the src directory. We use less in this repository and then compile it to CSS.

[2020-11-13 18:48] shahednasser commented on #1014
**UPDATE**

After testing the buttons that now support dark mode I have found a bug on the website which is that the dark mode styling will apply on browsers/devices that have dark mode enabled, even when the website is on 'light' mode. This can cause an issue to anyone that uses their website as well if they don't support dark mode or have, like us, a toggle for dark/light modes.

So, now it's no

[2020-11-13 18:58] TomWBush commented on #1123
I've located the issue. If adrsh79086 is no longer working on this, I can fix this real quick.

[2020-11-14 11:56] VinayakChopra commented on #1012
Hi, Can I work on this?

[2020-11-14 13:28] VinayakChopra commented on #856
Hi, I can fix this real quick if this is unassigned.

[2020-11-14 18:19] Hrshk15 commented on #856
@shahednasser  I m very sorry for being this late.... this issue will be solved within 24 hours.

[2020-11-14 19:23] VinayakChopra commented on #983
I would like to contribute, can you assign me this issue?

[2020-11-15 10:29] adrsh79086 commented on #1123
i am working on it

[2020-11-15 10:49] JithinAji opened #1149 "Sidebar anomaly in documentation and example page"
**1 - Sidebar covers the page for both documentation and example page when on top of the website for large screen.**

**2 - Sidebar should be visible only after you scroll down.**

![new](https://user-images.githubusercontent.com/29234101/99182942-52883780-275e-11eb-8bde-59202925396f.png)

[2020-11-15 12:13] glebkema commented on #983
@VinayakChopra I've assigned you.

[2020-11-15 15:53] JithinAji commented on #1149
Can I work on this?

[2020-11-16 14:00] richierubel commented on #1147
Hello Shahed,

I'd really like to work on the bottom and I'm confident to do the first
part CSS-only.

Kind regards,

Richie

[2020-11-17 04:26] #1063 closed

[2020-11-17 18:09] VinayakChopra commented on #983
Thanks, just needed to know if I need to just display the toggle buttons and Write the use case as check box and radio button as text or
actually show the use case along with code on the getting started page

[2020-11-18 02:27] modaserMoj commented on #1014
I made a pull request for  Transparent on Hover (Black Color) on #1151

[2020-11-18 18:11] shahednasser commented on #1012
Yes @VinayakChopra you can

[2020-11-18 18:15] shahednasser commented on #1147
@richierubel unfortunately the bottom part requires javascript and at the moment this is a CSS only project. I'll assign you to this.

[2020-11-18 18:16] shahednasser commented on #954
Hello @googol88 are you still working on this?

[2020-11-18 18:19] shahednasser commented on #983
Hello @VinayakChopra We need you to write documentation about it as well as show the button. You need to include a checkbox with the classes related to toggle and same for the radio button. Make sure to also include the code block to how to do it under each example (you can refer to other parts of the documentation on help on that)

[2020-11-18 19:13] Hanaffi commented on #1123
@shahednasser  Can you assign me it?

[2020-11-18 19:13] Hanaffi commented on #1123
@shahednasser  Can you assign it to me?

[2020-11-18 20:59] Hanaffi commented on #1123
Done.
https://github.com/sButtons/sbuttons/pull/1155

[2020-11-18 21:11] TomWBush commented on #1014
I can do the last three.

[2020-11-19 00:13] #876 closed

[2020-11-19 05:35] VinayakChopra commented on #1012
Hi, @shahednasser I have created a pull request with a fix for the given issue, kindly check the same.

[2020-11-19 19:22] hmankodiya opened #1159 "Login With Steam not visible properly"
**1 - Describe the bug**: The Login With Steam button is not behaving properly. The logo along with the text is all invisible

**2 - Expected behavior of what should have happened (if applicable)**
![image](https://user-images.githubusercontent.com/52171362/99712864-a16cfe80-2ac9-11eb-893e-cd9abc10149a.png)

**3 - Screenshots (if applicable)**
![image](https://user-images.githubusercontent.com/521

[2020-11-20 07:06] shahednasser commented on #1123
Hello @Hanaffi but @adrsh79086 is working on it. Please work on unassigned issues.

[2020-11-20 07:09] shahednasser commented on #1014
Which last three @TomWBush ? Some of them are taken

[2020-11-20 07:10] TomWBush commented on #1014
Oh sorry, I mean the last three available.

[2020-11-20 07:37] shahednasser commented on #1014
great @TomWBush you can work on them

[2020-11-20 07:39] #1149 closed

[2020-11-20 07:43] shahednasser opened #1161 "Sidebar on small devices"
On small devices, the sidebar is cropped at the top (it needs some padding). Also when it is opened in the beginning of the page (when the screen is still on the header) it does not have a background color.

These bugs are only happening between screen widths 991px and 451px

![Screenshot from 2020-11-20 09-40-44](https://user-images.githubusercontent.com/27354907/99773197-bc189500-2b14-11eb-8c04-

[2020-11-20 12:50] Hanaffi commented on #1123
@shahednasser  Thats unfair.
He has been working on it for 15 days!
That was enough. please reassign it to me and check my PR.

[2020-11-20 12:53] shahednasser commented on #1123
@Hanaffi please don't say that this is unfair, as you can clearly see someone is assigned to this issue but you chose to work on it. When you want to contribute you should check unassigned issues and comment on them to claim them.
As for the time given, we try to give people the time needed for them to resolve the issue, as this repository is focused on helping contributors.

@adrsh79086 are you s

[2020-11-20 12:59] JithinAji commented on #1161
Hi @shahednasser

Can you check again I think this one has been corrected already.

[2020-11-20 20:02] Hanaffi commented on #1123
@shahednasser  Do you think that this one needs 15 days to solve?

[2020-11-21 17:44] shahednasser commented on #1161
@JithinAji it seems the transparent background is fixed, however there's still the problem with the margin in the specified screen width, and another problem is when the sidebar is opened on a small device and then the screen is enlarged the sidebar is visible at the top of the page.

[2020-11-21 17:46] #1159 closed

[2020-11-21 17:48] shahednasser commented on #1123
It's not about what I think @Hanaffi . This is a place that encourages people to contribute, not pressure them.

However, as @adrsh79086 hasn't replied, I'll check your PR. But please don't do this again.

[2020-11-21 18:05] shahednasser commented on #1114
Hello @DhrutikPatel are you still working on this?

[2020-11-21 18:06] shahednasser commented on #878
Hi @richierubel are you still working on this?

[2020-11-21 18:29] JithinAji commented on #1161
Can you please assign this to me. I will try to fix this as soon as I can.

[2020-11-22 00:14] #856 closed

[2020-11-22 15:26] mrSidSat commented on #883
Can You assign it to me again??

[2020-11-23 14:00] shahednasser commented on #883
Sure @mrSidSat

[2020-11-23 14:07] #983 closed

[2020-11-23 15:14] mrSidSat opened #1168 "[BUTTON IDEA]:REFLECTION BUTTON"
**1. Name of button**:
Reflect button
**2. Description**:
Its a simple button but looks good
**3. Button Type (Animated, Special, etc...)**:
Simple button
**4. Will you work on it?**:
yes
![reflect  Button](https://user-images.githubusercontent.com/58354243/99978919-8bfb1b80-2dcc-11eb-83a7-8940e68a3c5c.png)

[2020-11-23 18:10] sjohnston92 commented on #1022
@shahednasser Hey there can I take the Liquid and Transparent on Hover buttons?

[2020-11-23 18:51] richierubel commented on #878
Hi Shahed,

yes I'm still wokring on it. But I view the Button more of a learning
opportunity. I am currently working myself through a css transitions
course on linkedin learning and will start working on the buttons code
this week.

Kind regards, Richie

Am 2020-11-21 19:06, schrieb Shahed Nasser:

Links:
------
[1] https://github.com/richierubel
[2]
https://github.com/sButtons/sbuttons/issues/87

[2020-11-23 19:59] antuan54 opened #1169 "Папа"
ПВ

[2020-11-24 00:13] #864 closed

[2020-11-24 02:47] modaserMoj commented on #1022
@shahednasser can I take spring and splash?

[2020-11-24 17:25] kyawkyawsoezhu commented on #1022
hi @shahednasser, I would like to take **Splash**, **Spring**

[2020-11-24 18:19] sjohnston92 commented on #1022
Hey @shahednasser can I work on the Liquid and Transparent on Hover buttons?

[2020-11-25 08:04] shahednasser commented on #1168
@mrSidSat is that different than the glossy button?

[2020-11-25 08:08] #1161 closed

[2020-11-25 08:10] shahednasser commented on #878
Thank you for letting me know @richierubel you can take your time

[2020-11-25 08:11] #1169 closed

[2020-11-25 08:15] shahednasser commented on #1022
@modaserMoj @kyawkyawsoezhu @sjohnston92 I've assigned you all to the buttons you have chosen

[2020-11-25 11:10] #1123 closed

[2020-11-26 00:13] #954 closed

[2020-11-26 04:14] mrSidSat commented on #1168
![reflect-button](https://user-images.githubusercontent.com/58354243/100307391-bb2bab80-2fcb-11eb-8160-5db7066fbf09.png)
![glossy-button](https://user-images.githubusercontent.com/58354243/100307436-d4345c80-2fcb-11eb-8b77-bdce3b11f2da.png)

### _I think there are sure some differences_

[2020-11-27 08:24] shahednasser commented on #1168
I think they're pretty similar so unfortunately, I don't think we should work on it. Feel free to submit another idea if you have any!

[2020-11-27 08:24] #1168 closed

[2020-11-28 10:21] TomWBush commented on #1114
I can work on this

[2020-11-29 00:15] #225 closed

[2020-11-29 01:58] modaserMoj commented on #1022
@shahednasser Can I also take nudge and vibrate?

[2020-12-02 07:22] shahednasser commented on #1114
You can go ahead @TomWBush

[2020-12-02 07:25] #1143 closed

[2020-12-02 07:31] shahednasser commented on #1022
Yes @modaserMoj you can

[2020-12-02 07:32] shahednasser commented on #883
Hello @mrSidSat are you working on this?

[2020-12-02 09:44] #1114 closed

[2020-12-02 14:15] kyawkyawsoezhu commented on #1022
@shahednasser I would also like to take **Neon**, **Next**

[2020-12-03 06:55] shahednasser commented on #1022
Sure @kyawkyawsoezhu go ahead

[2020-12-03 08:11] mrSidSat commented on #883
Sorry , you can assign someone else...

[2020-12-03 08:23] shahednasser commented on #883
It's ok @mrSidSat thank you for letting me know.

[2020-12-03 11:13] RgnDunes commented on #883
If no one is working on this issue then I'll love to work on it. It would be great if you could assign it to me.

[2020-12-03 11:15] RgnDunes commented on #1
Hey, I think I can add some buttons with animation effects on hover. I'll love to contribute.

[2020-12-03 12:35] shahednasser commented on #883
Sure @RgnDunes I'll assign you

[2020-12-03 12:36] shahednasser commented on #1
Hello @RgnDunes you can always create a "new button idea" issue and once approved you can work on it.

[2020-12-03 20:28] TomWBush commented on #1012
I could try to add media query to Vinayak's solution if he is not still working on this.

[2020-12-04 15:14] VinayakChopra commented on #1012
@TomWBush I am not working on this now and you may go ahead(@shahednasser I hope you agree too).

[2020-12-05 00:15] #1008 closed

[2020-12-07 10:33] shahednasser commented on #1014
Hello @muskuu @shonali2600 are you still working on the buttons or should we leave them unassigned for others?

[2020-12-07 16:52] muskuu commented on #1014
@shahednasser I'm sorry I'm not able to do it. Thank you for the opportunity. You can unassign me. Thanks.

[2020-12-07 17:20] katyabakun commented on #1014
Hi, @shahednasser if there are any buttons that are still unassigned I would be happy to help with them.

[2020-12-07 23:03] TomWBush commented on #1014
Neon Border and Base Icon are currently available. Please pick one or both.

[2020-12-08 03:16] AbdulMAbdi commented on #1022
@shahednasser Can I take pudding and pulse?

[2020-12-08 07:42] shahednasser commented on #1014
@muskuu no problem thank you for letting me know.

[2020-12-08 07:43] shahednasser commented on #1014
Hello @katyabakun as @TomWBush mentioned there are two buttons available. Please choose one and let us know to assign it to you.

[2020-12-08 07:43] shahednasser commented on #1022
Yes @AbdulMAbdi you can

[2020-12-08 08:02] chiragkava commented on #1014
Can I take Neon border?

[2020-12-08 08:05] Tharunkumar001 commented on #1022
@shahednasser  can i take ripple and scale

[2020-12-08 08:28] shahednasser commented on #1014
Sure @chiragkava

[2020-12-08 08:29] shahednasser commented on #1022
Yes @Tharunkumar001 you can

[2020-12-08 08:37] #1012 closed

[2020-12-08 08:42] shahednasser opened #1187 "Add documentation for dark mode class"
Now that dark mode is almost finished, we need to add in the documentation how it can be used. The documentation needs to be added in the README and the documentation page on the website.

The documentation should indicate that a button can be used in dark mode either by adding the `.dark-mode` class to the button, or by adding the attribute `data-theme="dark"` to a container element like the body

[2020-12-08 11:01] katyabakun commented on #1014
@shahednasser Could you assign me to Base Icon, if it is still unassigned?

[2020-12-08 12:48] shahednasser commented on #1014
Since @shonali2600 hasn't replied, @katyabakun you can work on it.

[2020-12-09 01:39] alok1929 commented on #1187
@shahednasser hello ,im new at this but i could try , can i know how i can get started with this as soon as possible,thanks in adavance

[2020-12-09 07:46] shahednasser commented on #1187
Hello @alok1929 . I suggest you read the [contributing guidelines](https://github.com/sButtons/sbuttons/blob/9f26af8f73aca60bc53f6654dfc5a9bb3e575ab1/CONTRIBUTING.md) first to get a general idea of the repository's structure. As I mentioned in the issue, you will need to edit the README.md and documentation.html. The content should be similar. You just need to add that a button can be used for dar

[2020-12-09 07:47] #878 closed

[2020-12-09 07:47] #883 closed

[2020-12-09 17:07] alok1929 commented on #1187
hello @shahednasser i am working on the #1187 issue and to add the dark mode button,should the code be <button class=".dark-mode"></button>.I think its wrong ,could you please send the correct code

[2020-12-09 17:25] alok1929 commented on #1187
hey @shahednasser  ,im working on #1187 and im not finding what code should be added for the dark mode class , i tried adding it as a <code><button class="dark-mode" type="button"></button></code>but its just showing a blank button,i would like help with writing this

[2020-12-09 17:46] alok1929 commented on #1187
hey @shahednasser ,im working on #1187 and im not finding what code should be added for the dark mode class , i tried adding it  as ` <button class=".dark-mode">dark-mode</button>` but  its just showing a blank button,i would like help with writing th

[2020-12-10 07:15] shahednasser commented on #1187
Hello @alok1929 . to add the dark mode class it should be something like this:

[code]

You shouldn't add . in front of the class.

[2020-12-10 07:17] shahednasser opened #1194 "Copy Button not working on examples page"
On examples page, pressing the copy button for classes is not working.

[2020-12-10 07:26] alok1929 commented on #1187
Thank you

On Thu, 10 Dec, 2020, 12:45 pm Shahed Nasser, <notifications@github.com>
wrote:

[2020-12-10 07:29] alok1929 commented on #1187
What should it be to add it as an attribute ,as data theme="dark",should it
be in the body element tag or someplace else , please do tell.

On Thu, 10 Dec, 2020, 12:56 pm Alok Hegde, <alokhegde221@gmail.com> wrote:

[2020-12-10 07:36] shahednasser commented on #1187
You need to write in the documentation that it can be for any container element of the button. You can use this as an example:

[code]

[2020-12-10 07:43] alok1929 commented on #1187
Thank you for the clarification. I'll add this to readme.md as well.This is
my first issue,so will try my best

On Thu, 10 Dec, 2020, 1:06 pm Shahed Nasser, <notifications@github.com>
wrote:

[2020-12-10 10:23] alok1929 opened #1196 "Toggle Button as a radio button dosent get untoggled in documentation.html file"
toggle button gets toggled but cant untoggle it

[2020-12-10 12:48] shahednasser commented on #1196
Thank you for reporting this! Let me know if you'd like to work on it.

[2020-12-11 03:22] Arnab-Bhakta commented on #1196
Looks like it's an expected behavior. Radio buttons cannot be untoggled on its own. If you select/toggle other option, then previous one will be unselected/untoggled.

So, the example can be modified like this.
`<input type="radio" class="sbtn toggle-btn" name="selectOption">
    <label>Option1</label>
    <br>
    <input type="radio" class="sbtn toggle-btn" name="selectOption">
    <label>Option2

[2020-12-11 05:27] Arnab-Bhakta commented on #1194
I would like to work on this.

[2020-12-11 11:11] shahednasser commented on #1196
Good idea @Arnab-Bhakta . I see you made the changes but still haven't created the PR. Once you're ready please create it and please check out the [contributing guidelines](https://github.com/sButtons/sbuttons/blob/8e8568e858a830a3182102a956ebdbe08284a430/CONTRIBUTING.md). If you need any help let me know.

[2020-12-11 11:12] shahednasser commented on #1194
Sure @Arnab-Bhakta I'll assign you.

[2020-12-11 12:25] #1014 closed

[2020-12-11 13:06] TomWBush commented on #1022
I can do Paper Curl and Previous.

[2020-12-11 14:59] Hassan-Ib commented on #1022
can i do the skew and i have questions

[2020-12-12 09:11] shahednasser commented on #1022
@Hassan-Ib I have assigned you the skew. Let me know what questions you have.

[2020-12-12 11:08] thaditi commented on #1022
Hi @shahednasser  ! Can I take Snake Border?

[2020-12-12 20:23] atenasadat commented on #1
Hey, can I contribute here? I'll love to contribute.

[2020-12-13 02:25] Harsh-GitCollab commented on #1022
Can I take Snake Border ?

[2020-12-14 09:56] shahednasser commented on #1022
Since @thaditi replied first, they can work on it.

@Harsh-GitCollab Please pick another button to work on (I cleared some buttons that were assigned to others but they've taken to long to send a PR). Thank you!