[2020-09-01 12:12] shahednasser opened #1 "Add New Buttons"
First-time contributors are welcome!
Add new button styles that you find helpful.

Currently, there are the following button style types:
1. Basic: Normal looking buttons
2. Button Styles: styles for the buttons
3. Animated: Different animations for buttons.
4. Hover: Buttons that have a hover effect
5. Icons: Buttons that have icons in them.
6. Social Buttons: Login buttons for different social m

[2020-09-01 12:13] shahednasser opened #2 "Make Logo for sButtons"
Currently, there is no logo for sButtons. Create a logo for the project.

[2020-09-02 06:00] shahednasser opened #3 "Change google font URL to include swap"
Modify the URL for google font in `index.html` to include the `display=swap` attribute.

The font used for the website is Oleo Script Swash Caps. You can find the correct URL [here](https://fonts.google.com/specimen/Oleo+Script+Swash+Caps?query=oleo&sidebar.open=true&selection.family=Oleo+Script+Swash+Caps:wght@400;700)

[2020-09-02 18:22] shahednasser opened #4 "Add "How to Use" section to the website"
At the top of the website, add "How to Use" section that demonstrates how to download or use the CDN for the CSS, and how to put it in the head tag of the page. Should be similar to the Usage section in README.

[2020-09-03 01:20] alannaemmrie commented on #4
Hi! I can do this.

[2020-09-03 01:32] alannaemmrie commented on #4
Should this be added as a separate page, or would you like it to just link at the bottom or something? I notice that most of the website info is just one page, so don't want to add another page if that isn't your design plan.

[2020-09-03 08:18] shahednasser opened #6 "Make Download link smaller on small devices"
Make the download link in the navbar smaller on devices with max width 767px.
You can make the changes in `assets/css/index.css`

[2020-09-03 16:09] shahednasser opened #7 "Add hamburger side menu on mobile devices"
Add a menu icon that only appears on mobile devices (less than 768px of width) and add the appropriate css or js to make the menu icon toggle the existing sidebar menu.
As bootstrap is used in this website, you can also use bootstrap to do this functionality.
Font awesome is also used on the website so you can use it for the hamburger menu icon.

[2020-09-03 17:24] FrancescaDev commented on #3
I would like to do this one. I am a first-timer :-)

[2020-09-03 17:27] shahednasser commented on #3
Great! Go ahead.

[2020-09-04 07:22] shahednasser opened #8 "Add tagline under logo"
Add a tagline under the logo that says "Made with ❤︎". Either use a sans-serif font (not the current font being used for the logo) or find something on Google Fonts.

Any style additions you make, please add them in `assets\css\index.css`. If you add a Google Font, add it at the end of the `<head>` tag.

[2020-09-04 15:49] valeriaoshiro commented on #8
Hello, I would like to work on this. Thank you

[2020-09-04 15:51] shahednasser commented on #8
Hi @valeriaoshiro , someone already is working on this issue. Please try other issues, I would love your help on them!

[2020-09-04 16:12] FrancescaDev commented on #3
Hello @shahednasser In the link it is including both 400 & 700 weights. Did you want only weight 700? :-)

[2020-09-04 16:13] valeriaoshiro commented on #7
Hi, can I work on this?

[2020-09-04 16:18] shahednasser commented on #7
@valeriaoshiro yes please!

[2020-09-04 16:47] #3 closed

[2020-09-04 20:53] #6 closed

[2020-09-05 07:19] shahednasser opened #16 "Display code in how to use section using Prism.js"
Currently, the code in "How to use section" is displayed as text like other text in the page.

Display it as a block of code by using [Prism.js](https://prismjs.com/). Please make it as simple as possible. Use CDN and the designated classes for HTML code blocks.

[2020-09-05 07:22] shahednasser opened #17 "Add section separator after How to Use section"
All button sections have a separator between them which is `<hr class="secondary-hr">`.

Please add it after the "How to Use" section before "Basic Buttons"

[2020-09-05 07:24] shahednasser commented on #4
Issue resolved by #14 .

[2020-09-05 07:24] #4 closed

[2020-09-05 08:57] shahednasser opened #19 "Add description and keywords meta data"
Add to `index.html` description and keywords metadata in `<head>` that helps SEO.

[2020-09-05 13:50] shahednasser opened #20 "Add link to "How to Use" section in sidebar"
In sidebar, add link at the top of the list to "How to Use" section. The href should be `#how-to-use` and it should follow the same format of other links.

[2020-09-05 17:50] shahednasser opened #22 "Add Social Login buttons under "Social Buttons" type"
Add login buttons for different social platforms. It can be for instagram, github, linkedin, or any other social media platform.
You don't have to add all types you can add as many as you want.
Please make sure to utilize the social platform's main color when making the button. You can see current buttons on the website for examples. As for the icons in the button, you can find them on font awesom

[2020-09-05 19:31] #17 closed

[2020-09-05 19:46] shahednasser opened #26 "Add favicon"
Currently, we don't have a logo (if you want to add a logo check out issue #2 ). For now, we just need a favicon. Something simple and nice. Could be an emoji or any modern icon.
When sending the pull request, make sure to include an image of the favicon in the pr.

[2020-09-05 22:54] shahednasser opened #27 "Add a "Scroll to top" button"
As the website can get lengthy, we need a button on the bottom right corner that appears after scrolling a little and that can take the user back to top on click.

[2020-09-06 01:11] isonnymichael commented on #20
Hi, I'm new here.. I want to try solve this issue

[2020-09-06 02:30] isonnymichael opened #29 "Navigating onclick sidebar"
**Describe the bug**
I found bug on navigate sidebar, when I click the sidebar, the content is not full covered.
![Screenshot_1](https://user-images.githubusercontent.com/24585708/92316819-6a876080-f023-11ea-90b9-fc4f4995272a.png)

**Expected behavior of what should have happened (if applicable)**
It should be like this
![Screenshot_2](https://user-images.githubusercontent.com/24585708/92316823-7a

[2020-09-06 07:54] #20 closed

[2020-09-06 07:58] #29 closed

[2020-09-06 08:09] Pratyush-Saxena commented on #27
@shahednasser can i work on this issue

[2020-09-06 08:15] shahednasser commented on #27
Yes go ahead!

[2020-09-06 10:21] Pratyush-Saxena commented on #27
@shahednasser pls check out my pr #34

[2020-09-06 12:59] shahednasser opened #35 "Replace website main color with CSS custom property"
Currently in `assets/css/index.css` we're using `#3a91ff` for the main color. We are using this color for a couple of attributes, and we probably will be using it more.

Create the file `assets/css/variables.css` and add in it custom property `--main-color` on `:root` with the value `#3a91ff` then import this file in the beginning of `assets/css/index.css` and replace `#3a91ff` throughout the file

[2020-09-06 13:05] isonnymichael commented on #16
Hi can I work on this ?

[2020-09-06 13:09] shahednasser commented on #16
Yes, go ahead!

[2020-09-06 13:39] isonnymichael commented on #35
Can I try to work on this ?

[2020-09-06 13:41] shahednasser commented on #35
Sorry, this one is for first-timers only! You can work on anything that doesn't have the first-timers-only label and that no one is assigned to.

[2020-09-06 13:43] isonnymichael commented on #35
@shahednasser oohh okay didn't see the label..

[2020-09-06 13:51] isonnymichael commented on #22
Can I work on this issue ?

[2020-09-06 13:53] shahednasser commented on #22
Yes you can add as many social buttons as you want

[2020-09-06 13:56] #27 closed

[2020-09-06 14:09] shahednasser commented on #16
Closed by #36

[2020-09-06 14:09] #16 closed

[2020-09-06 14:13] isonnymichael commented on #22
Do social buttons have to be written with prefix Login With xxx ?

[2020-09-06 14:15] shahednasser opened #38 "Add a note about using font awesome for some buttons"
Currently, in our Usage docs and on the "How to Use" section of the website, we don't have a note about font awesome being needed for some buttons like Icon buttons and Social media login button.

Add a little explanation of when font awesome is needed and include a code block of adding font awesome using their cdn. It should be added to both README and "How to Use" section.

[2020-09-06 14:17] shahednasser commented on #22
Yes, just like in the current buttons. Please try to follow the same format and code conventions as possible. You can check `src/components/social/_google.less` for example of how the code should be like as well.

[2020-09-06 14:17] isonnymichael commented on #22
@shahednasser okay, noted.

[2020-09-06 14:50] lee00286 commented on #38
Hello, may I work on editing README and How to Use section?

[2020-09-06 14:54] shahednasser commented on #38
yes, please!

[2020-09-06 17:20] NirajGohel commented on #35
Hi
Can I try to work on this?

[2020-09-06 17:26] shahednasser commented on #35
Hi @NirajGohel yes go ahead

[2020-09-07 01:30] isonnymichael opened #40 "Active sidebar not pointing on right content"
**Describe the bug**
When I click the sidebar menu, the active sidebar is not pointing on right content.
![Screenshot_1](https://user-images.githubusercontent.com/24585708/92340305-011b5680-f0e4-11ea-8d08-e6898f640c5c.png)

**Expected behavior of what should have happened (if applicable)**
The active sidebar menu must pointing on right content.
![Screenshot_2](https://user-images.githubusercontent

[2020-09-07 06:46] Pratyush-Saxena opened #42 "Click button animation style"
**CHANGE IN CLICK BUTTON STYLE**
I guess Click button that u have made will look much better if it would be like
this one :
![click_button](https://user-images.githubusercontent.com/52444607/92356284-7a767180-f103-11ea-9dae-f0bbfefa3f22.gif)
rather than this one :
![click_2](https://user-images.githubusercontent.com/52444607/92356325-82361600-f103-11ea-85e2-7afdbcc1ceae.gif)

**Additional notes**

[2020-09-07 09:22] suyash-patil commented on #19
I want to work on this issue.

[2020-09-07 14:42] shahednasser commented on #40
Good catch.  I think this could be due to the CSS margin. Will work on a fix in the js function.

[2020-09-07 14:45] shahednasser commented on #42
Good idea. Could you work on it?

[2020-09-07 14:46] Pratyush-Saxena commented on #42
Yeah sure!

[2020-09-07 14:56] isonnymichael commented on #40
Yes I think so, I will fix it in the js function

[2020-09-07 15:01] shahednasser commented on #40
alright great!

[2020-09-07 15:02] shahednasser commented on #35
Resolved by #41

[2020-09-07 15:02] #35 closed

[2020-09-07 15:12] shahednasser opened #44 "Change text in Download button to "Download""
Currently in the [download button](https://shahednasser.github.io/sbuttons/#download_btn) section of the website, the buttons' text is "Button". Change it to "Download"

[2020-09-07 15:18] meanmachin3 commented on #44
I'll take it

[2020-09-07 15:28] codeSalazar12 commented on #44
Hey I can help it.Can u please assign it to me

[2020-09-07 15:28] shahednasser commented on #44
Hi @meanmachin3 go ahead!

[2020-09-07 15:29] shahednasser commented on #44
Hi @codeSalazar12 . Yes you can work on it!

[2020-09-07 15:30] codeSalazar12 commented on #44
Thanks @shahednasser

[2020-09-07 15:30] shahednasser commented on #44
Sorry @meanmachin3 but this issue is for first-timers. Please look at other issues that require your help!

[2020-09-07 15:39] shahednasser opened #45 "Sort buttons appearing under types alphabatically"
For example, under the "Animated Buttons" type we have fill in right, scale, click, etc...
Currently, they're not alphabetized. Just make changes in index.html to reorder them in alphabetical order.
Make sure to also update the links in the sidebar.

[2020-09-07 15:42] codeSalazar12 commented on #44
So it is done
![Screenshot (35)](https://user-images.githubusercontent.com/66743585/92403321-d7e3e000-f14e-11ea-8fea-f46477802a7f.png)
![Screenshot (36)](https://user-images.githubusercontent.com/66743585/92403331-de725780-f14e-11ea-951c-2a14f33584d4.png)

[2020-09-07 15:42] NirajGohel commented on #45
can I work on this??

[2020-09-07 15:46] shahednasser commented on #45
Yes go ahead

[2020-09-07 15:48] shahednasser commented on #44
Great! Now please send a pull request to add your work.
If you're having trouble with doing that, please check the [contributing guide](https://github.com/shahednasser/sbuttons/blob/master/CONTRIBUTING.md)

[2020-09-07 15:50] codeSalazar12 commented on #44
Hey it is showing an error pushing the code.can u please guide me?
![Screenshot (38)](https://user-images.githubusercontent.com/66743585/92403813-e252a980-f14f-11ea-8ca6-49dea03771ae.png)

[2020-09-07 15:54] codeSalazar12 commented on #44
okay it is solved.I am making a pull request

[2020-09-07 16:01] codeSalazar12 commented on #44
Hey can u please help me i am not able to push the code and pull the request

On Mon, 7 Sep 2020, 21:18 Shahed Nasser, <notifications@github.com> wrote:

[2020-09-07 16:16] shahednasser commented on #44
What is the problem exactly?

[2020-09-07 16:17] codeSalazar12 commented on #44
I think i solved it i already made a pull request check it

[2020-09-07 16:20] shahednasser commented on #40
Resolved by #46

[2020-09-07 16:20] #40 closed

[2020-09-07 16:47] shahednasser opened #48 "Add message on clicking class names"
When clicking on class names below a button it will be copied to the clipboard. Add a success message that indicates that the classes are copied. You can use something like bootstrap's [Toasts](https://getbootstrap.com/docs/4.3/components/toasts/) or maybe just a [tooltip](https://getbootstrap.com/docs/4.3/components/tooltips/) over the element saying "Copied!"

[2020-09-07 16:49] shahednasser opened #49 "Add Copy to Clipboard button for code in How to Use section"
Add Copy to Clipboard button for the code blocks in How to Use section. These blocks use [Prism.js](https://prismjs.com/), so maybe you need to check solutions on the plugin's page first, but if you have another solution that's fine too.

[2020-09-07 16:52] shahednasser opened #50 "Change Scroll to Top speed (Mobile devices bug)"
On mobile devices, scroll-to-top is too quick. Change the speed to something slower but make sure it's not too slow.
You can change the speed in `assets/js/index.js`

[2020-09-07 17:21] Develrockment commented on #50
I would like to implement this as my first issue

[2020-09-07 17:43] shahednasser commented on #50
Great, go ahead!

[2020-09-07 17:56] shahednasser commented on #44
Resolved by #47

[2020-09-07 17:56] #44 closed

[2020-09-07 22:11] Hrishi-Raj commented on #48
@shahednasser May I work on this Issue?

[2020-09-08 04:58] shahednasser commented on #48
Sure go ahead

[2020-09-08 08:50] hrithiksh101 commented on #7
Is your issue resolved ?
i can also help if you need

[2020-09-08 08:53] shahednasser commented on #7
@hrithiksh101 there's currently a PR but it's not resolved yet. You can try if you want.

[2020-09-08 15:21] shahednasser opened #54 "Fix "Fill" rounded buttons on mobile"
On mobile devices (specifically iPhone), when clicking on buttons of type "Fill" the overlayed color doesn't fully fill the container button.

[2020-09-08 18:14] hrithiksh101 commented on #7
I have made some commits to this project , are they done , sorry for asking but i'm first time user of github .

[2020-09-08 19:40] yashgupta18 commented on #1
hey can i contribute?

[2020-09-08 20:53] shahednasser commented on #1
Yes go ahead!

[2020-09-08 21:07] shahednasser opened #57 "Modify How to Use section's text"
Make the following changes to the section:

1. Change "The CSS file is available for download here.
Download the file and link it as a stylesheet in between your <head> tags, as shown below." to "You can download the CSS file here and then add it to your html file inbetween the <head> tags:" make sure the "here" points to the URL to download the CSS file.
2. Change "You can copy the sentence above

[2020-09-08 21:12] ashleypean commented on #57
Can I grab this?

[2020-09-08 21:15] shahednasser commented on #57
of course!

[2020-09-09 01:51] ashleypean commented on #57
For request #2, would you like the text to state:
"Make sure to replace "/path/to/sbuttons.min.css" you stored it in"
**or**
"Make sure to replace "/path/to/sbuttons.min.css" with the path you stored it in" ?

[2020-09-09 03:57] Yashi-Chawla commented on #49
Hi, can I work on this?

[2020-09-09 07:38] yashgupta18 commented on #1
On it. Thanx

[2020-09-09 08:44] hrithiksh101 commented on #7
i have also added hamburger menu for the mobile screens , i don't know if i'm late but my commits can be seen in the pull requests section . i don't know if the commits are successfully pushed .
can you confirm ? 😃

[2020-09-09 09:32] yashgupta18 commented on #1
Hey i added a basic button.
I ran npm run prettier
But npm run watch is showing error.
What to do?

[2020-09-09 10:03] yashgupta18 commented on #1
Done. Pull Request send.

[2020-09-09 15:02] shahednasser commented on #49
Yes go ahead!

[2020-09-09 15:03] shahednasser commented on #57
The latter sounds better

[2020-09-09 21:36] Vansh1067 commented on #54
can I work on this??

[2020-09-09 21:39] shahednasser commented on #54
Sure!

[2020-09-10 15:20] shahednasser commented on #48
Resolved by #56

[2020-09-10 15:20] #48 closed

[2020-09-10 15:35] shahednasser opened #69 "Remove box shadow for click buttons"
Currently, on click adds a box shadow to all button types. We need to remove this only for Animated Click buttons, as it changes the design of the button.

try adding something like `box-shadow: none !important;` for click buttons when it's `:active` or any good solution.
Make sure to read the [contribution guide](https://github.com/shahednasser/sbuttons/blob/master/CONTRIBUTING.md) to learn how y

[2020-09-10 15:39] shahednasser opened #71 "Disable selection of logo text"
Add a rule to `.logo h1` to disable user selection. Make sure to add the changes to `assets/css/index.css`.  Check out the screenshot for an example
![sButtons-Simple-and-Creative-Buttons](https://user-images.githubusercontent.com/27354907/92785571-3360d880-f3b0-11ea-8710-2162675fa06d.png)

[2020-09-10 18:38] shubhampandeyhld commented on #71
can you elaborate this issue ?

[2020-09-10 18:55] shahednasser commented on #71
Hi @shubhampandeyhld I updated my post to clarify what I mean, however this issue is for first timers only so, please look at other issues that don't have the first-timers-only label if you wanna help!

[2020-09-10 18:55] shahednasser commented on #38
Resolved by #52

[2020-09-10 18:55] #38 closed

[2020-09-10 19:01] #19 closed

[2020-09-10 19:07] shubhampandeyhld commented on #71
ok

[2020-09-11 13:45] isonnymichael commented on #69
Can I work on it ?

[2020-09-11 14:29] shahednasser commented on #69
@isonnymichael  Someone started working on it in #75

[2020-09-11 14:36] shahednasser opened #80 "Remove outline for hamburger menu & close buttons"
On focus for `.sidebar-toggler` and `.close-sidebar`, an outline is shown. We need to remove it.
Changes should be made in `assets/css/index.css`

[2020-09-11 14:37] shahednasser opened #81 "Make cursor pointer for sidebar-toggler"
Add `cursor: pointer` for `.sidebar-toggler`

[2020-09-11 14:39] shahednasser opened #82 "Add "Copied" tooltip to copy icons in How to Use section on click"
On clicking the clipboard icon in "How to Use" section, a tooltip saying "Copied" should be shown. It should be similar to the tooltip showing on clicking button class names, so refer to that.

[2020-09-11 14:41] shahednasser opened #83 "Add overlay when sidebar opens on small devices"
When the sidebar opens on small devices, add an overlay that darkens a little the rest of the page.

[2020-09-11 14:41] Annysah commented on #80
Hello @shahednasser,
I would love to work on this!

[2020-09-11 14:43] shahednasser commented on #80
Hi @Annysah . This issue is meant for first timers (beginners). If you would like to help with other issues that don't have the "first-timers-only" label then please go ahead!

[2020-09-11 14:43] shahednasser commented on #7
Resolved by #58

[2020-09-11 14:43] #7 closed

[2020-09-11 14:44] shahednasser commented on #49
Resolved by #64

[2020-09-11 14:44] #49 closed

[2020-09-11 14:45] shahednasser commented on #50
Resolved by #53

[2020-09-11 14:45] #50 closed

[2020-09-11 14:45] shahednasser commented on #57
Resolved by #70

[2020-09-11 14:45] #57 closed

[2020-09-11 15:50] shahednasser opened #84 "Remove extra padding/margin for sidebar-toggler"
On small devices, there's an extra padding/margin to the left of `.sidebar-toggler` we need it removed.

[2020-09-11 15:51] shahednasser opened #85 "Close sidebar on clicking outside of it"
Currently, only clicking the close button closes the sidebar. Add a click event that closes the sidebar by clicking outside of it.

[2020-09-11 15:53] shahednasser opened #86 "Overflowing items in sidebar not showing on small devices"
Sidebar on small devices does not allow scrolling at the moment. Add `overflow-y: auto` to allow scroll. Also, Make the scroll bar look nice (not the usual scroll bar)

[2020-09-11 16:41] Pratyush-Saxena commented on #85
I would like to take this up @shahednasser

[2020-09-11 17:10] shahednasser commented on #85
Sure!

[2020-09-11 17:47] shahednasser opened #88 "Replace Download link text with icon"
Replace "Download" in the navbar with an icon. You can use icons from Font awesome as it is already included in the website.

[2020-09-11 18:33] shubhampandeyhld commented on #86
can I work on it ?

[2020-09-11 18:34] shahednasser commented on #86
Yes go ahead

[2020-09-11 18:42] shubhampandeyhld commented on #83
Please assign me this issue also.

[2020-09-11 18:46] shahednasser commented on #83
ok I assigned you

[2020-09-12 01:18] hauchongtang commented on #84
I would like to work on this.

[2020-09-12 02:00] isonnymichael commented on #82
Can I work on it ?

[2020-09-12 03:07] shahednasser commented on #84
Thank you for contributing @hauchongtang but this issue is meant for first timers only and as it says in the contribution guide, issues with the label first-timers-only are for beginners. If you wanna contribute please checkout other issues that don't have the first-timers-only label. Thank you!

[2020-09-12 03:08] shahednasser commented on #82
Yes! @isonnymichael

[2020-09-12 08:14] shahednasser opened #92 "Remove clipboard button outline on :focus"
For button of class `.clipboard`, set `outline: 0;` on `:focus`

[2020-09-12 09:20] shahednasser opened #95 "Close sidebar on clicking on link in small devices"
When clicking a link on small devices and the sidebar is opened, it should close automatically.

[2020-09-12 09:43] shahednasser opened #96 "Add button ideas"
There's now a new page for [button ideas](https://github.com/shahednasser/sbuttons/blob/master/BUTTON_IDEAS.md) where you can add ideas that you would like to see implemented. If you have any ideas that you are not able to implement for any reason, please add them there.

If you would like to check button ideas to implement, make sure to look there, and follow the [contibuting guidelines](https://

[2020-09-12 09:44] shahednasser commented on #8
Currently, no one is working on this issue if someone wants to work on it.

[2020-09-12 10:23] gathoni-k commented on #92
Can I work on this?

[2020-09-12 10:41] shahednasser commented on #92
sorry this is for first timers only! (read more in the [contributing guidelines](https://github.com/shahednasser/sbuttons/blob/master/CONTRIBUTING.md)). If you would like to contribute to this repo please find issues without the first-timers-only label.

[2020-09-12 10:56] gathoni-k commented on #92
Alright, thank you!

[2020-09-12 12:45] shahednasser opened #97 "Add light/dark mode"
Add a toolbar that switches between light and dark mode. The toolbar can be placed in any place as long as it doesn't interfere with the content of the website.

Light mode should be the default, which is what the website looks like now. Dark mode should just change the background to a dark color and change sidebar menu links or header links to a light color. Don't make any changes to the buttons

[2020-09-12 12:51] shahednasser opened #98 "Assign correct labels based on issue"
I want to add labels to issues to differentiate between issues directed towards website and those towards buttons. Please do not start working on this issue before commenting about it, as it can cause a mess. After commenting on her and getting approval, you can go ahead and work on it. Once you're done, leave a comment saying so.
Make sure to read the README and contribution guide before working

[2020-09-12 12:59] #69 closed

[2020-09-12 12:59] #45 closed

[2020-09-12 13:00] shahednasser commented on #42
Resolved by #87

[2020-09-12 13:00] #42 closed

[2020-09-12 13:00] #26 closed

[2020-09-12 13:03] shahednasser opened #99 "Sort buttons alphabetically"
Currently, the list of buttons that are appearing on the website are in `assets/js/buttons-examples.js` in the variable `buttons`. We need this list sorted alphabetically, with the exception of "Basic Buttons" as it should be the first.
For example, now the list is "Basic Buttons", "Outline Buttons", "Hover Buttons", "Animated Buttons", etc.. It should become "Basic Buttons", "Animated Buttons", e

[2020-09-12 17:02] shahednasser opened #101 "Fix typo in README"
Currently in the [button ideas](https://github.com/shahednasser/sbuttons#button-ideas) section there's a type "implementedto" that should be fixed.

[2020-09-12 17:55] cosay commented on #97
@shahednasser I would like to work on it

[2020-09-12 18:00] shahednasser commented on #97
Great go ahead!

[2020-09-12 18:20] mayankmohak commented on #101
I would like to fix this typo.

[2020-09-12 18:31] shahednasser commented on #101
Great I'll assign you

[2020-09-12 19:01] dhruv-doshi commented on #92
Hey @shahednasser
I am would like to work on this issue.

[2020-09-12 19:08] mayankmohak commented on #101
Fixed.

[2020-09-12 19:10] shahednasser commented on #92
sure!

[2020-09-12 19:21] mayankmohak commented on #99
I would like to work on it.
Doubt: Shall i write a sorting algo for it or do it manually.

[2020-09-12 19:40] shahednasser commented on #99
Please do it manually, we don't want to waste execution time on it.

[2020-09-12 19:45] mayankmohak commented on #99
On it.

[2020-09-12 20:10] #82 closed

[2020-09-12 20:10] #88 closed

[2020-09-12 20:10] #92 closed

[2020-09-12 20:10] #101 closed

[2020-09-12 20:16] mayankmohak commented on #99
made a pull req.

[2020-09-12 20:22] #97 closed

[2020-09-12 20:41] #99 closed

[2020-09-12 21:01] mayankmohak commented on #86
can i do it?

[2020-09-12 21:08] shahednasser commented on #86
Someone is already assigned to this issue. Please find an issue that isn't assigned to anyone.

[2020-09-13 04:14] CodeMode1 commented on #71
Hi @shahednasser
Can I take this issue ?

Thanks !

[2020-09-13 06:33] shahednasser commented on #71
Hi @CodeMode1 go ahead!

[2020-09-13 09:08] mayankmohak commented on #81
I want to fix this.

[2020-09-13 09:19] shahednasser commented on #81
This repository is labeled for first timers only so let's leave it to other beginners! You can work on any issue that doesn't have first-timers-only label

[2020-09-13 17:19] CodeMode1 commented on #71
Hi @shahednasser ,
I have submitted the PR https://github.com/shahednasser/sbuttons/pull/111#issue-486211848

Cheers !

[2020-09-13 17:42] #71 closed

[2020-09-13 17:42] #81 closed

[2020-09-13 17:48] shahednasser opened #114 "Change color of .button-caption-sub in dark mode"
Change color of `.button-caption-sub` to `#afafaf` in dark mode. You can refer to `assets/css/index.html` to figure out how to style elements in dark mode.

[2020-09-13 17:50] shahednasser opened #115 "Change color of yellow-btn for Fill Buttons"
Currently, fill buttons of all types (fill button up, down, etc...) have text color set to `#333`, change it to the same yellow color as the button when it's not hovered, and then on hover use the `#333`.
Basically, when it's not hovered, it should look like outline button.

[2020-09-13 20:30] nileshanand16 commented on #114
can I take this issue?

[2020-09-13 20:43] shahednasser commented on #114
Yes of course!

[2020-09-13 21:40] cosay commented on #115
I take this 😃

[2020-09-13 21:43] shahednasser commented on #115
Great!

[2020-09-14 01:43] caseycling commented on #98
Can I be assigned this issue?

[2020-09-14 03:55] caseycling commented on #95
Can I be assigned for this issue?

[2020-09-14 04:22] caseycling commented on #95
I think I have solved the issue. Let me know if it's okay for me to push the code for review

[2020-09-14 05:32] esakki-selvaraj commented on #96
We can add neon light buttons using the shadow attribute

[2020-09-14 08:30] chelsi-001011 commented on #80
Hi @shahednasser ! Can I work on this issue?

[2020-09-14 15:09] shahednasser commented on #98
Yes go ahead! Please read the contribution guide, take a look at the website and get some understanding of which issues would refer to working on the buttons and which would refer to working on the website before you start. Let me know here when you're done.

[2020-09-14 15:09] shahednasser commented on #95
Please create a pull request for me to review it

[2020-09-14 15:11] shahednasser commented on #96
Great! Can you please edit the [button ideas](https://github.com/shahednasser/sbuttons/blob/master/BUTTON_IDEAS.md) page to include your idea so others can see it! You will also be added as a contributor to this project.

[2020-09-14 15:12] shahednasser commented on #80
Yes go ahead!

[2020-09-14 15:12] #115 closed

[2020-09-14 17:56] caseycling commented on #95
Nevermind, I didn't solve it yet. Could I email you a question I have about the code?

[2020-09-14 17:57] shahednasser commented on #95
Yes sure

[2020-09-14 18:03] caseycling commented on #95
Actually I can just do a pull review and ask my question in there so you can better see the code.

[2020-09-14 18:50] caseycling commented on #84
Can I work on this issue?

[2020-09-14 19:03] shahednasser commented on #84
sure!

[2020-09-14 19:27] caseycling commented on #95
Awesome, fixed the issue and pushed it to my branch. However I can't seem to find the pull request?

[2020-09-14 21:03] #84 closed

[2020-09-14 21:03] #95 closed

[2020-09-14 21:05] shahednasser opened #120 "Change box shadow for sidebar on small devices in dark mode"
When dark mode is enabled, the box shadow for the sidebar looks too bright. Change it to a darker color, but not too dark. Something that doesn't look out of place.

[2020-09-14 21:07] shahednasser opened #121 "Remove extra padding/margin for .close-sidebar"
On small devices, remove the extra padding/margin for `.close-sidebar` on its right. Just leave a small padding or margin (maybe 5 or 10px)

[2020-09-14 21:14] shahednasser opened #122 "Change background color of ".sidebar a:before" to variable"
set the background color of `.sidebar a:before` to the CSS variable `--main-color`

[2020-09-14 22:11] agalakova-m commented on #122
I'm on it!

[2020-09-15 02:28] esakki-selvaraj commented on #96
sure will do it

[2020-09-15 02:56] esakki-selvaraj commented on #121
can I work on it??

[2020-09-15 03:03] shahednasser commented on #121
@esakki-selvaraj yes!

[2020-09-15 03:04] esakki-selvaraj commented on #121
.close sidebar already has a padding of 6px only and margin 0px

[2020-09-15 05:48] shahednasser commented on #121
Then it could be a positioning problem (left or right) or maybe the padding is on its container (the sidebar). Please inspect as you find the solution

[2020-09-15 06:55] esakki-selvaraj commented on #121
what is the desired final result?

[2020-09-15 12:28] nileshanand16 commented on #114
}

.button-caption-sub {
  color: #afafaf;
  font-family: monospace;
  cursor: pointer;
}

[2020-09-15 14:47] shahednasser commented on #121
On small devices, the close icon looks too far away from the edge of the sidebar on the right. I want it closer to the edge

[2020-09-15 14:48] shahednasser commented on #114
You need to fork the repository, make changes to the code then create a pull request. Read more about it in the [contributing guidelines](https://github.com/shahednasser/sbuttons/blob/master/CONTRIBUTING.md)

[2020-09-15 15:39] esakki-selvaraj commented on #121
![sButtons - Simple and Creative Buttons - Google Chrome 15-09-2020 9 07 07 PM](https://user-images.githubusercontent.com/66409185/93232526-a3e46c80-f797-11ea-9d04-ad975fed1b38.png)
is this ok?

[2020-09-15 15:46] shahednasser commented on #121
that's good! if you can also reduce the distance from the top that would be perfect

[2020-09-15 16:05] esakki-selvaraj commented on #121
![sButtons - Simple and Creative Buttons - Google Chrome 15-09-2020 9 34 08 PM](https://user-images.githubusercontent.com/66409185/93235580-65e94780-f79b-11ea-8a13-0dab14a4282b.png)
How is this??

[2020-09-15 16:19] shahednasser commented on #121
Good. Please open a pull request with your work.

[2020-09-15 16:37] esakki-selvaraj commented on #121
Done!!!

[2020-09-15 16:39] esakki-selvaraj commented on #120
can I work on this?

[2020-09-15 19:34] shahednasser commented on #120
Yes you can

[2020-09-15 22:11] cosay opened #128 "Add .hover class for force button hover appearance"
:hover is not trusted attribute so You can't set it programmatically (ex. using JS).
We can add a CSS class to handle this state.
It can be used for button hover animation, for triggering from another hover, etc.

This solution is used, for example, in bootstrap buttons (.active class).

If you think the idea is good, I can work on it. Just assign me  :)

[2020-09-16 02:27] esakki-selvaraj commented on #120
![sButtons - Simple and Creative Buttons - Google Chrome 16-09-2020 7 56 28 AM](https://user-images.githubusercontent.com/66409185/93285294-2d288d00-f7f2-11ea-8267-edebf65dec7b.png)
is this color good??

[2020-09-16 05:18] chelsi-001011 commented on #80
I have made a pull request with the changes. commit id - fb79558

[2020-09-16 08:02] Pratyush-Saxena commented on #85
@shahednasser ...can you pls tell the condition that checks ..whether the sidebar is open or not

[2020-09-16 16:02] shahednasser commented on #128
I'm not sure I understand exactly what the issue is. Can you please elaborate more? Where can the issue be found or what is needed to be changed or fixed

[2020-09-16 16:08] shahednasser commented on #85
the sidebar should have class `.animate__slideInLeft` and not have the class `.hide-sidebar` when it is opened

[2020-09-16 16:10] #121 closed

[2020-09-16 16:17] #122 closed

[2020-09-16 16:17] shahednasser commented on #86
Hello @shubhampandeyhld any update on this? as you can see this issue has a high priority

[2020-09-16 16:18] shahednasser commented on #83
Hello @shubhampandeyhld is there any update on this?

[2020-09-16 16:20] shahednasser opened #132 "Add "How to Use" section to sidebar menu"
Add a link to how to use section in the sidebar menu

[2020-09-16 16:28] shahednasser opened #133 "Add download and documentation buttons in header"
Add a download & documentation buttons in the header below the logo and text that says "Download" & "Documentation". The buttons' color is preferably white. Try to use one of the animation buttons we have, but please refrain from using a bootstrap button. For the download link, use one of the animation buttons, but as for the documentation just use outline button. Currently, we don't have a white

[2020-09-16 16:33] shubhampandeyhld commented on #83
Sorry I am bit busy these days.
No I can't update .

On Wed, Sep 16, 2020, 9:48 PM Shahed Nasser <notifications@github.com>
wrote:

[2020-09-16 16:33] shahednasser opened #134 "Make "display: inline-block;" for a.sbtn"
Currently add sbuttons designs are aimed towards `<button>` elements. To add support to links as well, we need to add `display: inline-block;` for `<a>` elements that have the class `.sbtn`. Changes should be made in `src/components/_basic.less` because it should be applied to all button types

[2020-09-16 16:36] shahednasser opened #135 "Add a link to submit new button ideas"
In the "How to Use" section on the website, add text at the end of it that should say something like "Do you have amazing ideas for new buttons? Submit them here." where "here" is a link that would take the person to issue #96

[2020-09-16 16:37] shahednasser commented on #83
I understand it's not a problem. If by the end of this weekend you still find it hard to work on these issues let me know so maybe we can give them to someone else.

[2020-09-16 16:56] cosay commented on #128
This is a **new feature**. I would like to add a css .hover class for each button that has a :hover state.
This will allow you to change the button hover state using Javascript.

[2020-09-16 17:22] cosay commented on #128
Example:

To every :hover pseudo-class like this:

[code]

I would like to add a class .hover

[code]

[2020-09-16 18:06] lee00286 commented on #132
Can I work on this issue?

[2020-09-16 18:55] shahednasser commented on #128
I'm not really sure what the purpose of this would be honestly. Plus, this would mean that we would have to add Javascript to the button's functionalities as well (i.e. if someone would use them, they would have to download the css and javascript).

[2020-09-16 18:56] shahednasser commented on #132
Yes!

[2020-09-16 19:11] cosay commented on #128
No, we just add one class in CSS for each button (.hover class).
I will prepare an example to present what exactly is going on :)

[2020-09-16 20:02] nileshanand16 commented on #114
DONE

[2020-09-16 21:36] markkulube commented on #135
Hi, I will do it.

[2020-09-16 21:42] adityasinghbaghel commented on #134
Hey!  I want  to  contribute and Fix the issue . . .

[2020-09-17 05:27] shahednasser commented on #135
Great go ahead!

[2020-09-17 16:02] markkulube commented on #135
@shahednasser remember to assign me :)

[2020-09-17 20:49] #80 closed

[2020-09-17 20:51] #132 closed

[2020-09-17 20:52] shahednasser commented on #54
It seems like no one is currently working on this issue if anyone is interested

[2020-09-17 20:52] #8 closed

[2020-09-17 21:00] shahednasser opened #139 "Add white button color"
Add to the available colors a white button. I think it would be best if the button has a border, to show it properly in light mode. Or maybe a box-shadow, it's up to you.

When you add the color in variables in `src/sbuttons.less` and the style rules in `src/components/_basic.less` Make sure to add the new color in `assets/js/buttons-examples.js` to show it on the website.

Please follow the same

[2020-09-17 21:01] shahednasser opened #140 "Add black button"
Add to the available colors a black button. If there's an issue with how it looks like on dark mode, you can either add a border or box shadow, it's up to you.

When you add the color in variables in `src/sbuttons.less` and the style rules in `src/components/_basic.less` Make sure to add the new color in `assets/js/buttons-examples.js` to show it on the website.

Please follow the same convention

[2020-09-17 21:05] shahednasser opened #141 "Test sButtons"
Try to use or test sButtons and give feedback on its usages or any issues you find. When you submit issues, please try to include screenshots or use cases that can help us understand it well.

[2020-09-18 06:03] Pratyush-Saxena commented on #85
it isn't working...i am trying something like this ->
[code]

[2020-09-18 08:27] kanavpruthi commented on #141
sButtons means social buttons right? Is this a beginner's issue I can start working on?

[2020-09-18 08:28] kanavpruthi commented on #135
Is this issue still open?

[2020-09-18 08:29] kanavpruthi commented on #133
I would like to work on this issue !

[2020-09-18 13:12] GoodnessOlawoore commented on #128
I think I understand this, kindly assign it to me.

[2020-09-18 22:01] shahednasser commented on #85
You can't assign `$(".sidebar")` to `sidebar` and then use it as a JS DOM element in the following code. Please use jquery functions (for example, instead of `sidebar[0].classList.contains(".animate__slideInLeft")` use `sidebar.hasClass("animate__slideInLeft")`

[2020-09-18 22:04] shahednasser commented on #141
Hello! sButtons is the name of the project, so by this issue I mean test all of the buttons.

This issue can be done by anyone and it's always open (can be done by multiple people) so go ahead!

[2020-09-18 22:05] shahednasser commented on #135
hi @kanavpruthi someone is assigned to this issue. Please look at other issues that doesn't have people assigned to them.

[2020-09-18 22:05] shahednasser commented on #133
sure go ahead!

[2020-09-18 23:08] shahednasser commented on #98
Hello @caseycling , is there any feedback on this? please let me know if you're having any trouble.

[2020-09-18 23:09] shahednasser commented on #83
Unassigning to give others a chance

[2020-09-18 23:09] shahednasser commented on #86
Unassigning to give others a chance to work on this.

[2020-09-18 23:11] shahednasser commented on #114
Hi @nileshanand16 you have pushed a commit to your repository that you forked from this. You need to create a pull request to merge your code. Please check the [contribution guidelines](https://github.com/shahednasser/sbuttons/blob/master/CONTRIBUTING.md) for more details

[2020-09-19 07:13] isonnymichael commented on #86
Hi @shahednasser , can i work on this ? I will try fix this quickly

[2020-09-19 08:23] amitkrishna commented on #22
HI @shahednasser I would like to take this issue I can add for github, gitlab ,bitbucket ,and do u have ang sugesstions for some more .

[2020-09-19 12:36] shahednasser commented on #22
Sure @amitkrishna add any buttons you find suitable!

[2020-09-19 12:42] #120 closed

[2020-09-19 12:43] #86 closed

[2020-09-19 12:43] #134 closed

[2020-09-19 12:48] shahednasser opened #149 "Add more explanation in the "How to Use" section"
The "How to Use" section only talks about how we can include or download the `sbuttons.min.css` file. We need to add explanation on **How to apply styles to buttons**:

1. Add some text that explains how we should use the classes shown below button examples to any `<button>` and `<a>` tags .
2. Include 2 code blocks, one for a `<button>` element and one for an `<a>` element. Those elements should

[2020-09-19 12:56] shahednasser opened #150 "Close icon in the sidebar not showing on small devices when the list of items in the sidebar is long"
This issue can be reproduced by scrolling to "Animated Buttons" section, as it is the section that makes the sidebar menu long. The issue isn't apparent on laptops even if you make the screen small. Only upon testing it on a mobile phone you can notice it.

The problem seems to be because of adding `overflow-y: auto` to sidebar on small devices, and the links in the sidebar are siblings to `.close

[2020-09-19 12:57] shahednasser commented on #150
@isonnymichael can you work on this issue? I think you'll know how to do it more than anyone since you know the code regarding this better

[2020-09-19 13:35] isonnymichael commented on #150
@shahednasser okay, i will work on this issue tonight.

[2020-09-19 14:25] isonnymichael commented on #150
@shahednasser accidentally forgot make new branch on my local, I've made changes and push to master, but I cant make pull request.. is there any changes ?

[2020-09-19 14:38] shahednasser commented on #150
Did you make sure to pull from the master before making your changes? I think you need to sync your repository to this one

[2020-09-19 14:45] isonnymichael commented on #150
git fetch upstream
git merge master
and nothing happend, already up to date.

[2020-09-19 15:44] amitkrishna commented on #22
Hi @shahednasser  wanted an input as to how should i add button description in button.css or in button.min.css or will it be generated if i add a .less file , would appreciate if i can get inputs on that.

[2020-09-19 15:51] shahednasser commented on #22
Hi there! I'm not sure what do you mean by "button description" but all code for buttons are added in files in the `src` directory based on their type. So, adding social buttons means you should add them in `src/components/social` and then naming them and styling them using the convention (see previous buttons for reference). Once you're done, compile it by running `npm run compile` and add the bu

[2020-09-19 16:02] amitkrishna commented on #22
Thank you for that input @shahednasser

[2020-09-19 16:32] Pratyush-Saxena commented on #85
that too isn't  working

[2020-09-19 17:19] shahednasser commented on #85
In your code, it also says `$(window).on('click')...` try changing `window` to `"body"`

[2020-09-20 05:42] markkulube commented on #135
@shahednasser PR raised. Let me know if there are any issues. Thanks!

[2020-09-20 06:24] salonigoyal2309 commented on #149
hey , i would love to take this issue :)

[2020-09-20 06:28] yash2189 commented on #149
Can I work on this?

[2020-09-20 06:28] yash2189 commented on #133
I would like to work on this please.

[2020-09-20 09:00] shahednasser commented on #149
@salonigoyal2309 go ahead!

[2020-09-20 09:01] shahednasser commented on #149
@yash2189 please find other issues on this repo! Also, make sure the issue is not assigned to anyone.

[2020-09-20 09:01] shahednasser commented on #133
@yash2189 someone is already assigned to this one. Please find other unassigned issues.

[2020-09-20 09:14] #140 closed

[2020-09-20 16:54] salonigoyal2309 commented on #149
@shahednasser  I was thinking what if we change current 'USAGE' heading to 'How to Download' and we can give this issue heading as 'USAGE' ?

[2020-09-21 08:19] reveurguy commented on #54
the issue you are stating doesn't seem to exist. Has it been corrected?

[2020-09-21 08:57] reveurguy opened #156 "Fix Black Fill (all types) and Outline buttons"
**Describe the bug**
On the website, in the fill section, the black btns are just transparent before and after hovering in normal mode. In dark mode, the button is different than the other buttons and also the effect is still not applicable.
Also, this error is in the outline section.
**Expected behavior of what should have happened (if applicable)**
The button before should be with a black outlin

[2020-09-21 09:03] shahednasser commented on #54
@reveurguy It seems that this is happening to some buttons and not others. Please look at the screenshots for examples
![image](https://user-images.githubusercontent.com/27354907/93749328-6b62e980-fc02-11ea-968c-c3763378a3e9.jpeg)
![image](https://user-images.githubusercontent.com/27354907/93749334-6e5dda00-fc02-11ea-87e9-fdfd9f8cf881.jpeg)

[2020-09-21 09:09] shahednasser commented on #156
This seems to be a cache issue. Please clear the cache and try again.

However, we still need a consistent and easy way of making sure the changes on the website can always be seen without asking everyone to clear the cache. Usually this is done by adding version to css file when including it in `<head>` (for example: `sbuttons.min.css?v=728283`) but changing it manually is not such a great idea.

[2020-09-21 09:11] shahednasser commented on #156
At first I thought this was a cache issue but now that you're mentioning it, it's true there's a problem with black buttons for fill color types.

If you would like to work on this, please let me know so that I can assign you @reveurguy

[2020-09-21 09:13] reveurguy commented on #156
also for outline types and in both normal and dark modes.

[2020-09-21 09:13] shahednasser commented on #156
@all-contributors please add @reveurguy for bug

[2020-09-21 09:16] shahednasser commented on #156
That is true. I have adjusted the title accordingly to make it clearer. This issue isn't in the website, it's in the buttons themselves.

[2020-09-21 09:48] reveurguy opened #158 "Download Button on website"
**Describe the bug**
The download button on website opens a page with all the code. Instead it should download a file with all the code.
**Expected behavior of what should have happened (if applicable)**

**Screenshots (if applicable)**

**Additional notes**

[2020-09-21 10:00] reveurguy commented on #156
i would like to work on it but i don't know LESS

[2020-09-21 11:15] shahednasser commented on #156
The bug fix is actually easy, you just need to refer to how previous colors are implemented for fill color and outline and add the same thing for black color.

[2020-09-21 11:17] shahednasser commented on #158
Hi @reveurguy thank you for submitting this. I'm actually aware of that but as of now it's fine. I'll add it to enhancements though as it is something that's worth working on.

[2020-09-21 11:20] reveurguy commented on #158
also i want to suggest to use a lighter color for dark mode, like grey or black with some opacity or a lighter black color, so that the black buttons are clearly visible.

[2020-09-21 11:21] shahednasser commented on #158
You can submit a PR with what you mean and we'll see if it's better

[2020-09-21 20:59] shahednasser commented on #156
I have fixed this issue as it has a very high priority. Thank you @reveurguy for your help reporting it.

[2020-09-21 20:59] #156 closed

[2020-09-21 20:59] #135 closed

[2020-09-21 21:01] shahednasser commented on #98
This issue is now unassigned to give other people a chance to work on it.

[2020-09-21 21:15] shahednasser opened #161 "Hacktoberfest Ideas"
As everyone knows, Hacktoberfest will start soon. This issue will be open to discussing any ideas to help contributors contribute and participate in Hacktoberfest!

[2020-09-22 06:03] reveurguy commented on #156
i wanted to work on this and make the pr count for hacktoberfest.

[2020-09-22 06:36] shahednasser commented on #156
@reveurguy hacktoberfest hasn't started yet. Pull Requests you make now will not count.

[2020-09-22 15:10] Maitryee-Choudhary commented on #96
Hey,can I work on this project?

[2020-09-22 16:35] ayushgaur03 commented on #1
Hello...I would like to contribute...Can I?

[2020-09-22 16:48] shahednasser commented on #96
Sure @Maitryee-Choudhary ! This issue has the label "Always Open" and is open for everyone

[2020-09-22 16:48] shahednasser commented on #1
Sure go ahead @ayushgaur03 ! This issue has the label "Always Open" and anyone can work on it!

[2020-09-22 17:58] shahednasser opened #165 "Replace single quotations with double quotations in code block in website"
On the last two code blocks in the "How to Use" section on the website, replace the single quotations with double quotations. For example, change `<a href='#'` to `<a href="#"`. This issue causes a bug in copying the code.

[2020-09-22 17:59] #149 closed

[2020-09-22 17:59] #150 closed

[2020-09-22 20:48] AgyeyaMishra commented on #165
Hello. Hope you are doing fine. :)
I just happened to come across this issue. Can I work on it?

[2020-09-22 20:53] shahednasser commented on #165
Hi @AgyeyaMishra go ahead!

[2020-09-23 11:04] RishabhDevbanshi commented on #165
Hey, can I work on this issue ?

[2020-09-23 16:49] shahednasser opened #168 "Move Pulse Buttons to its own file"
Pulse buttons rules are in `src/components/animated/_shine.less` we need them in a new file in `src/components/animated/_pulse.less`. Don't forget to also import it in `src/components/_animated.less`.

[2020-09-23 16:52] shahednasser opened #169 "Fix watch command"
watch command only watches changes in `src/sbuttons.less`. We need it to watch changes in all `.less` files in `src` and compile sbuttons.less on change.

[2020-09-23 16:53] #98 closed

[2020-09-23 17:53] shahednasser opened #172 "Fix Contributors link in README"
Fix the link that leads to [Contributors](https://github.com/shahednasser/sbuttons/blob/master/CONTRIBUTORS.md) in the README in the Contributors section

[2020-09-23 17:55] GoodnessOlawoore commented on #128
Thank you @shahednasser  , I will work on it

[2020-09-23 18:17] JoanRosell commented on #168
Hi, I'd like to tackle this one. I'm a first-time contributor, so any feedback is very welcome ^^

The (quite short) task list would look like this:

- [ ] Locate and cut pulse buttons rules
- [ ] Paste the code into a new file called _pulse.less
- [ ] Import the file in _animated.less

[2020-09-23 18:22] shahednasser commented on #168
Looks good! @JoanRosell I'll assign you

[2020-09-23 18:45] AlacritousCreature commented on #172
I would like to make it. May I?

[2020-09-23 18:46] shahednasser commented on #172
Go ahead @AlacritousCreature

[2020-09-23 19:18] #172 closed

[2020-09-23 20:15] JoanRosell commented on #168
Ok, I have moved the code, should I run:
`npm run watch`
`npm run prettier`
`npm run compile`

Since I haven't modified `src/sbuttons.less` I don't know if I should recompile the CSS.

[2020-09-23 20:27] shahednasser commented on #168
Just run `npm run compile`. We need to compile the code, but it's enough to just run compile command

[2020-09-23 21:17] #158 closed

[2020-09-23 21:20] shahednasser opened #177 "Change font size of toggle-theme on small devices"
Change font size of toggle-theme (light/dark theme icon) on small devices ( < 768px) to 1.15rem. Currently, this is applied to `.download-link` so you can add to that same rule the selector for `.toggle-theme`

[2020-09-24 06:35] JLambertazzo commented on #83
Hey, I'd like to work on this! @shahednasser

[2020-09-24 07:34] AlacritousCreature commented on #177
I would like to make it. May I?

[2020-09-24 07:56] shahednasser commented on #83
Hi @JLambertazzo go ahead!

[2020-09-24 07:57] shahednasser commented on #177
Hi @AlacritousCreature yes you can!

[2020-09-24 08:05] AlacritousCreature commented on #177
Thanku for assigning!
Please review it...if it is correct or not.

[2020-09-24 11:14] ayushgaur03 commented on #1
@shahednasser hey I am trying to add a new color button...can u guide me in this??

[2020-09-24 14:12] keivalya commented on #161
I'd love to participate!😁

[2020-09-24 17:27] yashvarshney003 commented on #161
I also love to contribute.

[2020-09-24 17:30] shahednasser commented on #161
Great! @keivalya @yashvarshney003 . Hacktoberfest hasn't started yet, but I would love to hear ideas from you here if you have any!

[2020-09-24 18:36] JoanRosell commented on #168
Thank you for the support @shahednasser!

[2020-09-24 18:42] #85 closed

[2020-09-24 18:42] #168 closed

[2020-09-24 18:43] shahednasser commented on #133
Hi @kanavpruthi are you having any trouble with this? Do you need any assistance?

[2020-09-24 19:01] #177 closed

[2020-09-24 19:10] #83 closed

[2020-09-24 19:10] #165 closed

[2020-09-24 19:12] shahednasser opened #187 "Move code for closing sidebar to a function"
In `assets/js/index.js` we have repeated code that closes the sidebar. We need to put it in one function and call it each time. The code is being used for 3 or 4 events, so it should be put in a separate function and then the function should be called from these events

[2020-09-24 22:44] geographyclub commented on #161
Any interest in adding a color-gradient button? This will be my first contribution but I do know a little bit of CSS and may be able to pull this off by myself.

[2020-09-25 00:06] JLambertazzo commented on #187
I'm familiar with the code, I can take care of this!

[2020-09-25 02:44] hbach24 commented on #161
Hi! I would like to contribute as well! I would suggest some pixelated buttons used for video games (I think it would be really cute and cool to have).

[2020-09-25 03:00] gShahr commented on #1
Hello. I am looking to contribute.

[2020-09-25 03:37] chaitanya4vedi commented on #169
Can i help on this? Also can we use lite-server so that the page updates automatically?

[2020-09-25 04:57] chaitanya4vedi commented on #2
Can i design and add logo for sButtons?

[2020-09-25 05:10] ahmad-shiddiq commented on #54
I didn't see that problem honestly, everything works well in my device.

[2020-09-25 05:28] hbach24 commented on #139
Hi is this open to first-timers? I am new to open source and was wondering if I can try contributing to this. I am willing to learn how to code this.

[2020-09-25 05:28] hbach24 commented on #139
Hi is this open to first-timers? I am new to open source and was wondering if I can try contributing to this. I am willing to learn how to code this.

[2020-09-25 05:57] shahednasser commented on #187
Great @JLambertazzo I'll assign you

[2020-09-25 05:59] shahednasser commented on #161
That's a great idea actually. If you would like to contribute and make the button then go ahead, and it not you can add it in the button ideas file and someone else might do it.

If you want to do this as a part of your hacktoberfest contribution though you should wait until October.

[2020-09-25 06:00] shahednasser commented on #161
That's a nice idea. If you would like to do it yourself then go ahead and if not then please add it to the button ideas file.

If you would like to make this contribution as a part of your hacktoberfest participation then you should wait until October. (Note that if you make your button yourself or just add the idea in the button ideas file, both are considered a contribution)

[2020-09-25 06:02] shahednasser commented on #1
Awesome @gShahr this contribution has the "Always Open" label and so anyone can work on it at any time. If you have a certain idea you'd like to implement then go ahead and do it. If you need any ideas you can check out the button ideas file, where everyone adds their ideas so that someone can implement them!

[2020-09-25 06:05] shahednasser commented on #169
Yes @chaitanya4vedi I'm open to any idea you find useful! We need to make the watch command more helpful. I'll assign you to this issue

[2020-09-25 06:06] shahednasser commented on #2
Yes @chaitanya4vedi I would totally appreciate it!

[2020-09-25 06:07] shahednasser commented on #54
That's interesting @ahmad-shiddiq what device are you using? Maybe this will help narrow the problem down

[2020-09-25 06:09] ruchikamuddinagiri commented on #1
Hey! I am beginner and I am looking to contribute to this issue!

[2020-09-25 06:10] shahednasser commented on #139
Hi @hbach24 someone is already working on this. But please find any other unassigned issue that you feel like you can work on and we'd appreciate your help!

You can also look at the "Always Open" label it has issues that anyone and everyone can work on at any time. Or you can add any button ideas you have in the button ideas file for someone else to implement.

Please check out our contribution g

[2020-09-25 06:12] shahednasser commented on #1
Hi @ruchikamuddinagiri please go ahead! this issue has the "Always Open" label and so anyone can work on it at any time.

If you have a button idea you'd like to implement then go ahead and do it. If you need any ideas you can check out the button ideas file, where everyone adds their ideas so that someone can implement them! You can also add your own ideas! All these count as contributions.

Plea

[2020-09-25 06:19] DilkiSasikala commented on #187
Hi, I would like to attempt this.

[2020-09-25 07:12] alkatrivedi commented on #1
I wanted to work on this issue. May I?

[2020-09-25 07:40] Rishav0907 commented on #2
Can i go for it?

[2020-09-25 07:58] shahednasser commented on #1
@alkatrivedi sure go ahead! Please refer to previous replies to learn more about this issue.

[2020-09-25 07:59] shahednasser commented on #2
@Rishav0907 someone is already assigned to this unfortunately. If you would like to contribute to something else, please look for issues that are not assigned to anyone.

[2020-09-25 08:21] APalpattuwar7 commented on #161
Hi! What do you think of adding 'Login With GitHub' social button? I will try to add this if you approve. This will be my first contribution.

[2020-09-25 08:27] preeti-create commented on #1
add new buttons of discussion

[2020-09-25 08:31] preeti-create commented on #1
add this button **sbtn click-btn btn-rounded black-btn**    for discussion

[2020-09-25 10:12] tushar2407 commented on #1
Hi .!
Looking forward to making a valuable contribution.
Can I contribute here?

[2020-09-25 10:29] shahednasser commented on #1
Hi @preeti-create if you're giving us button ideas, please consider contributing by adding them in the button ideas file so that everyone can see it and maybe someone will work on it!

[2020-09-25 10:31] shahednasser commented on #1
Hi @tushar2407 yes you can contribute! If you have any button ideas you can implement them or add them to the button ideas file. If you don't have specific ideas, you can check out the file for ideas and implement them! There are also other things you can contribute to. Please check out the list of issues and the contribution guide.

[2020-09-25 13:25] Pratyush-Saxena commented on #161
@shahednasser i would like to colaborate too

[2020-09-25 13:29] Pratyush-Saxena commented on #141
@shahednasser can i take up this one...

[2020-09-25 15:17] shahednasser commented on #161
I like the enthusiasm @Pratyush-Saxena but currently we only have 39 contributors, I think it's still a bit early for that.
Please collaborate in any issue that you find helpful!

[2020-09-25 16:08] nicholedwight commented on #133
I'd like to work on this one if it's still open!

[2020-09-25 18:35] HADES-01 commented on #114
Can I work this issue ????

[2020-09-25 18:41] shahednasser commented on #114
Yes @HADES-01  go ahead!

[2020-09-25 18:58] #133 closed

[2020-09-25 18:58] #187 closed

[2020-09-25 19:05] shahednasser opened #208 "Change Button Ideas list to table"
Currently [Button Ideas file](https://github.com/shahednasser/sbuttons/blob/master/BUTTON_IDEAS.md) has a list of ideas added by awesome contributors, however, they are not recognized for it. I want to change the list of checkboxes and labels to a table that has four columns: Empty title (for checkboxes), "Button name", "Description", "Submitted By" which would link to the profile of the person th

[2020-09-25 19:29] hbach24 commented on #139
Okay, thank you!

[2020-09-25 20:10] Oaparecido commented on #208
Hello, what you want is to turn README.md into a table?

[2020-09-25 20:54] shahednasser commented on #208
@Oaparecido no it's the button ideas file linked

[2020-09-25 22:04] Neeraj3508 commented on #22
I would like to add some social-media buttons.

[2020-09-25 22:46] shahednasser commented on #22
@Neeraj3508 great go ahead!

[2020-09-25 22:50] shahednasser opened #213 "Change font for buttons in header"
Change the font for the "Download" and "Documentation" links in the header to "Syne"

[2020-09-25 22:51] #114 closed

[2020-09-25 22:57] shahednasser opened #215 "Add a link to the logo in the navbar"
Add a link to the logo in the navbar. It should link to the same page.

[2020-09-25 23:00] shahednasser opened #216 "Hide "Download" button in the navbar when at the top of the page"
When at the top of the page and the header is visible, hide the download link in the navbar. A tip: When the navbar doesn't have the class "scrolling" the download link should be hidden. When it has the class "scrolling", the download link should be visible.

[2020-09-25 23:11] MarthaBarahona commented on #213
Hi, can I take this issue, and submit the PR in the first days of October for Hactoberfest?

[2020-09-25 23:14] shahednasser commented on #213
Hi @MarthaBarahona thank you for wanting to contribute! I think it's best if you come back in October and find an issue you can do. I'm sure you'll be able to find something then!

[2020-09-25 23:21] Caleb335 commented on #208
Hi, I'd love to work on this.

[2020-09-25 23:23] shahednasser commented on #208
Please do @Caleb335 . I'll assign you then.

[2020-09-25 23:24] Caleb335 commented on #208
On it.

[2020-09-26 00:17] shahednasser commented on #2
Hi @Rishav0907 if you still want to submit a logo idea I'd love to see it. I would like to see different options before settling for a logo.

[2020-09-26 01:32] Zuhdannur commented on #216
i can work on it , assign to me

[2020-09-26 02:23] hbach24 commented on #213
Hi! Can I take this issue?

[2020-09-26 04:45] shikhargupta-in commented on #215
Hi @shahednasser, is this issue open? Can I work on it?

[2020-09-26 06:34] Pratyush-Saxena opened #225 "new like buttons to be add"
I guess we need some new buttons with fill animation effect .somewhat .like-->
![2834b3bbf14da02901ff68fb76395da8](https://user-images.githubusercontent.com/52444607/94332165-4a2e3e80-fff0-11ea-8b02-3addb1aa438b.gif)

[2020-09-26 07:45] HADES-01 opened #226 "The neon buttons should have more color options rather than just green"
**Describe the solution you'd like**
Add more classes to [_neon.less](https://github.com/shahednasser/sbuttons/blob/master/src/components/animated/_neon.less).
And required examples should be added to the [index.html](https://github.com/shahednasser/sbuttons/blob/master/index.html) as well.

**Additional notes**
Should at least have support for all the current color combinations.

**Currently Work

[2020-09-26 08:35] hvirmani opened #228 "Snake Border button"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Additional notes**

[2020-09-26 08:43] hvirmani opened #229 "Add dark mode toggle button"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Additional notes**

[2020-09-26 09:21] JithinAji commented on #216
Is this issue solved?

[2020-09-26 09:32] ahmad-shiddiq commented on #54
I'm sorry, I thought that was IOS. I was trying on Ipad.
![WhatsApp Image 2020-09-25 at 3 07 10 PM](https://user-images.githubusercontent.com/53107961/94337552-6ee8dd00-0015-11eb-951d-6d70ac8444c6.jpeg)

But I tried on my phone too, same didn't see any problem as you said.
![WhatsApp Image 2020-09-26 at 4 30 28 PM](https://user-images.githubusercontent.com/53107961/94337576-b8d1c300-0015-11eb-9c40

[2020-09-26 10:17] alinasahoo commented on #96
Hey, we can have a button as of like when we click on it, the color changes into another color and says success if passed all the test cases.

I have recently joined GitHub and am unaware of where to start contributing. I am a bit inclined towards front-end development so it would be helpful if you would guide me a bit. Also, are there any more issues where I can work as of now?

[2020-09-26 10:18] shahednasser commented on #213
Yes @hbach24 go ahead!

[2020-09-26 10:44] shahednasser commented on #225
I like it. If you wanna work on it, please let me know to assign you!

[2020-09-26 10:45] shahednasser commented on #225
And if not, please add it in the buttons ideas file for someone else to see it. Let me know!

[2020-09-26 10:49] shahednasser commented on #226
I like the idea. Please work on it!

[2020-09-26 10:56] shahednasser commented on #216
@JithinAji someone is already working on this. Please look at other issues you can contribute to!

[2020-09-26 10:57] shahednasser commented on #54
Thank you for sharing that @ahmad-shiddiq . Will keep this issue for future reference then.

[2020-09-26 11:02] shahednasser commented on #96
Hi @alinasahoo looks like it's a good idea. There are two ways you can contribute with this idea:

1. Submit the idea by editing the [button ideas](https://github.com/shahednasser/sbuttons/blob/master/BUTTON_IDEAS.md) file
2. Implement the button if you think you can do it.

If you need any assistance you can always ask! But before contributing, please check out the [contributing guidelines](https

[2020-09-26 11:04] #215 closed

[2020-09-26 11:05] #208 closed

[2020-09-26 11:06] shahednasser opened #234 "Fix Contributors link in the badge in README"
Fix the link for the "all contributors" badge in the README

[2020-09-26 11:09] jad837 commented on #234
Hi I would like to work on this beginner here.

[2020-09-26 11:11] shahednasser opened #235 "DISCUSSION: Should we move "sbuttons.min.css" outside of the repository"
As pointed out by our contributor @chaitanya4vedi , and as we have been experiencing conflicts when contributors make pull request after the `dist/sbuttons.min.css` file has changed, maybe we should consider a better solution for this.

We need the file for people to download it, as well as use it on the website. So removing it from the repository would require an alternative solution.

Does anyon

[2020-09-26 11:11] shahednasser commented on #234
great @jad837 go ahead!

[2020-09-26 11:16] alinasahoo commented on #96
Okay, as of now. I only had this idea. Will look into the implementation in a while if I can do it. Meanwhile, I will add this idea in the button ideas file so that others can look into it and start contributing.

Thank you @shahednasser .

[2020-09-26 11:53] isonnymichael commented on #235
How if adding gitignore for .min.css ?

[2020-09-26 12:03] shahednasser commented on #235
@isonnymichael  If we do that we need another way of hosting .min.css and a way of deploying the new version with every change.

[2020-09-26 12:07] alinasahoo commented on #213
Hey, is this issue still open?

[2020-09-26 12:12] isonnymichael commented on #235
So we need auto deploy for any changes without conflict ? Can you explain where you deploy that file ?

[2020-09-26 12:14] Pratyush-Saxena commented on #225
surely i would like to take this up

[2020-09-26 12:14] shahednasser commented on #235
I'm currently not sure. That's why I opened this issue, to get ideas from the contributors. I'll keep researching it as well but maybe someone has a good idea and can help!

[2020-09-26 12:18] shahednasser commented on #225
Great! I assigned you @Pratyush-Saxena

[2020-09-26 12:20] isonnymichael commented on #161
Keep simple like the name SImple Buttons 😄, how to make more option for padding maybe or make the button block like bootstrap btn-block, or small

[2020-09-26 12:21] isonnymichael opened #243 "Like Button Animation"
**Describe the bug**
I don't know it's bug or you make the animation just like that ? Because I think the animation look weird, please check it out.
**Expected behavior of what should have happened (if applicable)**

**Screenshots (if applicable)**

![like-button](https://user-images.githubusercontent.com/24585708/94340611-6dc3aa00-002d-11eb-8658-1e7a005e34d2.gif)

**Additional notes**

[2020-09-26 12:46] shahednasser commented on #235
Resolved this issue using [Statically](https://statically.io/). Minification is now done automatically by them. Only sbuttons.css remains in this repository

[2020-09-26 12:46] #235 closed

[2020-09-26 12:49] shahednasser commented on #243
I get your point @isonnymichael . If you wanna work on it, let me know to assign you.

[2020-09-26 12:50] shahednasser commented on #161
I like the block button idea. Maybe you can add it to button ideas file @isonnymichael

[2020-09-26 12:57] isonnymichael commented on #235
Wow it's good, but can I know how it's work ?

[2020-09-26 13:01] isonnymichael commented on #161
@shahednasser okay noted

[2020-09-26 13:04] isonnymichael commented on #243
If no one work on it, assign me for tomorrow, can I ?

[2020-09-26 13:51] icoderharshit opened #247 "Change in Sidebar Nav .items Font Family !"
**Describe the bug**
Text in the Nav. items of sidebar looks really congested and font family also looks not so aesthetic.
**Expected behavior of what should have happened (if applicable)**
either text spacing should have been given for the nav. item's or the font family and the line-height should be increased a little.
Furthermore, the transition duration of the underline coming below the items s

[2020-09-26 15:58] shahednasser commented on #235
If you visit their website you can see it, it's easy, but basically, if you enter the URL of a file in a repository they give you a CDN link to it. Also, they provide minification for any file, so it's pretty convenient.

[2020-09-26 16:05] shahednasser commented on #243
Sure, I'll assign you!

[2020-09-26 16:34] JithinAji commented on #216
@shahednasser Sure. Thank you for the update.

[2020-09-26 16:53] #226 closed

[2020-09-26 16:55] shahednasser commented on #247
I see your point. Please work on it and let me see how it should look like.

[2020-09-26 17:02] isonnymichael commented on #235
Is it automation ? In this case, you set link ../sbuttons.css and if any changes in this sbuttons file, it will generate new minify file ? If so, where's the file .min.css located ? Thanks.

[2020-09-26 17:04] shahednasser commented on #235
Statically automatically takes the file from your repository and serves it minified

[2020-09-26 18:01] HADES-01 opened #252 "Banner links don't go with the overall aesthetic of the website"
**Describe the bug**
The "Download" and "Documentation" links in the banner of the website don't go with the overall aesthetic of website.
**Screenshots (if applicable)**
Should look like this
![Should look like](https://user-images.githubusercontent.com/52060608/94347255-2f8bb200-0050-11eb-86f6-3c26b1bbb64d.png)

[2020-09-26 18:15] isonnymichael commented on #235
I see.. thanks

[2020-09-26 18:22] shahednasser commented on #252
If you can make a pull request with the change I might look into it. But can you at least make the download button a white color? We need to put focus on the download button.

[2020-09-26 18:25] shahednasser opened #254 "Discussion: Creating an NPM package"
Should we create an NPM package for sButtons? Please let me know if you think it's a good idea or not, and if there are any features or additions we can add if we make it an NPM package.

[2020-09-26 19:23] Charu271 opened #258 "Key like 3D button"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Additional notes**

[2020-09-26 19:42] ankitksh81 commented on #254
Hi @shahednasser , I think it's a good idea to create an NPM package for sButtons. It will make the installation and use of sButtons easy as we won't have to include the links in different files and we can directly install it using npm withing seconds.
We can also include other features with this package in futures. Let me know if I can help in any way possible, I would love to help.

[2020-09-26 21:05] dsnehasish74 commented on #22
Can I add some Buttons????

[2020-09-26 21:09] shahednasser commented on #258
Hi @Charu271 please add more description to the issue next time!

If you would like to contribute with this idea, please add it to the button ideas file in the correct category with a clear description of what you mean.

[2020-09-26 21:12] shahednasser commented on #22
@dsnehasish74  Yes of course! You can add any type of buttons. You can also add button ideas for others to implement. Please check the [contributing guidelines](https://github.com/shahednasser/sbuttons/blob/master/CONTRIBUTING.md) for more info

[2020-09-27 05:44] Charu271 commented on #258
Okay

[2020-09-27 06:06] isonnymichael commented on #254
Yes, I think it's good

[2020-09-27 06:42] HADES-01 commented on #254
Yeah @shahednasser , It is a pretty good idea. Let me know as well if I can help in any way possible.

[2020-09-27 07:54] icoderharshit commented on #247
Sure, I will be updating the same by today!

[2020-09-27 09:59] icoderharshit commented on #247
I pulled request on this issue and did the improvement in a new branch "SIdebar-Nav.-items'-design-Fix" ! Check it out @shahednasser

[2020-09-27 14:21] shahednasser commented on #254
I'm honestly not sure what is the best way to do it so I'll need to look into it. If you have any notes, suggestions or ways to help please let me know!

[2020-09-27 14:36] #252 closed

[2020-09-27 14:43] #169 closed

[2020-09-27 14:43] #243 closed

[2020-09-27 14:43] #258 closed

[2020-09-27 14:44] #234 closed

[2020-09-27 14:46] shahednasser opened #266 "Add a link to CONTRIBUTORS.md in the footer"
In the footer of the website, add a link to the CONTRIBUTORS.md. The text should be something like "Here's a list of our awesome contributors" or anything better.

[2020-09-27 16:17] chaitanya4vedi commented on #266
@shahednasser Can i do this?

[2020-09-27 16:25] chaitanya4vedi commented on #266
@shahednasser Also How do i proceed with implementing some ideas or improvements? like i see we use prettier in this project. So we can use precommit hooks to run prettier every time a commit is made. So do i open new pull request for each ideas or open an issue first and then proceed?

[2020-09-27 16:47] anonyda opened #267 "New Vintage Buttons can be added?"
I would love to design and add Windows 95 type vintage and retro buttons to the collection.
If possible, can I add them?

[2020-09-27 17:07] shahednasser commented on #266
Yes you can work on this @chaitanya4vedi . As for the idea, please send an issue first to discuss and see if it should be implemented.

Regarding prettier, there's already an action that runs on push and merging pull requests to the repository.

[2020-09-27 17:10] shahednasser commented on #267
That's a great idea! Yes you can.

If you're gonna work on retro buttons, make sure to check it off in the button ideas file. Also, make sure to add these buttons (both vintage and retro) under a new button type called "Special Buttons"

[2020-09-27 17:11] #2 closed

[2020-09-27 17:12] chaitanya4vedi commented on #266
I see. Ok thanks.

[2020-09-27 17:38] dsnehasish74 opened #270 "The squared social Buttons and Rounded social buttons should be separated for clear UI"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Additional notes**
![Screenshot (162)](https://user-images.githubusercontent.com/58779604/94371723-41378d00-0116-11eb-8411-9b0cf7a47315.png)

[2020-09-27 17:45] dsnehasish74 opened #271 "For Instagram rounded button class is only Instagram and For Square button class is Instagram-rounded this should be changed"
![Screenshot (162)_LI](https://user-images.githubusercontent.com/58779604/94371873-421cee80-0117-11eb-9188-25881a50474a.jpg)
![Screenshot (162)_LI](https://user-images.githubusercontent.com/58779604/94371879-52cd6480-0117-11eb-9aa2-ab63719d71bb.jpg)

**Describe the bug**

**Expected behavior of what should have happened (if applicable)**

**Screenshots (if applicable)**

**Additional notes**

[2020-09-27 17:46] dsnehasish74 commented on #270
I want to work on this can I?????

[2020-09-27 17:46] dsnehasish74 commented on #271
Can I fix this bug

[2020-09-27 18:05] dsnehasish74 commented on #22
Ok I want to add an button Login with Apple as many popular site use this button like: coursera

[2020-09-27 18:11] dsnehasish74 opened #273 "The text of social buttons are not visible clearly"
![Screenshot (162)_LI](https://user-images.githubusercontent.com/58779604/94372415-e2284700-011a-11eb-95c2-df41c0e4833f.jpg)
**Describe the bug**

**Expected behavior of what should have happened (if applicable)**

**Screenshots (if applicable)**

**Additional notes**

[2020-09-27 18:12] dsnehasish74 commented on #273
I think changing the font family will help here...... which font family should I add here

[2020-09-27 18:13] dsnehasish74 commented on #271
#272

[2020-09-27 18:46] dsnehasish74 commented on #161
I think we can add buttons  for chat box . and In this project there is no large button section . We can add this two in the project

[2020-09-28 03:43] Tushar11Raj commented on #22
Hey can I add social media buttons for popular websites like pinterest, tiktok and youtube?

[2020-09-28 03:47] Tushar11Raj commented on #1
Hey can I add thumbs up button? with animation

[2020-09-28 05:26] Neeraj3508 commented on #270
I thought of same but isn't it better if they are side by side and user can see differences?

[2020-09-28 06:37] Pratyush-Saxena commented on #273
@dsnehasish74 i didn't found any such problem in the page ..i guess the page might not loaded properly

[2020-09-28 06:59] dsnehasish74 commented on #273
the lower portion of g is getting cut. Is not it  ???? or it is the font style???????????

[2020-09-28 07:01] dsnehasish74 commented on #270
Might be but in the page every button is separated by its square and rounded . So it is looking odd ............. is not it????

[2020-09-28 07:06] Neeraj3508 commented on #270
Everyone has their own views. I think admin should decide what to do, yeah but we can do give suggestions though.

[2020-09-28 07:54] icoderharshit commented on #247
I committed the requested change @shahednasser , please see to it :).

[2020-09-28 09:26] khushali77 commented on #1
Can I contribute to this issue?

[2020-09-28 09:30] dsnehasish74 commented on #270
Yup

[2020-09-28 11:50] shahednasser commented on #271
I agree with what you are saying, but I think the better solution is to keep it consistent throughout the website. Usually, we just added the class `rounded-btn` to any button type to make it rounded instead of adding a new class relating to that button (for example, `instagram-rounded`)

I think what we need to do is remove all the "rounded" classes for the social buttons (instagram-rounded, face

[2020-09-28 11:53] shahednasser commented on #161
@dsnehasish74 someone added the large button type in button ideas (as block buttons). As for the chat box buttons, please add the idea to button ideas!

[2020-09-28 12:06] shahednasser commented on #22
@Tushar11Raj I don't think anyone can use tiktok to login to a website, but as for pinterest and youtube, sure go ahead!

[2020-09-28 12:08] shahednasser commented on #273
This is due to the font

[2020-09-28 12:09] shahednasser commented on #1
Yes of course @Tushar11Raj @khushali77

[2020-09-28 12:10] #271 closed

[2020-09-28 12:11] shahednasser commented on #270
@Neeraj3508 and @dsnehasish74 I've commented on this [here](https://github.com/shahednasser/sbuttons/issues/271#issuecomment-699958439). @dsnehasish74 let me know if you can work on it as I described it there. If not, maybe @Neeraj3508 would like to work on it. Let me know who can work on this.

[2020-09-28 12:18] #273 closed

[2020-09-28 12:20] #213 closed

[2020-09-28 12:20] #247 closed

[2020-09-28 12:20] #266 closed

[2020-09-28 12:20] #267 closed

[2020-09-28 12:24] shahednasser opened #285 "Cannot see items in sidebar when it overflows on the big screen"
We have added scroll rules to the sidebar on small devices. We need to change it now to all devices instead of small devices. Please maintain the same design, just change it from only small screens to all screens.

[2020-09-28 12:26] shahednasser opened #286 "Find better icon similar to the logo"
We have finally added a logo, but I'm not fond of the icon much. If anyone can find a similar icon but more flat then please add a link under this request. (This issue does not require a pull request but you will still be added as a contributor).

If someone also has better ideas for the logo as well, please share with us!

[2020-09-28 12:29] rishipurwar1 commented on #285
I would like to contribute.

[2020-09-28 12:30] shahednasser commented on #285
Great @rishipurwar1 I'll assign you.

[2020-09-28 12:33] rishipurwar1 commented on #285
Could you please add more details about an issue?

[2020-09-28 12:48] shahednasser commented on #285
Currently on small devices, overflow scrolling is added to `.sidebar`. We want to make it for all devices, not just small devices (basically remove the media query). You can find the code for it in `assets/css/index.css` on like 293.

Also, the sidebar's scrollbar is customized so make sure to make that visible on all devices as well.

Please check the [contributing guidelines](https://github.com/

[2020-09-28 13:23] aayushi221 commented on #1
Hey can I work on one of your ideas from the list -
Icon Button | A button with icons enlargement and shrink effect on hover.

[2020-09-28 13:42] shahednasser commented on #1
Yes sure @aayushi221 !

[2020-09-28 15:06] icoderharshit commented on #286
https://drive.google.com/file/d/1UD0Yhs097r590XIFBIZ0Z992_EyBczAB/view?usp=sharing

Tried to make a better logo :) Check it out @shahednasser

[2020-09-28 19:12] shahednasser commented on #286
I like that @icoderharshit but do you think it will look good in the navbar? Also, would it look good with both light and dark mode?

If we use it we also would need a version of it where the background is white and the text is colored to use it in the header of the website (since the background of the header is blue). Let me know what you think about all of this.

[2020-09-28 20:10] shahednasser opened #289 "Add Block Button class"
Add a class that would change any button to a block button. We should also add a note about it, maybe in the "How to Use" section with an example (based on Basic Button).

This should work on any button type, so give it a basic class name something like "block-btn"

[2020-09-28 20:10] justDOindev commented on #1
I would love to help! Has the Neumorphic button idea been assigned?

[2020-09-28 20:12] shahednasser commented on #1
Hi @justDOindev no one has been assigned to it so you can work on it!

[2020-09-28 21:06] Neeraj3508 commented on #270
Yes, i would love to contribute.

[2020-09-28 21:08] Neeraj3508 commented on #271
I can work if you want

[2020-09-28 22:55] icoderharshit commented on #286
Yes, it will. Being a Graphics Designer, I can tell you that it'll suit and adjust according to the background color of the header and stuff...I shared a mockup with you, if you assign me...I'll try to give it a final look and check if that goes well on Navbar as well..and with that dark mode too.

[2020-09-28 23:03] icoderharshit commented on #286
and yes...I just checked my name in the list of Contributors, it is redirecting to my sourcerer profile..please update it by replacing with either github.com/icoderharshit or icoderharshit.github.io/Portfolio

[2020-09-29 01:02] modaserMoj commented on #1
I was thinking of doing a button where it disappears and reappears on click, is it open?

[2020-09-29 01:44] zahra-abdullah commented on #289
@shahednasser Id like to work on this! Is it fine?

[2020-09-29 08:03] apoorvakadam commented on #141
Hi! I was using hover buttons and I saw that buttons have a negligible change in their appearance after we hover on it. When it comes to the black button the hover effects are so diminished that it looks like a basic button.

![image](https://user-images.githubusercontent.com/32300994/94529774-c4acc780-0257-11eb-93f0-8562f62c94c8.png)

[2020-09-29 10:21] shahednasser commented on #270
Ok @Neeraj3508 I'll assign you. Please let me know if you need any assistance.

[2020-09-29 10:22] shahednasser commented on #286
Ok I will be assigning you. Please submit a PR so I can see how it will end up looking like.

[2020-09-29 10:23] shahednasser commented on #286
Unfortunately this is done automatically by all-contributors but I'll look into it.

[2020-09-29 10:24] shahednasser commented on #1
@modaserMoj I'm not really sure what you mean by that but you can submit a PR for it and I can see then how it looks!

[2020-09-29 10:26] shahednasser commented on #141
I see what you mean. Maybe we need to adjust the hover color based on the original color (make it lighter if it's dark like black, make it darker if it's light like blue). I'll look into it. Thank you.

@all-contributor please add @apoorvakadam for tests.

[2020-09-29 10:29] Neeraj3508 commented on #270
@shahednasser  any deadlines?

[2020-09-29 10:30] shahednasser commented on #141
@all-contributors please add @apoorvakadam for tests.

[2020-09-29 10:31] shahednasser commented on #270
No there's no deadline @Neeraj3508 since this is just an enhancement, not a bug.

[2020-09-29 10:33] Neeraj3508 commented on #270
Please can u again repeat the task exactly

[2020-09-29 10:36] shahednasser commented on #270
@Neeraj3508 we need to make social buttons consistent with the rest of the website and button types. Currently if you add `rounded-btn` to any button type it will make the button rounded. Instead of having two different classes for each social type (For example `facebook` and `facebook-rounded`) we should just add `rouneded-btn` to the social button and it will make it rounded. This will make the

[2020-09-29 10:38] Neeraj3508 commented on #270
Yes but that will create one issue that is the border radius for rounded btn class ia 25px and here as the field is long in social buttons case the curves won't be that smooth

[2020-09-29 10:39] shahednasser commented on #270
Then you can add a rule specific for `.social-btn.rounded-btn` that overrides the original border-radius rule

[2020-09-29 10:40] Neeraj3508 commented on #270
Ok

[2020-09-29 11:50] shahednasser opened #297 "Changing Hover Button behavior"
Hover Button behavior should change as the following

1. Make button lighter on hover if the button is originally dark (For example, black button).
2. Make button darker on hover if the button is originally light (For example, yellow button)

[2020-09-29 11:51] shahednasser commented on #297
@apoorvakadam would you like to work on it (so I can assign you) or should we leave it up for someone else?

[2020-09-29 12:01] shahednasser opened #298 "Split Basic/Rounded/Block into tabs"
Split Basic/Rounded/Block buttons into tabs for each button style instead of under each other where the user can change between them as suggested by @zahra-abdullah .

[2020-09-29 12:02] shahednasser commented on #298
@zahra-abdullah will be working on this.

[2020-09-29 12:03] shahednasser commented on #286
@icoderharshit When you add your logo, make sure to credit yourself in the footer instead of the current credit for the icon in the logo.

[2020-09-29 12:49] Balaguru4580 commented on #297
Hey, I can work on it if you want. Is that alright?

[2020-09-29 12:52] shahednasser commented on #297
Hi @Balaguru4580 I'm waiting for a response from @apoorvakadam . I'll let you know if this issue stays unassigned!

[2020-09-29 15:37] HADES-01 opened #300 "Header links not responsive"
**Describe the bug**
The header links overflow to bottom in mobile view.

**Expected behavior of what should have happened (if applicable)**
They should stay inside the header or come inside the side menu

**Screenshots (if applicable)**
![Header link bug](https://user-images.githubusercontent.com/52060608/94580230-4bcd6000-0297-11eb-93de-ecd818e91e64.png)

[2020-09-29 15:53] shagun25 commented on #298
can i contribute?

[2020-09-29 16:46] shahednasser commented on #300
Thank you @HADES-01 for reporting this bug. Upon testing it it seems that this occurs on devices with width <= 368px so maybe it would be best to hide those links on devices with width <= 368px.

[2020-09-29 16:48] shahednasser commented on #298
Hi @shagun25 someone is already working on this issue. Please look at other issues if you wanna help and contribute!

[2020-09-29 16:54] HADES-01 commented on #300
@shahednasser I can get started on it. If you'd like.

[2020-09-29 16:56] shahednasser commented on #285
This issue has been resolved due to its high priority. @rishipurwar1 if you would like to contribute to something else please go ahead.

[2020-09-29 16:56] #285 closed

[2020-09-29 16:58] shahednasser commented on #300
sure I'll assign you @HADES-01

[2020-09-30 01:17] dsnehasish74 commented on #161
ok I am adding it .............. can I add that button .................... I mean I want to work on it .................. If you give me that chance then I will add it in 2 or 3 days

[2020-09-30 06:06] #289 closed

[2020-09-30 06:38] shahednasser opened #308 "Change "btn-disabled" to "disabled-btn""
Now we have a new button type "Disabled" but its class name does not follow the convention we are using for the website. We just need to change the class name from "btn-disabled" to "disabled-btn"

[2020-09-30 06:40] Haniket commented on #308
can I work on it

[2020-09-30 07:15] shahednasser commented on #308
Sure @Haniket I will assign you!

[2020-09-30 07:23] vaidikg20000 commented on #161
I'd love to contribute by making a transitioning effect button

[2020-09-30 07:28] shahednasser commented on #161
sure @vaidikg20000 go ahead!

[2020-09-30 07:29] Haniket commented on #308
@shahednasser where I have to make changes in the code base....can you please help I am new to open source

[2020-09-30 07:40] shahednasser commented on #308
@Haniket changes first need to be made in `src/components/_basic.less` in this part of the code:
https://github.com/shahednasser/sbuttons/blob/0d0ced470193ccd3a373381b32fefed13e94ee2a/src/components/_basic.less#L51-L55

You just need to change `btn-disabled` to `disabled-btn`.

Then, you need to change the class name here as well:

https://github.com/shahednasser/sbuttons/blob/0d0ced470193ccd3a373

[2020-09-30 09:21] shahednasser commented on #270
Issue has been resolved by code refactoring to make website more consistent. Thank you @Neeraj3508 and @dsnehasish74

[2020-09-30 09:21] #270 closed

[2020-09-30 09:26] shahednasser opened #309 "Improve style of `.social-btn` with class `block-btn`"
Social Buttons that are also blocks have the icons at the very far right. It should be next to the "Login with ..." text

[2020-09-30 09:27] #139 closed

[2020-09-30 09:28] shahednasser commented on #297
Hi @Balaguru4580 as @apoorvakadam hasn't replied, you will be assigned to this issue. Please let me know if you need any assistance.

[2020-09-30 09:31] shahednasser opened #310 "Add Block and Disabled buttons documentation from website to Readme"
Currently the documentation in "How to Use" section on the website is ahead of the "Usage" section in the README. Update the README Usage section to match the "How to Use" section.

[2020-09-30 09:46] chaitanya4vedi commented on #1
@shahednasser Can i help on this? I would like to add some animated buttons.

[2020-09-30 09:49] shahednasser commented on #1
Yes of course @chaitanya4vedi go for it.

[2020-09-30 09:51] chaitanya4vedi commented on #309
@shahednasser Can i do this?

[2020-09-30 09:55] shahednasser commented on #309
Yes @chaitanya4vedi I'll assign you

[2020-09-30 10:02] ashirbad29 commented on #1
do I need to learn less before contributing

[2020-09-30 10:09] shahednasser commented on #1
Hi @ashirbad29 if you're contributing by adding new buttons then yes you do. Less is very easy though so you can learn it as you add the new button!

If you prefer to contribute without learning less, check out issues with the label [website](https://github.com/shahednasser/sbuttons/labels/website) or [documentation](https://github.com/shahednasser/sbuttons/labels/documentation). You can also go t

[2020-09-30 10:14] lee00286 commented on #310
Can I work on this issue?

[2020-09-30 10:15] shahednasser commented on #310
Sure @lee00286 I'll assign you

[2020-09-30 11:31] shahednasser commented on #298
@zahra-abdullah please confirm if you'll be working on this issue

[2020-09-30 12:17] Rohit-Gupta11 commented on #310
Can I also work on this issue ?

[2020-09-30 12:21] shahednasser opened #311 "Change margin-bottom of navbar"
Change margin-bottom of navbar from 2em to 1em

[2020-09-30 12:21] shahednasser commented on #310
Hi @Rohit-Gupta11 I think it's unnecessary since someone is already working on it. Please find another issue to contribute to!

[2020-09-30 12:24] #228 closed

[2020-09-30 12:25] shahednasser commented on #229
Hello @hvirmani will you be adding this button idea or should I unassign you?

[2020-09-30 12:27] Rohit-Gupta11 commented on #311
Can I work on this issue?

[2020-09-30 12:29] shahednasser opened #312 "Disable selecting text of "Disabled Buttons""
Disable selecing text of "Disabled Buttons" using CSS only.

[2020-09-30 12:31] shahednasser commented on #311
Yes you can @Rohit-Gupta11 I'll assign you

[2020-09-30 12:33] shahednasser opened #313 "Improve design of the footer"
The design of the footer currently looks dull. Improve it to look more visually pleasing.

I'm not assigning someone specific for this issue as I would like to see different people's implementations and ideas to this. The best looking one will be picked.

[2020-09-30 12:35] shahednasser opened #314 "Change font size of social-btn to 1.2rem"
Currently the font-size of `.social-btn` is 1rem. Change it to 1.2rem

[2020-09-30 12:41] shahednasser opened #315 "Add strikethrough to finished button ideas"
There are [button ideas](https://github.com/shahednasser/sbuttons/blob/master/BUTTON_IDEAS.md) that are checked off but don't have a strikethrough. We just need to add a strikethrough to those checked off.

[2020-09-30 12:42] arpancodes commented on #314
hello @shahednasser I would like to take it up for hacktoberfest, can you please assign it to me? Thanks! 😄

[2020-09-30 12:43] alabo-excel commented on #313
Hi, I want to do this for hacktoberfest can you please assign it to me? Thanks in advance 😃

[2020-09-30 12:44] yuvraj23092001 commented on #314
Hello I would like to contribute if you allow so .
Thanks

[2020-09-30 12:45] shahednasser commented on #314
Hi @arpancodes you can go ahead as you were first to claim it.

@yuvraj23092001 please find other issues to contribute to!

[2020-09-30 12:46] shahednasser commented on #313
Hi @alabo-excel you can work on this issue but as I said in the description I'm not assigning it into anyone in particular to see different results.

[2020-09-30 12:48] joshalling commented on #315
I'd like to take this one.

[2020-09-30 12:49] shahednasser commented on #315
Sure @joshalling i'll assign you

[2020-09-30 12:49] 1880akshay commented on #312
@shahednasser can u please elaborate a bit on this issue..not getting exactly what is the issue

[2020-09-30 12:51] shahednasser commented on #312
@1880akshay when double clicking a button of type "Disabled" you can select the text of the button. This should be disabled using CSS.

[2020-09-30 12:56] vaidikg20000 commented on #161
I'm creating bounce effect button in css, is it different compared to less if i want to contribute?

[2020-09-30 12:58] shahednasser commented on #161
@vaidikg20000 no it's not very different and once you try Less it's easier. I think you should try and if you need any assistance let me know

[2020-09-30 13:01] 1880akshay commented on #312
@shahednasser okay got it! can you please assign this issue to me?

[2020-09-30 13:02] shahednasser commented on #312
Sure @1880akshay !

[2020-09-30 13:04] DevanshD3 commented on #313
Hey so how exactly do we contribute to this project? Where can we see the current footer? I am new to this, It would be great if you could help

[2020-09-30 13:08] hvirmani commented on #229
I am working on it and will be pushing soon.

[2020-09-30 13:10] shahednasser commented on #313
Hello @DevanshD3 please check out the website of this repository, that's where you'll see the footer. If you want to contribute, follow the [contributing guidelines](https://github.com/shahednasser/sbuttons/blob/master/CONTRIBUTING.md). If you need any further assistance please let me know

[2020-09-30 13:10] shahednasser commented on #229
Ok great @hvirmani take your time, just needed a confirmation.

[2020-09-30 13:34] icoderharshit commented on #286
Sure, if I needed assistance in this footer thing, I'll tell you @shahednasser

[2020-09-30 13:35] 1880akshay commented on #312
Hey, @shahednasser the minified css file (sbuttons.min.css) is not updated. I mean no styles are defined for the class  btn-disabled. What should I do? Should I only add styles to the main css file (sbuttons.css) or shall first update the minified file using the main file?

[2020-09-30 14:03] DevanshD3 commented on #313
Hey saw your website its super awesome! Do you just want the design or the implementation as well ?

[2020-09-30 14:05] zahra-abdullah commented on #298
Hi @shahednasser ! yes I already started working on it

[2020-09-30 14:08] shahednasser commented on #298
Great @zahra-abdullah . I have refactored the code in buttons-examples.js to make the website mor consistent. If you have any questions about it let me know.

[2020-09-30 15:15] Haniket commented on #308
@shahednasser what about changing  code in sbuttons/dist/sbuttons.css
`.btn-disabled {
  opacity: 0.55;
  cursor: not-allowed;
  pointer-events: none;
}`

this part of code because here also it must be changes..........isn't it??
plz help

[2020-09-30 15:23] shahednasser commented on #312
You don't need to work on the minified file @1880akshay the change should be made in the less file in `src/components/_basic.less` then after that you run compile by running `npm run compile`. the minified CSS is only updated on updating the repo. Please check more info on the [contributing guidelines](https://github.com/shahednasser/sbuttons/blob/master/CONTRIBUTING.md)

[2020-09-30 15:24] shahednasser commented on #313
The main target is changing the design but if you have any additional ideas that you would think will make it look better then I'd love to see it as well.

[2020-09-30 15:28] shahednasser commented on #308
No @Haniket after making the changes in the less file as indicated above you need to compile the code by running `npm run compile` which will automatically update `dist/sbuttons.css`. You shouldn't manually update `dist/sbuttons.css`.

Please read the [contributing guidelines](https://github.com/shahednasser/sbuttons/blob/master/CONTRIBUTING.md) for more help on this.

[2020-09-30 15:31] shahednasser commented on #313
@icoderharshit if you have any input on this as well let me know

[2020-09-30 15:32] icoderharshit commented on #313
Alright, will be seeing to it soon.

[2020-09-30 15:38] abdullah2205 commented on #96
hi, i have an idea for a button, can it help this project

[2020-09-30 15:45] shahednasser commented on #96
@abdullah2205 yes of course! You add add your idea in the button ideas file or implement it right away!

[2020-09-30 15:59] ibhavikamalhotra commented on #1
I want to add a new and interactive button . Can i work on it ?

[2020-09-30 16:09] shahednasser commented on #1
@ibhavikamalhotra yes of course!

[2020-09-30 16:10] #300 closed

[2020-09-30 16:13] chelsi-001011 commented on #1
Hey @shahednasser , I would like to add the toggle button. I had one question in mind you want something like this right
![iOS-inspired-Toggle-Switch-For-Angular](https://user-images.githubusercontent.com/57683338/94711598-eeecab00-0365-11eb-82ff-b90184c569b8.gif)

[2020-09-30 16:21] shahednasser commented on #1
@chelsi-001011 you can do it however you want but we're currently not adding any javascript to sButtons so maybe just implement the "toggled" as `:active` and when it's not active then it's not toggled

[2020-09-30 16:23] 1880akshay commented on #312
@shahednasser Please have a look at #325

[2020-09-30 16:27] #310 closed

[2020-09-30 16:27] #311 closed

[2020-09-30 16:27] #312 closed

[2020-09-30 16:31] shahednasser commented on #1
@chelsi-001011 on a second thought I think it would be best to make two types of buttons, one the main button which is untoggled and then do the toggled button which should maybe have the class ".toggled" this would make it easier to use in other projects

[2020-09-30 16:59] chelsi-001011 commented on #1
@shahednasser  okay! Will begin working on the toggle button then. 😄

[2020-09-30 18:35] Uttam-Singhh commented on #308
Hey, Can u Assign me any issue?

[2020-09-30 18:44] shreyamodi1999 commented on #1
Hey! I am new to open sourcing and good with styling. Can I contribute here?

[2020-09-30 18:44] shahednasser commented on #308
Hi @Uttam-Singhh please find an unassigned issue that you think you can work on and let me know in that issue if you can do it. There are also issues with the "Always Open" label that anyone can work on at any times so be sure to check those out as well!

[2020-09-30 18:49] shahednasser commented on #1
@shreyamodi1999 of course! Please go ahead.

[2020-09-30 19:03] Uttam-Singhh commented on #308
Hey @shahednasser I saw the all the issues but all were assigned to someone
Can you please create a new issue an assign it to me?
I can work on anything.

[2020-09-30 19:18] preity-p commented on #1
hey! is anyone working on the 3D keyboard button idea added by @Charu271 under the "Animated" section or can i try contributing towards it?

[2020-09-30 19:32] shahednasser commented on #308
@Uttam-Singhh you can watch this repository if you want and keep up with any new issue!

[2020-09-30 19:37] shahednasser commented on #1
Hi @preity-p no one is working on it you can go ahead!

[2020-09-30 19:48] Charu271 commented on #1
I am working on it and about to create pull request. Facing some issue with
upstream

On Thu, 1 Oct 2020, 1:08 am Shahed Nasser, <notifications@github.com> wrote:

[2020-09-30 19:52] shahednasser commented on #1
@preity-p it seems that @Charu271 is working on it so please find another idea to work on

[2020-09-30 19:52] shahednasser commented on #1
@Charu271 what issues are you facing?

[2020-09-30 19:54] Charu271 commented on #1
Conflict in pull request. I followed the same commands as mentioned in
readme but still getting this error

On Thu, 1 Oct 2020, 1:22 am Shahed Nasser, <notifications@github.com> wrote:

[2020-09-30 19:57] shahednasser commented on #1
@Charu271 this is probably due to changes that have been merged while you were working on it. Please open a pull request so I can look at what the conflicts are.

[2020-09-30 19:58] Charu271 commented on #1
Okay

On Thu, 1 Oct 2020, 1:27 am Shahed Nasser, <notifications@github.com> wrote:

[2020-09-30 19:59] Charu271 commented on #1
I have created the pull request. Kindly let me know why I was facing this
issue

On Thu, 1 Oct 2020, 1:27 am Charu Sachdeva, <charu0012.cse19@chitkara.edu.in>
wrote:

[2020-09-30 20:10] Charu271 opened #340 "Gradient"
**Hover effect using gradient.**

**In this the gradient of button will change when hovered over it**

**I would like to work on it**

[2020-09-30 21:15] shahednasser commented on #340
Sounds like a nice idea. You can go ahead and work on it.

[2020-09-30 21:30] icoderharshit commented on #286
@shahednasser , I created a PR for the same and updated the website with a new logo for Header and Navbar sections (compatible both with Light and Dark mode), Please Check it out.

[2020-09-30 21:42] icoderharshit commented on #286
Looking towards having this PR merged :) I'll look into the favicon part tomorrow morning. Please check this out @shahednasser

[2020-09-30 22:49] abdullah2205 commented on #22
hi, let me try adding a snake border button

[2020-09-30 22:51] abdullah2205 commented on #1
hi, let me try adding a snake border button

[2020-09-30 23:27] Archis19 commented on #315
Can I also work on this one?

[2020-09-30 23:41] tahseenzahra commented on #314
hello, @shahednasser can I do this challenge is it available?

[2020-10-01 00:28] climbingryan commented on #1
Hi, this my first time hearing about and participating in hacktober fest, but I wanna try my hand at the "Transparent on hover" button idea.

[2020-10-01 02:06] Charu271 commented on #340
Okay

[2020-10-01 03:25] dsnehasish74 opened #355 "Playstore and apple store download button want to add ."
I want to add this 2 new buttons to the site . This button idea is mentioned in the button idea file . As no one is assigned this work till now then can I plz do this ........... will you plz assign this to me !!!!! thanks

[2020-10-01 04:07] Sevicode commented on #315
Hi @shahednasser , can I work on this one? First timer here  :)

[2020-10-01 04:38] preity-p commented on #1
alright, sure!

[2020-10-01 05:13] palakyadav1807 commented on #161
I'd like to participate😍!

[2020-10-01 05:48] shahednasser commented on #314
HI, @tahseenzahra this issue has been resolved. Please look at other issues you can contribute to!

[2020-10-01 05:48] #314 closed

[2020-10-01 05:55] adarshSrivastava01 commented on #96
hi! I have an idea for adding faded hover animated button, can I work on that

[2020-10-01 06:06] shahednasser commented on #355
Ok @dsnehasish74 I'll assign you!

[2020-10-01 06:09] shahednasser commented on #315
This issue has been resolved

[2020-10-01 06:09] #315 closed

[2020-10-01 06:13] shahednasser commented on #1
Hi @abdullah2205 someone is working on this

[2020-10-01 06:14] shahednasser commented on #161
sure @palakyadav1807 go ahead! You can look through the issues to find the best ways to participate!

[2020-10-01 06:19] shahednasser commented on #96
@adarshSrivastava01 yes of course!

[2020-10-01 06:21] BaihakiTanjung commented on #1
i can contribute bro ?

[2020-10-01 06:29] shahednasser commented on #1
sure @BaihakiTanjung please look through "BUTTONS_IDEAS.md" if you need any ideas to work on!

[2020-10-01 06:29] dsnehasish74 commented on #355
Thank you ...

[2020-10-01 06:35] #308 closed

[2020-10-01 06:36] shahednasser opened #366 "Capitalize "status" in BUTTON_IDEAS.md"
Capitalize the column header "status" in all tables in BUTTON_IDEAS.md

[2020-10-01 06:45] naveenbudhwal commented on #366
I can do this.
Do you want "Status" or "STATUS"

[2020-10-01 06:47] shahednasser commented on #366
Just capitalize the first letter @naveenbudhwal

[2020-10-01 07:00] #366 closed

[2020-10-01 07:09] Adarshsingh2k commented on #161
Hey I wanted to contribute can you please help me !

[2020-10-01 07:15] shahednasser commented on #161
Hi @Adarshsingh2k what do you need help with? If you're looking for issues to contribute to check out the issues with "Always Open" label or unassigned issues.

[2020-10-01 07:28] shahednasser opened #375 "Fix "Special" table in BUTTON_IDEAS.md"
Fix the last row of the table "Special" as it looks outside the table.

[2020-10-01 07:38] icoderharshit commented on #286
Logo Updated,  and credits given in the Footer, Readme ! Check it out @shahednasser :)

[2020-10-01 07:45] #375 closed

[2020-10-01 07:49] Dhiraj3118 commented on #313
I have made a pull request after slightly improving footer design. I have just changed the colors to those matching the website.

[2020-10-01 07:50] preity-p commented on #1
hey, i opened a pull request for the "sleek button" under the "hover" section. there was an issue with the same, please check it when possible.

[2020-10-01 08:24] #254 closed

[2020-10-01 08:44] shahednasser opened #391 "Add new get started page to website and remove the How to Use section"
Add a new Get Started page in the website. The content of the page should be the same as the "Installation" and "Usage" sections in the Readme. The new page should follow the same design as the main page of the website.

Then change the how to use Section, and replace the "Documentation" link in the header with the link to the new page and change the text to "Get Started"

This is an urgent change

[2020-10-01 09:00] shahednasser opened #395 "Move variables in src/sbuttons.less to new file src/_variables.less"
Just move the variables in `src/sbuttons.less` to new file `src/_variables.less` then import `src/_variables.less` in the beginning of sbuttons.less before any file

You should also change the link in the README for sbuttons.less under [Modifying Button Colors](https://github.com/shahednasser/sbuttons#modifying-button-colors) to the new variables.less file and change the text as well to "_variable

[2020-10-01 09:17] annettomcy commented on #395
Would like to work on this

[2020-10-01 09:38] nicholedwight commented on #391
I'd love to work on this :)

[2020-10-01 09:42] shahednasser commented on #395
Ok @annettomcy I will assign you

[2020-10-01 09:42] shahednasser commented on #391
great @nicholedwight I'll assign you

[2020-10-01 10:00] nicholedwight commented on #391
Awesome! I'll get cracking on it, it'll be done today :D

[2020-10-01 10:02] Dhiraj3118 commented on #391
I would also like to work on it but I think this is assigned. so are there any other unassigned issues?

[2020-10-01 10:15] #313 closed

[2020-10-01 10:24] icoderharshit commented on #286
Logo and credits mentioned in the Readme file :) Please, Check @shahednasser .

[2020-10-01 10:32] pbisen commented on #141
Hi! I was using the Hinge Buttons and felt that the hinge effect is tilting the button a bit too much, it covers the code below it in the process, maybe if we could decrease the hinge tilt it would be more aesthetically pleasing.
![Screenshot (34)](https://user-images.githubusercontent.com/65162182/94798554-67537a80-03ff-11eb-98e2-2a698dbbfe5e.png)

[2020-10-01 10:35] pbisen commented on #141
Hi! I was using the Hinge Buttons and felt that the hinge effect covers up the code below it making it feel less pleasing aesthetically. Otherwise the hinge effect is very well made. Could you please look into it. Thanks

![dd](https://user-images.githubusercontent.com/65162182/94798715-9c5fcd00-03ff-11eb-8585-dcd320de5cfb.png)

[2020-10-01 10:39] shahednasser opened #406 "Find a better favicon"
We have a new logo now thanks to @icoderharshit and now we need a new favicon. If anyone has any ideas please submit them to pick from them!

This issue will not be assigned to anyone in particular. We're looking for ideas from everyone.

[2020-10-01 10:39] icoderharshit commented on #286
when will this issue get close ? :-p , anyways Thank you so much if you liked the work. Looking for that favicon issue, there are developers excitedly waiting to work over that.

[2020-10-01 10:41] #286 closed

[2020-10-01 10:41] ibhavikamalhotra commented on #406
I have an idea of making a favicon similar to the new logo will be updating you with the new favicon soon.

[2020-10-01 10:43] psk907 commented on #406
I will create a favicon.ico based on @icoderharshit 's logo and provide you with the link in this thread

[2020-10-01 10:45] NecroTechno commented on #406
We could do something like this, based off the new logo!

![sbuttons_favicon](https://user-images.githubusercontent.com/4073413/94799738-80e2cb00-03db-11eb-9102-776dd428af6d.png)

[2020-10-01 10:48] shahednasser commented on #406
@NecroTechno can you submit a pull request with the updated favicon so that I can compare and choose between different ideas

[2020-10-01 10:48] NecroTechno commented on #406
Sure thing!

[2020-10-01 10:53] shahednasser commented on #141
Hi @pbisen thank you for reporting this issue. Can you check you're running the latest version of sButtons? Because we have worked on a fix for this but if it's still there then can you please create a new issue with more information about screen width to look into it?

[2020-10-01 10:56] Neeraj3508 opened #410 "Add Neon Social Button"
Add neon glow social button with icon only and one with icon as well as text.

[2020-10-01 10:58] Neeraj3508 opened #412 "Transparent on hover button"
Under Animated section one idea is mentioned with transparent on hover.

[2020-10-01 11:03] shahednasser commented on #96
Closing this due to conflicts in implementing ideas. Anyone that would like to submit a new idea, please create a new issue

[2020-10-01 11:03] #96 closed

[2020-10-01 11:12] shahednasser opened #414 "3D button"
**1. Name of button**: 3D Button

**2. Description**: A 3D button like a keyboard key

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**:

**submitted by**: @Charu271

[2020-10-01 11:13] shahednasser opened #415 "Transparent on Hover Button"
**1. Name of button**: Transparent on Hover Button

**2. Description**: A button whose background becomes transparent on hover

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**:

[2020-10-01 11:14] shahednasser opened #416 "Colored Background on Hover Button"
**1. Name of button**: Colored Background on Hover Button

**2. Description**: A button that is originally transparent but its background becomes colored on hover

**3. Button Type (Animated, Special, etc...)**: Button Styles

**4. Will you work on it?**:

[2020-10-01 11:15] iamvaishnav commented on #415
I would like to work on it

[2020-10-01 11:16] sindhwanicheshtha06 commented on #416
I can work on this

[2020-10-01 11:16] shahednasser opened #417 "Colored Liquid Button"
**1. Name of button**: Colored Liquid Button

**2. Description**: A button that filled the space like liquid

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: no

**submitted by**: @abdullah2205

[2020-10-01 11:17] yaspalsingh115 commented on #416
Yes, I can do.

[2020-10-01 11:17] shahednasser opened #418 "Animated Gradient Border Button"
**1. Name of button**: Animated Gradient Border Button

**2. Description**: A button that has gradient text border background with animation

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: no

**submitted by**: @mukesh2309

[2020-10-01 11:18] shahednasser opened #419 "Cracking Neon Button"
**1. Name of button**: Cracking Neon Button

**2. Description**: A Neon Button that will cracked when clicked

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: no

**submitted by**: @EmpalGentong

[2020-10-01 11:19] shahednasser opened #420 "Trace Button"
**1. Name of button**: Trace Button

**2. Description**: An outline button whose border gets traced, starting and ending at the same point

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: no

**submitted by**: @preity-p

[2020-10-01 11:19] Neeraj3508 commented on #415
@shahednasser  i already opened this issue #412

[2020-10-01 11:19] Neeraj3508 commented on #415
Can i do it

[2020-10-01 11:20] shahednasser opened #421 "Expanding Border Button"
**1. Name of button**: Expanding Border Button

**2. Description**: On hovering over the button, the border will get pushed inside out, besides the opacity changing

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: no

**submitted by**: @preity-p

[2020-10-01 11:21] shahednasser opened #422 "Atom Button"
**1. Name of button**: Atom Button

**2. Description**: A button with a moving atom on its border on hover.

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: no

**submitted by**: @Maitryee-Choudhary

[2020-10-01 11:22] Neeraj3508 commented on #417
i would like to work

[2020-10-01 11:22] mukesh2309 commented on #418
yes

[2020-10-01 11:23] shahednasser opened #423 "[BUTTON IDEA]: Icon Button"
**1. Name of button**: Icon Button

**2. Description**: A button with icons enlargement and shrink effect on hover

**3. Button Type (Animated, Special, etc...)**: Icon

**4. Will you work on it?**: no

**submitted by**: @devSouvik

[2020-10-01 11:24] shahednasser opened #424 "[BUTTON IDEA]: App Buttons"
**1. Name of button**: App Buttons

**2. Description**: 2 Buttons "Get it on Play Store" & "Download on the app store"

**3. Button Type (Animated, Special, etc...)**: Icon

**4. Will you work on it?**: no

[2020-10-01 11:24] shahednasser opened #425 "[BUTTON IDEA]: Thumbs Up Button"
**1. Name of button**:

**2. Description**: Button with Thumbs up icon only

**3. Button Type (Animated, Special, etc...)**: Icon

**4. Will you work on it?**: no

[2020-10-01 11:25] shahednasser opened #426 "[BUTTON IDEA]: Share Button"
**1. Name of button**: Share Button

**2. Description**: Button with the share icon only

**3. Button Type (Animated, Special, etc...)**: Icon

**4. Will you work on it?**: no

[2020-10-01 11:26] shahednasser opened #427 "[BUTTON IDEA]: Screen Capture Button"
**1. Name of button**: Screen Capture Button

**2. Description**: Button with Camera icon

**3. Button Type (Animated, Special, etc...)**: Icon

**4. Will you work on it?**: no

**submitted by**: @ShrutiJha31

[2020-10-01 11:27] shahednasser opened #428 "[BUTTON IDEA]: Play Game Button"
**1. Name of button**: Play Game Button

**2. Description**: A play game button which has a game controller shape

**3. Button Type (Animated, Special, etc...)**: Icon

**4. Will you work on it?**: no

**submitted by**: @Nicolakacha

[2020-10-01 11:27] rahullli commented on #419
I would like to work on this issue .

[2020-10-01 11:28] shahednasser opened #429 "[BUTTON IDEA]: Bring to Top Button"
**1. Name of button**: Bring to Top Button

**2. Description**: A button with an UP arrow key to glide to the top of the page

**3. Button Type (Animated, Special, etc...)**: Icon

**4. Will you work on it?**: no

**submitted by**: @Archis19

[2020-10-01 11:29] shahednasser opened #430 "[BUTTON IDEA]: Text Size +/- Buttons"
**1. Name of button**:

**2. Description**: A button to change the font/text size

**3. Button Type (Animated, Special, etc...)**: Icon

**4. Will you work on it?**: no

**submitted by**: @Archis19

[2020-10-01 11:30] shahednasser opened #431 "[BUTTON IDEA]: Retro button"
**1. Name of button**: Retro button

**2. Description**: A button that has a retro style to it

**3. Button Type (Animated, Special, etc...)**: Special

**4. Will you work on it?**: no

[2020-10-01 11:30] LuciKritZ commented on #416
I can work on it too.

[2020-10-01 11:31] shahednasser opened #433 "[BUTTON IDEA]: Vintage Button"
**1. Name of button**: Vintage Button

**2. Description**: A button that has a Windows 95 Vintage style to it

**3. Button Type (Animated, Special, etc...)**: Special

**4. Will you work on it?**: no

**submitted by**: @anonyda

[2020-10-01 11:31] SanyuktaSaha commented on #430
@shahednasser I will work on it

[2020-10-01 11:31] shahednasser opened #434 "[BUTTON IDEA]: Neumorphic button"
**1. Name of button**: Neumorphic button

**2. Description**: A button that has a neumorphic style

**3. Button Type (Animated, Special, etc...)**: Special

**4. Will you work on it?**: no

**submitted by**: @vitoriapena

[2020-10-01 11:32] shahednasser opened #435 "[BUTTON IDEA]: Spooky Button"
**1. Name of button**: Spooky Button

**2. Description**: A button with dramatic/spooky touch to it for special website designs.

**3. Button Type (Animated, Special, etc...)**: Special

**4. Will you work on it?**: no

**submitted by**: @confusedcoder1

[2020-10-01 11:33] shahednasser opened #436 "[BUTTON IDEA]: Loading Button"
**1. Name of button**: Loading Button

**2. Description**: A button with CSS loading

**3. Button Type (Animated, Special, etc...)**: Special

**4. Will you work on it?**: no

**submitted by**: @akshatgarg12

[2020-10-01 11:33] anonyda commented on #433
Hi @shahednasser, I am working on it

[2020-10-01 11:35] shahednasser opened #437 "[BUTTON IDEA]: Share Social Buttons"
**1. Name of button**: Share Social Buttons

**2. Description**: Share buttons for different platforms (Facebook, twitter, etc...)

**3. Button Type (Animated, Special, etc...)**: Social

**4. Will you work on it?**: no

[2020-10-01 11:36] shahednasser opened #438 "[BUTTON IDEA]: Follow Social Buttons"
**1. Name of button**: Follow Social Button

**2. Description**: A social button to follow the creators social media handles

**3. Button Type (Animated, Special, etc...)**: Social

**4. Will you work on it?**: no

**submitted by**: @Archis19

[2020-10-01 11:38] shahednasser commented on #410
Hi @Neeraj3508 can you verify this can't be done by using classes `neon-btn` and the class for the social media platform (for example `facebook` together?

[2020-10-01 11:38] #412 closed

[2020-10-01 11:39] shahednasser commented on #415
Assigned @Neeraj3508

[2020-10-01 11:39] adsingh14 commented on #415
Is it still open or I start working on it ?

[2020-10-01 11:39] shahednasser commented on #417
Assigned you the button

[2020-10-01 11:40] shahednasser commented on #418
will you work on it @mukesh2309 ?

[2020-10-01 11:40] shahednasser commented on #419
ok I will assign you @rahullli

[2020-10-01 11:41] shahednasser commented on #416
assigning @sindhwanicheshtha06  for replying first

[2020-10-01 11:41] shahednasser commented on #430
Ok @SanyuktaSaha I will assign you

[2020-10-01 11:42] shahednasser commented on #433
Great @anonyda I'll assign you

[2020-10-01 11:43] iamvaishnav commented on #437
I would like to work on this.

[2020-10-01 11:44] Neeraj3508 commented on #410
why don't we create a seperate class with name facebook-neon for example

[2020-10-01 11:44] Neeraj3508 commented on #410
right?

[2020-10-01 11:45] confusedcoder1 commented on #435
I am working on it actually. But I guess more people can try and we will see mutliple versions.

[2020-10-01 11:45] pinkman7009 commented on #395
is anyone working on this?

[2020-10-01 11:45] Neeraj3508 commented on #415
Thanks @shahednasser

[2020-10-01 11:45] Neeraj3508 commented on #417
Thanks @shahednasser

[2020-10-01 11:45] pinkman7009 commented on #309
can i work on this?

[2020-10-01 11:46] pinkman7009 commented on #216
this issue has been open for 5 days. can i work on this if no one is currently working on it now?

[2020-10-01 11:48] annettomcy commented on #395
Yes me

[2020-10-01 11:50] pinkman7009 commented on #395
okay

[2020-10-01 11:50] adsingh14 commented on #438
Need help ?

[2020-10-01 11:54] shahednasser commented on #437
ok @iamvaishnav I'm assigning you

[2020-10-01 11:54] LuciKritZ commented on #427
I can work on it.

[2020-10-01 11:54] shahednasser commented on #410
@Neeraj3508 if it can be done by combining classes then it's better in my opinion.

[2020-10-01 11:55] shahednasser commented on #435
I'm assigning you to it @confusedcoder1 . This is just due to confusions caused by the button ideas file.

[2020-10-01 11:56] LuciKritZ commented on #418
Can I work on it?

[2020-10-01 11:56] shahednasser commented on #309
@pinkman7009  Someone is already working on this. please choose an unassigned issue

[2020-10-01 11:56] LuciKritZ commented on #426
I would like to work on it.

[2020-10-01 11:57] chaitanya4vedi commented on #309
@shahednasser you can unassign me as I might take some more time to do this and somone is already interested in this

[2020-10-01 11:57] Neeraj3508 commented on #410
Ok i will check both ways and if your method is applicable.

[2020-10-01 11:57] shahednasser commented on #216
@pinkman7009  Someone is working on this please choose an unassigned issue

[2020-10-01 11:58] pinkman7009 commented on #309
@shahednasser so can i work on it now?

[2020-10-01 12:02] shahednasser commented on #438
Sure @adsingh14 I'll assign you.

[2020-10-01 12:02] shahednasser commented on #427
Ok @LuciKritZ I'll assign you

[2020-10-01 12:03] shahednasser commented on #426
Sure @LuciKritZ

[2020-10-01 12:04] shahednasser commented on #309
Sure @chaitanya4vedi .

Assigning @pinkman7009

[2020-10-01 12:04] pinkman7009 commented on #434
can i work on it?

[2020-10-01 12:05] adsingh14 commented on #429
Shall I start working on it ? Just tell me you want the instant scroll to top or smooth-scroll to top ?

[2020-10-01 12:06] adsingh14 commented on #429
Shall I start working on it ? Just tell me the scroll behavior, do you want the **instant scroll** or **smooth-scroll** to top ?

[2020-10-01 12:06] pinkman7009 commented on #309
thank you. i will start working on this now.

[2020-10-01 12:12] wisetok12680 commented on #425
hey there I would like  to work on it

[2020-10-01 12:12] shahednasser opened #444 "Add action to comment on PR after deploying it"
We have an action called [Surge PR Preview](https://github.com/marketplace/actions/surge-pr-preview) that previews a PR on a surge website. This is very helpful as it makes it easier to see the changes of the PR.

Currently, the action does not leave a comment with the URL of the deployed PR, it just deploys it but it appears in the action log. This is apparently not possible due to github limitat

[2020-10-01 12:14] shahednasser commented on #434
hi @pinkman7009 it's currently in progress

[2020-10-01 12:16] chinmaikaveti2001 commented on #436
hi!....can u please assign this issue to me......?
I  want to work on this issue.....

[2020-10-01 12:16] shahednasser commented on #429
Hi @adsingh14 yes you can work on it. You don't need to add the actual javascript action, just the button itself as this project implements CSS only buttons.

[2020-10-01 12:16] shahednasser commented on #425
Sure @wisetok12680 I'll assign you

[2020-10-01 12:17] adsingh14 commented on #438
How many social icons should I include ?

[2020-10-01 12:17] shahednasser commented on #436
sure @chinmaikaveti2001 but this issue is kind of tricky as it needs to be only CSS and while making it as simple as possible.

[2020-10-01 12:18] chinmaikaveti2001 commented on #428
hi! sir can u please assign this issue to me.....?
I want to work on this issue....

[2020-10-01 12:20] chinmaikaveti2001 commented on #428
hi!  can u please assign this issue to me...?
I want  to work on this issue......

[2020-10-01 12:20] shahednasser commented on #438
As much as you want. If you want you can do for the currently available ones, but make sure to include it for those that actually have the follow functionality.

[2020-10-01 12:22] pari-27 opened #448 "[BUTTON IDEA]: Settings Button"
1. Name of button: Settings Button

2. Description: Button to open a settings menu

3. Button Type (Animated, Special, etc...): Icon

4. Will you work on it?:Yes

[2020-10-01 12:22] shahednasser commented on #428
sure @chinmaikaveti2001 I'll assign you.

[2020-10-01 12:23] chinmaikaveti2001 commented on #423
hi!  can u please assign this issue to me...?
I want to work on this issue...

[2020-10-01 12:23] HeinKhantZaw commented on #423
Can I work for this issue?

[2020-10-01 12:23] rahullli commented on #419
Can you please tell me what will be the crack in the button , it is not clear to me .
After cracking whether I have to show the cracked one or it is going to be vanished ?

[2020-10-01 12:23] shahednasser commented on #448
Great idea! I've assigned you.

[2020-10-01 12:24] Bhargav252000 commented on #421
hey @shahednasser can I start working on this issue ?

[2020-10-01 12:25] Amit998 commented on #22
is it done??else Can i try??

[2020-10-01 12:26] adsingh14 commented on #438
I'm digging into it.

[2020-10-01 12:27] shahednasser commented on #423
Hi @chinmaikaveti2001 you've been assigned to a few now. Please finish them first before assigning you to anything new.

[2020-10-01 12:27] shahednasser commented on #419
I'm actually not sure either as the idea is not clear to me (it was not submitted by me). I guess try to do it the way you visualize it.

[2020-10-01 12:28] HeinKhantZaw commented on #444
Can I work for this issue?

[2020-10-01 12:28] Kazeno21 commented on #431
i want to work on this. can you please assign this to me?

[2020-10-01 12:29] shahednasser commented on #22
Hi @Amit998 this is not done yet! You can give it a shot. Please make sure to add buttons for social media platforms that actually allow you to log in on other websites using your account on your platform.

[2020-10-01 12:29] shahednasser commented on #421
hi @Bhargav252000 yes you can

[2020-10-01 12:29] shahednasser commented on #431
Hi @Kazeno21 someone is already working on this.

[2020-10-01 12:30] shahednasser commented on #444
Sure @HeinKhantZaw. Let me know how you want to do it.

[2020-10-01 12:31] Bhargav252000 commented on #421
I have never made a button in less format, can you please give me idea how to do it in less ?
I can do in CSS.

[2020-10-01 12:33] shahednasser commented on #421
Less is very easy. I suggest you go to the [Less](http://lesscss.org/) website to understand how you can do it and you can refer to other buttons as well for help. It's very similar to CSS just with a few improvements.

Let me know if you can do that or not to assign you.

[2020-10-01 12:33] Kazeno21 commented on #434
can i work on this?

[2020-10-01 12:34] Bhargav252000 commented on #421
Okay, cool I'll look in less website and will let you know.

[2020-10-01 12:34] Kazeno21 commented on #424
can i work on this please?

[2020-10-01 12:34] shahednasser commented on #434
Hi @Kazeno21 it's currently in progress.

[2020-10-01 12:35] adsingh14 commented on #429
Alright ! I'm figuring the workflow of project.
( TIP: The whole code could be shorten but it's irrelevant action for now.)

[2020-10-01 12:35] wisetok12680 commented on #425
Thanks I'll get right on it

[2020-10-01 12:38] shahednasser commented on #424
Hi @Kazeno21 this is also in progress. Please find issues that are unassiged and don't have the "in-progress" label

[2020-10-01 12:39] shahednasser commented on #429
Currently we're presenting the minified version through a CDN. The reason behind that is adding the minified file in the repo caused a lot of conflicts on submitting PRs.

If you have any other ideas on how to resolve this then submit a new issue please!

[2020-10-01 12:40] Kazeno21 commented on #424
cool thanks. this is actually my first time. sorry for the inconvenience

[2020-10-01 12:40] Amit998 commented on #22
Can i Add login With Microsoft and Amazon??

[2020-10-01 12:45] dwivedi007 commented on #22
Can i take this up?

[2020-10-01 12:46] shahednasser commented on #424
It's fine @Kazeno21 no worries! I hope you can find an issue to contribute to.

[2020-10-01 12:46] shahednasser commented on #22
Sure!

[2020-10-01 12:46] shahednasser commented on #22
Yes of course you can.

[2020-10-01 13:01] Kazeno21 commented on #420
can i work on this?

[2020-10-01 13:02] shahednasser opened #452 "Add minified version of sbuttons.css with minification action"
This was previously available but caused a lot of conflicts in PR requests because it was compiled on every change. The improved way to do it is remove compiling the sbuttons.min.css from the compile scripts, and only apply the minification on pushing to the repo by using a Github Action.

Currently I'm assigning myself to this, but if someone also has knowledge in Github Actions and thinks can ta

[2020-10-01 13:04] chinmaikaveti2001 commented on #436
thank you  @shahednasser

[2020-10-01 13:04] shahednasser commented on #420
Sure @Kazeno21 I'll assign you

[2020-10-01 13:07] aayushi221 commented on #1
Hey opened a pull a request under the name "Shrink-over-hover" Kindly review. @shahednasser

[2020-10-01 13:12] aayushi221 opened #453 "[BUTTON IDEA]: Neon Trace Button"
**1. Name of button**: Neon trace button

**2. Description**: An outline button whose border gets traced by a sleek line from start to end.

**3. Button Type (Animated, Special, etc...)**:Animated, Neon

**4. Will you work on it?**:Yes

[2020-10-01 13:13] awantika10 opened #454 "[BUTTON IDEA]:"
**1. Name of button**:  Raised Button

**2. Description**: Raised Button typically rectangular button that lifts (the shading indicates that it is possible to click). Raised buttons add dimension to mostly flat layouts. They emphasize functions on busy or wide spaces.

**3. Button Type (Animated, Special, etc...)**:Raised buttons lift and fill with color on press.

**4. Will you work on it?**:
Usi

[2020-10-01 13:21] aayushi221 opened #455 "[BUTTON IDEA]:Social media sliding button"
**1. Name of button**: Social media sliding button

**2. Description**:  Social media sliding icon hover effect, a slider slides and shows the name of social media.

**3. Button Type (Animated, Special, etc...)**: Icon

**4. Will you work on it?**:Yes

[2020-10-01 13:23] shahednasser commented on #453
Hi @aayushi221 there's already an issue for trace button, can please clarify the difference?

[2020-10-01 13:24] shahednasser commented on #454
Hi @awantika10 is this different than the currently present "Click button?"

[2020-10-01 13:25] aayushi221 commented on #423
hey, i'd like to work on this issue, I would also add some animation effect to just simple icon enlargement if it's okay.

[2020-10-01 13:25] awantika10 commented on #454
It's the same just the styling changes

[2020-10-01 13:26] vitoriapena opened #456 "[BUTTON IDEA]: Star Button"
**1. Name of button**: Star Button

**2. Description**: A star button that is filled when active

**3. Button Type (Animated, Special, etc...)**: Icon button

**4. Will you work on it?**: Yes

[2020-10-01 13:27] awantika10 commented on #454
There are plenty of buttons according to UI. It's just a type of button which differs in styling

[2020-10-01 13:28] reachaadrika commented on #22
Can I take this issue?

[2020-10-01 13:30] nicholedwight commented on #391
Hey @shahednasser, since this new Get Started page contains all the same info in our How To Use section on the main page, do you want that deleted? In your initial message you just say to change the How To Use section.

[2020-10-01 13:34] aayushi221 commented on #453
@shahednasser Yeah I saw that issue, but this one will have a neon effect to it to, with a slight delay in transition.
https://drive.google.com/file/d/1ZWiuXdxDHNcMRlWgqTo53o0GmW1NnIrR/view?usp=sharing
check this out

[2020-10-01 13:40] awantika10 commented on #454
This is done I guess

[2020-10-01 13:40] #454 closed

[2020-10-01 13:48] shahednasser commented on #391
@nicholedwight yes I meant to say delete that section. Thank you for noticing!

[2020-10-01 13:49] iamvaishnav commented on #437
Thanks @shahednasser

[2020-10-01 13:54] Thusal06 commented on #1
Hi, Can I work on this?

[2020-10-01 13:58] awantika10 opened #457 "[BUTTON IDEA]: BUFFER BUTTON"
**1. Name of button**: Submit Button

**2. Description**: As soon as you press the submit button, you'll get animated tick mark

**3. Button Type (Animated, Special, etc...)**:Animated

**4. Will you work on it?**: Yes
![IMG_20201001_192458](https://user-images.githubusercontent.com/71998138/94818793-2158df80-041c-11eb-99dd-32aa859143e6.jpg)
![IMG_20201001_192513](https://user-images.githubusercon

[2020-10-01 14:01] nicholedwight commented on #391
Perfect!

[2020-10-01 14:01] Thusal06 commented on #448
Do we have to create an icon?

[2020-10-01 14:06] adsingh14 commented on #438
Done !  #458

[2020-10-01 14:39] zilyukina commented on #428
oh, haven't seen comments before submitting PR :(
should i close my PR?

[2020-10-01 14:41] Deepakmukka1 commented on #453
@aayushi221 i can do it can you assign me this

[2020-10-01 14:46] Bhargav252000 commented on #421
#462
added a pull request can you check it.

[2020-10-01 14:49] Bhargav252000 commented on #421
#462
Added PR on **expand button inside out** can you please check that out.

[2020-10-01 14:55] Deepakmukka1 commented on #457
@awantika10 i can do this can you assign it to me?

[2020-10-01 15:12] adsingh14 commented on #429
Done ! #464

[2020-10-01 15:32] chaitanya4vedi commented on #1
@aayushi221 I see you implemented your portfolio using Bootstrap but your portfolio is not actually responsive. You can add `<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">` at the header section below <title> to see how it looks on different devices. Or if you want I can help you in this with some Suggestions.

[2020-10-01 15:48] VishakhaAwasthi01 commented on #1
Hello, I want to add Radio Button and buttons that get unfilled on hover.

[2020-10-01 15:49] jamieleo93 commented on #1
Hey - I'm contributing for the first time, I've read the guidelines. Here goes nothing!

Thanks for providing a good starter project 👍

[2020-10-01 15:54] shak1505 commented on #455
May i take up this issue?

[2020-10-01 16:47] HeinKhantZaw commented on #444
Hi @shahednasser . I don't know if it's going to work or not but I am thinking about using Nelify deploy action. How about that?

[2020-10-01 16:56] samyev commented on #54
Hi, has this issue been resolved? if not, can I work on it?

[2020-10-01 16:58] shak1505 opened #468 "[BUTTON IDEA]: Hover Fancy"
**1. Name of button**: Hover Fancy

**2. Description**: as the mouse is hovered on any button, it will show the name of the social media.

**3. Button Type (Animated, Special, etc...)**:special

**4. Will you work on it?**: Yes.

[2020-10-01 17:00] yatharthMogra commented on #437
@shahednasser  I would like to work on it.

[2020-10-01 17:02] Kazeno21 commented on #410
@shahednasser is right, you don't need to create another one. we can simply add the class name

[2020-10-01 17:17] diptigautam commented on #422
Hi, I'd like to work on this!

[2020-10-01 17:23] HeinKhantZaw commented on #444
![image](https://user-images.githubusercontent.com/40730345/94842146-0c427780-0441-11eb-9d24-74d2572b5219.png)

Here is the action for comment to PR I've tested in my repo. It's used by netlify deploy action.

[2020-10-01 17:34] #423 closed

[2020-10-01 17:34] shahednasser commented on #456
Nice idea @vitoriapena I'll assign you

[2020-10-01 17:36] #216 closed

[2020-10-01 17:54] shahednasser commented on #453
Ok @aayushi221 it looks nice. Please work on it.

[2020-10-01 18:04] shahednasser commented on #1
Hi @VishakhaAwasthi01 someone is already working on something similar. If you would like to submit new ideas please add a new issue.

[2020-10-01 18:04] shahednasser commented on #455
Hi @aayushi221 I'm not sure what you mean by this but you can work on it and show me.

[2020-10-01 18:06] shahednasser commented on #457
Hi @awantika10 thank you for your idea, but we're making this project without any javascript, only CSS.

[2020-10-01 18:06] #457 closed

[2020-10-01 18:12] shahednasser commented on #54
@samyev it has not been resolved. We've been having trouble reproducing it. If you can reproduce and fix it then go ahead!

[2020-10-01 18:14] shahednasser commented on #468
Hi @shak1505 I'm honestly not sure what you exactly mean by that, but you can work on it and I'll see it when you submit a pull request.

[2020-10-01 18:15] #437 closed

[2020-10-01 18:15] shahednasser commented on #422
Sure @diptigautam I'll assign you

[2020-10-01 18:17] shahednasser commented on #444
Is netlify free? Also we need to confirm that it works on forked repositories so we will need to test it. I'll let you know with more details in a bit.

[2020-10-01 18:21] #438 closed

[2020-10-01 18:22] shahednasser commented on #22
Closing this issue as we have a lot of social media buttons now. If you would like to add a new social media button, please create a "new button idea" issue.

[2020-10-01 18:22] #22 closed

[2020-10-01 18:23] HeinKhantZaw commented on #444
Yes. It is free for personal projects. I don't know exactly if it works for forked repos but you can check more here.
[https://docs.netlify.com/#get-started](url)

[2020-10-01 18:25] #429 closed

[2020-10-01 18:26] HeinKhantZaw commented on #444
I will submit pull request for preview.yml update if everything is ok. Please let me know again.

[2020-10-01 18:32] adsingh14 opened #477 "[BUTTON IDEA]: Diagonally curved button shape."
**1. Name of button**: Diagonally curved button.

**2. Description**: Button curved 5% diagonally from vertices or vice versa **&** the remaining vertices will be 20% curved.

**3. Button Type (Animated, Special, etc...)**: Special

**4. Will you work on it?**: Yes.

[2020-10-01 18:36] VishakhaAwasthi01 commented on #1
Can I add a minus button? And a drop down button?

[2020-10-01 18:37] shahednasser commented on #477
I've edited it to change the button type. But please don't start working on it now as we are adding the special category. I'll let you know once you can.

[2020-10-01 18:40] shahednasser commented on #444
I have created a new branch called preview-action. Please submit a new PR to merge the changes to it so we can test it on that branch.

[2020-10-01 18:40] shahednasser commented on #444
Are there any keys I'm required to add to this repo? Please let me know as well.

[2020-10-01 18:40] shahednasser commented on #391
@adsingh14 someone is already working on this.

[2020-10-01 18:41] shahednasser commented on #1
The minus button I think is unnecessary for now but you can add the drop down button. Please make sure you don't use any javascript to do it.

[2020-10-01 18:44] Neeraj3508 commented on #410
ok i will do it that way

[2020-10-01 18:44] VishakhaAwasthi01 commented on #1
I just have to design the button or also have to show drop down dummy list?

[2020-10-01 18:46] shahednasser commented on #410
No need to do it @Neeraj3508 . Closing this issue.

[2020-10-01 18:46] #410 closed

[2020-10-01 18:47] shahednasser commented on #1
Yea you should show the drop down list as well, maybe on hover. Just add something like "item 1", "item 2"

[2020-10-01 18:49] VishakhaAwasthi01 commented on #1
okay I am working on it

[2020-10-01 18:52] shahednasser commented on #477
Hi @adsingh14 you can now add this button under Special

[2020-10-01 19:01] Kazeno21 commented on #420
i have made the pr. can you please check and merge it?

[2020-10-01 19:02] HeinKhantZaw commented on #444
You need to add NETLIFY_AUTH_TOKEN and NETLIFY_SITE_ID.
For NETLIFY_AUTH_TOKEN, you can get it from here [personal access token](https://app.netlify.com/user/applications#personal-access-tokens)
For NETLIFY_SITE_ID, you need to add API ID of [your Netlify site](https://app.netlify.com/start)

[2020-10-01 19:13] adsingh14 opened #480 "Add comments in JS files"
**Is your feature request related to a problem? Please describe.**
Code is not formatted.

**Describe the solution you'd like**
Single/block line comment indeed ! It would be great to add comments before committing code.
`// Single line code for rare but useful checkpoints `
`/* Block lines comment
    for well documented code */`

**Additional notes**
I know the minified files won't include any c

[2020-10-01 19:22] TanishqRana commented on #391
Are other people done so I can have my shot?

[2020-10-01 19:29] adsingh14 commented on #309
Social buttons not vertically centered align. I can fix this.

[2020-10-01 19:30] adsingh14 commented on #309
Social buttons not centered aligned vertically . I can fix this.

[2020-10-01 19:32] tushar2407 opened #482 "[BUTTON IDEA]: Diagonally appearing background on hover"
**1. Name of button**:  diagonal_background

**2. Description**:  when on hovers on the button, say the current background colour of the button is black, so that will change to white. But that white background will appear from right bottom. More like a diagonal making the colour change.

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: Yes, definitely.

[2020-10-01 19:37] shahednasser commented on #480
Do you mean comments in the less files?

[2020-10-01 19:42] tushar2407 commented on #309
Hi.! The icons are not aligned with respect to text in Y-axis. I can fix that. Can you assign me this?

[2020-10-01 19:53] shahednasser opened #484 "Add loading before button examples appear"
We are loading button examples in `assets/js/buttons-examples.js`. Before those buttons appear, show a loading spinner and remove it once the buttons are finished adding.

[2020-10-01 19:54] shahednasser opened #485 "Move CSS rules for "getStarted.html" from index.css to a new file"
CSS rules exclusive to getStarted.html are currently also in index.css. We need to move them to a new file (preferably of the same name) then import that file in getStarted.html

[2020-10-01 19:56] shahednasser commented on #391
Issue has been resolved

[2020-10-01 19:56] #391 closed

[2020-10-01 19:56] baspalinckx commented on #485
This looks like a great first issue! Can I try?

[2020-10-01 19:57] shahednasser commented on #309
@adsingh14 @tushar2407 someone is assigned to this issue. Please look for unassigned issues.

[2020-10-01 19:57] shahednasser commented on #485
sure @baspalinckx I'll assign you.

[2020-10-01 19:58] shahednasser commented on #482
I'm honestly not sure I understand this idea but I'll assign you to it. I'll see if it's good or not when you submit the PR.

[2020-10-01 19:59] jlt10 commented on #484
Can I work on this issue?

[2020-10-01 20:01] shahednasser commented on #484
Sure @jlt10 I'll assign you

[2020-10-01 20:15] #431 closed

[2020-10-01 20:17] #297 closed

[2020-10-01 20:21] #428 closed

[2020-10-01 20:29] adsingh14 commented on #477
Because this button will reflect the curved area. So, there's no need of `.rounded-btn` here. Shall I amend the javascript for this exceptional case or keep it as it is ?

[2020-10-01 20:34] shahednasser commented on #477
Honestly I'm still not sure what the idea still means. Can you first work on it and submit a pull request, then we can look into that part?

[2020-10-01 21:19] adsingh14 commented on #477
#490, Please check '.rounded-btn'. Is it looking good with curved-corners buttons ?

[2020-10-01 21:19] Mancancode commented on #406
I just did 4 favicons, I will do PR for it now, check it out.

[2020-10-01 21:24] aryan040501 commented on #485
Hi, Can I try this?

[2020-10-01 21:25] adsingh14 commented on #480
Extremely needed in JS and css ((un-minified versions).

[2020-10-01 21:26] baspalinckx commented on #485
That should do it: https://github.com/shahednasser/sbuttons/pull/491

[2020-10-01 21:43] #444 closed

[2020-10-01 22:08] Caleb335 commented on #54
@shahednasser what exactly is the problem?

Are the buttons too round?  On mobile? Please enlighten me, so I can try fixing it

[2020-10-01 22:32] baspalinckx opened #498 "[BUTTON IDEA]: Pudding button"
**1. Name of button**:
Pudding button

**2. Description**:
A button that jiggles like pudding, on hover.

**3. Button Type (Animated, Special, etc...)**:
Animated

**4. Will you work on it?**:
I will!

[2020-10-02 04:02] palakyadav1807 commented on #406
@shahednasser can you assign this to me?

[2020-10-02 04:22] mayankmohak commented on #452
Can i do it.

[2020-10-02 04:31] palakyadav1807 commented on #480
Can you assign me this for .html file?

[2020-10-02 04:48] kanishka8276 opened #505 "[BUTTON IDEA]:"
Top

A button to move to the top of the page.

I will work on it for sure

[2020-10-02 05:01] mayankmohak commented on #1
I have a new idea in "add to cart" buttons the cart icon move to place order when clicked.
I am working on this idea, will you merge this.

[2020-10-02 05:28] wisetok12680 commented on #425
Hey would you mind helping me with the following questions as this is my first time contributing to open-source. I have read through the contributing guidelines but still had these in mind.
1.Do I need to edit just the basic styling of a thumbs up button and can I import the button from any library and style it or is there some other method I am not aware of.
2.Will there be any hover or onclick e

[2020-10-02 05:40] gokul112 opened #506 "[BUTTON IDEA]:Close Icon Buttons"
**1. Name of button**: Close Button

**2. Description**: Button with close icon

**3. Button Type (Animated, Special, etc...)**:icon

**4. Will you work on it?**:I will work on it.

[2020-10-02 05:43] shahednasser commented on #54
The problem can be found in [this comment](https://github.com/shahednasser/sbuttons/issues/54#issuecomment-695991767). Some buttons are not being filled completely. This proved tricky as it could not be reproduced on all devices.

[2020-10-02 05:54] #484 closed

[2020-10-02 06:04] shahednasser commented on #452
Hi @mayankmohak sure you can. I'll assign you.

[2020-10-02 06:05] shahednasser commented on #480
@adsingh14 I don't think it's necessary in the CSS but you're right about the JS. I'll change the title to make it more fitting. Let me know if you would like to work on it.

[2020-10-02 06:07] shahednasser commented on #505
We already have a button for this.

[2020-10-02 06:07] #505 closed

[2020-10-02 06:08] shahednasser commented on #1
@mayankmohak sounds like a good idea, but don't add any on click events as this is just a CSS project. Only do the hover effect.

[2020-10-02 06:10] shahednasser commented on #425
Hi @wisetok12680 . You can use font awesome to get the icon for the button. you should place the styling in a new file in `src/components/icon/` directory. You can refer to other icon buttons on a guide on how to do this properly.

After you're done you should compile the code with `npm run compile` then add the button in `assets/js/buttons-examples.js` as indicated in the contributing guidelines.

[2020-10-02 06:11] malihanan commented on #435
Can I work on this?

[2020-10-02 06:11] shahednasser commented on #506
Sounds good. You should make the background transparent (not like other buttons).

[2020-10-02 06:13] shahednasser commented on #435
Someone is assigned to this. Please pick an unassiged issue.

[2020-10-02 06:14] #406 closed

[2020-10-02 06:15] chinmaikaveti2001 commented on #436
mam can we use bootstrap frame.....?

[2020-10-02 06:17] chinmaikaveti2001 commented on #436
mam can i use bootstrap framework..?

[2020-10-02 06:17] shahednasser opened #512 "Add min height to "body > container""
Add min height `36vh` to `body > container`. This is to remove repositioning of the footer when the items are still loading.

[2020-10-02 06:18] shahednasser commented on #436
@chinmaikaveti2001 no we need to implement them ourselves.

[2020-10-02 06:18] #309 closed

[2020-10-02 06:19] shahednasser opened #513 "Align Social Media Icons in Buttons center vertically"
In Social Buttons, the icons should be aligned center vertically.

[2020-10-02 06:21] shahednasser commented on #424
@dsnehasish74 can you confirm you're working on this?

[2020-10-02 06:22] #355 closed

[2020-10-02 06:23] dineshsy commented on #513
sure can I take this issue let me try to complete it :smiley_cat:  @shahednasser

[2020-10-02 06:24] shahednasser commented on #513
sure @dineshsy go ahead.

[2020-10-02 06:25] chinmaikaveti2001 commented on #436
kk..mam

[2020-10-02 06:26] shahednasser opened #515 "Help in testing Netlify deployment"
I need someone free to help test draft Netlify deployment with me. Please comment below if you can work on it with me.

The testing will just be you creating pull requests when needed.

[2020-10-02 06:27] palakyadav1807 opened #516 "[BUTTON IDEA]:Button with Sound"
**1. Name of button**: Button with sound

**2. Description**: Produces a confirmation sound on clicking

**3. Button Type (Animated, Special, etc...)**:simple

**4. Will you work on it?**:yes

[2020-10-02 06:28] shahednasser commented on #516
Hi @palakyadav1807 thank you for your idea but we need to implement the buttons with CSS only, so this idea can not be implemented.

[2020-10-02 06:28] #516 closed

[2020-10-02 06:30] Graviton5 commented on #512
I would like to work on this

[2020-10-02 06:30] HADES-01 commented on #515
@shahednasser I would love to help you out.

[2020-10-02 06:31] shahednasser commented on #512
Ok @Graviton5 I'll assign you

[2020-10-02 06:31] shahednasser commented on #515
Ok great @HADES-01 . Please create a pull request with any change in index.html. The change is not important so it can be anything

[2020-10-02 06:34] palakyadav1807 commented on #516
Really sorry , i am new to open source

On Fri, 2 Oct 2020, 11:58 Shahed Nasser, <notifications@github.com> wrote:

[2020-10-02 06:34] malihanan opened #517 "[BUTTON IDEA]: Glow Button"
**1. Name of button**: Glow Button

**2. Description**: A translucent button with neon borders with a glow effect on hover.

**3. Button Type (Animated, Special, etc...)**: Animated

**4. Will you work on it?**: Yes

[2020-10-02 06:36] shahednasser commented on #517
Hi @malihanan we have a very similar idea to this. Can you confirm it's different than the "Neon" button?

[2020-10-02 06:44] malihanan commented on #517
![Screenshot (994)](https://user-images.githubusercontent.com/50942732/94895320-d042fd00-04a8-11eb-8ef3-70f9ee4f5d5c.png)

I am thinking something similar to this

[2020-10-02 06:48] HADES-01 commented on #480
@shahednasser Should the comments be detailed or just general explanation of functions? I can get on it either way.

[2020-10-02 06:53] sanyud24 commented on #1
Hey,can I contribute with neomorphism designed  & some 3d buttons?

[2020-10-02 06:56] #515 closed

[2020-10-02 06:57] shahednasser commented on #480
@HADES-01 I guess it should be enough to make it understandable for contributors. I'll assign you.

[2020-10-02 06:58] shahednasser commented on #517
Alright then you can work on it.

[2020-10-02 06:59] shahednasser commented on #1
Hi @sanyud24 you can check the [button-idea](https://github.com/shahednasser/sbuttons/labels/button-idea) label for ideas sent by other contributors. You can comment on unassigned issues to be assigned. If you would like to add a new idea, you can also create a "New Button Idea" issue.

[2020-10-02 07:01] adsingh14 commented on #480
I will add single line comments in main **.js** file.

[2020-10-02 07:01] malihanan commented on #517
On it! Thanks

[2020-10-02 07:02] shahednasser commented on #480
Ok @HADES-01 you can work on `assets/js/buttons-examples.js` and @adsingh14 you can work on `assets/js/index.js`

[2020-10-02 07:04] adsingh14 commented on #480
Sounds good ! Later on, I will follow JSDoc guidelines for block comments and I recommend the same to other assignee.

[2020-10-02 07:06] HADES-01 commented on #480
@adsingh14 Yeah sure.

[2020-10-02 07:09] shahednasser opened #523 "Fix typo in CONTRIBUTING.md"
There's a typo in CONTRIBUTING.md in [Instructions](https://github.com/shahednasser/sbuttons/blob/master/CONTRIBUTING.md#instructions) item 3 in the code block ("to make changes to the website..."). The typo is inside the code block in the comments. the typo is "normat" should be changed to normal.

[2020-10-02 07:11] sanyud24 commented on #418
can i  work over it ?

[2020-10-02 07:11] #485 closed

[2020-10-02 07:13] shahednasser commented on #418
@LuciKritZ @sanyud24 I'm still waiting on confirmation from @mukesh2309

[2020-10-02 07:15] #512 closed

[2020-10-02 07:15] Graviton5 commented on #523
I would like to work on this.

[2020-10-02 07:16] dineshsy commented on #513
![image](https://user-images.githubusercontent.com/50043613/94897383-20bc5980-04ad-11eb-8944-706bec72cf56.png)
This is what yu were expecting right?
**The text and icon aligned equally**

[2020-10-02 07:16] shahednasser commented on #523
Hi @Graviton5 this as the "first-timers-only" label to encourage beginner new comers to work on it. As you are a contributor now, you can't work on it.

[2020-10-02 07:18] mukesh2309 commented on #418
Yes you can 😊

[2020-10-02 07:18] mukesh2309 commented on #418
@shahednasser

Yes they can work .👍

[2020-10-02 07:19] shahednasser commented on #418
Ok since @LuciKritZ asked first they will be assigned to this issue.

[2020-10-02 07:20] shahednasser commented on #513
Yes that's it!

[2020-10-02 07:24] APalpattuwar7 commented on #523
Can I take this? This would be my first contribution.

[2020-10-02 07:25] shahednasser opened #528 "Add hr under Disabled Buttons in Get Started page"
an `<hr>` element is missing under Disabled Buttons in Get Started page. Should be similar to other titles in the page.

[2020-10-02 07:25] shahednasser commented on #523
Yes @APalpattuwar7 you may go ahead

[2020-10-02 07:31] JakubIwanowski commented on #528
Can I work on this issue?

[2020-10-02 07:31] gokul112 commented on #506
Yeah sure

[2020-10-02 07:32] Ishaan0905 commented on #528
Can I work on this issue? I got revert on the Normat issue

[2020-10-02 07:32] #498 closed

[2020-10-02 07:34] shahednasser opened #535 "Change Button Ideas section in documentation"
Change content for Button Ideas section in both README and CONTRIBUTING to just "If you would like to suggest a new button idea, please create a "New Button Idea" Issue."

[2020-10-02 07:35] gokul112 opened #536 "[BUTTON IDEA]:minus button"
**1. Name of button**: Minus button

**2. Description**: Minus button to reduce/remove the number of items added in cart

**3. Button Type (Animated, Special, etc...)**:Icon

**4. Will you work on it?**:I will work on it!

[2020-10-02 07:35] shahednasser opened #537 "Add content menu to README"
Add content menu to README. It should be added before "Installation"

[2020-10-02 07:36] shahednasser opened #538 "Add content menu to CONTRIBUTING"
Add content menu to CONTRIBUTING. It should be added before "Installation"

[2020-10-02 07:37] shahednasser commented on #528
Sure @JakubIwanowski I'll assign you.

[2020-10-02 07:37] SPOCTONE commented on #537
hey! mind if i try my hand ai it :)

[2020-10-02 07:39] shahednasser commented on #536
Hi @gokul112 it's a good idea but it's similar to the plus sign, the person would just change the icon. I'm not sure whether that is necessary or not.

[2020-10-02 07:40] shahednasser commented on #537
Sure @SPOCTONE you may work on it.

[2020-10-02 07:41] SPOCTONE commented on #537
thanks! on it.

[2020-10-02 07:43] shngt commented on #535
Hi, mind if I pick this up?

[2020-10-02 07:44] shahednasser commented on #535
Sure @shngt go ahead

[2020-10-02 07:51] chriswmercer commented on #538
Hello, may I work on this?

[2020-10-02 07:56] shngt commented on #535
To clarify, you would like specifically the sentence "If you have ideas for buttons, please submit a new issue for it." in the README to be changed to the above right? The other sentences would be informative to keep, imo.

And in the CONTRIBUTING, should I add the sentence as the first line in the section? (Before "You can find on Button Ideas a list of ideas in a table...")

[2020-10-02 07:56] sanyud24 opened #540 "[BUTTON IDEA]:Ghost button"
**1. Name of button**: ghost button

**2. Description**: transparent background

**3. Button Type (Animated, Special, etc...)**: hovering effect and animation

**4. Will you work on it?**: yes

[2020-10-02 07:56] palakyadav1807 commented on #538
Pls assign this to me.

[2020-10-02 07:57] #540 closed

[2020-10-02 08:01] shahednasser commented on #535
I want the text in both README and CONTRIBUTING to be changed to "If you would like to suggest a new button idea, please create a "New Button Idea" Issue."

[2020-10-02 08:02] shahednasser commented on #538
Assigning @chriswmercer for commenting first

[2020-10-02 08:02] chriswmercer commented on #538
Thank you

[2020-10-02 08:11] chriswmercer commented on #538
PR on its way :)

[2020-10-02 08:14] Caleb335 commented on #54
Ok, I've seen it, I'd try fixing it.

I'd let you know if I can't

[2020-10-02 08:19] ShivaniThevar commented on #523
Is there any other changes to be done... as I can see someone already fixed the typo error...?

[2020-10-02 08:26] gokul112 commented on #536
Hi @shahednasser yeah, you're right. But in this case, they can't readily use the components available they have to edit the CSS and then they have to make it available
can I know your thoughts?

[2020-10-02 08:29] navjyot18 commented on #414
Can I work on this, mam??

[2020-10-02 08:30] shahednasser commented on #523
No @ShivaniThevar this issue has been resolved

[2020-10-02 08:30] #523 closed

[2020-10-02 08:30] shngt commented on #535
Opened a PR just to confirm the changing the whole content is what you wanted.. if it's okay, let me know and I'll rebase and resubmit

[2020-10-02 08:36] shahednasser commented on #536
That makes sense. Maybe we should work on it from a different perspective. I'll create a new issue of creating a base icon button to be used and then the user can just set the content of the icon. If we add a button for every icon out there then it will be endless.

Let me know if you would like to work on it.

[2020-10-02 08:36] #536 closed

[2020-10-02 08:37] gokul112 commented on #536
yeah i will work on it !

[2020-10-02 08:42] shahednasser opened #549 "Create base Icon button"
There are a lot of different ideas for icon buttons being added but we can't really create a button for each icon out there when all that needs to be done is changing the unicode of the icon to the one the user would want to use.

Let's add a Base Icon Button where the only required thing to add to it is the font awesome class to it. This way we don't need to add a class for each icon.

Required c

[2020-10-02 08:43] HADES-01 opened #550 "Add animation to the navbar on scroll"
**Describe the feature you'd like**
When scrolling the navbar seems to just jumps in and out (looks weird) of the page as there is no animation to it.

**Additional notes**
The navbar should have a animation so that it transitions in and out the page on scrolling.

[2020-10-02 08:43] shahednasser commented on #549
@gokul112 would you like to work on this?

[2020-10-02 08:46] gokul112 commented on #549
Yeah sure i will work on it !

[2020-10-02 09:40] ankitaugale23 commented on #54
Can I work on this?

[2020-10-02 09:50] ankitaugale23 commented on #1
can I work on this? to add some buttons in the basic buttons section.

[2020-10-02 10:05] ibhavikamalhotra commented on #550
I would like to work on this @shahednasser  .

[2020-10-02 10:16] faraz16iqbal commented on #528
Hey is this issue still open?

[2020-10-02 10:17] faraz16iqbal commented on #395
Is this issue still open?

[2020-10-02 10:18] faraz16iqbal commented on #54
Is this issue still open?

[2020-10-02 10:43] hussein-hub commented on #550
1. The width occupied by first three buttons in the first row in many sections is a bit less than that of the width occupied by the rest of the rows which looks a bit non uniform. Example Pudding section.
2. The animation of in shine buttons goes fast which makes it difficult for the eye to catch the effect correctly.
3. The text for the yellow dashed button(small rectangle buttons) is in black th

[2020-10-02 10:47] hussein-hub commented on #550
1. The width occupied by first three buttons in the first row in many sections is a bit less than that of the width occupied by the rest of the rows which looks a bit non uniform. Example Pudding section.
2. The animation of in shine buttons goes fast which makes it difficult for the eye to catch the effect correctly.
3. The text for the yellow dashed button(small rectangle buttons) is in black th

[2020-10-02 11:04] chelsi-001011 commented on #1
@shahednasser  hey! I had a query, Do I have to add HTML of the buttons in the website? I might have to do that since I'm using <span> inside the <button> for creating the dots.
And if so then toggle button will be added under special buttons right?

Here is a screenshot of the buttons.
![Screenshot 2020-10-02 at 4 34 30 PM](https://user-images.githubusercontent.com/57683338/94916924-2de94080-04cd

[2020-10-02 11:06] MeerHamza1421 commented on #1
hey 👋, can I contribute on it for hacktoberfest ????

[2020-10-02 11:08] shahednasser commented on #414
@navjyot18 someone is working on this

[2020-10-02 11:24] shahednasser commented on #528
@faraz16iqbal this issue has been resolved

[2020-10-02 11:24] #528 closed

[2020-10-02 11:25] shahednasser commented on #395
@faraz16iqbal this issue is assigned. Please look for unassigned issues.

[2020-10-02 11:25] shahednasser commented on #54
@ankitaugale23 @faraz16iqbal you can work on it if you can reproduce it and find the solution for it (as it has been proven tricky to reproduce)

[2020-10-02 11:27] hussein-hub opened #559 "Change Shine animation"
1. The width occupied by first three buttons in the first row in many sections is a bit less than that of the width occupied by the rest of the rows which looks a bit non uniform. Example Pudding section.
2. The animation of in shine buttons goes fast which makes it difficult for the eye to catch the effect correctly.

[2020-10-02 11:36] chaitanya4vedi commented on #1
@shahednasser Can we use Bootstrap in this. Because I see the website lacks a bit of smoothness and sometimes breaks while adding a new feature. If you don't mind I can implement the whole website using Bootstrap and submit a PR.

[2020-10-02 11:37] shahednasser commented on #550
Ok @HADES-01 can you work on it as you seem to visualize how it should look like?

[2020-10-02 11:40] shahednasser commented on #1
We don't need any new basic buttons at the moment. Please look at the button ideas label for ideas to work on or submit new ideas

[2020-10-02 11:40] shahednasser commented on #1
Can you instead of the spans use something like ":before" or ":after"? We're trying to make the button as simple as possible. Let me know if you can.

And yes the button should be under special

[2020-10-02 11:41] shahednasser commented on #1
Yes of course!

[2020-10-02 11:42] shahednasser commented on #1
The website already has bootstrap, if you want to make changes to the looks of it then you can submit a PR and I'll look at it.

[2020-10-02 11:45] shahednasser commented on #1
@chaitanya4vedi can you please submit a new issue with what changes you want to do exactly?

[2020-10-02 11:46] shahednasser commented on #559
hi @hussein-hub thank you for reporting these issues. I'll look into the first one and see the best fix for it. We're currently working on a layout fix for the website.

As for the second one, would you like to work on it?

[2020-10-02 11:51] shahednasser commented on #480
@HADES-01 added good documentation in buttons-examples.js but now I'm thinking maybe we should also include in the documentation the keys allowed in `buttons` array as it can get confusing. What do you guys think?

[2020-10-02 11:53] chaitanya4vedi commented on #1
Sure.

[2020-10-02 11:55] Easyvipin commented on #559
I can work on 2nd issue!

[2020-10-02 11:55] HADES-01 commented on #480
@shahednasser Yeah, I actually was going to create a new issue regarding this very feature. We should include it in the contributors guidelines so that it removes all the ambiguity for the contributors.

[2020-10-02 12:01] shahednasser commented on #286
Hi @icoderharshit can you provide me with a good quality of the logo icon which we use for favicon?

[2020-10-02 12:05] icoderharshit commented on #286
Yeah, here you go @shahednasser :)
![favicon](https://user-images.githubusercontent.com/55023091/94921321-b79d0c00-04d5-11eb-93ea-d8e89191fd19.png)

[2020-10-02 12:07] shahednasser commented on #286
Thank you but I need it bigger if possible (I'm using it to create a gitub organization)

[2020-10-02 12:08] icoderharshit commented on #286
Alright, let me just do it for you ! Give me some time :)

[2020-10-02 12:24] icoderharshit commented on #286
Here, it is @shahednasser
[favicon.zip](https://github.com/sButtons/sbuttons/files/5317879/favicon.zip)
Uploaded a .zip file because GitHub doesn't allow sharing .svg directly here, there's a SVG file for the favicon in the ZIP.

[2020-10-02 12:25] maulanagansss opened #562 "[BUTTON IDEA]:"
**1. Outline Hover**:

**2. before hover the button is outline state whereas when hover it becomes a regular button (solid)**:

**3. Hover**:

**4. Sorry i don't understand NPM
![simplescreenrecorder-2020-10-02_19 21 42](https://user-images.githubusercontent.com/71548744/94922830-11f19900-04e5-11eb-8bd8-c871b0368bba.gif)

**:

[2020-10-02 12:26] shahednasser commented on #286
Thank you @icoderharshit but the svg is empty for some reason

[2020-10-02 12:28] icoderharshit commented on #286
No, @shahednasser You may have encountered a system error, please checking it once again. It's opening and working completely fine on my desktop.

[2020-10-02 12:29] shahednasser commented on #286
My mistake it's working well. Thank you!

[2020-10-02 12:31] vaishnavijha opened #563 "[NEW BUTTON IDEA ]:"
**1. Name of button**:  Dynamic animated type

**2. Description**: Giving a dynamic animated behavior to button by filling the button with its border color inside when mouse hovered in and the same outside when mouse is withdrawn with change in text style.when one brings mouse over button it seems colors are filling inside from border to body of button with the change in text color as well as styl

[2020-10-02 12:31] shahednasser commented on #480
@HADES-01 it's already in the contributing guidelines but I think we should add it in the jsDoc as well. Let me know if you can do that

[2020-10-02 12:41] shahednasser commented on #562
Hi @maulanagansss thank you for submitting this idea but we already have an issue for it!

[2020-10-02 12:41] #562 closed

[2020-10-02 12:42] shahednasser commented on #563
Hi @vaishnavijha we have a similar button idea in the works. Thank you for suggesting a new idea though!

[2020-10-02 12:42] #563 closed

[2020-10-02 12:53] hussein-hub commented on #559
Yes I would love to

On Fri, 2 Oct 2020, 5:17 pm Shahed Nasser, <notifications@github.com> wrote:

[2020-10-02 12:53] #535 closed

[2020-10-02 12:53] #537 closed

[2020-10-02 12:53] #538 closed

[2020-10-02 12:53] #513 closed

[2020-10-02 12:54] shahednasser commented on #559
Great @hussein-hub I will assign you.

[2020-10-02 13:11] arjuna1729 opened #564 "Sidebar overlays footer"
**1 - Describe the bug**
The sidebar list overlays footer when scrolling to the bottom of the page.
**2 - Expected behavior of what should have happened (if applicable)**

**3 - Screenshots (if applicable)**
![image](https://user-images.githubusercontent.com/33598813/94926378-50d02080-04de-11eb-9997-530dbc0519e7.png)

**4 - Additional notes**

[2020-10-02 13:24] HADES-01 commented on #480
@shahednasser Just to be sure you want me to add `jsDoc` for the keys of the button object in the `buttons-examples.js`.

[2020-10-02 13:32] ankitaugale23 commented on #1
hey, can I add a button that will change its shape after hovering over it?

[2020-10-02 13:33] HADES-01 opened #566 "Link to website don't work"
**1 - Describe the bug**
Link to the website in the about and the readme sections are not working as the repository is moved.

**2 - Expected behavior of what should have happened (if applicable)**
They should posses the current website address.

[2020-10-02 13:34] Shreyansh252001 opened #567 "i am trying to make a keyboard button in the animation repo of sbuttons but the code writtenby me in .ls file not showing effect @shahednasser"

[2020-10-02 13:35] wisetok12680 commented on #425
Sure thanks

[2020-10-02 13:35] Shreyansh252001 commented on #567
please help if any body wants i can provide him code

[2020-10-02 13:35] Shreyansh252001 commented on #567
@shahednasser

[2020-10-02 13:37] shahednasser commented on #480
@HADES-01 yes

[2020-10-02 13:38] HADES-01 commented on #480
@shahednasser Okay, then you can assign it to me.

[2020-10-02 13:39] ankitaugale23 opened #568 "[BUTTON IDEA]: Bubble effect button"
**1. Name of button**:
Bubble effect button
**2. Description**:
After hovering onto button it will change color and small bubbles will come out of it once.
**3. Button Type (Animated, Special, etc...)**:
    animated
**4. Will you work on it?**:
Yes

[2020-10-02 13:42] ankitaugale23 commented on #1
I have added one issue and I would like to work on it could you please assign it to me? https://github.com/sButtons/sbuttons/issues/568

[2020-10-02 13:50] samyev commented on #54
I'm not getting it, I implemented a function for recognition of the iPhone device, but the site ends up breaking, but the problem apparently is with the iPhone, on any other device the site works very well

[2020-10-02 14:03] geographyclub commented on #161
I'm no longer able to work on the gradient-color button. Anyone else want to work it?

[2020-10-02 14:09] gokul112 commented on #566
I will take this bug

[2020-10-02 14:15] pinkman7009 commented on #564
can i work on this issue?

[2020-10-02 15:26] HADES-01 commented on #566
@gokul112 I don't think if you can fix this as it can only be done by the owner.

[2020-10-02 15:31] Dheerajbana commented on #568
I want to take this up

[2020-10-02 15:32] Dheerajbana commented on #566
i want to take this up

[2020-10-02 15:36] HADES-01 commented on #567
@Shreyansh252001 Can you elaborate your problem, I don't think I fully understand what you mean.

[2020-10-02 15:38] HADES-01 commented on #566
@Dheerajbana I don't think if you can fix this as it can only be done by the owner @shahednasser . I only added this issue to remind her.

[2020-10-02 15:45] Dheerajbana commented on #566
@HADES-01  thanks for the update . Can you guide me having 5 years in IT want to contribute for hacktoberfest :)

[2020-10-02 15:45] Shreyansh252001 commented on #567
@HADES-01 i  have made changes in the application.ls file and added a kybd-btn.ls fileinside which i have created a button which looks exact like keyboard button but the same button is not showing up with same effects when i include the code insidde the folder rather than running raw.what to do?i have also made changes in button-example,js for the same to include a new category of  buttons looking

[2020-10-02 15:49] Dheerajbana commented on #564
can i take thiis up

[2020-10-02 15:53] HADES-01 commented on #567
@Shreyansh252001 Can you give screenshots of `animation.less`, your new keybdb-btn file and `buttons-example.js`

[2020-10-02 15:54] Shreyansh252001 commented on #567
`@height:65;
@depth:6;
@color:#7fbb98;
@text-color:darken($color,10%);
@lighten-on-hover:7%;
@button-speed:.06;
@timing-function: ease-out;
.keyboard
{
    margin:auto;

    cursor: pointer;

    margin-left:5px;

    margin-bottom:15px;

    text-shadow:0 -2px 0 darken(@color,20%),0 1px 1px lighten(@color,20%);

    box-sizing: border-box;

    font-size: 2em;

    font-family: Arial, Helvetica,

[2020-10-02 15:55] Shreyansh252001 commented on #567
`
$(document).ready(function () {
  //default button class
  var defaultClass = "sbtn";
  //button color variations
  var buttonColors = [
    "blue-btn",
    "pink-btn",
    "red-btn",
    "green-btn",
    "yellow-btn",
    "orange-btn",
    "purple-btn",
    "black-btn",
    "white-btn",
  ];
  //list of button types
  var buttons =
  [
    {
      type: "basic",
      label: "Basic Buttons",

[2020-10-02 15:56] ankitaugale23 commented on #568
Actually, I created this issue because I want to work on it. Hope you understand.

[2020-10-02 15:58] Dheerajbana commented on #568
@ankitaugale23 sorry sure mybad :)

[2020-10-02 16:00] HADES-01 commented on #567
@Shreyansh252001 Did you include this keyboard.less file in (_animation.less)[https://github.com/sButtons/sbuttons/blob/master/src/components/_animated.less] like this `@import "animated/_keyboard.less";
` and please change the class name to `.kybd-btn` and file name to `_kybd.less`.

[2020-10-02 16:01] HADES-01 commented on #567
@Shreyansh252001 And for next time you should just send the code you changed.

[2020-10-02 16:02] isonnymichael commented on #568
you can work on another issue @Dheerajbana or make one

[2020-10-02 16:03] Shreyansh252001 commented on #567
yes
`@import "animated/_arrow.less";
@import "animated/_click.less";
@import "animated/_fill.less";
@import "animated/_hinge.less";
@import "animated/_invert.less";
@import "animated/_nudge.less";
@import "animated/_neon.less";
@import "animated/_pulse.less";
@import "animated/_ripple.less";
@import "animated/_scale.less";
@import "animated/_shake.less";
@import "animated/_shine.less";
@import "an

[2020-10-02 16:05] Shreyansh252001 commented on #567
ok

[2020-10-02 16:07] HADES-01 commented on #567
Is the file inside the animation folder ?

[2020-10-02 16:07] Dheerajbana commented on #568
thanks @isonnymichael  :)

[2020-10-02 16:08] Shreyansh252001 commented on #567
it is inside components folder

[2020-10-02 16:08] HADES-01 commented on #567
It should be inside the animated folder which in turn is inside the components folder.

[2020-10-02 16:09] Shreyansh252001 commented on #567
doesn't work i tried

[2020-10-02 16:13] Shreyansh252001 commented on #567
[git-demo.zip](https://github.com/sButtons/sbuttons/files/5319120/git-demo.zip)

[2020-10-02 16:16] HADES-01 commented on #567
Now I got it. You should first run `npm run compile` to compile your changes. Then you will be able to see the changes.

[2020-10-02 17:10] Shreyansh252001 commented on #567
it is showing pm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path D:\git-demo\git-hack\package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'D:\git-demo\git-hack\package.json'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Shreyansh\AppData\Roa

[2020-10-02 17:11] Shreyansh252001 commented on #567
on running npm run compile index.html

[2020-10-02 17:15] HADES-01 commented on #567
just run `npm run compile` inside the sbuttons folder and first run `npm install`

[2020-10-02 17:39] HADES-01 commented on #567
In my opinion you should just save `_keybd.less` somewhere else and restart by following the instructions in the [guidelines](https://github.com/sButtons/sbuttons/blob/master/CONTRIBUTING.md). If you still have some problem than ask again. Closing this now.

[2020-10-02 17:39] #567 closed

[2020-10-02 17:47] shahednasser commented on #568
Looks like a good idea @ankitaugale23 you may work on it.

[2020-10-02 17:49] shahednasser commented on #54
Yea but someone even tried it on an iPhone and it worked fine for them, that's why it's tricky. I think this should be done with CSS but honestly I haven't figured it out either. Thank you for working on it!

[2020-10-02 17:54] shahednasser commented on #161
I'll unassign it. Thank you for letting me know.

[2020-10-02 18:00] shahednasser commented on #566
Thank you @HADES-01 for pointing this out. Some things need to be re-done after creating the organization. Issue has been fixed now!

[2020-10-02 18:00] #566 closed

[2020-10-02 18:03] shahednasser commented on #564
Hi @arjuna1729 can you provide more info on this? What browser are you using and what's the screen width that this bug is happening on? Thanks!

[2020-10-02 18:23] #477 closed

[2020-10-02 18:31] shahednasser opened #573 "Add new key "shouldHaveBlockType" to buttons variable"
@adsingh14 added a new key that proved helpful which is "shouldHaveRoundedType" which will check if adding the rounded button type is necessary for a button. I will be adding a "shouldHaveBlockType" for block buttons. This will help make the buttons created more flexible.

[2020-10-02 18:41] #573 closed

[2020-10-02 19:03] adsingh14 commented on #564
I am using Mozilla Firefox. I think that's happening in all browsers because it's the CSS syntactical error.

![image](https://user-images.githubusercontent.com/35252877/94959985-bc7eb180-050f-11eb-8436-2ff050729ad6.png)

[2020-10-02 19:10] shahednasser commented on #564
You are all correct this is due to an increase in the number of items, not a CSS syntactical error. It can be resolved in multiple ways.

@arjuna1729 thank you for reporting the bug. Would you like to work on it or should I assign it to someone else?

[2020-10-02 19:22] #517 closed

[2020-10-02 19:22] #550 closed

[2020-10-02 19:30] VishakhaAwasthi01 opened #579 "[BUTTON IDEA]:Buttons with same colour of bit lighter background, darker border colour and darker text colour"
**1.Same Colour Buttons**:

**2. [BUTTON IDEA]:Buttons with same colour of bit lighter background, darker border colour and darker text colour**:

**3.Basic**:

**4. yes**:

[2020-10-02 19:33] shahednasser commented on #579
Hi @VishakhaAwasthi01 , are you suggesting adding the same basic buttons but with different colors? If so we're currently not adding any new colors.

[2020-10-02 19:33] adsingh14 opened #580 "Make shadows working with both themes."
**Is your feature request related to a problem? Please describe.**
It would be great if every shadowed buttons looks better on both Dark/Light theme.

**Describe the solution you'd like**
Anyone can check **rounded-diagonal-tl.less** file under CSS > Special folder for `box-shadow` code.

**Additional notes**

For reference, you could check `box-shadow` of Special > Rounded Diagonal buttons.

![im

[2020-10-02 19:35] VishakhaAwasthi01 commented on #579
No actually, the buttons will have text of darker shade of their background colour and will have same colour of the border as of text

[2020-10-02 19:36] shahednasser commented on #580
You're right it looks better. Would you like to work on it as you have worked on the rounded diagonal button or should we leave it to someone else?

[2020-10-02 19:38] shahednasser commented on #579
I'm not really sure what that means but you can add it only so I can see if it looks good or not. For now, add it under Special as we are not adding anything under Basic.

[2020-10-02 19:38] adsingh14 commented on #580
I pass this code trick for others. I want other's to be a part of it.

[2020-10-02 19:39] adsingh14 commented on #580
I want other's to be a part of it.

[2020-10-02 19:54] VishakhaAwasthi01 commented on #579
Sure

[2020-10-02 20:04] jonasvag commented on #580
Can you assign this task to me?

[2020-10-02 20:08] mtanveersingh commented on #580
Hi, It's my first time contributing towards an open-source project. This issue seems feasible to me, can I work on solving it?

[2020-10-02 20:14] shahednasser commented on #580
Assigning @jonasvag as they replied first.

[2020-10-02 20:18] adsingh14 commented on #480
Need help !

In **index.js**, is the mentioned code-block 👇 in use or not ?
If it's written for future purpose, then what should I write in comment ?

[code]

[2020-10-02 20:42] chelsi-001011 commented on #1
@shahednasser  Thanks! I learned about "::after" and "::before" and it worked! I'll be adding the buttons under special and making my pr soon!

[2020-10-02 20:43] adsingh14 commented on #480
#583, Added a few lines of comment.

[2020-10-02 20:48] Caleb335 commented on #54
You are right about this...

'cause while I was viewing it on my device (an android) it works fine

[2020-10-02 21:01] Caleb335 commented on #549
I'd love to work on this...

Is it open?

[2020-10-02 21:08] pinkman7009 commented on #564
can i work on this?

[2020-10-02 21:35] shahednasser opened #584 "Navbar overlaying sidebar on small devices"
**1 - Describe the bug**
On small devices (less than 768px) the navbar is overlaying the sidebar when it is toggled, which makes the items at the top of the sidebar not visible.
**2 - Expected behavior of what should have happened (if applicable)**
Navbar should not overlay sidebar and sidebar's items should all appear

[2020-10-02 21:38] shahednasser commented on #1
Yes we only need two buttons. You can hide block and rounded buttons with shouldHaveRoundedType and shouldHaveBlockType when adding it to button examples section (we're still working on adding it to the contributing guidelines as it is a new feature)

[2020-10-02 21:39] shahednasser commented on #564
you may go ahead @pinkman7009

[2020-10-02 21:39] shahednasser commented on #480
This code is necessary for clicking the sidebar when clicking outside of it.

[2020-10-02 21:41] shahednasser commented on #549
@Caleb335 are you sure you can take it? It can be a lot of work

[2020-10-02 21:41] Goodiec commented on #584
Please could you assign this to me?

[2020-10-02 21:42] PhilippeBarre commented on #584
Hello, I would like fix it

[2020-10-02 21:42] vale-c commented on #584
Hi there! I'd also like to give this issue a try if possible :)

[2020-10-02 21:58] adsingh14 commented on #584
- It would be great if the scrolling behind the opened sidebar remains fixed or un-scrollable and toggle on hiding sidebar.

- Sidebar animation should fast. Maybe 0.3s or 0.5.

[2020-10-02 22:02] shahednasser commented on #584
I'm not sure what you mean by the first one but you can submit a PR on the second one and I can see if it looks good.

[2020-10-02 22:03] shahednasser commented on #584
Assigning @Goodiec as they commented first

[2020-10-02 22:04] adsingh14 commented on #564
Footer has to be changed. Need to fill it up with more content.

[2020-10-02 22:05] pinkman7009 commented on #564
thank you @shahednasser . i will start working on this,

[2020-10-02 22:05] shahednasser commented on #564
@adsingh14 please start a new issue with any idea you have instead of commenting on unrelated issues.

[2020-10-02 22:16] adsingh14 opened #587 "Footer rework."
**Is your feature request related to a problem? Please describe.**
Footer needs to be change. Add and replace content.
**Describe the solution you'd like**
Try to replace content with icons. eg. Icon with total contributors.
**Additional notes**
Utilize the footer space. Make it minimal.

[2020-10-02 22:19] Goodiec commented on #584
Thank you, here my [PR](https://github.com/sButtons/sbuttons/pull/588)

[2020-10-02 22:27] Caleb335 commented on #549
Yes, I will be able to work on it. 🙂

Thanks

[2020-10-02 22:30] adsingh14 commented on #228
- The text has gone until on hover (as well as on active/focus). Is that looking better ?
![image](https://user-images.githubusercontent.com/35252877/94974504-69ffbe00-052c-11eb-8139-8404ebb6ede7.png)

- The border goes instantly when **hoverOut** the cursor. IMO, It should gone the way it's animated on **hoverIn**.

[2020-10-02 23:03] samyev commented on #54
I believe that the problem may be with the version of the IOS system then, because it runs on one and the other does not. I've been researching deeper and saw that safari on iPhone ends up breaking the CSS of the sites.

[2020-10-02 23:04] samyev commented on #54
With mine too, and I realized that in some versions IOS it runs well, and in others the site does not open

[2020-10-02 23:09] shahednasser commented on #228
Thank you for reporting this bug. It was due to an overlap between buttons. It has been fixed now.

[2020-10-02 23:10] shahednasser commented on #549
I assigned you @Caleb335

[2020-10-02 23:10] shahednasser commented on #587
You can work on it @adsingh14 and if it looks good I'll consider it.

[2020-10-02 23:11] shahednasser commented on #54
Thank you for the inside @samyev . I guess we'll leave it open for now and see if we can ever find a fix for it.

[2020-10-02 23:24] samyev commented on #54
That’s okay ><

[2020-10-02 23:26] Goodiec commented on #584
#589

[2020-10-03 01:40] isonnymichael opened #590 "Get Started Block Buttons Example"
**Is your feature request related to a problem? Please describe.**
![getStarted BLock Buttons Example](https://user-images.githubusercontent.com/24585708/94980435-ee196c00-0553-11eb-80bf-8548d20e6974.png)

I was check for getStarted page and found the Block Buttons was not have an example like other

**Describe the solution you'd like**
Would you like to show the Block Buttons example like others

[2020-10-03 01:43] isonnymichael commented on #421
Can i try to work on this ?

[2020-10-03 02:03] isonnymichael opened #591 "Get Started Page - Sidebar Icon Button not active"
**1 - Describe the bug**
Sidebar Icon Button not active when I press it.

**2 - Expected behavior of what should have happened (if applicable)**
Sidebar Icon Button must be active when pressed

**3 - Screenshots (if applicable)**
![Sidebar Icon Button Bug](https://user-images.githubusercontent.com/24585708/94980789-3ede9400-0557-11eb-9e84-37c7e7d2cef9.png)

**4 - Additional notes**

[2020-10-03 05:29] Suniti13 commented on #591
I would like to work on this.

[2020-10-03 05:45] aayushi221 commented on #455
@shahednasser Sure, I am on it!

[2020-10-03 05:45] MeerHamza1421 commented on #426
Can i work on it for hacktober?? and can i add a social media share button

[2020-10-03 05:56] HADES-01 commented on #591
@isonnymichael @Suniti13 I don't think it can be fixed according to how the code is setup right now.

[2020-10-03 06:46] Caleb335 commented on #549
On it.

[2020-10-03 07:03] Suniti13 opened #594 "[BUTTON IDEA]: Round Social Button with just icon in it"
**1. Name of button**: Round Social Button

**2. Description**: A round social button that has icon inside it and nothing else. This can be used to direct users to the social media links.

**3. Button Type (Animated, Special, etc...)**: Social Button

**4. Will you work on it?**: Yes

[2020-10-03 07:18] chelsi-001011 commented on #1
@shahednasser  Created a pull request. please review it! 😄

[2020-10-03 07:31] adsingh14 commented on #587
Again, I pass it to another new comer.

[2020-10-03 08:47] Neeraj3508 commented on #415
@shahednasser This issue is completed i think we should close it now.

[2020-10-03 08:47] Neeraj3508 commented on #417
Working on this

[2020-10-03 09:07] pinkman7009 commented on #564
@shahednasser i am not getting this error on chrome and firefox at 100% width screen size. can you tell me where i might be going wrong?

[2020-10-03 10:01] pinkman7009 opened #597 "Navbar icons not aligned properly on mobile devices with screen width 350-400px."
**1 - Describe the bug**
The navbar icons like the Github icon, dark theme icon and the download icon are not aligned properly on mobile devices. On some devices like the Moto G4, the icons are not even visible.

**2 - Expected behavior of what should have happened (if applicable)**
The icons should be visible on the top right of the navbar even on mobile devices or can be placed below the logo SB

[2020-10-03 10:32] shahednasser commented on #128
@GoodnessOlawoore any update on this?

[2020-10-03 10:33] shahednasser commented on #590
Yea work on it.

[2020-10-03 10:34] shahednasser commented on #421
Yes @isonnymichael

[2020-10-03 10:35] #590 closed

[2020-10-03 10:37] shahednasser commented on #426
Someone is assigned to this.

[2020-10-03 10:48] shahednasser commented on #591
@isonnymichael This is because the script is setting the active sidebar menu item based on page position. Changing this would require some rework.

You can work on it if you want but I don't find it a big problem.

[2020-10-03 10:49] shahednasser commented on #594
Hello @Suniti13 thank you for your idea, but we are currently not accepting any icon buttons as we are working on a new way to implement any icon button. Again thank you!

[2020-10-03 10:49] #594 closed

[2020-10-03 11:11] gokul112 commented on #587
I will take this one!

[2020-10-03 11:12] #415 closed

[2020-10-03 11:13] shahednasser commented on #564
This could be due to different screen sizes. What's your screen width?

[2020-10-03 11:17] shahednasser commented on #597
@pinkman7009 instead of making them aligned in the navbar, can you just hide everything but the theme icon on small devices (less than 400px)?

[2020-10-03 11:24] shahednasser commented on #587
@adsingh14 I can't really pass this one to anyone else as it is your idea and it is still vague so it's not 100% approved. Either you work on this or close this issue.

[2020-10-03 11:36] #456 closed

[2020-10-03 11:36] #480 closed

[2020-10-03 11:37] #414 closed

[2020-10-03 11:37] #424 closed

[2020-10-03 11:39] shahednasser opened #606 "Rename Button Labels"
There's inconsistency in the labels of buttons throughout the website. We need to rename it to the following:

1. Top level buttons (Basic, Animated, etc...) should always end with "Buttons".
2. Nested buttons (i.e. that fall under top level buttons) should not end with "Buttons", just the button name.

The change would be made just in `assets/js/buttons-examples.js`. This is an easy change so who

[2020-10-03 11:43] shahednasser commented on #298
Hi @zahra-abdullah unfortunately I need to unassign you from this as this issue has become a high priority issue and there has been a lot of changes since this issue. I will be closing this PR as well. Thank you.

[2020-10-03 11:43] #298 closed

[2020-10-03 11:43] mohitshende commented on #606
I would like to do this.

[2020-10-03 11:46] shahednasser commented on #606
Sure @mohitshende I will assign you.

[2020-10-03 11:50] shahednasser opened #607 "Better layout for basic/rounded/block buttons"
Basic/Rounded/Block buttons should be split into tabs or something similar. This is necessary as the website is getting longer with every button added.

[2020-10-03 12:11] #587 closed

[2020-10-03 12:14] LuciKritZ commented on #426
Hi @shahednasser ! I am actually a bit confused about choosing the icon for the share button.
I have the following choices:
1.
![image](https://user-images.githubusercontent.com/26204432/94991180-f6e35f80-059e-11eb-83c2-dc49300eeb2f.png)
2.
![image](https://user-images.githubusercontent.com/26204432/94991191-0b275c80-059f-11eb-8e3e-6f7361ed9b2e.png)
3.
![image](https://user-images.githubuserconten

[2020-10-03 12:20] shahednasser commented on #426
I prefer the 4th one

[2020-10-03 12:21] pinkman7009 commented on #597
@shahednasser yes sure. should i keep the theme icon at the right of the navbar like in the desktop view?

[2020-10-03 12:23] shahednasser commented on #597
Yes please

[2020-10-03 12:24] pinkman7009 commented on #564
@shahednasser my screen size is 15.6 inch which is around 1450 pixels.

[2020-10-03 12:24] pinkman7009 commented on #597
@shahednasser sure ill get started with this.

[2020-10-03 12:25] shahednasser commented on #564
That's odd but everyone has seen the bug by now. If you can't reproduce it then maybe we should assign it to someone else. Please let me know.

[2020-10-03 12:40] lee00286 commented on #607
Does it mean to split buttons in Basic Buttons into several tabs like Animated Buttons? Can I work on this issue?

[2020-10-03 12:42] pinkman7009 commented on #564
@shahednasser okay then i guess you should assign it to someone else.

[2020-10-03 12:43] isonnymichael commented on #591
Yeah I know it based on page position, I will check later if I can fixed that without some rework but dont assign me now.

[2020-10-03 12:49] Goodiec commented on #584
#611

[2020-10-03 12:50] Dheerajbana opened #615 "Social Buttons "Login" G is getting cut."
**1 - Describe the bug**
In social buttons g is getting cut. It is due to font type. Please find the attached screenshot.

**2 - Expected behavior of what should have happened (if applicable)**
Login "G" should be proper

**3 - Screenshots (if applicable)**
![image](https://user-images.githubusercontent.com/12607160/94992079-0bc2f180-05a5-11eb-9698-19c2161e1d00.png)

**4 - Additional notes**
Pleas

[2020-10-03 12:53] shahednasser commented on #607
No it means that each button should have a tab where you choose to reveal how it looks like as basic, rounded or block

[2020-10-03 12:54] Dheerajbana commented on #615
@shahednasser please assign me this issue

[2020-10-03 12:55] #584 closed

[2020-10-03 12:55] shahednasser commented on #615
This is not a bug it is due to the font family of the website.

[2020-10-03 12:55] #615 closed

[2020-10-03 12:56] shahednasser commented on #564
@Dheerajbana do you still want to work on this?

[2020-10-03 12:56] lee00286 commented on #607
I tried to say the tabs like Bounce and Click under Animated Buttons tab. Did I understand it right?

[2020-10-03 12:58] Dheerajbana commented on #615
@shahednasser i know this so we should remove font family for social buttons. It is not looking good. Attaching the fix and screenshot. If you like this better please repoen i will add this fix :)

![image](https://user-images.githubusercontent.com/12607160/94992236-32cdf300-05a6-11eb-906a-c999d85adbb5.png)

[2020-10-03 13:01] shahednasser commented on #607
No. Basically in Bounce button there would be tabs that says Basic, Rounded and Block and on clicking each it will show the Bounce button as basic or rounded or block. It doesn't have to be tabs if there's a better way of organizing it but that's the approach for now.

[2020-10-03 13:02] shahednasser commented on #615
If you would like to change the font family then please suggest a better font to use for social buttons.

[2020-10-03 13:06] lee00286 commented on #607
Oh I think I understood. Can I work on "Basic Buttons" section first and continue for the other sections after the confirmation?

[2020-10-03 13:07] Dheerajbana commented on #564
@shahednasser  Ok i will take this up. Was able to reproduce it on firefox with 133%
![image](https://user-images.githubusercontent.com/12607160/94992407-7c6b0d80-05a7-11eb-8209-572bfebe4c63.png)

[2020-10-03 13:11] Dheerajbana commented on #615
@shahednasser  currently the font family is "Syne" and then sans-serif. So best option what  did is removed Syne it automatically took sans-serif which looks very good.
![image](https://user-images.githubusercontent.com/12607160/94992515-13d06080-05a8-11eb-8e4f-d157550fcf43.png)

[2020-10-03 13:14] shahednasser commented on #607
Ok I will assign you.

[2020-10-03 13:18] cosay commented on #128
I'll do it today :)

[2020-10-03 13:34] shahednasser commented on #615
I'm not a big fan of the sans-serif

[2020-10-03 14:01] Summer-source commented on #468
I want to contribute on the  issue

[2020-10-03 14:02] mandepsingh commented on #606
will you please assign me this.

[2020-10-03 14:10] Summer-source commented on #422
I'd like to work on this!

[2020-10-03 14:17] Summer-source commented on #468
I would like to work on this!